{include file="common/common_head"/}
		<!-- 当前网页样式 -->
		<link rel="stylesheet" href="/static/home/css/page/collegesqgl.css">
	</head>
	<body>
		<!-- 导航 -->
		{include file="common/common_navhead"/}
		<!-- banner -->
		<div class="banner">
			<div class="gWidth1170">
				<h1>美国本科留学申请全攻略</h1>
				<h3>彬彬教育 让每一个学生都能牵手名校</h3>
				<div class="anniu">
					<a  href="javascript:;" onclick="go()">早申请  早规划</a>
					<a  href="javascript:;" onclick="go()" class="a1">马上申请美国名校</a>
				</div>
			</div>
		</div>
		
		<!-- bannerNav -->
		<div class="bannerNav">
			<div class="gWidth1170">
				<span class="active">美本特色</span>
				<span>申请条件</span>
				<span>申请规划</span>
				<span>申请流程</span>
				<span>本科转学</span>
				<span>名校推荐</span>
				<span>导师团队</span>
				<span>精彩案例</span>
				<span>背景提升</span>
				<span>留学费用</span>
				<span>彬彬优势 </span>
			</div>
		</div>
		<div class="navHidden"></div>
		
		<!-- 美国拥有全球数量最多和教学质量最高的大学 -->
		<div class="zhilang_daxue tj_index gWidth1170">
			<h3 class="title">美国拥有全球数量最多和教学质量最高的大学</h3>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<div class="bTitle">美国的大学数量全球最高，达到4180所！</div>
					<div class="bBox">
						<div class="clearfix adly">
							<span class="fl">澳大利亚</span>
							<em class="fl"></em>
							<span><i id="i1">40</i>+</span>
						</div>
						<div class="clearfix jnd">
							<span class="fl">加拿大</span>
							<em class="fl"></em>
							<span><i id="i2">100</i>+</span>
						</div>
						<div class="clearfix yg">
							<span class="fl">英国</span>
							<em class="fl"></em>
							<span><i id="i3">100</i>+</span>
						</div>
						<div class="clearfix rb">
							<span class="fl">日本</span>
							<em class="fl"></em>
							<span><i id="i4">700</i>+</span>
						</div>
						<div class="clearfix mg">
							<span class="fl">美国</span>
							<em class="fl"></em>
							<span><i id="i5">4000</i>+</span>
						</div>	
					</div>
				</div>
				<div class="box2 fl">
					<div class="bTitle">美国的大学名校多，特色显著！</div>
					<div class="bBox">
						<ul>
							<li>● 全球TOP30名校中美国大学占比高达70%</li>
							<li>● 美国拥有八大常春藤联盟</li>
							<li>● 美国拥有世界公认最优质综合性大学</li>
							<li>● 美国拥有顶尖文理学院</li>
							<li>● 美国拥有三大著名的军事院校</li>
						</ul>
					</div>
				</div>
				<div class="box2 fl">
					<div class="bTitle">美国的大学名校多，特色显著！</div>
					<div class="bBox">
						<ul>
							<li>● 美国拥有世界公认的高质量的学习项目、教师、设施和资源；</li>
							<li>● 美国教育系统在院校、学术与社会环境、入学要求、学位项目以及可供学习的专业领域方面提供无可比拟的选择；</li>
							<li>● 美国本科教育的特点是博雅教育，通过自由的课程设置、自由的专业选择和自由教育的学院氛围实现自由学习。</li>
						</ul>
					</div>
				</div>
			</div>
			<a  href="javascript:;" onclick="go()">点击匹配学校</a>
		</div>
		
		<!-- 美国本科申请条件 -->
		<div class="tiaojian tj_index">
			<div class="gWidth1170">
				<h3 class="title">美国本科申请条件</h3>
				<div class="content">
					<div class="ctitle clearfix">
						<span class="active">美国综合性大学</span>
						<span>美国文理学院</span>
						<span>美国社区大学</span>
					</div>
					<div class="cbox">
						<div class="cboxtop clearfix">
							<img src="/static/home/img/page/benke_sqtj/zh.jpg" class="fl" alt="综合性大学(University，大U)" title="综合性大学(University，大U)">
							<div class="fr">
								<h3>综合性大学(University，大U)</h3>
								<p>University就是综合性大学，属于研究型大学，该类大学是以培养研究人才为目的的高等教育机构。特点是专业门类齐全，研究活动活跃。例如哈佛大学、麻省理工学院、耶鲁大学都属于这种，有公立也有私立。</p>
								<a target="_blank" href="/page/comprehensive.html" class="fr">查看详情</a>
							</div>
						</div>
						<div class="cboxbottom clearfix">
							<div class="fl">
								<h3>申请条件</h3>
								<p><b>标准化成绩：</b>托福  (TOEFL)  /  雅思  (IELTS)、SAT (SAT1&amp;SAT2)  /  ACT、AP/IB。<a  href="javascript:;" onclick="go()">具体分数要求&gt;</a></p>
								<p><b>学术成绩：</b><br />9-12年级GPA成绩单<a  href="javascript:;" onclick="go()">GPA分数转换&gt;</a></p>
								<p><b>软性背景：</b><br />艺术特长、学术比赛、社会实践等经历<a  href="javascript:;" onclick="go()">如何提升软性背景&gt;</a></p>
							</div>
							<div class="fr">
								<h3>申请材料</h3>
								<div class="clearfix">
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon1.jpg" alt=""><span>入学申请表</span></div>
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon2.jpg" alt=""><span>推荐信</span></div>
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon3.jpg" alt=""><span>个人简历</span></div>
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon4.jpg" alt=""><span>个人陈述</span></div>
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon5.jpg" alt=""><span>高中毕业证</span></div>
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon6.jpg" alt=""><span>存款证明</span></div>
								</div>
								<a  href="javascript:;" onclick="go()" class="fr">获取全部材料清单&gt;</a>
							</div>
						</div>
					</div>
					<a  href="javascript:;" onclick="go()" class="a">马上申请美国综合性大学</a>
					<div class="cbox">
						<div class="cboxtop clearfix">
							<img src="/static/home/img/page/benke_sqtj/wl.jpg" class="fl" alt="文理学院(Liberal Arts Colleges，LAC)" title="文理学院(Liberal Arts Colleges，LAC)">
							<div class="fr">
								<h3>文理学院(Liberal Arts Colleges，LAC)</h3>
								<p>美国LAC大学俗称文理学院。往往代表着经典、小规模、高质量的本科教育。许多文理学院的学术声誉往往不亚于哈佛耶鲁等名校。其实，中国有很多出名人的都毕业于此类大学，比如宋庆龄就是毕业于卫斯理学院；当红歌星王力宏，就是从全美最好的LAC——威廉姆斯学院的音乐学院毕业的。</p>
								<a target="_blank" href="/page/sciences.html" class="fr">查看详情</a>
							</div>
						</div>
						<div class="cboxbottom clearfix">
							<div class="fl">
								<h3>申请条件</h3>
								<p><b>标准化成绩：</b>托福  (TOEFL)  /  雅思  (IELTS)、SAT (SAT1&amp;SAT2)  /  ACT、AP/IB。<a  href="javascript:;" onclick="go()">具体分数要求&gt;</a></p>
								<p><b>学术成绩：</b><br />9-12年级GPA成绩单<a  href="javascript:;" onclick="go()">GPA分数转换&gt;</a></p>
								<p><b>软性背景：</b><br />艺术特长、学术比赛、社会实践等经历<a  href="javascript:;" onclick="go()">如何提升软性背景&gt;</a></p>
							</div>
							<div class="fr">
								<h3>申请材料</h3>
								<div class="clearfix">
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon1.jpg" alt=""><span>入学申请表</span></div>
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon2.jpg" alt=""><span>推荐信</span></div>
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon3.jpg" alt=""><span>个人简历</span></div>
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon4.jpg" alt=""><span>个人陈述</span></div>
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon5.jpg" alt=""><span>高中毕业证</span></div>
									<div class="box"><img src="/static/home/img/page/benke_sqtj/icon6.jpg" alt=""><span>存款证明</span></div>
								</div>
								<a  href="javascript:;" onclick="go()" class="fr">获取全部材料清单&gt;</a>
							</div>
						</div>
					</div>
					<a  href="javascript:;" onclick="go()" class="a">马上申请美国文理学院</a>
					<div class="cbox">
						<div class="cboxtop clearfix">
							<img src="/static/home/img/page/benke_sqtj/sq.jpg" class="fl" alt="社区大学（Community College）" title="社区大学（Community College）">
							<div class="fr">
								<h3>社区大学（Community College）</h3>
								<p>美国社区大学（Community College），或可称为“两年制大学，大多是公立学校。它提供二年大学一般课程教育，学校会颁发副学士学位(Associate Degree)，你可以转到四年制大学或学院继续念书，许多学分都是大学承认的。是国际生进入优秀大学的一个跳板。</p>
								<a target="_blank" href="/page/community.html" class="fr">查看详情</a>
							</div>
						</div>
						<div class="cboxbottom clearfix">
							<div class="fl">
								<h3>申请条件</h3>
								<p>年满14周岁或高中、中专院校在读</p>
								<p>有无高中或中专毕业证书均可</p>
								<p>高一（及以上）至少一个学期成绩单</p>
								<p>无需SAT有无英语成绩均可<a  href="javascript:;" onclick="go()">了解详情&gt;</a></p>
							</div>
							<div class="fr">
								<h3>美国社区大学名人堂</h3>
								<div class="clearfix">
									<div class="box1">
										<img src="/static/home/img/page/benke_sqtj/wl1.jpg" alt="">
										<p>Walt Disney<br />迪士尼公司创始人</p>
									</div>
									<div class="box1">
										<img src="/static/home/img/page/benke_sqtj/wl2.jpg" alt="">
										<p>Steve Jobs<br />苹果公司创始人</p>
									</div>
									<div class="box1">
										<img src="/static/home/img/page/benke_sqtj/wl3.jpg" alt="">
										<p>Richard Carmona<br />前美国卫生部长</p>
									</div>
								</div>
								<a  href="javascript:;" onclick="go()" class="abox">查看更多明星校友&gt;</a>
							</div>
						</div>
					</div>
					<a  href="javascript:;" onclick="go()" class="a">马上申请美国社区大学</a>
				</div>
			</div>
		</div>
		
		<!-- 美国本科申请规划 -->
		<div class="guihua tj_index gWidth1170">
			<h3 class="title">美国本科申请规划</h3>
			<div class="content clearfix">
				<div class="box fl">
					<div class="o">
						<h3>9年级</h3>
					</div>
					<div class="hidden"><p>保持良好GPA和排名；托福基础；广泛涉及初级背景提升项目；了解美国文化及院校，准备申请材料。</p></div>
				</div>
				<div class="box box2 fl">
					<div class="o">
						<h3>10年级</h3>
					</div>
					<div class="hidden"><p>保持良好GPA和排名；托福强化80+；SAT首考1200；参加中级海外交流项目；实地深入了解美国院校；继续准备申请材料。</p></div>
				</div>
				<div class="box box3 fl">
					<div class="o">
						<h3>11年级</h3>
					</div>
					<div class="hidden"><p>保持良好GPA和排名；托福冲刺100+；SAT刷分1400；参加美国名校暑期学分课程；填写文书素材；开始头脑风暴；了解学校申请要求及文书题目。</p></div>
				</div>
				<div class="box box4 fl">
					<div class="o">
						<h3>12年级</h3>
					</div>
					<div class="hidden"><p>保持良好GPA和排名；刷分达到 托福100+；SATⅠ1400 SATⅡ2-3门；整理课外活动背景素材；备EA/ED/RD申请材料；准备面试/签证材料等。</p></div>
				</div>
			</div>
			<a  href="javascript:;" onclick="go()">定制个性化留学方案</a>
		</div>
		
		<!-- 彬彬教育申请流程服务 -->
		<div class="liucheng_fuwu tj_index">
			<div class="gWidth1170">
				<h3 class="title">彬彬教育申请流程服务</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="box">
						<ul>
							<li>
								<h3>整体规划</h3>
								<p>与学生初次沟通<br />为学生制定整体留学<br />申请规划方案</p>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>专业定位</h3>
								<p>根据学生背景情<br />况和未来发展预期<br />选择适合的申请专业</p>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>学术背景提升指导</h3>
								<p>根据学生目前<br />绩点为学生制定接下<br />来的选课战略</p>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>科研实习指导</h3>
								<p>为学生选择合<br />适的科研实习项目<br />全程指导高效实习</p>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>学校选定</h3>
								<p>根据学生背景<br />情况和未来职业发展<br />预期选择申请学校</p>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>文书创作</h3>
								<p>根据学生过往<br />经历深度挖掘背景<br />写出特色的申请文书</p>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>网上申请</h3>
								<p>将所有学生的<br />相关信息准确提供给<br />申请学校</p>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>套磁面试辅导</h3>
								<p>为学生的面试提供<br />指导和帮助</p>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>签证及行前准备</h3>
								<p>指导学生填写签<br />证申请 在机票、住宿<br />方面进行指导</p>
							</li>
						</ul>
					</div>
					<div class="xian">
						<div>
							<span></span>
						</div>
						<div>
							<span></span>
						</div>
						<div>
							<span></span>
						</div>
						<div>
							<span></span>
						</div>
						<div>
							<span></span>
						</div>
						<div>
							<span></span>
						</div>
						<div>
							<span></span>
						</div>
						<div>
							<span></span>
						</div>
						<div>
							<span></span>
						</div>
					</div>
				</div>
				<a  href="javascript:;" onclick="go()">定制个性化留学方案</a>
			</div>
		</div>
		
		<!-- 美国本科转学 -->
		<div class="zhuanxue tj_index gWidth1170">
			<h3 class="title">美国本科转学</h3>
			<p>转入名校不是梦</p>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<h3>美国本科转学条件</h3>
					<p><b>硬性条件</b><span>GPA、TOEFL/IELTS、SAT/ACT（可选）</span></p>
					<p><b>软性条件</b><span>奖项、活动、科研、实习</span></p>
					<p><b>留学申请</b><span>课程描述、选校、文书</span></p>
					<a target="_blank" href="/page/transfer.html">获取转学申请技巧</a>
				</div>
				<div class="box2 fr">
					<h3>美国本科转学适合人群</h3>
					<ul>
						<li class="clearfix"><i class="fl"></i><span class="fl">高考失误，没有进入理想学校的本科在读生</span></li>
						<li class="clearfix"><i class="fl"></i><span class="fl">专科学生，国内续本困难重重</span></li>
						<li class="clearfix"><i class="fl"></i><span class="fl">在其他国家读本科，但希望能够有机会去美国学习的学生</span></li>
						<li class="clearfix"><i class="fl"></i><span class="fl">本科学习一段时间后对学校或所学专业不感兴趣，想通过转学改变专业找到合适自己学习和发展的空间。</span></li>
						<li class="clearfix"><i class="fl"></i><span class="fl">新生申请入读美国大学没能一步到位，希望通过转学去自己的dream school。</span></li>
					</ul>
					<a  href="javascript:;" onclick="go()">我要申请本科转学</a>
				</div>
			</div>
		</div>
		
		<!-- 美国本科大学推荐 -->
		<div class="daxue_tuijian tj_index">
			<div class="gWidth1170">
				<h3 class="title">美国本科大学推荐</h3>
				<!-- content -->
				<div class="content">
					<div class="tjTitle">
						<span class="active">八大常春藤名校</span>
						<span>2019 USNews排名</span>
					</div>
					<div class="box">
						<p>常春藤盟校指的是由美国东北部地区的八所大学组成的体育赛事联盟。它们全部是美国一流名校、也是美国产生最多罗德奖学金得主的高校联盟。</p>
						<div class="clearfix">
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school1.jpg" alt="哈佛大学" title="哈佛大学">
								<h3>TOP1</h3>
								<span>哈佛大学</span>
								<p>历史悠久，是全美最古老的大学之一，迄今己已培育出6位美国总统、29位诺贝尔奖得主和27名普利策奖得主。</p>
								<a  href="javascript:;" onclick="go()">学校特色&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school2.jpg" alt="宾夕法尼亚大学" title="宾夕法尼亚大学">
								<h3>TOP2</h3>
								<span>宾夕法尼亚大学</span>
								<p>是美国宾夕法尼亚州费城的一所男女同校私立大学，也是美国常春藤盟校成员之一。</p>
								<a  href="javascript:;" onclick="go()">学校特色&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school3.jpg" alt="耶鲁大学" title="耶鲁大学">
								<h3>TOP3</h3>
								<span>耶鲁大学</span>
								<p>是一所著名的综合性私立研究型大学。是美国历史上建立的第三所大学，它和哈佛、普林斯顿大学齐名。</p>
								<a  href="javascript:;" onclick="go()">学校特色&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school4.jpg" alt="普林斯顿大学" title="普林斯顿大学">
								<h3>TOP4</h3>
								<span>普林斯顿大学</span>
								<p>是一所闻名世界的私立研究型大学，是八所常春藤盟校之一，2019年USNews美国大学综合排名第一位。</p>
								<a  href="javascript:;" onclick="go()">学校特色&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school5.jpg" alt="哥伦比亚大学" title="哥伦比亚大学">
								<h3>TOP5</h3>
								<span>哥伦比亚大学</span>
								<p>一所位于美国纽约曼哈顿的世界顶级私立研究型大学，拥有世界一流的法学院、商学院、医学院、新闻学院、工程学院等。</p>
								<a  href="javascript:;" onclick="go()">学校特色&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school6.jpg" alt="达特茅斯学院" title="达特茅斯学院">
								<h3>TOP6</h3>
								<span>达特茅斯学院</span>
								<p>是美国历史最悠久的世界顶尖学府，也是闻名遐迩的私立八大常春藤联盟之一。</p>
								<a  href="javascript:;" onclick="go()">学校特色&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school7.jpg" alt="布朗大学" title="布朗大学">
								<h3>TOP7</h3>
								<span>布朗大学</span>
								<p>布朗大学入学竞争极为激烈，本科生录取率仅为9%，是全美录取难度最高的大学之一。</p>
								<a  href="javascript:;" onclick="go()">学校特色&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school8.jpg" alt="康奈尔大学" title="康奈尔大学">
								<h3>TOP8</h3>
								<span>康奈尔大学</span>
								<p>康奈尔大学（Cornell University）是一所位于美国纽约州伊萨卡的世界顶级私立研究型大学，是著名的常春藤联盟成员。</p>
								<a  href="javascript:;" onclick="go()">学校特色&gt;</a>
							</div>
						</div>
						<div class="anniu">
							<a target="_blank" href="/page/university_ranking.html">查看更多院校排名</a>
							<a  href="javascript:;" onclick="go()" class="a1">查看藤校申请条件</a>
						</div>
					</div>
					<div class="box box2">
						<p>美国有多个机构对大学进行排名，其中最有影响力的就是由《美国新闻和世界报导》（US News）发布的美国大学排名，即 US News 排名。</p>
						<div class="clearfix bbb1">
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school4.jpg" alt="普林斯顿大学" title="普林斯顿大学">
								<h3>TOP1</h3>
								<span>普林斯顿大学</span>
								<p>Princeton University</p>
								<a  href="javascript:;" onclick="go()">申请条件&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school1.jpg" alt="哈佛大学" title="哈佛大学">
								<h3>TOP2</h3>
								<span>哈佛大学</span>
								<p>Harvard University</p>
								<a  href="javascript:;" onclick="go()">申请条件&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school5.jpg" alt="哥伦比亚大学" title="哥伦比亚大学">
								<h3>TOP3</h3>
								<span>哥伦比亚大学</span>
								<p>Columbia University</p>
								<a  href="javascript:;" onclick="go()">申请条件&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school11.png" alt="麻省理工学院" title="麻省理工学院">
								<h3>TOP3</h3>
								<span>麻省理工学院</span>
								<p>Massachusetts Institute of Technology</p>
								<a  href="javascript:;" onclick="go()">申请条件&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school9.png" alt="芝加哥大学" title="芝加哥大学">
								<h3>TOP3</h3>
								<span>芝加哥大学</span>
								<p>University of Chicago</p>
								<a  href="javascript:;" onclick="go()">申请条件&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school3.jpg" alt="耶鲁大学" title="耶鲁大学">
								<h3>TOP3</h3>
								<span>耶鲁大学</span>
								<p>Yale University</p>
								<a  href="javascript:;" onclick="go()">申请条件&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school10.png" alt="斯坦福大学" title="斯坦福大学">
								<h3>TOP7</h3>
								<span>斯坦福大学</span>
								<p>Stanford University</p>
								<a  href="javascript:;" onclick="go()">申请条件&gt;</a>
							</div>
							<div class="b fl">
								<img src="/static/home/img/page/benke_sqtj/school12.png" alt="杜克大学" title="杜克大学">
								<h3>TOP8</h3>
								<span>杜克大学</span>
								<p>Duke University</p>
								<a  href="javascript:;" onclick="go()">申请条件&gt;</a>
							</div>
						</div>
						<div class="anniu">
							<a  href="javascript:;" onclick="go()">查看更多院校排名</a>
							<a  href="javascript:;" onclick="go()" class="a1">私人订制申请方案</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 强大的国内外导师团队 -->
		<div class="daoshi_team tj_index">
			{include file="common/common_daoshi"/}
		</div>
		
		<!-- 申请美国本科精彩案例 -->
		<div class="jingcai_anli tj_index">
			<div class="gWidth1170">
				<h3 class="title">申请美国本科精彩案例</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="box fl">
						<h3>P同学</h3>
						<p><b>录取学校：</b>埃默里大学</p>
						<p><b>TOEFL成绩：</b>105</p>
						<p><b>SAT成绩：</b>1460</p>
						<h4>顾问点评：</h4>
						<span class="qfr1">这是我给P同学定校的时候讲述的第一个有趣的故事——在Emory的学校中喝百事可乐就是不爱校!所以别喝除了可口可乐 以外的汽水。当然了，这是也戏谑，也是开启学生兴趣的源头。Emory不会考察你是否真的喝了百事，她和其她的排名前20的美国高校看重的是什么呢?</span>
						<a  href="/success/103.html" target="_blank">查看详情&gt;</a>
					</div>
					<div class="box fl">
						<h3>D同学</h3>
						<p><b>录取学校：</b>加州艺术学院</p>
						<p><b>TOEFL成绩：</b>102</p>
						<p><b>SAT成绩：</b>1470</p>
						<h4>顾问点评：</h4>
						<span class="qfr1">D同学有非常多的作品集，高中时就热爱摄影且拍摄角度新奇、眼光独到。在老师的帮助下用文书将自己的优势最大化，让招生官老师看到这个孩子独特的艺术潜力。</span>
						<a  href="/success/98.html" target="_blank">查看详情&gt;</a>
					</div>
					<div class="box fl">
						<h3>R同学</h3>
						<p><b>录取学校：</b>耶鲁大学</p>
						<p><b>TOEFL成绩：</b>113</p>
						<p><b>GPA：</b>3.92</p>
						<h4>顾问点评：</h4>
						<span class="qfr1">学生软性背景较差，需提高。这是个高端案例，申请的时候要拿捏准藤校的招生偏好。但是，好在学生自身比较自觉，目的性比较强，且性格活泼乐观，很配合我们的工作，各种信息反馈也很及时。</span>
						<a  href="/success/92.html" target="_blank">查看详情&gt;</a>
					</div>
					<div class="box box1 fl">
						<h3>张同学</h3>
						<p><b>就读学校：</b>北京邮电大学</p>
						<p><b>转入学校：</b>康奈尔大学</p>
						<p><b>学校类型：</b>综合性大学</p>
						<p><b>标化成绩：</b>TOEFL 110，GPA 3.7</p>
						<a  href="javascript:;" onclick="go()">查看详情&gt;</a>
					</div>
					<div class="box box1 fl">
						<h3>夏同学</h3>
						<p><b>就读学校：</b>帕洛玛学院</p>
						<p><b>转入学校：</b>芝加哥大学</p>
						<p><b>学校类型：</b>综合性大学</p>
						<p><b>标化成绩：</b>TOEFL 105，SAT 1380，GPA 3.7</p>
						<a  href="javascript:;" onclick="go()">查看详情&gt;</a>
					</div>
					<div class="box box1 fl">
						<h3>樊同学</h3>
						<p><b>就读学校：</b>贝尔维社区大学</p>
						<p><b>转入学校：</b>密歇根大学安娜堡分校</p>
						<p><b>学校类型：</b>综合性大学</p>
						<p><b>标化成绩：</b>TOEFL 105，GPA 3.8</p>
						<a  href="javascript:;" onclick="go()">查看详情&gt;</a>
					</div>
				</div>
				<div class="anniu">
					<a  href="javascript:;" onclick="go()">点击查看更多案例</a>
					<a  href="javascript:;" onclick="go()" class="a1">我要申请美国本科</a>
				</div>
			</div>
		</div>
		
		<!-- 选择正确的背景提升 距离名校更近一步 -->
		<div class="bjts tj_index">
			<div class="box gWidth1170">
				<!-- title -->
				<h3 class="title">选择正确的背景提升 距离名校更近一步</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="fl">
						<img src="/static/home/img/page/wenli_xueyuan/bjts1.jpg" alt="麻省理工学院量子光学物理、通讯物理项目" title="麻省理工学院量子光学物理、通讯物理项目">
						<span class="hidden_a"><p>麻省理工学院<br />量子光学物理、通讯物理项目</p></span>
						<div class="hidden_b">
							<div class="juzhong">
								<h3>麻省理工学院<br />量子光学物理、通讯物理项目</h3>
								<p><b>面向对象：</b>对物理、量子光学物理、通讯物理感兴趣的学生<br /><b>科研时间：</b>寒假，暑假，每期时间长度为4周；具体情况根据学生面试情况由美方进行调整</p>
								<a target="_blank" href="/mxky/272.html">查看详情</a>
							</div>
						</div>
					</div>
					<div class="fr">
						<div class="box fl">
							<img src="/static/home/img/page/wenli_xueyuan/bjts2.jpg" alt="哈佛-麻省理工数学锦标赛(HMMT)" title="哈佛-麻省理工数学锦标赛(HMMT)">
							<span class="hidden_a"><p>哈佛-麻省理工<br />数学锦标赛(HMMT)</p></span>
							<div class="hidden_b">
								<div class="juzhong">
									<h3>哈佛-麻省理工数学锦标赛(HMMT)</h3>
									<p><b>面向对象：</b>世界各地优秀高中生，团队报名，每个团队6至8名同学<br /><b>科研时间：</b>11月，2月</p>
									<a target="_blank" href="/xsjs/327.html">查看详情</a>
								</div>
							</div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/wenli_xueyuan/bjts3.jpg" alt="斯坦福国际精英大学先修项目" title="斯坦福国际精英大学先修项目">
							<span class="hidden_a"><p>斯坦福国际精英大学先修项目</p></span>
							<div class="hidden_b">
								<div class="juzhong">
									<h3>斯坦福国际精英大学先修项目</h3>
									<p><b>面向对象：</b>中国高中生<br /><b>科研时间：</b>2019年8月6日 - 8月18日（13天）</p>
									<a target="_blank" href="/xxsy/331.html">查看详情</a>
								</div>
							</div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/wenli_xueyuan/bjts4.jpg" alt="蓝色光标传播集团实习项目" title="蓝色光标传播集团实习项目">
							<span class="hidden_a"><p>蓝色光标传播集团实习项目</p></span>
							<div class="hidden_b">
								<div class="juzhong">
									<h3>蓝色光标传播集团实习项目</h3>
									<p><b>面向对象：</b>申请海外数据分析、统计、商业分析等相关研究生专业的学生<br /><b>科研时间：</b>全年接受报名，实习时间1个月以上</p>
									<a target="_blank" href="/mqsx/294.html">查看详情</a>
								</div>
							</div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/wenli_xueyuan/bjts5.jpg" alt="奥地利文化沉浸项目" title="奥地利文化沉浸项目">
							<span class="hidden_a"><p>奥地利文化沉浸项目</p></span>
							<div class="hidden_b">
								<div class="juzhong">
									<h3>奥地利文化沉浸项目</h3>
									<p><b>面向对象：</b>年满18周岁<br /><b>科研时间：</b>每年7、8月</p>
									<a target="_blank" href="/gjyg/318.html">查看详情</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="anniu">
					<a target="_blank" href="/page/polymerization.html">了解更多背景提升项目</a>
					<a  href="javascript:;" onclick="go()" class="a1">点击匹配背景提升活动</a>
				</div>
			</div>
		</div>
		
		<!-- 美国本科留学费用全解析 -->
		<div class="feiyong_jiexi tj_index">
			<div class="gWidth1170">
				<h3 class="title">美国本科留学费用全解析</h3>
				<!-- 美国不同类型大学费用不同 -->
				<div class="feiyong_butong">
					<h3 class="title">美国不同类型大学费用不同</h3>
					<div class="content clearfix">
						<div class="box fl">
							<h3>公立大学</h3>
							<p>学费：约$25000~$45000/年</p>
							<p>奖学金：约$10000-$50000/年</p>
						</div>
						<div class="box box2 fl">
							<h3>私立大学</h3>
							<p>学费：约$15000~$30000/年</p>
							<p>奖学金：约6000$-$40000/年</p>
						</div>
						<div class="box box3 fl">
							<h3>美国文理学院</h3>
							<p>学费：约$25000~$45000/年</p>
							<p>奖学金：约$10000-$50000/年</p>
						</div>
						<div class="box box4 fl">
							<h3>美国社区大学</h3>
							<p>学费：约$9000~$18000/年</p>
							<p>奖学金：约$3000-$10000/年</p>
						</div>
					</div>
					<div class="anniu">
						<a  href="javascript:;" onclick="go()">匹配美国本科院校</a>
						<a target="_blank" href="/page/collegejxj.html" class="a1">如何获得奖学金</a>
					</div>
				</div>
				<!-- 美国城市生活费用不同 -->
				<div class="shenghuof_butong">
					<h3 class="title">美国城市生活费用不同</h3>
					<div class="content clearfix">
						<div class="box fl">
							<div class="boxTop">美国特大城市</div>
							<p><b>代表城市：</b>纽约、洛杉矶、迈阿密、芝加哥、华盛顿首府等城市</p>
							<p><b>生活费用：</b>约$1000-2000/月</p>
						</div>
						<div class="box box2 fl">
							<div class="boxTop">美国大城市</div>
							<p><b>代表城市：</b>匹兹堡、西雅图、达拉斯、亚特兰大等城市</p>
							<p><b>生活费用：</b>约$800-1000/月</p>
						</div>
						<div class="box box3 fl">
							<div class="boxTop">美国三级城市</div>
							<p><b>代表城市：</b>美国南部、中西部、东南部州、德州、康州等一些地区</p>
							<p><b>生活费用：</b>约$600-800/月</p>
						</div>
						<div class="box box4 fl">
							<div class="boxTop">美国四级城市</div>
							<p><b>代表城市：</b>俄克拉荷马州、密苏里州、路易斯安那州等地区/p>
							<p><b>生活费用：</b>约$450-600/月</p>
						</div>
					</div>
					<a  href="javascript:;" onclick="go()">中美消费大对比</a>
				</div>
			</div>
		</div>
		
		<!-- 彬彬教育致力让每一个学生牵手世界名校 -->
		<div id="mydiv" class="tj_index" style="height: 695px;">
			<div class="box gWidth1170 clearfix">
				<!-- title -->
				<h3 class="title">彬彬教育致力让每一个学生牵手世界名校</h3>
				<!-- content -->
				<div class="content gWidth1170">
					<div class="fl">
						<ul>
							<li class="li1">
								<h3>6位1体</h3>
								<p>业内首创“6位1体”服务模式<br />服务客户满意度高达100%</p>
							</li>
							<li class="li2">
								<h3>广资源</h3>
								<p>1000+校园独家代理；实地考察 真实可靠</p>
							</li>
							<li class="li3">
								<h3>多重认证</h3>
								<p>留学行业质量认证标准机构；国内十佳品牌诚信<br />留学机构；CSIET评审认证留学机构</p>
							</li>
						</ul>
					</div>
					<div class="dq">
						<div>
						</div>
					</div>
					<div class="fr">
						<ul>
							<li class="li1 clearfix">
								<h3>全覆盖</h3>
								<p class="fr">600+海外同专业导师覆盖全美TOP100名校<br />让学生提前了解校园生活并提供全程对应辅导</p>
							</li>
							<li class="li2 clearfix">
								<h3>大数据</h3>
								<p class="fr" style="width: 330px;">120000+超大申请数据库；科学手段狂揽offer</p>
							</li>
							<li class="li3 clearfix">
								<h3>两个“1”</h3>
								<p class="fr">国内独1拥有海外监管服务中心留学机构<br />国内独1拥有海外院校开发资质的留学机构</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		{include file="common/common_bottom"/}
		<script type="text/javascript">
			var t = document.documentElement.scrollTop || document.body.scrollTop;
			var scroll = true;
			if(t>=100){
				$('.abcBannav').css({'display': 'none'});
				$('.topNav').css({'position': 'static'});
			}
			// 
			var nav = $('.bannerNav').offset().top;
			$gkLength = $('.tj_index').length;
			window.onscroll = function () {
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if(top>=nav){
					$('.bannerNav').css({'position': 'fixed', 'top': '0', 'z-index': '9999'});
					$('.navHidden').css({'display': 'block'});
				}else if(top<=$('.tj_index').eq(0).offset().top){
					$('.bannerNav').css({'position': 'static', 'top':''});
					$('.navHidden').css({'display': 'none'});
				}
				for( var i=0; i<$gkLength; i++ ){
					if( i == $gkLength - 1 ){
						if( top>=$('.tj_index').eq(i).offset().top ){
							$('.bannerNav span').removeClass('active');
							$('.bannerNav span').eq(i).addClass('active');
						}
						return;
					}
					if( top>=$('.tj_index').eq(i).offset().top - 200 && top<$('.tj_index').eq(i+1).offset().top - 200 ){
						$('.bannerNav span').removeClass('active');
						$('.bannerNav span').eq(i).addClass('active');
					}
				}
			}
			$('.bannerNav span').on('click', function () {
				var index = $('.bannerNav span').index($(this));
				var offsetTop = $('.tj_index').eq(index).offset().top;
				$('body, html').stop().animate({scrollTop: offsetTop + 0}, 1500);
			})
			$('.bannerNav span:last-child').css({'margin-right': '0'});
			// 
			var options = {
			  useEasing: true, 
			  useGrouping: true, 
			  separator: '', 
			  decimal: '.', 
			};
			var num1 = new CountUp("i1", 0, 40, 0, 1.5, options);
			var num2 = new CountUp("i2", 0, 100, 0, 1.5, options);
			var num3 = new CountUp("i3", 0, 100, 0, 1.5, options);
			var num4 = new CountUp("i4", 0, 700, 0, 1.5, options);
			var num5 = new CountUp("i5", 0, 4000, 0, 1.5, options);
			$(window).scroll(function () {
				if( $(window).scrollTop() + 500 >= $('.zhilang_daxue').offset().top ){
					num1.start();
					num2.start();
					num3.start();
					num4.start();
					num5.start();
					$('.zhilang_daxue .content .box .bBox>div.adly em').stop().animate({'width': '16px'}, 1500);
					$('.zhilang_daxue .content .box .bBox>div.jnd em').stop().animate({'width': '37px'}, 1500);
					$('.zhilang_daxue .content .box .bBox>div.yg em').stop().animate({'width': '37px'}, 1500);
					$('.zhilang_daxue .content .box .bBox>div.rb em').stop().animate({'width': '106px'}, 1500);
					$('.zhilang_daxue .content .box .bBox>div.mg em').stop().animate({'width': '191px'}, 1500);
				}
			})
			// 
			$('.zhilang_daxue .content .box2:last-child').css({'margin-right': '0'});
			$('.zhilang_daxue .content .box2:last-child .bBox ul li').css({'line-height': '24px', 'margin-bottom': '30px'});
			// 
			$('.tiaojian .content .ctitle span:last-child').css({'margin-right': '0'});
			$('.tiaojian .a').eq(0).css({'display': 'block'});
			$('.tiaojian .content .cbox').eq(0).css({'display': 'block'});
			$('.tiaojian .content .ctitle span').on('click', function () {
				var index = $('.tiaojian .content .ctitle span').index($(this));
				$(this).addClass('active').siblings('span').removeClass('active');
				$('.tiaojian .a').css({'display': 'none'});
				$('.tiaojian .content .cbox').css({'display': 'none'});
				$('.tiaojian .a').eq(index).stop().fadeIn();
				$('.tiaojian .content .cbox').eq(index).fadeIn();
			})
			$('.guihua .content .box:last-child').css({'margin-right': '0'});
			$(".guihua .content .box").on("mouseenter mouseleave", function(e) {
				var w = $(this).width();
				var h = $(this).height();
				var x = (e.pageX - this.offsetLeft - (w / 2)) * (w > h ? (h / w) : 1);
				var y = (e.pageY - this.offsetTop - (h / 2)) * (h > w ? (w / h) : 1);
				var direction = Math.round((((Math.atan2(y, x) * (180 / Math.PI)) + 180) / 90) + 3) % 4;
				var eventType = e.type;
				var dirName = new Array('上方','右侧','下方','左侧');
				var that = $(this);
				var index = $('.guihua .content .box').index($(this));
				if(e.type == 'mouseenter'){
					that.children('.hidden').css({'display': 'block'});
					if( direction == 0 ){
						that.children('.hidden').css({'top': -h + 'px', 'left': '0'});
						that.children('.hidden').stop().animate({'top': '0'});
						$('.guihua .content .box>.o').eq(index).stop().animate({'top': h + 'px'});
					}else if( direction == 1 ) {
						that.children('.hidden').css({'top': '0', 'left': w + 'px'});
						that.children('.hidden').stop().animate({'left': '0'});
						$('.guihua .content .box>.o').eq(index).stop().animate({'left': -w + 'px'});
					}else if( direction == 2 ) {
						that.children('.hidden').css({'top': h + 'px', 'left': '0'});
						that.children('.hidden').stop().animate({'top': '0'});
						$('.guihua .content .box>.o').eq(index).stop().animate({'top': -h + 'px'});
					}else if( direction == 3 ) {
						that.children('.hidden').css({'top': '0', 'left': -w + 'px'});
						that.children('.hidden').stop().animate({'left': '0'});
						$('.guihua .content .box>.o').eq(index).stop().animate({'left': w + 'px'});
					}
				}else{
					if( direction == 0 ){
						that.children('.hidden').stop().animate({'top': -h + 'px'});
						$('.guihua .content .box>.o').eq(index).css({'top': h + 'px', 'left': '0'});
						$('.guihua .content .box>.o').eq(index).stop().animate({'top': 0});
					}else if( direction == 1 ) {
						that.children('.hidden').stop().animate({'left': w + 'px'});
						$('.guihua .content .box>.o').eq(index).css({'top': 0, 'left': -w + 'px'});
						$('.guihua .content .box>.o').eq(index).stop().animate({'left': 0});
					}else if( direction == 2 ) {
						that.children('.hidden').stop().animate({'top': h + 'px'});
						$('.guihua .content .box>.o').eq(index).css({'top': -h + 'px', 'left': 0});
						$('.guihua .content .box>.o').eq(index).stop().animate({'top': 0});
					}else if( direction == 3 ) {
						that.children('.hidden').stop().animate({'left': -w + 'px'});
						$('.guihua .content .box>.o').eq(index).css({'top': 0, 'left': w + 'px'});
						$('.guihua .content .box>.o').eq(index).stop().animate({'left': 0});
					}
				}
			});
			// 
			var boxIndex = $('.liucheng_fuwu .content .box');
			var spanIndex = $('.liucheng_fuwu .content .xian span');
			for( var i=0; i<boxIndex.length; i++ ){
				if( i%2 != 0 ){
					$('.liucheng_fuwu .content .box').eq(i).css({
						'top': '178px',
						'left': (i * 130) + 'px'
					})
				}else{
					$('.liucheng_fuwu .content .box').eq(i).css({
						'bottom': '178px',
						'left': (i * 130) + 'px'
					})
				}
			}
			$('.liucheng_fuwu .content .box:nth-child(2n)>span').css({
				'top': '-14px',
				'border-color': 'transparent transparent #E1E5F9 transparent'
			})
			$(window).scroll(function () {
				if( $(window).scrollTop()>=$('.liucheng_fuwu').offset().top - 500 ){
					spanIndex.fadeIn(500);
					for(var i=0; i<spanIndex.length; i++){
						spanIndex.eq(i).animate({'left': 130*i + 'px'}, 2000);
					}
				}
			})
			// 
			$('.daxue_tuijian .content .tjTitle span:last-child').css({'margin-right': '0'});
			$('.daxue_tuijian .content .box').eq(0).css({'display': 'block'});
			$('.daxue_tuijian .content .tjTitle span').on('click', function () {
				var index = $('.daxue_tuijian .content .tjTitle span').index($(this));
				$(this).addClass('active').siblings('span').removeClass('active');
				$('.daxue_tuijian .content .box').eq(index).stop().fadeIn().siblings('.box').css({'display': 'none'});
			})
			// 
			$('.daxue_tuijian .content .box div .b:nth-child(4n)').css({'margin-right': '0'});
			// 选项卡选项
			$('.daoshi_team .count>div.t a').eq(0).attr('class', 'active fl');
			$('.daoshi_team .count .b .bBox').eq(0).css({'display': 'block'});
			$('.daoshi_team .count>div.t a').on('click', function () {
				var index = $('.daoshi_team .count>div.t a').index($(this));
				$(this).attr('class', 'fl active').siblings('a').attr('class', 'fl');
				$('.daoshi_team .count .b .bBox').eq(index).css({'display': 'block'}).siblings('.bBox').css({'display': 'none'});
			})
			$('.rightb>div.fl').on('mouseenter', function () {
				$(this).children('.hidden').stop().fadeIn();
				$(this).children('.hiddenTitle').stop().fadeOut();
			})
			$('.rightb>div.fl').on('mouseleave', function () {
				$(this).children('.hidden').stop().fadeOut();
				$(this).children('.hiddenTitle').stop().fadeIn();
			})
			// 字数限制 第一个参数传入的为一个jquery对象， 第二个参数为要限制的字数
			function LimitNumber(txt,num) {
				var str = txt.text();
				if( str.length <= num ){
					return;
				}
				str = str.substr(0,num) + '...' ;
				txt.text(str);
			}
			var text = $('.qfr1');
			for(var i=0; i<text.length; i++){
				LimitNumber(text.eq(i),60);
			}
			$('.jingcai_anli .content .box:nth-child(3n)').css({'margin-right': '0'});
			// 背景提升项目的鼠标移入效果
			$('.bjts .box .content>div.fr>.box:nth-child(2n)').css({'margin-right': '0'});
			$('.bjts .box .content>div.fl').on('mouseenter', function () {
				$(this).children('.hidden_a').stop().fadeOut();
				$(this).children('.hidden_b').stop().fadeIn();
			})
			$('.bjts .box .content>div.fl').on('mouseleave', function () {
				$(this).children('.hidden_a').stop().fadeIn();
				$(this).children('.hidden_b').stop().fadeOut();
			})
			
			$('.bjts .box .content>div.fr>.box').on('mouseenter', function () {
				$(this).children('.hidden_a').stop().fadeOut();
				$(this).children('.hidden_b').stop().fadeIn();
			})
			$('.bjts .box .content>div.fr>.box').on('mouseleave', function () {
				$(this).children('.hidden_a').stop().fadeIn();
				$(this).children('.hidden_b').stop().fadeOut();
			})
			// 
			$('.shenghuof_butong .content .box>p:nth-child(2)').css({'margin-top': '28px'});
			// 
			window.onload = function() {
				//配置
				var config = {
					vx: 4,	//小球x轴速度,正为右，负为左
					vy: 4,	//小球y轴速度
					height: 2,	//小球高宽，其实为正方形，所以不宜太大
					width: 2,
					count: 200,		//点个数
					color: "228,228,228", 	//点颜色
					stroke: "228,228,228", 		//线条颜色
					dist: 30000, 	//点吸附距离
					e_dist: 20000, 	//鼠标吸附加速距离
					max_conn: 10 	//点到点最大连接数
				}
				//调用
				CanvasParticle(config);
			}
			//
			$(window).scroll(function () {
				if( $(window).scrollTop() + 700 >= $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'right'});	 
				}
				
				if( $(window).scrollTop() + 700 < $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'left'});	 
				}
			})
		</script>
		
		<!-- 本科表单 -->
		{include file="common/common_undergraduate"/}
		
	</body>
</html>
