{include file="common/common_head"/}
		<!-- 当前网页样式 -->
		<link rel="stylesheet" href="/static/home/css/page/community.css">
	</head>
	<body>
		<!-- 导航 -->
		{include file="common/common_navhead"/}
		<!-- banner -->
		<div class="banner">
			<div class="gWidth1170">
				<h1>美国社区大学  通向美国名校的捷径</h1>
				<h3>彬彬教育 让每一个学生都能牵手名校</h3>
				<a href="javascript:;" onclick="go()">立即获取专属申请方案</a>
			</div>
		</div>
		
		<!-- bannerNav -->
		<div class="bannerNav">
			<div class="gWidth1170">
				<span class="active">社区大学简介</span>
				<span>社区大学特色</span>
				<span>适合人群</span>
				<span>明星校友</span>
				<span>最新排名</span>
				<span>精彩案例</span>
				<span>费用解读</span>
				<span>申请条件流程</span>
				<span>导师团队</span>
				<span>背景提升</span>
				<span>彬彬优势</span>
			</div>
		</div>
		<div class="navHidden"></div>
		
		<!-- 美国社区大学简介 -->
		<div class="daxue_jianjie sq_index gWidth1170">
			<h3 class="title">美国社区大学简介</h3>
			<!-- content -->
			<div class="content clearfix">
				<img src="/static/home/img/page/shequ_daxue/sq1.jpg" class="fl" alt="美国社区大学简介" title="美国社区大学简介">
				<div class="fr">
					<p>美国社区大学（Community College）是美国本科教育类型的一种，两年制院校，为学生提供本科第一年和第二年的通识教育。课程设置分学术性和实用性，两年课程结束之后学校为学生提供副学士学位。学生通过社区大学完成两年的课程后，可转入美国综合性大学完成后两年的专业课程，最后拿到学士学位。借社区大学作为跳板，“逆袭”名校之路，被称为就读美国名校的最佳途径。</p>
					<a href="javascript:;" onclick="go()">马上申请社区大学&gt;&gt;</a>
				</div>
			</div>
		</div>
		
		<!-- 美国社区大学五大特色 -->
		<div class="tese sq_index">
			<div class="box gWidth1170">
				<!-- title -->
				<h3 class="title">美国社区大学五大特色</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="fl">
						<img src="/static/home/img/page/shequ_daxue/ts1.jpg" alt="进入美国名校的“桥梁”" title="进入美国名校的“桥梁”">
						<span class="hidden_a"><div><span class="shequImg3 icon1"></span><p>进入美国名校的“桥梁”</p></div></span>
						<div class="hidden_b">
							<div class="juzhong">
								<p>美国两年制社区大学和四年制大学实行“2+2”转学制度，大多数社区大学和四年制大学签有转学协议，从而确保社区大学的学分可以在四年制学位课程中得到承认。</p>
								<a href="javascript:;" onclick="go()">查看详情</a>
							</div>
						</div>
					</div>
					<div class="fr">
						<div class="box fl">
							<img src="/static/home/img/page/shequ_daxue/ts2.jpg" alt="学费低，资金担保低" title="学费低，资金担保低">
							<span class="hidden_a"><div><span class="shequImg3 icon2"></span><p>学费低，资金担保低</p></div></span>
							<div class="hidden_b">
								<div class="juzhong">
									<p>社区大学每年学费在5000美元左右，而美国公立大学学费每年一般在2万美元左右，私立大学每年学费在3.5万美元左右。</p>
									<a href="javascript:;" onclick="go()">查看详情</a>
								</div>
							</div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/shequ_daxue/ts3.jpg" alt="小班授课，教授专职教学" title="小班授课，教授专职教学">
							<span class="hidden_a"><div><span class="shequImg3 icon3"></span><p>小班授课，教授专职教学</p></div></span>
							<div class="hidden_b">
								<div class="juzhong">
									<p>社区大学提供小班教学，平均每班人数少于30人，并且所有教师专职教学，不会出现综合性大学研究生助教上课的情况。社区大学课程以通识教育教育为主，重点在于帮助每一位学生。</p>
									<a href="javascript:;" onclick="go()">查看详情</a>
								</div>
							</div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/shequ_daxue/ts4.jpg" alt="入学门槛低" title="入学门槛低">
							<span class="hidden_a"><div><span class="shequImg3 icon4"></span><p>入学门槛低</p></div></span>
							<div class="hidden_b">
								<div class="juzhong">
									<p>社区大学一般都提供专门的ESL语言培训，所以学生申请时不用提供托福和SAT成绩。学生入学后可进入ESL英语培训中心参加英语培训。</p>
									<a href="javascript:;" onclick="go()">查看详情</a>
								</div>
							</div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/shequ_daxue/ts5.jpg" alt="入学灵活，申请时间短" title="入学灵活，申请时间短">
							<span class="hidden_a"><div><span class="shequImg3 icon5"></span><p>入学灵活，申请时间短</p></div></span>
							<div class="hidden_b">
								<div class="juzhong">
									<p>入读社区大学专业课程，一般可9月份、1月份入学，如果需先参加ESL英语培训，则只要ESL有开课，就可以申请入学。和四年制大学需提前9－12个月申请不同，社区大学一般3－5个月就可以办理完申请、签证和入学的全部手续，为广大学生和家长节省了大量宝贵时间。</p>
									<a href="javascript:;" onclick="go()">查看详情</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="javascript:;" onclick="go()">我要申请美国社区大学</a>
			</div>
		</div>
		
		<!-- 美国社区大学适合人群 -->
		<div class="heshi_renqun sq_index gWidth1170">
			<h3 class="title">美国社区大学适合人群</h3>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<span class="shequImg rq1"></span>
					<!-- <img src="/static/home/img/page/shequ_daxue/rq1.png" alt=""> -->
					<p>9-11年级在读学生</p>
				</div>
				<div class="box fl">
					<span class="shequImg rq2"></span>
					<!-- <img src="/static/home/img/page/shequ_daxue/rq2.png" alt=""> -->
					<p>工薪阶层家庭并有留学想法的学生</p>
				</div>
				<div class="box fl">
					<span class="shequImg rq3"></span>
					<!-- <img src="/static/home/img/page/shequ_daxue/rq3.png" alt=""> -->
					<p>喜欢小班制授课的学生</p>
				</div>
				<div class="box fl">
					<span class="shequImg rq4"></span>
					<!-- <img src="/static/home/img/page/shequ_daxue/rq4.png" alt=""> -->
					<p>高考成绩不理想但有梦想的学生</p>
				</div>
				<div class="box fl">
					<span class="shequImg rq5"></span>
					<!-- <img src="/static/home/img/page/shequ_daxue/rq5.png" alt=""> -->
					<p>已就读国内大学但有出国想法的学生</p>
				</div>
			</div>
			<a href="javascript:;" onclick="go()">点击匹配美国社区大学</a>
		</div>
		
		<!-- 美国社区大学名人堂 -->
		<div class="mingrenTang sq_index gWidth1170">
			<h3 class="title">美国社区大学名人堂</h3>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="/static/home/img/page/shequ_daxue/mrt1.jpg" alt="Walt Disney" title="Walt Disney">
						<h4>Walt Disney</h4>
						<p>迪士尼公司创始人</p>
					</div>
					<div class="swiper-slide">
						<img src="/static/home/img/page/shequ_daxue/mrt2.jpg" alt="Steve Jobs" title="Steve Jobs">
						<h4>Steve Jobs</h4>
						<p>苹果公司创始人</p>
					</div>
					<div class="swiper-slide">
						<img src="/static/home/img/page/shequ_daxue/mrt3.jpg" alt="Richard Carmona" title="Richard Carmona">
						<h4>Richard Carmona</h4>
						<p>前美国卫生部长</p>
					</div>
					<div class="swiper-slide">
						<img src="/static/home/img/page/shequ_daxue/mrt4.jpg" alt="Clinton Eastwood" title="Clinton Eastwood">
						<h4>Clinton Eastwood</h4>
						<p>美国著名电影演员、导演、制片人</p>
					</div>
					<div class="swiper-slide">
						<img src="/static/home/img/page/shequ_daxue/mrt5.jpg" alt="Arnold Schwarzenegger" title="Arnold Schwarzenegger">
						<h4>Arnold Schwarzenegger</h4>
						<p>国际巨星 息影后成为美国加州州长</p>
					</div>
					<div class="swiper-slide">
						<img src="/static/home/img/page/shequ_daxue/mrt6.jpg" alt="Eileen Marie Collins" title="Eileen Marie Collins">
						<h4>Eileen Marie Collins</h4>
						<p>史上第一位女性航天飞机指挥官</p>
					</div>
					<div class="swiper-slide">
						<img src="/static/home/img/page/shequ_daxue/mrt7.jpg" alt="George Lucas" title="George Lucas">
						<h4>George Lucas</h4>
						<p>《星球大战》电影系列制片人兼导演</p>
					</div>
				</div>
			</div>
			<div class="btnleft btn"><img src="/static/home/img/page/shequ_daxue/zuo.png" alt=""></div>
			<div class="btnright btn"><img src="/static/home/img/page/shequ_daxue/you.png" alt=""></div>
			<a href="javascript:;" onclick="go()">查看更多明星校友</a>
		</div>
		
		<!-- 美国社区大学TOP 10排名榜 -->
		<div class="topTen sq_index">
			<div class="gWidth1170">
				<h3 class="title">美国社区大学TOP 10排名榜</h3>
				<div class="content">
					<table>
						<tr><th>排名</th><th>学校名称</th><th>学校英文名称</th><th>可转入大学</th><th>我要申请</th></tr>
						<tr><td>1</td><td>圣马特奥社区学院</td><td>College of San Mateo</td><td>美国加州大学</td><td><a onclick="go()">马上申请</a></td></tr>
						<tr><td>2</td><td>圣莫尼卡学院</td><td>Santa Monica College</td><td>加利福尼亚大学<br />加州州立大学</td><td><a onclick="go()">马上申请</a></td></tr>
						<tr><td>3</td><td>岱伯洛谷学院</td><td>Diablo Valley College</td><td>美国加州大学</td><td><a onclick="go()">马上申请</a></td></tr>
						<tr><td>4</td><td>美国山麓-迪安萨社区学院</td><td>Foothill-De Anza Community College</td><td>美国加州大学<br />斯坦福大学</td><td><a onclick="go()">马上申请</a></td></tr>
						<tr><td>5</td><td>圣芭芭拉城市学院</td><td>Santa Barbara City College</td><td>美国加州大学<br />耶鲁大学</td><td><a onclick="go()">马上申请</a></td></tr>
						<tr><td>6</td><td>肯尼亚达学院</td><td>Canada College</td><td>美国加州大学</td><td><a onclick="go()">马上申请</a></td></tr>
						<tr><td>7</td><td>尔湾社区学院</td><td>Irvine Valley College</td><td>美国加州大学</td><td><a onclick="go()">马上申请</a></td></tr>
						<tr><td>8</td><td>奥洛尼学院</td><td>Ohlone College</td><td>加州州立大学</td><td><a onclick="go()">马上申请</a></td></tr>
						<tr><td>9</td><td>帕洛玛学院</td><td>Palomar College</td><td>美国加州大学</td><td><a onclick="go()">马上申请</a></td></tr>
						<tr><td>10</td><td>米拉科斯达学院</td><td>Mira Costa College</td><td>圣地亚哥大学<br />圣地亚哥州立大学</td><td><a onclick="go()">马上申请</a></td></tr>
					</table>
				</div>
				<a href="javascript:;" onclick="go()">马上申请，离名校更近一步</a>
			</div>
		</div>
		
		<!-- 从美国社区大学升入名校精彩案例 -->
		<div class="anli sq_index gWidth1170">
			<h3 class="title">从美国社区大学升入名校精彩案例</h3>
			<div class="swiper-container2">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<h3>游戏王逆袭山麓及迪安萨社区大学</h3>
						<div>
							<p><b>姓名：</b>Y同学</p>
							<p><b>录取院校：</b>山麓及迪安萨社区大学</p>
							<p><b>升入院校：</b>加州大学伯克利分校</p>
						</div>
						<h4>案例解析：</h4>
						<p>郑同学非常爱玩游戏，学习成绩不是很如意。跟着兴趣走最后成功进入山麓及迪安萨社区大学，并且两年后顺利进入加利福尼亚大学伯克利分校。</p>
						<div class="anniu">
							<a href="javascript:;" onclick="go()">向TA咨询</a>
							<a href="/studentstory/765.html" target="_blank" class="a1">查看详情</a>
						</div>
					</div>
					<div class="swiper-slide">
						<h3>远离高考压力 选择美国留学</h3>
						<div>
							<p><b>姓名：</b>李同学</p>
							<p><b>录取院校：</b>海蓝恩社区学院</p>
							<p><b>升入院校：</b>东华盛顿大学</p>
						</div>
						<h4>案例解析：</h4>
						<p>在二零一七年六月份莘莘学子挤在高考独木桥上的时候，李同学远离高考的压力，计划远赴美国，开辟自己的新天地。先获得海蓝恩社区学院的录取通知书，入校后参加了HCC与东华盛顿大学合作开设的“2+2+1MBA”课程。</p>
						<div class="anniu">
							<a href="javascript:;" onclick="go()">向TA咨询</a>
							<a href="/studentstory/767.html" target="_blank" class="a1">查看详情</a>
						</div>
					</div>
					<div class="swiper-slide">
						<h3>孝顺的孩子运气不会差 奥林匹克学院也成就了他的梦想</h3>
						<div>
							<p><b>姓名：</b>杨同学</p>
							<p><b>录取院校：</b>奥林匹克学院</p>
							<p><b>升入院校：</b>旧金山州立大学</p>
						</div>
						<h4>案例解析：</h4>
						<p>在追寻梦想与满足父母的期待之间做选择，杨同学选择先满足父母的愿望，然后再去追寻自己的梦想，最后他不仅满足了父母的期待也顺利实现了自己的梦想。</p>
						<div class="anniu">
							<a href="javascript:;" onclick="go()">向TA咨询</a>
							<a href="/studentstory/764.html" target="_blank" class="a1">查看详情</a>
						</div>
					</div>
					<!-- <div class="swiper-slide">
						<h3 style="padding-bottom: 20px;">弃学一年 重新踏上学子路 成功升入纽约州立大学</h3>
						<div>
							<p><b>姓名：</b>史同学</p>
							<p><b>录取院校：</b>美国檀香山社区大学</p>
							<p><b>升入院校：</b>纽约州立大学</p>
						</div>
						<h4>案例解析：</h4>
						<p>高中毕业之后，进入社会工作了一年，也是坎坎坷坷四处碰壁，这才认识到知识和学历的重要性。史同学决定重新踏上求学的征程，开启自己崭新的人生。皇天不负有心人，史同学不仅申请到美国檀香山社区大学，最后成功进入到纽约州立大学。</p>
						<div class="anniu">
							<a href="javascript:;" onclick="go()">向TA咨询</a>
							<a href="/studentstory/763.html" target="_blank" class="a1">查看详情</a>
						</div>
					</div>
					<div class="swiper-slide">
						<h3>迂回前进 成功进入斯坦福大学</h3>
						<div>
							<p><b>姓名：</b>唐同学</p>
							<p><b>录取院校：</b>山麓及迪安萨社区大学</p>
							<p><b>升入院校：</b>斯坦福大学</p>
						</div>
						<h4>案例解析：</h4>
						<p>要想进入理想的大学，战略上要统筹，战术上也要懂得迂回。在唐同学与彬彬老师的良好配合下，成功进入斯坦福大学。</p>
						<div class="anniu">
							<a href="javascript:;" onclick="go()">向TA咨询</a>
							<a href="/studentstory/766.html" target="_blank" class="a1">查看详情</a>
						</div>
					</div>
					<div class="swiper-slide">
						<h3>解决签证问题 牵手埃尔金社区学院</h3>
						<div>
							<p><b>姓名：</b>张同学</p>
							<p><b>录取院校：</b>埃尔金社区学院</p>
							<p><b>上次拒签时间：</b>2016年8月</p>
							<p><b>获签时间：</b>2017年1月</p>
						</div>
						<h4>案例解析：</h4>
						<p>张同学在办理签证的时候由于心理紧张再加上本身英语就不是很流畅，导致第一次拒签。在彬彬签证顾问老师的指导下，张同学不仅签证成功还申请到埃尔金社区学院，更发掘了自身的潜力。</p>
						<div class="anniu">
							<a href="javascript:;" onclick="go()">向TA咨询</a>
							<a href="/studentstory/761.html" target="_blank" class="a1">查看详情</a>
						</div>
					</div> -->
				</div>
			</div>
			<div class="btnleft1 btn"><img src="/static/home/img/page/shequ_daxue/zuo.png" alt=""></div>
			<div class="btnright1 btn"><img src="/static/home/img/page/shequ_daxue/you.png" alt=""></div>
			<a href="javascript:;" onclick="go()">点击查看更多案例</a>
		</div>
		
		<!-- 美国社区大学&美国综合性大学留学费用大PK -->
		<div class="pk sq_index">
			<div class="gWidth1170">
				<h3 class="title">美国社区大学&amp;美国综合性大学留学费用大PK</h3>
				<div class="content clearfix">
					<div class="box fl">
						<h3>美国社区大学学费</h3>
						<p>社区大学约$5,000~$8,000/年*2年</p>
						<p><b>+</b></p>
						<p>综合大学约$25,000/年*2年，</p>
						<p><b>四年后毕业共约$60,000~$66,000</b></p>
						<a href="javascript:;" onclick="go()">美国本科留学费用全解析</a>
					</div>
					<div class="box fl" style="line-height: 30px;">
						<h3>美国综合性大学学费</h3>
						<p>约$25,000/年*4年，</p>
						<p><b>四年毕业后共约$100,000</b></p>
						<a href="javascript:;" onclick="go()">了解更多留学相关费用</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 美国社区大学申请条件 -->
		<div class="tiaojian sq_index gWidth1170">
			<h3 class="title">美国社区大学申请条件</h3>
			<div class="content clearfix">
				<div class="box fl">
					<span class="shequImg2 tj1"></span>
					<!-- <img src="/static/home/img/page/shequ_daxue/tj1.png" alt=""> -->
					<span></span>
					<p>年满14周岁<br />或高中、中专院校在读</p>
				</div>
				<div class="box fl">
					<span class="shequImg2 tj2"></span>
					<!-- <img src="/static/home/img/page/shequ_daxue/tj2.png" alt=""> -->
					<span></span>
					<p>有无高中或<br />中专毕业证书均可</p>
				</div>
				<div class="box fl">
					<span class="shequImg2 tj3"></span>
					<!-- <img src="/static/home/img/page/shequ_daxue/tj3.png" alt=""> -->
					<span></span>
					<p>高一（及以上）<br />至少一个学期成绩单</p>
				</div>
				<div class="box fl">
					<span class="shequImg2 tj4"></span>
					<!-- <img src="/static/home/img/page/shequ_daxue/tj4.png" alt=""> -->
					<span></span>
					<p>无需SAT<br />有无英语成绩均可</p>
				</div>
			</div>
			<a href="javascript:;" onclick="go()">快速匹配社区大学</a>
		</div>
		
		<!-- 美国社区大学申请流程 -->
		<div class="liucheng gWidth1170">
			<h3 class="title">美国社区大学申请流程</h3>
			<div class="content clearfix">
				<div class="box fl">
					<div class="o">
						<h3>01</h3>
						<p>选择社区院校</p>
					</div>
					<div class="hidden"><p>彬彬留学顾问根据学生自身条件进行准确定位，选择合适的学校</p></div>
				</div>
				<div class="box box2 fl">
					<div class="o">
						<h3>02</h3>
						<p>准备申请材料</p>
					</div>
					<div class="hidden"><p>高中/初中/中专/技校的成绩单、简历、学历证明或者在读证明等材料的提交</p></div>
				</div>
				<div class="box box3 fl">
					<div class="o">
						<h3>03</h3>
						<p>面试</p>
					</div>
					<div class="hidden"><p>由彬彬留学顾问老师辅导做好面试准备</p></div>
				</div>
				<div class="box box4 fl">
					<div class="o">
						<h3>04</h3>
						<p>申请签证</p>
					</div>
					<div class="hidden"><p>面试通过后，携带相关证明办理签证</p></div>
				</div>
				<div class="box box5 fl">
					<div class="o">
						<h3>05</h3>
						<p>行前准备</p>
					</div>
					<div class="hidden"><p>机票，衣物、学习用品、药品等各种物品及心理的准备</p></div>
				</div>
			</div>
			<a href="javascript:;" onclick="go()">申请名校快人一步</a>
		</div>
		
		<!-- 强大的国内外导师团队 -->
		<div class="daoshi_team sq_index">
			{include file="common/common_daoshi"/}
		</div>
		
		<!-- 选择正确的背景提升 距离名校更近一步 -->
		<div class="bjts sq_index">
			<div class="box gWidth1170">
				<!-- title -->
				<h3 class="title">选择正确的背景提升 距离名校更近一步</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="fl">
						<img src="/static/home/img/page/wenli_xueyuan/bjts1.jpg" alt="麻省理工学院量子光学物理、通讯物理项目" title="麻省理工学院量子光学物理、通讯物理项目">
						<span class="hidden_a"><p>麻省理工学院<br />量子光学物理、通讯物理项目</p></span>
						<div class="hidden_b">
							<div class="juzhong">
								<h3>麻省理工学院<br />量子光学物理、通讯物理项目</h3>
								<p><b>面向对象：</b>对物理、量子光学物理、通讯物理感兴趣的学生<br /><b>科研时间：</b>寒假，暑假，每期时间长度为4周；具体情况根据学生面试情况由美方进行调整</p>
								<a href="/mxky/275.html" target="_blank">查看详情</a>
							</div>
						</div>
					</div>
					<div class="fr">
						<div class="box fl">
							<img src="/static/home/img/page/wenli_xueyuan/bjts2.jpg" alt="哈佛-麻省理工数学锦标赛(HMMT)" title="哈佛-麻省理工数学锦标赛(HMMT)">
							<span class="hidden_a"><p>哈佛-麻省理工<br />数学锦标赛(HMMT)</p></span>
							<div class="hidden_b">
								<div class="juzhong">
									<h3>哈佛-麻省理工数学锦标赛(HMMT)</h3>
									<p><b>面向对象：</b>世界各地优秀高中生，团队报名，每个团队6至8名同学<br /><b>科研时间：</b>11月，2月</p>
									<a href="/xsjs/327.html" target="_blank">查看详情</a>
								</div>
							</div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/wenli_xueyuan/bjts3.jpg" alt="斯坦福国际精英大学先修项目" title="斯坦福国际精英大学先修项目">
							<span class="hidden_a"><p>斯坦福国际精英大学先修项目</p></span>
							<div class="hidden_b">
								<div class="juzhong">
									<h3>斯坦福国际精英大学先修项目</h3>
									<p><b>面向对象：</b>中国高中生<br /><b>科研时间：</b>2019年8月6日 - 8月18日（13天）</p>
									<a href="/xxsy/331.html" target="_blank">查看详情</a>
								</div>
							</div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/wenli_xueyuan/bjts4.jpg" alt="蓝色光标传播集团实习项目" title="蓝色光标传播集团实习项目">
							<span class="hidden_a"><p>蓝色光标传播集团实习项目</p></span>
							<div class="hidden_b">
								<div class="juzhong">
									<h3>蓝色光标传播集团实习项目</h3>
									<p><b>面向对象：</b>申请海外数据分析、统计、商业分析等相关研究生专业的学生<br /><b>科研时间：</b>全年接受报名，实习时间1个月以上</p>
									<a href="/mqsx/294.html" target="_blank">查看详情</a>
								</div>
							</div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/wenli_xueyuan/bjts5.jpg" alt="奥地利文化沉浸项目" title="奥地利文化沉浸项目">
							<span class="hidden_a"><p>奥地利文化沉浸项目</p></span>
							<div class="hidden_b">
								<div class="juzhong">
									<h3>奥地利文化沉浸项目</h3>
									<p><b>面向对象：</b>年满18周岁<br /><b>科研时间：</b>每年7、8月</p>
									<a href="/gjyg/318.html" target="_blank">查看详情</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="anniu">
					<a href="/page/polymerization.html" target="_blank">了解更多背景提升项目</a>
					<a href="javascript:;" onclick="go()" class="a1">点击匹配背景提升活动</a>
				</div>
			</div>
		</div>
		
		<!-- 彬彬教育致力让每一个学生牵手世界名校 -->
		<div id="mydiv" class="sq_index" style="height: 695px;">
			<div class="box gWidth1170 clearfix">
				<!-- title -->
				<h3 class="title">彬彬教育致力让每一个学生牵手世界名校</h3>
				<!-- content -->
				<div class="content gWidth1170">
					<div class="fl">
						<ul>
							<li class="li1">
								<h3>6位1体</h3>
								<p>业内首创“6位1体”服务模式<br />服务客户满意度高达100%</p>
							</li>
							<li class="li2">
								<h3>广资源</h3>
								<p>1000+校园独家代理；实地考察 真实可靠</p>
							</li>
							<li class="li3">
								<h3>多重认证</h3>
								<p>留学行业质量认证标准机构；国内十佳品牌诚信<br />留学机构；CSIET评审认证留学机构</p>
							</li>
						</ul>
					</div>
					<div class="dq">
						<div>
						</div>
					</div>
					<div class="fr">
						<ul>
							<li class="li1 clearfix">
								<h3>全覆盖</h3>
								<p class="fr">600+海外同专业导师覆盖全美TOP100名校<br />让学生提前了解校园生活并提供全程对应辅导</p>
							</li>
							<li class="li2 clearfix">
								<h3>大数据</h3>
								<p class="fr" style="width: 330px;">120000+超大申请数据库；科学手段狂揽offer</p>
							</li>
							<li class="li3 clearfix">
								<h3>两个“1”</h3>
								<p class="fr">国内独1拥有海外监管服务中心留学机构<br />国内独1拥有海外院校开发资质的留学机构</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		{include file="common/common_bottom"/}
		<script type="text/javascript">
			var t = document.documentElement.scrollTop || document.body.scrollTop;
			var scroll = true;
			if(t>=100){
				$('.abcBannav').css({'display': 'none'});
				$('.topNav').css({'position': 'static'});
			}
			// 
			var nav = $('.bannerNav').offset().top;
			$gkLength = $('.sq_index').length;
			window.onscroll = function () {
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if(top>=nav){
					$('.bannerNav').css({'position': 'fixed', 'top': '0', 'z-index': '9999'});
					$('.navHidden').css({'display': 'block'});
				}else if(top<=$('.sq_index').eq(0).offset().top){
					$('.bannerNav').css({'position': 'static', 'top':''});
					$('.navHidden').css({'display': 'none'});
				}
				for( var i=0; i<$gkLength; i++ ){
					if( i == $gkLength - 1 ){
						if( top>=$('.sq_index').eq(i).offset().top ){
							$('.bannerNav span').removeClass('active');
							$('.bannerNav span').eq(i).addClass('active');
						}
						return;
					}
					if( top>=$('.sq_index').eq(i).offset().top && top<$('.sq_index').eq(i+1).offset().top ){
						$('.bannerNav span').removeClass('active');
						$('.bannerNav span').eq(i).addClass('active');
					}
				}
				
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if( !scroll ){
					return;
				}
				if( top >= 100 ){
					if( $('.topNav').css('position') == 'relative' ){
						$('.topNav').css({'position': 'static'});
					}
				}else if(top == 0) {
					$('.topNav').css({'position': 'relative'});
				}
			}
			$('.bannerNav span').on('click', function () {
				var index = $('.bannerNav span').index($(this));
				var offsetTop = $('.sq_index').eq(index).offset().top;
				$('body, html').stop().animate({scrollTop: offsetTop + 0}, 1500);
			})
			$('.tese .box .content>div.fr>.box:nth-child(2n)').css({'margin-right': '0'});
			$('.tese .box .content>div.fl').on('mouseenter', function () {
				$(this).children('.hidden_a').stop().fadeOut();
				$(this).children('.hidden_b').stop().fadeIn();
			})
			$('.tese .box .content>div.fl').on('mouseleave', function () {
				$(this).children('.hidden_a').stop().fadeIn();
				$(this).children('.hidden_b').stop().fadeOut();
			})
			
			$('.tese .box .content>div.fr>.box').hover(function () {
				$(this).children('.hidden_a').stop().fadeOut();
				$(this).children('.hidden_b').stop().fadeIn();
			}, function () {
				$(this).children('.hidden_a').stop().fadeIn();
				$(this).children('.hidden_b').stop().fadeOut();
			})
			// 
			$('.heshi_renqun .content .box:last-child').css({'margin-right': '0'});
			// swiper
			var mySwiper = new Swiper('.swiper-container',{
				slidesPerView : 4,
				offsetPxBefore : 2,
			})
			$('.mingrenTang .swiper-slide').removeAttr("style");
			$('.mingrenTang .swiper-slide:last-child').css({'margin-right': '0'});
			$('.btnleft').click(function() {
				mySwiper.swipePrev();
			});
			$('.btnright').click(function() {
				mySwiper.swipeNext();
			});
			var mySwiper2 = new Swiper('.swiper-container2',{
				slidesPerView : 3,
				loop: true ,
			})
			$('.btnleft1').click(function() {
				mySwiper2.swipePrev();
			});
			$('.btnright1').click(function() {
				mySwiper2.swipeNext();
			});
			$('.anli .swiper-container2 .swiper-slide:last-child').css({'margin-right': '0'});
			// 
			$('.pk .content .box:last-child').css({'margin-right': '0'});
			// 
			$('.tiaojian .content .box:last-child').css({'margin-right': '0'});
			// 
			$('.liucheng .content .box:last-child').css({'margin-right': '0'});
			$(".liucheng .content .box").on("mouseenter mouseleave", function(e) {
				var w = $(this).width();
				var h = $(this).height();
				var x = (e.pageX - this.offsetLeft - (w / 2)) * (w > h ? (h / w) : 1);
				var y = (e.pageY - this.offsetTop - (h / 2)) * (h > w ? (w / h) : 1);
				var direction = Math.round((((Math.atan2(y, x) * (180 / Math.PI)) + 180) / 90) + 3) % 4;
				var eventType = e.type;
				var dirName = new Array('上方','右侧','下方','左侧');
				var that = $(this);
				var index = $('.liucheng .content .box').index($(this));
				if(e.type == 'mouseenter'){
					that.children('.hidden').css({'display': 'block'});
					if( direction == 0 ){
						that.children('.hidden').css({'top': -h + 'px', 'left': '0'});
						that.children('.hidden').stop().animate({'top': '0'});
						$('.liucheng .content .box>.o').eq(index).stop().animate({'top': h + 'px'});
					}else if( direction == 1 ) {
						that.children('.hidden').css({'top': '0', 'left': w + 'px'});
						that.children('.hidden').stop().animate({'left': '0'});
						$('.liucheng .content .box>.o').eq(index).stop().animate({'left': -w + 'px'});
					}else if( direction == 2 ) {
						that.children('.hidden').css({'top': h + 'px', 'left': '0'});
						that.children('.hidden').stop().animate({'top': '0'});
						$('.liucheng .content .box>.o').eq(index).stop().animate({'top': -h + 'px'});
					}else if( direction == 3 ) {
						that.children('.hidden').css({'top': '0', 'left': -w + 'px'});
						that.children('.hidden').stop().animate({'left': '0'});
						$('.liucheng .content .box>.o').eq(index).stop().animate({'left': w + 'px'});
					}
				}else{
					if( direction == 0 ){
						that.children('.hidden').stop().animate({'top': -h + 'px'});
						$('.liucheng .content .box>.o').eq(index).css({'top': h + 'px', 'left': '0'});
						$('.liucheng .content .box>.o').eq(index).stop().animate({'top': 0});
					}else if( direction == 1 ) {
						that.children('.hidden').stop().animate({'left': w + 'px'});
						$('.liucheng .content .box>.o').eq(index).css({'top': 0, 'left': -w + 'px'});
						$('.liucheng .content .box>.o').eq(index).stop().animate({'left': 0});
					}else if( direction == 2 ) {
						that.children('.hidden').stop().animate({'top': h + 'px'});
						$('.liucheng .content .box>.o').eq(index).css({'top': -h + 'px', 'left': 0});
						$('.liucheng .content .box>.o').eq(index).stop().animate({'top': 0});
					}else if( direction == 3 ) {
						that.children('.hidden').stop().animate({'left': -w + 'px'});
						$('.liucheng .content .box>.o').eq(index).css({'top': 0, 'left': w + 'px'});
						$('.liucheng .content .box>.o').eq(index).stop().animate({'left': 0});
					}
				}
			});
			// 选项卡选项
			$('.daoshi_team .count>div.t a').eq(0).attr('class', 'active fl');
			$('.daoshi_team .count .b .bBox').eq(0).css({'display': 'block'});
			$('.daoshi_team .count>div.t a').on('click', function () {
				var index = $('.daoshi_team .count>div.t a').index($(this));
				$(this).attr('class', 'fl active').siblings('a').attr('class', 'fl');
				$('.daoshi_team .count .b .bBox').eq(index).css({'display': 'block'}).siblings('.bBox').css({'display': 'none'});
			})
			$('.rightb>div.fl').on('mouseenter', function () {
				$(this).children('.hidden').stop().fadeIn();
				$(this).children('.hiddenTitle').stop().fadeOut();
			})
			$('.rightb>div.fl').on('mouseleave', function () {
				$(this).children('.hidden').stop().fadeOut();
				$(this).children('.hiddenTitle').stop().fadeIn();
			})
			// 背景提升项目的鼠标移入效果
			$('.bjts .box .content>div.fr>.box:nth-child(2n)').css({'margin-right': '0'});
			$('.bjts .box .content>div.fl').on('mouseenter', function () {
				$(this).children('.hidden_a').stop().fadeOut();
				$(this).children('.hidden_b').stop().fadeIn();
			})
			$('.bjts .box .content>div.fl').on('mouseleave', function () {
				$(this).children('.hidden_a').stop().fadeIn();
				$(this).children('.hidden_b').stop().fadeOut();
			})
			
			$('.bjts .box .content>div.fr>.box').on('mouseenter', function () {
				$(this).children('.hidden_a').stop().fadeOut();
				$(this).children('.hidden_b').stop().fadeIn();
			})
			$('.bjts .box .content>div.fr>.box').on('mouseleave', function () {
				$(this).children('.hidden_a').stop().fadeIn();
				$(this).children('.hidden_b').stop().fadeOut();
			})
			//
			$(window).scroll(function () {
				if( $(window).scrollTop() + 700 >= $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'right'});	 
				}
				
				if( $(window).scrollTop() + 700 < $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'left'});	 
				}
			})
		</script>
		
		<!-- 本科表单 -->
		{include file="common/common_undergraduate"/}
		
	</body>
</html>
