{include file="common/common_head"/}
		<!-- 当前网页样式 -->
		<link rel="stylesheet" href="/static/home/css/page/comprehensive.css">
	</head>
	<body>
		<!-- 导航 -->
		{include file="common/common_navhead"/}
		<!-- banner -->
		<div class="banner">
			<div class="gWidth1170">
				<h1>美国综合大学申请全指导</h1>
				<h3>未雨绸缪备申请  稳操胜券拿offer</h3>
				<a href="javascript:;" onclick="go()">马上申请</a>
			</div>
		</div>
		
		<!-- bannerNav -->
		<div class="bannerNav">
			<div class="gWidth1170">
				<span class="active">综合大学优势</span>
				<span>院校排名</span>
				<span>申请条件</span>
				<span>申请难点</span>
				<span>导师团队</span>
				<span>offer战绩</span>
				<span>背景提升</span>
				<span>时间规划</span>
				<span>留学费用</span>
				<span>彬彬优势</span>
			</div>
		</div>
		<div class="navHidden"></div>
		
		<!-- 美国综合大学优势 -->
		<div class="daxue_youshi zh_index gWidth1170">
			<h3 class="title">美国综合大学优势</h3>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<h3>重视学术研究</h3>
					<img src="/static/home/img/page/zonghe_daxue/xia.png" alt="">
					<div class="hidden">
						<p>教学设备先进，师资力量雄厚，高质量教学得到极高保证。此外，学生还可以接触到研究生院的教授，对学生未来的学习和就业都会产生很大的影响。</p>
						<a href="javascript:;" onclick="go()">了解最新科研项目</a>
					</div>
				</div>
				<div class="box box2 fl">
					<h3>专业更细化</h3>
					<img src="/static/home/img/page/zonghe_daxue/xia.png" alt="">
					<div class="hidden">
						<p>学校提供的学术专业涉及范围广泛，专业课，基础课和选修课种类多样，选择范围广泛，更有助于学生学到更深层次，更广领域的知识。</p>
						<a href="javascript:;" onclick="go()">如何选择适合的专业</a>
					</div>
				</div>
				<div class="box box3 fl">
					<h3>国际知名度比较高</h3>
					<img src="/static/home/img/page/zonghe_daxue/xia.png" alt="">
					<div class="hidden">
						<p>像哈佛，耶鲁，哥大等都是闻名于世的综合类大学，声誉特别高，社会接受度和接纳度都比较高，可以带给学生更多的实习经历和就业机会。</p>
						<a href="javascript:;" onclick="go()">马上申请美国名校</a>
					</div>
				</div>
				<div class="box box4 fl">
					<h3>校友圈强大</h3>
					<img src="/static/home/img/page/zonghe_daxue/xia.png" alt="">
					<div class="hidden">
						<p>美国综合类大学在校学生人数比较多，尤其是公立大学，人数基本保持在几万，学生可以大力发展校友关系，为自己未来的就业发展打下良好的人际基础。</p>
						<a href="javascript:;" onclick="go()">如何增加校友关系</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 美国综合大学排名TOP100 -->
		<div class="top100 zh_index">
			<div class="gWidth1170">
				<h3 class="title">美国综合大学排名TOP100</h3>
				<p>2019 US NEWS美国大学排名 选校参考神器</p>
				<!-- content -->
				<div class="content clearfix">
					<div class="ctop clearfix">
						<div class="box fl">
							<img src="/static/home/img/page/zonghe_daxue/school1.png" alt="普林斯顿大学" title="普林斯顿大学">
							<h3>TOP1</h3>
							<p>普林斯顿大学</p>
							<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/zonghe_daxue/school2.png" alt="哈佛大学" title="哈佛大学">
							<h3>TOP2</h3>
							<p>哈佛大学</p>
							<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/zonghe_daxue/school3.png" alt="哥伦比亚大学" title="哥伦比亚大学">
							<h3>TOP3</h3>
							<p>哥伦比亚大学</p>
							<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/zonghe_daxue/school4.png" alt="麻省理工学院" title="麻省理工学院">
							<h3>TOP3</h3>
							<p>麻省理工学院</p>
							<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/zonghe_daxue/school5.png" alt="芝加哥大学" title="芝加哥大学">
							<h3>TOP3</h3>
							<p>芝加哥大学</p>
							<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
						</div>
					</div>
					<div class="cbottom clearfix">
						<div class="cxx">
							<span class="active">TOP1-20</span>
							<span>TOP21-40</span>
							<span>TOP41-60</span>
							<span>TOP61-80</span>
							<span>TOP81-100</span>
						</div>
						<div class="table">
							<table>
								<thead>
									<tr><th>排名</th><th>学校名称</th><th>学校英文名称</th><th>学费/年</th><th>录取率</th><th>所在城市</th><th>SAT/ACT分数要求</th></tr>
								</thead>
								<tr>
									<td>3</td>
									<td>耶鲁大学</td>
									<td>Yale University</td>
									<td>$53,430</td>
									<td>7%</td>
									<td>New Haven, CT</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>7</td>
									<td>斯坦福大学</td>
									<td>Stanford University</td>
									<td>$51,354</td>
									<td>5%</td>
									<td>Stanford, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>8</td>
									<td>杜克大学</td>
									<td>Duke University</td>
									<td>$55,960</td>
									<td>10%</td>
									<td>Durham, NC</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>8</td>
									<td>宾夕法尼亚大学</td>
									<td>University of Pennsylvania</td>
									<td>$55,584</td>
									<td>9%</td>
									<td>Philadelphia, PA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>10</td>
									<td>约翰霍普金斯大学</td>
									<td>Johns Hopkins University</td>
									<td>$53,740</td>
									<td>12%</td>
									<td>Baltimore, MD</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>10</td>
									<td>西北大学</td>
									<td>Northwestern University</td>
									<td>$54,567</td>
									<td>9%</td>
									<td>Evanston, IL</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>12</td>
									<td>加州理工学院</td>
									<td>California Institute of Technology</td>
									<td>$52,362</td>
									<td>8%</td>
									<td>Pasadena, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>12</td>
									<td>达特茅斯学院</td>
									<td>Dartmouth College</td>
									<td>$55,035</td>
									<td>10%</td>
									<td>Hanover, NH</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>14</td>
									<td>布朗大学</td>
									<td>Brown University</td>
									<td>$55,656</td>
									<td>9%</td>
									<td>Providence, RI</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>14</td>
									<td>范德堡大学</td>
									<td>Vanderbilt University</td>
									<td>$49,816</td>
									<td>11%</td>
									<td>Nashville, TN</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>16</td>
									<td>康奈尔大学</td>
									<td>Cornell University</td>
									<td>$55,188</td>
									<td>13%</td>
									<td>Ithaca, NY</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>16</td>
									<td>莱斯大学</td>
									<td>Rice University</td>
									<td>$47,350</td>
									<td>16%</td>
									<td>Houston, TX</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>18</td>
									<td>圣母大学</td>
									<td>University of Notre Dame</td>
									<td>$53,391</td>
									<td>19%</td>
									<td>Notre Dame, IN</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>19</td>
									<td>加州大学洛杉矶分校</td>
									<td>University of California, Los Angeles</td>
									<td>$41,294</td>
									<td>16%</td>
									<td>Los Angeles, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>19</td>
									<td>圣路易斯华盛顿大学</td>
									<td>Washington University in St. Louis</td>
									<td>$53,399</td>
									<td>16%</td>
									<td>St. Louis, MO</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
							</table>
						</div>
						<div class="table">
							<table>
								<thead>
									<tr><th>排名</th><th>学校名称</th><th>学校英文名称</th><th>学费/年</th><th>录取率</th><th>所在城市</th><th>SAT/ACT分数要求</th></tr>
								</thead>
								<tr>
									<td>21</td>
									<td>艾茉莉大学</td>
									<td>Emory University</td>
									<td>$51,306</td>
									<td>22%</td>
									<td>Atlanta, GA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>22</td>
									<td>乔治敦大学</td>
									<td>Georgetown University</td>
									<td>$54,104</td>
									<td>16%</td>
									<td>Washington, DC</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>22</td>
									<td>加州大学伯克利分校</td>
									<td>University of California, Berkeley</td>
									<td>$43,232</td>
									<td>17%</td>
									<td>Berkeley, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>22</td>
									<td>南加州大学</td>
									<td>University of Southern California</td>
									<td>$56,225</td>
									<td>16%</td>
									<td>Los Angeles, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>25</td>
									<td>卡耐基梅隆大学</td>
									<td>Carnegie Mellon University</td>
									<td>$55,465</td>
									<td>22%</td>
									<td>Pittsburgh, PA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>25</td>
									<td>弗吉尼亚大学</td>
									<td>University of Virginia</td>
									<td>$48,891</td>
									<td>27%</td>
									<td>Charlottesville, VA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>27</td>
									<td>塔夫斯大学</td>
									<td>Tufts University</td>
									<td>$56,382</td>
									<td>15%</td>
									<td>Medford, MA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>27</td>
									<td>密歇根大学安娜堡分校</td>
									<td>University of Michigan, Ann Arbor</td>
									<td>$49,350</td>
									<td>27%</td>
									<td>Ann Arbor, MI</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>27</td>
									<td>维克森林大学</td>
									<td>Wake Forest University</td>
									<td>$53,322</td>
									<td>28%</td>
									<td>Winston-Salem, NC</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>30</td>
									<td>纽约大学</td>
									<td>New York University</td>
									<td>$51,828</td>
									<td>28%</td>
									<td>New York, NY</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>30</td>
									<td>加州大学圣塔芭芭拉分校</td>
									<td>University of California, Santa Barbara</td>
									<td>$42,486</td>
									<td>33%</td>
									<td>Santa Barbara, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>30</td>
									<td>北卡罗来纳大学教堂山分校</td>
									<td>University of North Carolina, Chapel Hill</td>
									<td>$35,169</td>
									<td>24%</td>
									<td>Chapel Hill, NC</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>33</td>
									<td>加州大学尔湾分校</td>
									<td>University of California, Irvine</td>
									<td>$43,530</td>
									<td>37%</td>
									<td>Irvine, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>33</td>
									<td>罗切斯特大学</td>
									<td>University of Rochester</td>
									<td>$53,926</td>
									<td>34%</td>
									<td>Rochester, NY</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>35</td>
									<td>布兰迪斯大学</td>
									<td>Brandeis University</td>
									<td>$55,395</td>
									<td>34%</td>
									<td>Waltham, MA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>35</td>
									<td>佐治亚理工学院</td>
									<td>Georgia Institute of Technology</td>
									<td>$33,020</td>
									<td>23%</td>
									<td>Atlanta, GA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>35</td>
									<td>佛罗里达大学</td>
									<td>University of Florida</td>
									<td>$28,658</td>
									<td>42%</td>
									<td>Gainesville, FL</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>38</td>
									<td>波士顿学院</td>
									<td>Boston College</td>
									<td>$55,464</td>
									<td>32%</td>
									<td>Chestnut Hill, MA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>38</td>
									<td>威廉玛丽学院</td>
									<td>College of William and Mary</td>
									<td>$44,701</td>
									<td>36%</td>
									<td>Williamsburg, VA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>38</td>
									<td>加州大学戴维斯分校</td>
									<td>University of California, Davis</td>
									<td>$43,458</td>
									<td>44%</td>
									<td>Davis, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
							</table>
						</div>
						<div class="table">
							<table>
								<thead>
									<tr><th>排名</th><th>学校名称</th><th>学校英文名称</th><th>学费/年</th><th>录取率</th><th>所在城市</th><th>SAT/ACT分数要求</th></tr>
								</thead>
								<tr>
									<td>41</td>
									<td>加州大学圣地亚哥分校</td>
									<td>University of California, San Diego</td>
									<td>$42,074</td>
									<td>34%</td>
									<td>La Jolla, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>42</td>
									<td>波士顿大学</td>
									<td>Boston University</td>
									<td>$53,948</td>
									<td>25%</td>
									<td>Boston, MA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>42</td>
									<td>凯斯西储大学</td>
									<td>Case Western Reserve University</td>
									<td>$49,042</td>
									<td>33%</td>
									<td>Cleveland, OH</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>44</td>
									<td>东北大学</td>
									<td>Northeastern University</td>
									<td>$51,387</td>
									<td>27%</td>
									<td>Boston, MA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>44</td>
									<td>杜兰大学</td>
									<td>Tulane University</td>
									<td>$54,820</td>
									<td>21%</td>
									<td>New Orleans, LA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>46</td>
									<td>佩伯代因大学</td>
									<td>Pepperdine University</td>
									<td>$53,932</td>
									<td>40%</td>
									<td>Malibu, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>46</td>
									<td>佐治亚大学</td>
									<td>University of Georgia</td>
									<td>$30,404</td>
									<td>54%</td>
									<td>Athens, GA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>46</td>
									<td>伊利诺伊大学厄本那-香槟分校</td>
									<td>University of Illinois, Urbana-Champaign</td>
									<td>$32,568</td>
									<td>62%</td>
									<td>Champaign, IL</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>49</td>
									<td>伦斯勒理工学院</td>
									<td>Rensselaer Polytechnic Institute</td>
									<td>$53,880</td>
									<td>43%</td>
									<td>Troy, NY</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>49</td>
									<td>德克萨斯大学奥斯汀分校</td>
									<td>University of Texas, Austin</td>
									<td>$37,480</td>
									<td>36%</td>
									<td>Austin, TX</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>49</td>
									<td>威斯康辛大学麦迪逊分校</td>
									<td>University of Wisconsin, Madison</td>
									<td>$36,805</td>
									<td>54%</td>
									<td>Madison, WI</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>49</td>
									<td>维拉诺瓦大学</td>
									<td>Villanova University</td>
									<td>$53,458</td>
									<td>36%</td>
									<td>Villanova, PA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>53</td>
									<td>里海大学</td>
									<td>Lehigh University</td>
									<td>$52,930</td>
									<td>25%</td>
									<td>Bethlehem, PA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>53</td>
									<td>雪城大学</td>
									<td>Syracuse University</td>
									<td>$51,853</td>
									<td>47%</td>
									<td>Syracuse, NY</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>53</td>
									<td>迈阿密大学</td>
									<td>University of Miami</td>
									<td>$50,226</td>
									<td>36%</td>
									<td>Coral Gables, FL</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>56</td>
									<td>俄亥俄州立大学</td>
									<td>Ohio State University, Columbus</td>
									<td>$30,742</td>
									<td>48%</td>
									<td>Columbus, OH</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>56</td>
									<td>普渡大学西拉法叶分校</td>
									<td>Purdue University, West Lafayette</td>
									<td>$28,804</td>
									<td>57%</td>
									<td>West Lafayette, IN</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>56</td>
									<td>罗格斯大学</td>
									<td>Rutgers University, New Brunswick</td>
									<td>$31,282</td>
									<td>58%</td>
									<td>Piscataway, NJ</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>59</td>
									<td>宾州州立大学公园分校</td>
									<td>Pennsylvania State University, University Park</td>
									<td>$34,858</td>
									<td>50%</td>
									<td>University Park, PA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>59</td>
									<td>南卫理公会大学</td>
									<td>Southern Methodist University</td>
									<td>$54,493</td>
									<td>49%</td>
									<td>Dallas, TX</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>59</td>
									<td>华盛顿大学</td>
									<td>University of Washington</td>
									<td>$36,898</td>
									<td>46%</td>
									<td>Seattle, WA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>59</td>
									<td>伍斯特理工学院</td>
									<td>Worcester Polytechnic Institute</td>
									<td>$50,530</td>
									<td>48%</td>
									<td>Worcester, MA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
							</table>
						</div>
						<div class="table">
							<table>
								<thead>
									<tr><th>排名</th><th>学校名称</th><th>学校英文名称</th><th>学费/年</th><th>录取率</th><th>所在城市</th><th>SAT/ACT分数要求</th></tr>
								</thead>
								<tr>
									<td>63</td>
									<td>乔治华盛顿大学</td>
									<td>George Washington University</td>
									<td>$55,230</td>
									<td>41%</td>
									<td>Washington, DC</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>63</td>
									<td>康涅狄格大学</td>
									<td>University of Connecticut</td>
									<td>$38,098</td>
									<td>48%</td>
									<td>Storrs, CT</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>63</td>
									<td>马里兰大学学院公园分校</td>
									<td>University of Maryland, College Park</td>
									<td>$35,216</td>
									<td>44%</td>
									<td>College Park, MD</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>66</td>
									<td>杨百翰大学</td>
									<td>Brigham Young University, Provo</td>
									<td>$5,620</td>
									<td>52%</td>
									<td>Provo, UT</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>66</td>
									<td>克拉克大学</td>
									<td>Clark University</td>
									<td>$45,730</td>
									<td>56%</td>
									<td>Worcester, MA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>66</td>
									<td>克莱蒙森大学</td>
									<td>Clemson University</td>
									<td>$36,724</td>
									<td>47%</td>
									<td>Clemson, SC</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>66</td>
									<td>德州农工大学</td>
									<td>Texas A&M University, College Station</td>
									<td>$36,636</td>
									<td>70%</td>
									<td>College Station, TX</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>70</td>
									<td>佛罗里达州立大学</td>
									<td>Florida State University</td>
									<td>$21,673</td>
									<td>49%</td>
									<td>Tallahassee, FL</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>70</td>
									<td>福坦莫大学</td>
									<td>Fordham University</td>
									<td>$52,248</td>
									<td>46%</td>
									<td>New York, NY</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>70</td>
									<td>史蒂文斯理工学院</td>
									<td>Stevens Institute of Technology</td>
									<td>$52,202</td>
									<td>44%</td>
									<td>Hoboken, NJ</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>70</td>
									<td>加州大学圣克鲁兹分校</td>
									<td>University of California, Santa Cruz</td>
									<td>$41,963</td>
									<td>51%</td>
									<td>Santa Cruz, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>70</td>
									<td>马萨诸塞大学阿默斯特分校</td>
									<td>University of Massachusetts, Amherst</td>
									<td>$34,570</td>
									<td>57%</td>
									<td>Amherst, MA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>70</td>
									<td>匹兹堡大学</td>
									<td>University of Pittsburgh</td>
									<td>$32,052</td>
									<td>60%</td>
									<td>Pittsburgh, PA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>76</td>
									<td>明尼苏达大学双城分校</td>
									<td>University of Minnesota, Twin Cities</td>
									<td>$30,371</td>
									<td>50%</td>
									<td>Minneapolis, MN</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>76</td>
									<td>弗吉尼亚理工学院</td>
									<td>Virginia Tech</td>
									<td>$31,304</td>
									<td>70%</td>
									<td>Blacksburg, VA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>78</td>
									<td>美利坚大学</td>
									<td>American University</td>
									<td>$48,459</td>
									<td>29%</td>
									<td>Washington, DC</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>78</td>
									<td>贝勒大学</td>
									<td>Baylor University</td>
									<td>$45,542</td>
									<td>39%</td>
									<td>Waco, TX</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>80</td>
									<td>纽约州立大学宾汉姆顿分校</td>
									<td>Binghamton University, SUNY</td>
									<td>$24,488</td>
									<td>40%</td>
									<td>Binghamton, NY</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>80</td>
									<td>科罗拉多矿业学院</td>
									<td>Colorado School of Mines</td>
									<td>$38,584</td>
									<td>56%</td>
									<td>Golden, CO</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>80</td>
									<td>北卡罗来纳州立大学</td>
									<td>North Carolina State University, Raleigh</td>
									<td>$28,444</td>
									<td>51%</td>
									<td>Raleigh, NC</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>80</td>
									<td>纽约州立大学石溪分校</td>
									<td>Stony Brook University, SUNY</td>
									<td>$26,934</td>
									<td>42%</td>
									<td>Stony Brook, NY</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>80</td>
									<td>德克萨斯基督大学</td>
									<td>Texas Christian University</td>
									<td>$46,950</td>
									<td>41%</td>
									<td>Fort Worth, TX</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>80</td>
									<td>叶史瓦大学</td>
									<td>Yeshiva University</td>
									<td>$43,500</td>
									<td>63%</td>
									<td>New York, NY</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
							</table>
						</div>
						<div class="table">
							<table>
								<thead>
									<tr><th>排名</th><th>学校名称</th><th>学校英文名称</th><th>学费/年</th><th>录取率</th><th>所在城市</th><th>SAT/ACT分数要求</th></tr>
								</thead>
								<tr>
									<td>85</td>
									<td>密歇根州立大学</td>
									<td>Michigan State University</td>
									<td>$39,750</td>
									<td>72%</td>
									<td>East Lansing, MI</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>85</td>
									<td>加州大学河滨分校</td>
									<td>University of California, Riverside</td>
									<td>$42,879</td>
									<td>57%</td>
									<td>Riverside, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>85</td>
									<td>圣地亚哥大学</td>
									<td>University of San Diego</td>
									<td>$49,358</td>
									<td>50%</td>
									<td>San Diego, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>89</td>
									<td>霍华德大学</td>
									<td>Howard University</td>
									<td>$26,756</td>
									<td>41%</td>
									<td>Washington, DC</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>89</td>
									<td>印第安纳大学伯明顿分校</td>
									<td>Indiana University, Bloomington</td>
									<td>$35,456</td>
									<td>76%</td>
									<td>Bloomington, IN</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>89</td>
									<td>芝加哥洛约拉大学</td>
									<td>Loyola University Chicago</td>
									<td>$44,048</td>
									<td>71%</td>
									<td>Chicago, IL</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>89</td>
									<td>马凯特大学</td>
									<td>Marquette University</td>
									<td>$41,870</td>
									<td>89%</td>
									<td>Milwaukee, WI</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>89</td>
									<td>纽约州立大学水牛城分校</td>
									<td>University at Buffalo, SUNY</td>
									<td>$27,758</td>
									<td>57%</td>
									<td>Buffalo, NY</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>89</td>
									<td>特拉华大学</td>
									<td>University of Delaware</td>
									<td>$34,310</td>
									<td>60%</td>
									<td>Newark, DE</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>89</td>
									<td>爱荷华大学</td>
									<td>University of Iowa</td>
									<td>$30,609</td>
									<td>86%</td>
									<td>Iowa City, IA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>96</td>
									<td>伊利诺伊理工学院</td>
									<td>Illinois Institute of Technology</td>
									<td>$47,646</td>
									<td>54%</td>
									<td>Chicago, IL</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>96</td>
									<td>迈阿密大学（俄亥俄）</td>
									<td>Miami University, Oxford</td>
									<td>$33,577</td>
									<td>68%</td>
									<td>Oxford, OH</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>96</td>
									<td>科罗拉多大学博尔德分校</td>
									<td>University of Colorado, Boulder</td>
									<td>$37,288</td>
									<td>80%</td>
									<td>Boulder, CO</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>96</td>
									<td>丹佛大学</td>
									<td>University of Denver</td>
									<td>$50,556</td>
									<td>58%</td>
									<td>Denver, CO</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
								<tr>
									<td>96</td>
									<td>旧金山大学</td>
									<td>University of San Francisco</td>
									<td>$48,066</td>
									<td>66%</td>
									<td>San Francisco, CA</td>
									<td><a href="javascript:;" onclick="go()">点击查询</a></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="anniu">
						<a href="javascript:;" onclick="go()">联系彬彬获取一对一定制化留学申请方案</a>
						<a href="javascript:;" onclick="go()" class="a1">出国留学咨询热线：400-900-9770</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 美国综合大学申请条件 -->
		<div class="shenqing_tiaojian zh_index gWidth1170">
			<h3 class="title">美国综合大学申请条件</h3>
			<div class="content clearfix">
				<div class="box fl">
					<div class="img">
						<h3>标准化考试</h3>
						<p>托福(TOEFL)    雅思(IELTS)   SAT(SAT1 & SAT2)  ACT   AP   IB</p>
						<a href="javascript:;" onclick="go()">了解梦校成绩要求&gt;&gt;</a>
					</div>
				</div>
				<div class="box fl">
					<div class="img">
						<h3>学术成绩</h3>
						<p>美国高中四年制，申请美国本科时，通常会要求9-12年级(国内初三到高三)成绩单。</p>
						<a href="javascript:;" onclick="go()">成绩单准备需注意哪些问题&gt;&gt;</a>
					</div>
				</div>
				<div class="box fl">
					<div class="img">
						<h3>个人能力和课外活动</h3>
						<p>与学习能力一样，招生委员会可以从你对课外活动和其他个人能力的描述中，了解、发现和挖掘你自身独特竞争力和价值。</p>
						<a href="javascript:;" onclick="go()">了解如何提升自身背景&gt;&gt;</a>
					</div>
				</div>
				<div class="box fl">
					<div class="img">
						<h3>文书</h3>
						<p>彬彬教育依据学生的专业方向匹配海外顶级名校背景导师修改和润色文书，美式思维助力申请名校。</p>
						<a href="javascript:;" onclick="go()">马上匹配名校导师&gt;&gt;</a>
					</div>
				</div>
				<div class="box fl">
					<div class="img">
						<h3>面试</h3>
						<p>不同的学校差别很大，是否有面试因学校而异，想进名校的申请者还是要尽早做准备 。</p>
						<a href="javascript:;" onclick="go()">了解面试技巧&gt;&gt;</a>
					</div>
				</div>
				<div class="box fl">
					<div class="img">
						<h3>推荐信</h3>
						<p>对于申请人在其他申请材料中所呈现出来的各种品质加以证实，并且体现申请人的学术能力、在校综合能力以及对于自己周围环境产生影响的能力。</p>
						<a href="javascript:;" onclick="go()">推荐信写作指导&gt;&gt;</a>
					</div>
				</div>
			</div>
			<div class="anniu">
				<a href="javascript:;" onclick="go()">了解详细的申请条件要求</a>
				<a href="javascript:;" onclick="go()" class="a1">出国留学咨询热线：400-900-9770</a>
			</div>
		</div>
		
		<!-- 美国综合大学申请难点分析 -->
		<div class="nandian_fenxi zh_index">
			<div class="gWidth1170">
				<h3 class="title">美国综合大学申请难点分析</h3>
				<div class="content">
					<div class="ctop clearfix">
						<div class="box fl">
							<div class="fl">难点一</div>
							<div class="fr">
								<h3>名校竞争激烈</h3>
								<p>全球80%的拔尖学生竞争美国名校，20%的国际生录取名额。</p>
							</div>
						</div>
						<div class="box fl">
							<div class="fl">难点二</div>
							<div class="fr">
								<h3>名校录取不同</h3>
								<p>美国大学评审体系中，软性不可量化的综合素质因素也决定最后的录取。</p>
							</div>
						</div>
						<div class="box fl">
							<div class="fl">难点三</div>
							<div class="fr">
								<h3>申请流程复杂多变</h3>
								<p>全美国强调多样性的文化，导致不同大学有着不同的评审流程。</p>
							</div>
						</div>
					</div>
					<div class="img clearfix">
						<div class="fl"><img src="/static/home/img/page/zonghe_daxue/xiangxia.png" alt=""></div>
						<div class="fl"><img src="/static/home/img/page/zonghe_daxue/xiangxia.png" alt=""></div>
						<div class="fl"><img src="/static/home/img/page/zonghe_daxue/xiangxia.png" alt=""></div>
					</div>
					<div class="cbottom clearfix">
						<div class="box fl">
							<h3>彬彬击破</h3>
							<p>彬彬留学拥有一支资深外籍导师团队，成员均毕业于美国名校，曾从事学校招生、教育等相关工作。通过外籍导师的辅导学生可以提升目标院校的申请竞争点。</p>
						</div>
						<div class="box fl">
							<h3>彬彬击破</h3>
							<p>彬彬留学导师遍布美国名校，全面覆盖美国Top 50名校各个大部分专业。经过精准匹配，专业导师在辅导学生申请过程中，其相似的专业背景、长时间的积累的专业素养和更深厚的专业基础，能够为学生的申请提供更坚实的保障。</p>
						</div>
						<div class="box fl">
							<h3>彬彬击破</h3>
							<p>彬彬留学的海外同专业导师团队作为彬彬教育独家特色之一，拥有非常强大的名校优秀校友资源，且校友均毕业于美国滕门名校，作为学长学姐海外同专业导师可以有针对性的指导学生的申请。</p>
						</div>
					</div>
				</div>
				<div class="anniu">
					<a href="javascript:;" onclick="go()">名校录取率逐年走低  联系彬彬提高成功率</a>
					<a href="javascript:;" onclick="go()" class="a1">出国留学咨询热线：400-900-9770</a>
				</div>
			</div>
		</div>
		
		<!-- 强大的国内外导师团队 -->
		<div class="daoshi_team zh_index">
			{include file="common/common_daoshi"/}
		</div>
		
		<!-- 专业的团队 创造更辉煌的申请结果 -->
		<div class="shenqing_jieguo zh_index">
			<div class="gWidth1170">
				<h3 class="title">专业的团队 创造更辉煌的申请结果</h3>
				<!-- content -->
				<div class="content">
					<div class="ctop clearfix">
						<div class="box fl">
							<img class="fl" src="/static/home/img/page/zonghe_daxue/pulinsidun.png" alt="普林斯顿大学" title="普林斯顿大学">
							<img src="/static/home/img/page/zonghe_daxue/pulinsidun.jpg" class="img" alt="普林斯顿大学" title="普林斯顿大学">
							<div class="fr">
								<h3><span>4</span>枚</h3>
								<p>普林斯顿大学</p>
							</div>
						</div>
						<div class="box fl">
							<img class="fl" src="/static/home/img/page/zonghe_daxue/hafo.png" alt="哈佛大学" title="哈佛大学">
							<img src="/static/home/img/page/zonghe_daxue/hafo.jpg" class="img" alt="哈佛大学" title="哈佛大学">
							<div class="fr">
								<h3><span>2</span>枚</h3>
								<p>哈佛大学</p>
							</div>
						</div>
						<div class="box fl">
							<img class="fl" src="/static/home/img/page/zonghe_daxue/zhijiage.png" alt="芝加哥大学" title="芝加哥大学">
							<img src="/static/home/img/page/zonghe_daxue/zhijiage.jpg" class="img" alt="芝加哥大学" title="芝加哥大学">
							<div class="fr">
								<h3><span>14</span>枚</h3>
								<p>芝加哥大学</p>
							</div>
						</div>
						<div class="box fl">
							<img class="fl" src="/static/home/img/page/zonghe_daxue/yelu.png" alt="耶鲁大学" title="耶鲁大学">
							<img src="/static/home/img/page/zonghe_daxue/yelu.jpg" class="img" alt="耶鲁大学" title="耶鲁大学">
							<div class="fr">
								<h3><span>8</span>枚</h3>
								<p>耶鲁大学</p>
							</div>
						</div>
					</div>
					<div class="cbottom clearfix">
						<div class="box fl">
							<h3>G同学</h3>
							<p><b>考试成绩：</b>GPA：3.92/4.0，TOEFL：111</p>
							<p><b>录取结果：</b>弗吉尼亚大学</p>
							<a href="/success/123.html" target="_blank">详情&gt;</a>
						</div>
						<div class="box fl">
							<h3>X同学</h3>
							<p><b>考试成绩：</b>TOEFL：110, SAT：1530,GPA：4.0</p>
							<p><b>录取结果：</b>西北大学</p>
							<a href="/success/117.html" target="_blank">详情&gt;</a>
						</div>
						<div class="box fl">
							<h3>Y同学</h3>
							<p><b>考试成绩：</b>TOEFL：98, SAT：1550,GPA：3.8</p>
							<p><b>录取结果：</b>康奈尔大学</p>
							<a href="/success/116.html" target="_blank">详情&gt;</a>
						</div>
						<div class="box fl">
							<h3>X同学</h3>
							<p><b>考试成绩：</b>GPA: 3.7,TOEFL：100,SAT 1460</p>
							<p><b>录取结果：</b>纽约大学</p>
							<a href="/success/110.html" target="_blank">详情&gt;</a>
						</div>
					</div>
					<div class="anniu">
						<a href="javascript:;" onclick="go()">想要与他/她们成为校友？彬彬教育帮你实现</a>
						<a href="javascript:;" onclick="go()" class="a1">查看更多</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 提高软性背景 助力名校申请 -->
		<div class="bjts zh_index">
			<div class="gWidth1170">
				<h3 class="title">提高软性背景 助力名校申请</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="box fl">
						<a href="/xxsy/332.html" target="_blank" class="hidden1">加州大学伯克利分校</a>
					</div>
					<div class="box box2 fl">
						<a href="/xxsy/331.html" target="_blank" class="hidden1">斯坦福国际精英大学先修项目</a>
					</div>
					<div class="box box3 fl">
						<a href="/xsjs/327.html" target="_blank" class="hidden1">哈佛-麻省理工数学锦标赛</a>
					</div>
					<div class="box box4 fl">
						<a href="/xxsy/325.html" target="_blank" class="hidden1">科学类夏令营</a>
					</div>
					<div class="box box5 fl">
						<a href="/xxsy/324.html" target="_blank" class="hidden1">数学类夏令营</a>
					</div>
					<div class="box box6 fl">
						<a href="/xxsy/278.html" target="_blank" class="hidden1">顶级夏校</a>
					</div>
				</div>
				<div class="anniu">
					<a href="javascript:;" onclick="go()">快速匹配适合自己的背景提升项目</a>
					<a href="/page/polymerization.html" target="_blank" class="a1">查看更多</a>
				</div>
			</div>
		</div>
		
		<!-- 美国综合大学申请时间规划 -->
		<div class="guihua zh_index">
			<div class="gWidth1170">
				<h3 class="title">美国综合大学申请时间规划</h3>
				<p>合理规划 让留学申请更有条不紊</p>
				<!-- content -->
				<div class="content clearfix">
					<div class="box">
						<ul>
							<li>
								<h3>前期规划</h3>
								<p>选定留学机构准备语言培训</p>
							</li>
						</ul>
						<span></span>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>提前规划</h3>
								<p>出国考试制定留学规划</p>
							</li>
						</ul>
						<span></span>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>背景提升</h3>
								<p>参加课外活动提升背景实力</p>
							</li>
						</ul>
						<span></span>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>初步规划</h3>
								<p>申请选校文书申请资料准备</p>
							</li>
						</ul>
						<span></span>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>深度规划</h3>
								<p>学校申请<br />状态跟踪</p>
							</li>
						</ul>
						<span></span>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>等待录取</h3>
								<p>确定学校<br />等待面试</p>
							</li>
						</ul>
						<span></span>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>入学准备</h3>
								<p>准备签证<br />联系学校</p>
							</li>
						</ul>
						<span></span>
					</div>
					<div class="box">
						<ul>
							<li>
								<h3>启程入校</h3>
								<p>行前准备</p>
							</li>
						</ul>
						<span></span>
					</div>
					<div class="xian">
						<div>
							<span></span>
							<p>2-4月</p>
						</div>
						<div>
							<span></span>
							<p>5-8月</p>
						</div>
						<div>
							<span></span>
							<p>8-9月</p>
						</div>
						<div>
							<span></span>
							<p>9-11月</p>
						</div>
						<div>
							<span></span>
							<p>11-12月</p>
						</div>
						<div>
							<span></span>
							<p>次年1-4月</p>
						</div>
						<div>
							<span></span>
							<p>次年4-7月</p>
						</div>
						<div>
							<span></span>
							<p>次年7-8月</p>
						</div>
					</div>
				</div>
				<div class="anniu">
					<a href="javascript:;" onclick="go()">免费制定个性化申请规划</a>
					<a href="javascript:;" onclick="go()" class="a1">出国留学咨询热线：400-900-9770</a>
				</div>
			</div>
		</div>
		
		<!-- 美国本科留学费用 -->
		<div class="Cost zh_index gWidth1170">
			<!-- title -->
			<h3 class="title">美国综合大学留学费用</h3>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<div class="boxBox">
						<div class="div1">
							<h4>学费</h4>
							<img src="/static/home/img/page/9_12/anniu.png" alt="">
						</div>
						<div class="div2">
							<p style="width: 270px;">私立大学：约$25000～45000/年<br />公立大学：约$15000～30000/年</p>
						</div>
					</div>
				</div>
				<div class="box box2 fl">
					<div class="boxBox">
						<div class="div1">
							<h4>生活费</h4>
							<img src="/static/home/img/page/9_12/anniu.png" alt="">
						</div>
						<div class="div2">
							<p><b>一级城市：</b>纽约、洛杉矶、芝加哥、华盛顿首府等城市</p>
							<p><b>生活费：</b>约 $1000-2000/月</p><br />
							<p><b>二级城市：</b>匹兹堡、西雅图、达拉斯、亚特兰大等城市</p>
							<p><b>生活费：</b>约 $800-1000/月</p><br />
							<p><b>三级城市：</b>南部、中西部、东南部州、德州、康州等地区</p>
							<p><b>生活费：</b>约 $600-800/月</p><br />
							<p><b>四级城市：</b>俄克拉荷马州、密苏里州、路易斯安那州等地区</p>
							<p><b>生活费：</b>约$450-600/月</p>
						</div>
					</div>
				</div>
				<div class="box box3 fl">
					<div class="boxBox">
						<div class="div1">
							<h4>申请/签证费用</h4>
							<img src="/static/home/img/page/9_12/anniu.png" alt="">
						</div>
						<div class="div2">
							<p>申请费：每校平均需50-75美元</p>
							<p>邮寄费：寄送T、G成绩的费用30-100多美元</p>
							<p>寄快递费：每封信180元人民币</p>
							<p>TOEFL、GRE成绩均为每份15美元</p>
							<p>美国签证费：申请费为160美元</p>
						</div>
					</div>
				</div>
			</div>
			<div class="anniu">
				<a href="javascript:;" onclick="go()">免费制定个性化申请规划</a>
				<a href="javascript:;" onclick="go()" class="a1">出国留学咨询热线：400-900-9770</a>
			</div>
		</div>
		
		<!-- 彬彬教育致力让每一个学生牵手世界名校 -->
		<div id="mydiv" class="zh_index" style="height: 695px;">
			<div class="box gWidth1170 clearfix">
				<!-- title -->
				<h3 class="title">彬彬教育致力让每一个学生牵手世界名校</h3>
				<!-- content -->
				<div class="content gWidth1170">
					<div class="fl">
						<ul>
							<li class="li1">
								<h3>6位1体</h3>
								<p>业内首创“6位1体”服务模式<br />服务客户满意度高达100%</p>
							</li>
							<li class="li2">
								<h3>广资源</h3>
								<p>1000+校园独家代理；实地考察 真实可靠</p>
							</li>
							<li class="li3">
								<h3>多重认证</h3>
								<p>留学行业质量认证标准机构；国内十佳品牌诚信<br />留学机构；CSIET评审认证留学机构</p>
							</li>
						</ul>
					</div>
					<div class="dq">
						<div>
						</div>
					</div>
					<div class="fr">
						<ul>
							<li class="li1 clearfix">
								<h3>全覆盖</h3>
								<p class="fr">600+海外同专业导师覆盖全美TOP100名校<br />让学生提前了解校园生活并提供全程对应辅导</p>
							</li>
							<li class="li2 clearfix">
								<h3>大数据</h3>
								<p class="fr" style="width: 330px;">120000+超大申请数据库；科学手段狂揽offer</p>
							</li>
							<li class="li3 clearfix">
								<h3>两个“1”</h3>
								<p class="fr">国内独1拥有海外监管服务中心留学机构<br />国内独1拥有海外院校开发资质的留学机构</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		{include file="common/common_bottom"/}
		<script type="text/javascript">
			var t = document.documentElement.scrollTop || document.body.scrollTop;
			var scroll = true;
			if(t>=100){
				$('.abcBannav').css({'display': 'none'});
				$('.topNav').css({'position': 'static'});
			}
			// 
			var nav = $('.bannerNav').offset().top;
			$gkLength = $('.zh_index').length;
			window.onscroll = function () {
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if(top>=nav){
					$('.bannerNav').css({'position': 'fixed', 'top': '0', 'z-index': '9999'});
					$('.navHidden').css({'display': 'block'});
				}else if(top<=$('.zh_index').eq(0).offset().top){
					$('.bannerNav').css({'position': 'static', 'top':''});
					$('.navHidden').css({'display': 'none'});
				}
				for( var i=0; i<$gkLength; i++ ){
					if( i == $gkLength - 1 ){
						if( top>=$('.zh_index').eq(i).offset().top ){
							$('.bannerNav span').removeClass('active');
							$('.bannerNav span').eq(i).addClass('active');
						}
						return;
					}
					if( top>=$('.zh_index').eq(i).offset().top && top<$('.zh_index').eq(i+1).offset().top ){
						$('.bannerNav span').removeClass('active');
						$('.bannerNav span').eq(i).addClass('active');
					}
				}
				
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if( !scroll ){
					return;
				}
				if( top >= 100 ){
					if( $('.topNav').css('position') == 'relative' ){
						$('.topNav').css({'position': 'static'});
						$('.abcBannav').css({'display': 'none'});
					}
				}else if(top == 0) {
					$('.topNav').css({'position': 'relative'});
					$('.abcBannav').css({'display': 'none'});
				}
			}
			$('.bannerNav span').on('click', function () {
				var index = $('.bannerNav span').index($(this));
				var offsetTop = $('.zh_index').eq(index).offset().top;
				$('body, html').stop().animate({scrollTop: offsetTop + 0}, 1500);
			})
			$('.bannerNav span:last-child').css({'margin-right': '0'});
			// 
			$('.daxue_youshi .content .box').hover(function () {
				$(this).children('h3').stop().fadeOut();
				$(this).children('img').stop().fadeOut();
				$(this).children('.hidden').stop().fadeIn();
			}, function () {
				$(this).children('h3').stop().fadeIn();
				$(this).children('img').stop().fadeIn();
				$(this).children('.hidden').stop().fadeOut();
			})
			// 
			$('.top100 .content .ctop .box:last-child').css({'margin-right': '0'});
			// 
			$('.top100 .content .cbottom .table').eq(0).css({'display': 'block'});
			$('.top100 .content .cbottom .cxx span').on('click', function () {
				var index = $('.top100 .content .cbottom .cxx span').index($(this));
				$(this).addClass('active').siblings('span').removeClass('active');
				$('.top100 .content .cbottom .table').eq(index).stop().fadeIn().siblings('.table').css({'display': 'none'});
			})
			// 
			$('.shenqing_tiaojian .content .box').hover(function () {
				$(this).children('.img').children('a').css({'color': '#ffffff'});
				$(this).children('.img').children('p').css({'color': '#ffffff'});
				$(this).children('.img').children('h3').css({'color': '#ffffff'});
			}, function () {
				$(this).children('.img').children('a').css({'color': '#4A5CC1'});
				$(this).children('.img').children('p').css({'color': '#333333'});
				$(this).children('.img').children('h3').css({'color': '#333333'});
			})
			// 
			$('.shenqing_tiaojian .content .box:nth-child(3n)').css({'margin-right': '0'});
			// 
			$('.nandian_fenxi .content .ctop .box:last-child').css({'margin-right': '0'});
			$('.nandian_fenxi .content .img>div:last-child').css({'margin-right': '0'});
			$('.nandian_fenxi .content .cbottom .box:last-child').css({'margin-right': '0'});
			// 
			$('.shenqing_jieguo .content .ctop .box:last-child').css({'margin-right': '0'});
			$('.shenqing_jieguo .content .cbottom .box p:nth-child(2)').css({'padding-top': '15px'});
			$('.shenqing_jieguo .content .cbottom .box:last-child').css({'margin-right': '0'});
			// 选项卡选项
			$('.daoshi_team .count>div.t a').eq(0).attr('class', 'active fl');
			$('.daoshi_team .count .b .bBox').eq(0).css({'display': 'block'});
			$('.daoshi_team .count>div.t a').on('click', function () {
				var index = $('.daoshi_team .count>div.t a').index($(this));
				$(this).attr('class', 'fl active').siblings('a').attr('class', 'fl');
				$('.daoshi_team .count .b .bBox').eq(index).css({'display': 'block'}).siblings('.bBox').css({'display': 'none'});
			})
			$('.rightb>div.fl').on('mouseenter', function () {
				$(this).children('.hidden').stop().fadeIn();
				$(this).children('.hiddenTitle').stop().fadeOut();
			})
			$('.rightb>div.fl').on('mouseleave', function () {
				$(this).children('.hidden').stop().fadeOut();
				$(this).children('.hiddenTitle').stop().fadeIn();
			})
			// 
			$('.bjts .content .box:nth-child(3n)').css({'margin-right': '0'});
			// 
			var boxIndex = $('.guihua .content .box');
			var spanIndex = $('.guihua .content .xian span');
			var pIndex = $('.guihua .content .xian p');
			for( var i=0; i<boxIndex.length; i++ ){
				if( i%2 != 0 ){
					$('.guihua .content .box').eq(i).css({
						'top': '178px',
						'left': (i * 135) + 40 + 'px'
					})
				}else{
					$('.guihua .content .box').eq(i).css({
						'bottom': '178px',
						'left': (i * 135) + 40 + 'px'
					})
				}
			}
			for(var i=0; i<pIndex.length; i++){
				if( i%2!=0 ){
					pIndex.eq(i).css({'bottom': '25px'});
				}else{
					pIndex.eq(i).css({'top': '25px'});
				}
			}
			pIndex.eq(0).css({'left': '-10px'});
			pIndex.eq(1).css({'left': '122px'});
			pIndex.eq(2).css({'left': '260px'});
			pIndex.eq(3).css({'left': '389px'});
			pIndex.eq(4).css({'left': '520px'});
			pIndex.eq(5).css({'right': '229px'});
			pIndex.eq(6).css({'right': '92px'});
			pIndex.eq(7).css({'right': '-43px'});
			$('.guihua .content .box:nth-child(2n)>span').css({
				'top': '-14px',
				'border-color': 'transparent transparent #E1E5F9 transparent'
			})
			$(window).scroll(function () {
				if( $(window).scrollTop()>=$('.guihua').offset().top - 500 ){
					spanIndex.fadeIn(500);
					for(var i=0; i<spanIndex.length; i++){
						spanIndex.eq(i).animate({'left': 135*i + 'px'}, 2000, function () {
								pIndex.fadeIn(2000);
							});
					}
				}
			})
			// 
			$('.Cost .content .box .boxBox').hover(function (){
				$(this).children('.div1').css({'display': 'none'});
				$(this).children('.div2').css({'display': 'inline-block'});
				$(this).css({'background-color': 'rgba(6,4,2,0.64)'});
			}, function () {
				$(this).children('.div1').css({'display': 'inline-block'});
				$(this).children('.div2').css({'display': 'none'});
				$(this).css({'background-color': 'rgba(6,4,2,0.3)'});
			})
			//
			$(window).scroll(function () {
				if( $(window).scrollTop() + 700 >= $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'right'});	 
				}
				
				if( $(window).scrollTop() + 700 < $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'left'});	 
				}
			})
		</script>
		
		<!-- 本科表单 -->
		{include file="common/common_undergraduate"/}
		
	</body>
</html>


