{include file="common/common_head"/}
		<!-- 当前网页样式 -->
		<link rel="stylesheet" href="/static/home/css/page/goclass.css">
	</head>
	<body>
		<!-- 导航 -->
		{include file="common/common_navhead"/}
		<!-- banenr -->
		<div class="banner">
			<div class="gWidth1170">
				<h1>出国衔接课程</h1>
				<h3>海外精英讲师授课  美国原版教学课本</h3>
				<h4>不出国门无缝链接美国教学</h4>
				<a href="javascript:;" onclick="go()">点击在线咨询</a>
			</div>
		</div>
		
		<!-- offer到手还要面临这些挑战 -->
		<div class="tiaozhan gWidth1170">
			<h3 class="title">offer到手还要面临这些挑战</h3>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<i class="goClassImg icon1"></i>
					<!-- <img src="/static/home/img/page/xianjie_kecheng/icon1.png" alt=""> -->
					<span></span>
					<p>学习困难</p>
					<em>纯英文教学环境；综合考察的教育模式；升学压力</em>
				</div>
				<div class="box fl">
					<i class="goClassImg icon2"></i>
					<!-- <img src="/static/home/img/page/xianjie_kecheng/icon2.png" alt=""> -->
					<span></span>
					<p>语言困难</p>
					<em>口语交流障碍；陌生的文化环境；交友困难</em>
				</div>
				<div class="box fl">
					<i class="goClassImg icon3"></i>
					<!-- <img src="/static/home/img/page/xianjie_kecheng/icon3.png" alt=""> -->
					<span></span>
					<p>出行困难</p>
					<em>不熟悉地理环境；没有交通工具；无人陪伴出行</em>
				</div>
				<div class="box fl">
					<i class="goClassImg icon4"></i>
					<!-- <img src="/static/home/img/page/xianjie_kecheng/icon4.png" alt=""> -->
					<span></span>
					<p>生活困难</p>
					<em>与寄宿家庭沟通少；生活习惯不适应；生活需求无法满足</em>
				</div>
			</div>
			<a href="javascript:;" onclick="go()">如何快速适应中美学习差异</a>
		</div>
		
		<!-- 出国衔接课程让你快速融入美国课堂 -->
		<div class="ketang">
			<div class="gWidth1170">
				<h3 class="title">出国衔接课程让你快速融入美国课堂</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="box fl">
						<div>
							<h3>全真课堂真实感受</h3>
							<span></span>
							<p>纯美语环境，系统掌握美高必修课程的要点并提前适应课堂节奏。</p>
						</div>
					</div>
					<div class="box box2 fl">
						<div>
							<h3>全面激发学生潜力</h3>
							<span></span>
							<p>根据学生的实际情况，深入浅出的讲解各科目，巩固课业基础。</p>
						</div>
					</div>
					<div class="box box3 fl">
						<div>
							<h3>锻炼美式思维</h3>
							<span></span>
							<p>了解美式思维方式，自信，熟练的与学霸导师们交流学业问题。</p>
						</div>
					</div>
					<div class="box box4 fl">
						<div>
							<h3>浸入式教学体验</h3>
							<span></span>
							<p>浸入式美国的教学方法和课堂气氛，为到美国后的课堂学习预热。</p>
						</div>
					</div>
					<div class="box box5 fl">
						<div>
							<h3>跨越语言障碍</h3>
							<span></span>
							<p>迅速掌握用英文学习各科目的思维及能力，做好充分准备。</p>
						</div>
					</div>
					<div class="box box6 fl">
						<div>
							<h3>资深美国导师专业评估</h3>
							<span></span>
							<p>深入了解学生，科学的为学生做学业发展评估，提升弱势学科。</p>
						</div>
					</div>
				</div>
				<a href="javascript:;" onclick="go()">快速了解美国教学模式</a>
			</div>
		</div>
		
		<!-- 150门原版美国中学衔接课程“任你挑” -->
		<div class="renniTiao gWidth1170">
			<h3 class="title">150门原版美国中学衔接课程“任你挑”</h3>
			<p>颠覆传统教育，有什么理由不选择？</p>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<img src="/static/home/img/page/xianjie_kecheng/kc1.jpg" alt="AP课程" title="AP课程">
					<div>
						<h3>AP课程</h3>
						<p>紧抓2019AP考点、难点、全程学习，突破5分轻松冲刺美国名校。</p>
						<p><b>课程分类：</b>AP文学与创作、AP微积、AB/BC、AP统计、AP宏观经济等，37个学科均可授课。</p>
						<p><b>适用年级：</b>7-12年级</p>
						<a href="javascript:;" onclick="go()">领取试听课</a>
					</div>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/xianjie_kecheng/kc2.jpg" alt="语言课程" title="语言课程">
					<div>
						<h3>语言课程</h3>
						<p>提前熟悉美国英语课程要求，提高英语水平。</p>
						<p><b>课程分类：</b>英语（语言文学）、英语写作、英语听说、 ESL等。</p>
						<p><b>适用年级：</b>7-12年级</p>
						<a href="javascript:;" onclick="go()">领取试听课</a>
					</div>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/xianjie_kecheng/kc3.jpg" alt="数学课程" title="数学课程">
					<div>
						<h3>数学课程</h3>
						<p>帮助了解美国数学课程侧重点，着重知识的应用能力。</p>
						<p><b>课程分类：</b>数学、高等函数、微积分与向量、统计学等。</p>
						<p><b>适用年级：</b>7-12年级</p>
						<a href="javascript:;" onclick="go()">领取试听课</a>
					</div>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/xianjie_kecheng/kc4.jpg" alt="自然科学课程" title="自然科学课程">
					<div>
						<h3>自然科学课程</h3>
						<p>美国原版教材，提前了解美国自然科学课程，比如海洋科学、生理学等。</p>
						<p><b>课程分类：</b>生物、化学、物理、地理、环境科学、天文学等。</p>
						<p><b>适用年级：</b>7-12年级</p>
						<a href="javascript:;" onclick="go()">领取试听课</a>
					</div>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/xianjie_kecheng/kc5.jpg" alt="社会科学课程" title="社会科学课程">
					<div>
						<h3>社会科学课程</h3>
						<p>海外精英讲师授课，快速并准确了解美国背景及发展历史。</p>
						<p><b>课程分类：</b>美国地理、美国历史、世界历史、经济、心理学、政府和政治、美国政治、圣经等。</p>
						<p><b>适用年级：</b>7-12年级</p>
						<a href="javascript:;" onclick="go()">领取试听课</a>
					</div>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/xianjie_kecheng/kc6.jpg" alt="艺术课程" title="艺术课程">
					<div>
						<h3>艺术课程</h3>
						<p>美国本土资深艺术教师授课，帮你提高艺术基础，指点学生如何突破瓶颈。</p>
						<p><b>课程分类：</b>视觉设计、音乐、创意写作、舞蹈、电影&数字媒体等。</p>
						<p><b>适用年级：</b>7-12年级</p>
						<a href="javascript:;" onclick="go()">领取试听课</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 彬彬课程优势 -->
		<div class="youshi">
			<div class="gWidth1170">
				<h3 class="title">彬彬课程优势</h3>
				<p>北美课堂，我们更专业</p>
				<!-- content -->
				<div class="content clearfix">
					<div class="box fl">
						<img src="/static/home/img/page/xianjie_kecheng/ys1.png" alt="海外精英讲师" title="海外精英讲师">
						<h3>海外精英讲师</h3>
						<p>美国本土多年资深教学在职教师授课，提前熟悉美国教学<br />课本及教学方式</p>
					</div>
					<div class="box fl">
						<img src="/static/home/img/page/xianjie_kecheng/ys2.png" alt="上课方式灵活" title="上课方式灵活">
						<h3>上课方式灵活</h3>
						<p>小班制授课制度，开课灵活，老师对学生关注度高，互动极强</p>
					</div>
					<div class="box fl">
						<img src="/static/home/img/page/xianjie_kecheng/ys3.png" alt="人群定位清晰" title="人群定位清晰">
						<h3>人群定位清晰</h3>
						<p>针对美国低龄留学生，制定学习计划、安排学习内容，<br />衔接国外高中课程</p>
					</div>
					<div class="box fl">
						<img src="/static/home/img/page/xianjie_kecheng/ys4.png" alt="课程设计丰富" title="课程设计丰富">
						<h3>课程设计丰富</h3>
						<p>涵盖了美高课程学习、语言提升、生活文化适应等方面，实现国外高中学习“无缝连接”</p>
					</div>
				</div>
				<a href="javascript:;" onclick="go()">预约精英讲师</a>
			</div>
		</div>
		
		<!-- 彬彬留学专属服务流程 -->
		<!-- <div class="liucheng gWidth1170">
			<h3 class="title">彬彬留学专属服务流程</h3>
		</div> -->
		<div class="guihua ys_index">
			<div class="gWidth1170">
				<h3 class="title">彬彬留学专属服务流程</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="box">
						<ul>
							<li>学生提出上课需求</li>
						</ul>
						<span></span>
					</div>
					<div class="box">
						<ul>
							<li>规划适合学生的上课方案</li>
						</ul>
						<span></span>
					</div>
					<div class="box">
						<ul>
							<li>匹配最合适的导师</li>
						</ul>
						<span></span>
					</div>
					<div class="box">
						<ul>
							<li>确定上课时间</li>
						</ul>
						<span></span>
					</div>
					<div class="box">
						<ul>
							<li>按时间上课</li>
						</ul>
						<span></span>
					</div>
					<div class="xian">
						<div>
							<span><i></i></span>
						</div>
						<div>
							<span><i></i></span>
						</div>
						<div>
							<span><i></i></span>
						</div>
						<div>
							<span><i></i></span>
						</div>
						<div>
							<span><i></i></span>
						</div>
					</div>
				</div>
				<div class="anniu">
					<a href="javascript:;" onclick="go()" class="a2">查看详细时间规划</a>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		{include file="common/common_bottom"/}
		<script type="text/javascript">
			$('.tiaozhan .content .box').hover(function () {
				$(this).css({'border-color': '#89D3DC'});
				$(this).children('.goClassImg').stop().fadeOut();
				$(this).children('p').stop().animate({'top': '33px'});
				var that = $(this);
				$(this).children('span').stop().animate({'top': '87px'}, function () {
					that.children('em').stop().fadeIn();
				});
				$(this).children('p').css({'color': '#168E9C'});
			}, function () {
				$(this).css({'border-color': '#E4E1E1'});
				$(this).children('.goClassImg').stop().fadeIn();
				$(this).children('p').stop().animate({'top': '126px'});
				$(this).children('span').stop().animate({'top': '105px'});
				$(this).children('p').css({'color': '#333333'});
				$(this).children('em').stop().fadeOut();
			})
			$('.tiaozhan .content .box:last-child').css({'margin-right': '0'});
			// 
			$('.ketang .content .box').hover(function () {
				var that = $(this);
				$(this).children('div').stop().animate({'height': '191px'}, function (){
					that.children('div').children('p').stop().fadeIn();
				});
			}, function () {
				$(this).children('div').children('p').stop().fadeOut();
				$(this).children('div').stop().animate({'height': '112px'});
			})
			// 
			$('.renniTiao .content .box:nth-child(3n)').css({'margin-right': '0'});
			// 
			$('.youshi .content .box:last-child').css({'margin-right': '0'});
			// 
			var boxIndex = $('.guihua .content .box');
			var spanIndex = $('.guihua .content .xian span');
			for( var i=0; i<boxIndex.length; i++ ){
				if( i%2 != 0 ){
					$('.guihua .content .box').eq(i).css({
						'top': '220px',
						'left': (i * 235) + 'px'
					})
				}else{
					$('.guihua .content .box').eq(i).css({
						'bottom': '220px',
						'left': (i * 235) + 'px'
					})
				}
			}
			$('.guihua .content .box:nth-child(2n)>span').css({
				'top': '-14px',
				'border-color': 'transparent transparent #F3EDE8 transparent'
			})
			// $('.guihua .content .box').css({'width': parseInt($('.guihua .content .xian').css('width')) / 5 + 'px'});
			$(window).scroll(function () {
				if( $(window).scrollTop()>=$('.guihua').offset().top - 500 ){
					spanIndex.fadeIn(500);
					for(var i=0; i<spanIndex.length; i++){
// 						if( i==0 ){
// 							spanIndex.eq(i).css({'left': '-11px'});
// 							continue;
// 						}
						spanIndex.eq(i).animate({'left': 235*i + 'px'}, 2000);
					}
				}
			})
		</script>
		
	</body>
</html>
