{include file="common/common_head"/}
		<!-- 当前网页样式 -->
		<link rel="stylesheet" href="/static/home/css/page/high_school.css">
	</head>
	<style type="text/css">
		.bannerTop h1{
			font-size: 70px;
			line-height: 88px;
			padding-top: 190px;
			padding-bottom: 6px;
			font-weight: normal;
			text-shadow:0px 3px 4px rgba(0,0,0,0.72);
			color: #FFFFFF;
			text-align: center;
		}
	</style>
	<body>
		<!-- 导航 -->
		{include file="common/common_navhead"/}
		
		<!-- banner -->
		<div class="bannerTop">
			<h1>美国高中留学申请指南</h1>
			<!-- 按钮 -->
			<div class="anniu clearfix">
				<a href="javascript:;" onclick="go()" class="fl one">制定专属留学规划</a><a href="javascript:;" onclick="go()" class="fl two">电话：400-900-9770</a>
			</div>
			<!-- nav -->
			<div class="bannerNav clearfix">
				<div class="gWidth1170 clearfix">
					<span class="fl active">留学疑问</span>
					<span class="fl">彬彬顶级资源</span>
					<span class="fl">名校推荐</span>
					<span class="fl">申请方案</span>
					<span class="fl">申请条件</span>
					<span class="fl">申请流程</span>
					<span class="fl">留学费用</span>
					<span class="fl">海外服务</span>
					<span class="fl">成功案例</span>
					<span class="fl">彬彬优势</span>
				</div>
			</div>
		</div>
		
		<!-- 灰背景 -->
		<div class="hBack njBox"></div>
		
		<!-- 关于申请美国高中您是否有这样的疑问 -->
		<div class="Doubt gWidth1170">
			<!-- title -->
			<div class="title">
				<h3>关于申请美国高中您是否有这样的疑问</h3>
				<span></span>
			</div>
			<!-- content -->
			<div class="content">
				<!-- top -->
				<div class="contTop clearfix">
					<div class="img fl">
						<img src="/static/home/img/page/9_12/tu1.png" alt="">
					</div>
					<div class="cc fr">
						<div class="border">
							<div class="h3">
								<h4>你的困扰</h4>
								<h5>CONFUSED</h5>
							</div>
							<ul class="clearfix">
								<li><a href="javascript:;" onclick="go()"><span></span>申请美国高中的最佳时间是什么时候？</a></li>
								<li><a href="javascript:;" onclick="go()"><span></span>国内几年级可以申请美国高中9年级？</a></li>
								<li><a href="javascript:;" onclick="go()"><span></span>申请美国高中10年级需要准备哪些材料？</a></li>
								<li><a href="javascript:;" onclick="go()"><span></span>美国高中11年级申请条件是什么？</a></li>
								<li><a href="javascript:;" onclick="go()"><span></span>美国接受12年级的高中学校多吗？</a></li>
							</ul>
							<a href="javascript:;" onclick="go()">更多&gt;</a>
						</div>
						<div class="back"></div>
					</div>
				</div>
				<!-- bottom -->
				<div class="contBottom clearfix">
					<div class="ll fl">
						<div class="border">
							<div class="h3">
								<h4>疑问解答</h4>
								<h5>QUESTION</h5>
							</div>
							<div class="problem">
								<h5>Q1：11年级申请美国的12年级，可以吗？能接受12年级的学校多吗？可以申请公立吗？</h5>
								<p>彬彬老师：很少有学校招收12年级的学生，11申11还可以考虑一下，申12不建议。即使去了美高12年级也会在申本方面十分被动，在SAT/ACT考试方面、老师推荐信等方面等都会比较被动。</p>
								<h5>Q2：申请美国高中的最佳时间是什么时候？</h5>
								<p style="margin-bottom: 5px;">彬彬老师：申请美国高中的学生数量逐年增加，而美国学校的招生名额是有限的，所以一定要趁早申请，通常9年级招生学生名额要比10年级名额多一些。</p>
								<p>所以还是建议同学及家长早行动、早规划、早准备，这样才可以大大提升学生申请的成功率以及对之后留学也有格外的帮助。</p>
							</div>
							<a href="javascript:;" onclick="go()">更多&gt;</a>
						</div>
						<div class="back"></div>
					</div>
					<div class="rForm fr">
						<h3>更多疑问解惑</h3>
						<input type="text" class="name" placeholder="姓名">
						<input type="text" class="phone" placeholder="电话">
						<textarea placeholder="留言"></textarea>
						<button class="button">提交</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 彬彬教育顶级资源 -->
		<div class="Resources njBox">
			<div class="gWidth1170">
				<!-- title -->
				<div class="title">
					<h3>彬彬教育顶级资源</h3>
					<span></span>
				</div>
				<p>彬彬定期会引进校长团赴华来为学生面试，我们的学生享有优先录取、破格录取权。</p>
				<!-- content -->
				<div class="content">
					<div class="conTitle clearfix">
						<span class="fl active">直面招生官</span><span class="fl">优质学校先睹为快</span>
					</div>
					<div class="conContent clearfix">
						<div class="box fl">
							<!-- 选项content -->
							<div class="x_content">
								<div class="v clearfix">
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/a487e1b85285890786208055696/gw05EfSv3aAA.mp4">
											<img src="/static/home/img/page/LowAge/zhaosheng/白山中学.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>白山中学</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/a488e8ce5285890786208057243/RfOvMDpvXuIA.mp4">
											<img src="/static/home/img/page/LowAge/zhaosheng/北林招生官.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>北林中学</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/a4adc3d45285890786208078930/1tWDZbskLW8A.mp4">
											<img src="/static/home/img/page/LowAge/zhaosheng/弗雷斯诺招生官.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>弗雷斯诺基督学校</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/a696594f5285890786208118921/m9EpcTedLo4A.mp4">
											<img src="/static/home/img/page/LowAge/zhaosheng/红木基督中学.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>红木基督学校</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/a8ea4bd05285890786208216257/GBjSdwR0dpQA.mp4">
											<img src="/static/home/img/page/LowAge/zhaosheng/胡沙克中学.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>胡沙克中学</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/ab897ff55285890786208359362/wX9qYOoS3uwA.mp4">
											<img src="/static/home/img/page/LowAge/zhaosheng/吉尔福伊.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>吉尔福德伊尔中学</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/ad7fc66c5285890786208401239/1qdST6rfcg4A.mp4">
											<img src="/static/home/img/page/LowAge/zhaosheng/考文垂招生官.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>考文垂基督学校</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/ab99f3565285890786208366365/Mm7uM7DiSaYA.mp4">
											<img src="/static/home/img/page/LowAge/zhaosheng/玛丽安娜中学.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>玛丽安娜中学</span>
									</div>
								</div>
								<div class="v clearfix">
									<div class="fl box">
										<div class="hover" data-videoSrc="/static/home/img/page/video/93cad5b3d087e50d4ee657006cde0e9c.mp4">
											<img src="/static/home/img/page/LowAge/白山中学.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>伯特利教会学校</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/b95ff8745285890786208931905/UUnn6fvsXOAA.mp4">
											<img src="/static/home/img/page/LowAge/hzjdxx.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>海岸基督学校</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/b92bcb4c5285890786208905410/kxlzKZyhKYIA.mp4">
											<img src="/static/home/img/page/LowAge/hrtxsslxx.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>海瑞特橡树私立学校</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/b9974a575285890786208963552/gA5EsEQWqUwA.mp4">
											<img src="/static/home/img/page/LowAge/hmdzx.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>汉姆顿中学</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/ad8291125285890786208406537/RqbmXgWjHnYA.mp4">
											<img src="/static/home/img/page/LowAge/胡沙克高中.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>胡沙克中学</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/f1b642b25285890786209081951/hAuFC8cJoFMA.mp4">
											<img src="/static/home/img/page/LowAge/kwc.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>考文垂基督学校</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/b4dcfc345285890786208757008/nIz0bp5qXmkA.mp4">
											<img src="/static/home/img/page/LowAge/蒙特利海湾学院.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>蒙特利海湾学院</span>
									</div>
									<div class="fl box">
										<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/ae0034ba5285890786208474927/1pjcMZtVzAIA.mp4">
											<img src="/static/home/img/page/LowAge/韦伯中学.jpg" alt="" />
											<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
										</div>
										<span>韦伯中学</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a href="javascript:;" onclick="go()">了解近期招生官来访计划</a>
				</div>
			</div>
		</div>
		<!-- 弹出的视频 -->
		<div class="tc_video">
			<div class="video">
				<video src="" autoplay="autoplay" controls="controls">
					您的浏览器不支持video标签
				</video>
				<img src="/static/home/img/page/LowAge/video_gb.png" alt="">
			</div>
		</div>
		
		<!-- 美国优质高中名校推荐 -->
		<div class="Recommend njBox gWidth1170">
			<!-- title -->
			<div class="title">
				<h3>美国优质高中名校推荐</h3>
				<span></span>
			</div>
			<!-- content -->
			<div class="content clearfix">
				<ul class="tableL fl">
					<li class="clearfix tle">
						<span class="fl" style="width: 266px;">优质走读中学</span>
						<span class="fl" style="width: 138px;">所在州</span>
						<span class="fl" style="width: 152px;">已申请成功</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">汉姆顿学校<br />Hamden Hall Country Day School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>康涅狄格州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>189人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">罗格斯中学<br />Rutgers Preparatory School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>新泽西州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>168人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 97%;">普林斯顿圣心学院<br />Priceton Academy of the Sacred Heart</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>新泽西州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>132人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">沃星汉姆学校<br />Walsingham Academy</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>马里兰州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>182人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">格莱内尔学校<br />Glenelg Country School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>弗吉尼亚州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>107人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">库埃里兰中学<br />The Quarry Lane School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>加利福尼亚州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>151人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 90%;">韦罗特主教高中<br />Bishop Verot Catholic High School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>佛罗里达州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>196人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">圣维克特高中<br />Saint Viator High School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>伊利诺伊州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>108人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">福莫斯学院<br />Falmouth Academy</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>马萨诸塞州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>130人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">布鲁克林友谊学校<br />Brooklyn Friends School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>纽约州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>198人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
				</ul>
				<ul class="tableR fr">
					<li class="clearfix tle">
						<span class="fl" style="width: 266px;">优质寄宿中学</span>
						<span class="fl" style="width: 138px;">所在州</span>
						<span class="fl" style="width: 152px;">已申请成功</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">皮尔格雷姆学校<br />Pilgrim School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>加利福尼亚州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>103人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">马克杜菲<br />The MacDuffie School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>马萨诸塞州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>186人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">白山中学<br />The White Mountain School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>新罕布什尔州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>176人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">艾迪怀德艺术学院<br />Idyllwild Arts Academy</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>加利福尼亚州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>105人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">柴郡中学<br />Cheshire Academy</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>康涅狄格州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>196人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">罗斯中学<br />Ross School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>纽约州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>171人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">格里尔女子中学<br />The Grier School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>宾夕法尼亚州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>125人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">夏威夷预备学院<br />Hawaii Preparatory Academy</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>夏威夷州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>112人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">玛丽安娜预备学校<br />Marianapolis Preparatory School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>康涅狄格州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>130人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
					<li>
						<span class="fl" style="width: 266px;">
							<p style="width: 230px;">湖沙克中学<br />Hoosac School</p>
						</span>
						<span class="fl" style="width: 138px;">
							<p>纽约州</p>
						</span>
						<span class="fl" style="width: 152px;">
							<div>
								<p>100人</p>
								<a href="javascript:;" onclick="go()">我要申请</a>
							</div>
						</span>
					</li>
				</ul>
			</div>
		</div>
		
		<!-- 美国高中申请方案 -->
		<div class="programme njBox">
			<div class="gWidth1170">
				<!-- title -->
				<div class="title">
					<h3>美国高中申请方案</h3>
					<span></span>
				</div>
				<p>早行动、早规划、早准备，越早申请，通过率越高，学生有更多的时间熟悉美国文化及教育制度；而且有完整的美高成绩，申请美国大学时更有优势。</p>
				<div class="content clearfix">
					<div class="box fl">
						<h3>初二在读</h3>
						<span></span>
						<p>相当于美国8年级</p>
						<b>可申8/9年级</b>
					</div>
					<div class="box fl">
						<h3>初三在读</h3>
						<span></span>
						<p>相当于美国9年级</p>
						<b>可申9/10年级</b>
					</div>
					<div class="box fl">
						<h3>高一在读</h3>
						<span></span>
						<p>相当于美国10年级</p>
						<b>可申10/11年级</b>
					</div>
					<div class="box fl">
						<h3>高二在读</h3>
						<span></span>
						<p>相当于美国11年级</p>
						<b>可申11/12年级</b>
					</div>
				</div>
				<a href="javascript:;" onclick="go()">量身定制留学方案</a>
			</div>
		</div>
		
		<!-- 美国高中申请条件 -->
		<div class="condition njBox">
			<div class="gWidth1170">
				<!-- title -->
				<div class="title">
					<h3>美国高中申请条件</h3>
					<span></span>
				</div>
				<!-- content -->
				<div class="content clearfix">
					<div class="box fl">
						<div class="clearfix tBox">
							<div class="fl">
								<div><img src="/static/home/img/page/9_12/icon1.png" alt=""></div>
							</div>
							<h3 class="fl">硬件条件</h3>
						</div>
						<h5><span></span>美国精品中学</h5>
						<p>GPA成绩；  SLEP成绩；  资金证明；  面试</p>
						<h5><span></span>美国普通中学</h5>
						<p>GPA成绩；  TOEFL；  SSAT美国中学入学考试；  资金证明；面试</p>
						<em><b>彬彬留学专家提醒：</b>申请的年级越高，对成绩的要求也会略高些，主要体现在托福、SSAT、面试及在校成绩等方面</em>
						<a href="javascript:;" onclick="go()">如何提高个人成绩</a>
					</div>
					<div class="box fr">
						<div class="clearfix tBox">
							<div class="fl">
								<div><img src="/static/home/img/page/9_12/icon2.png" alt=""></div>
							</div>
							<h3 class="fl">软件条件</h3>
						</div>
						<h5><span></span>课外活动</h5>
						<p>学校的社团活动； 志愿者活动； 国际化背景； 学生研究、发明等</p>
						<h5><span></span>奖励荣誉</h5>
						<p>数学、奥数、科学竞赛； 辩论赛、英语演讲比赛、模拟联合国等</p>
						<h5><span></span>特长兴趣爱好</h5>
						<p>文艺活动：钢琴、绘画等； 体育活动：篮球、游泳等</p>
						<h5><span></span>社会实践</h5>
						<a href="javascript:;" onclick="go()">如何快速提高软件条件</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 美国高中留学申请流程 -->
		<div class="gWidth1170 process njBox">
			<!-- title -->
			<div class="title">
				<h3>美国高中留学申请流程</h3>
				<span></span>
			</div>
			<div class="houqi_jianguan clearfix">
				<div class="box clearfix">
					<div class="swiper-container3">
						<div class="xian"></div>
						<div class="swiper-wrapper clearfix">
							<div class="swiper-slide">
								<div class="content">
									<h3>前期咨询</h3>
									<p>咨询彬彬留学专家制定整体方案</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>留学规划</h3>
									<p>留学规划、学习规划</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>确定方案</h3>
									<p>确定申请学校学习计划</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>背景提升</h3>
									<p>根据情况参加各种活动</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>材料收集</h3>
									<p>同时开启学习计划</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>文书规划</h3>
									<p>彬彬文案专家进行文案指导及写作</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>材料填写及提交材料</h3>
									<p>网申、纸申</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>面试辅导</h3>
									<p>专业中英文老师辅导面试环节</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>申请状态跟进</h3>
									<p>及时与申请人反馈申请状态</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>获得offer确定学校</h3>
									<p>跟进最终offer确定学校</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>准备签证</h3>
									<p>获得I-20留学签证</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>确定住宿</h3>
									<p>入学后住在学校或者寄宿家庭</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>行前指导</h3>
									<p>注意事项、证件、入学指导、风俗文化</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="content">
									<h3>顺利出国</h3>
									<p>顺利出国，完成美国高中留学课程</p>
									<div class="dot"></div>
									<span class="sj"></span>
									<span class="sj2"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="leftBtn"></div>
					<div class="rightBtn"></div>
				</div>
			</div>
			<a href="javascript:;" onclick="go()">私人定制留学方案</a>
		</div>
		
		<!-- 美国高中留学费用 -->
		<div class="Cost gWidth1170 njBox">
			<!-- title -->
			<div class="title">
				<h3>美国高中留学费用</h3>
				<span></span>
			</div>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<div class="boxBox">
						<div class="div1">
							<h4>学费</h4>
							<p>走读、寄宿</p>
							<img src="/static/home/img/page/9_12/anniu.png" alt="">
						</div>
						<div class="div2">
							<p style="width: 270px;">走读高中：每年约45,000-75,000美元<br />寄宿高中：每年约45,000-80,000美元</p>
							<a href="javascript:;" onclick="go()">咨询具体费用</a>
						</div>
					</div>
				</div>
				<div class="box box2 fl">
					<div class="boxBox">
						<div class="div1">
							<h4>生活费</h4>
							<p>住宿、交通</p>
							<img src="/static/home/img/page/9_12/anniu.png" alt="">
						</div>
						<div class="div2">
							<p>一般每年约2万美元，纽约、波士顿、旧金山等大城市生活费用会相对高一些。（地区不同生活费用有所不同）</p>
							<a href="javascript:;" onclick="go()">咨询具体费用</a>
						</div>
					</div>
				</div>
				<div class="box box3 fl">
					<div class="boxBox">
						<div class="div1">
							<h4>其它费用</h4>
							<p>医疗、课本、活动</p>
							<img src="/static/home/img/page/9_12/anniu.png" alt="">
						</div>
						<div class="div2">
							<p>医疗费每年约500-1000美元；书本费每年约500-800美元；课外活动费用每年约300-1000美元。（具体费用根据学校而定）</p>
							<a href="javascript:;" onclick="go()">咨询具体费用</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 360°全方位服务—有彬彬留学更放心 -->
		<div class="Comprehensive njBox">
			<div class="gWidth1170">
				<!-- title -->
				<div class="title">
					<h3>360°全方位服务—有彬彬留学更放心</h3>
					<span></span>
				</div>
				<!-- content -->
				<div class="content clearfix">
					<div class="box fl">
						<div class="img">
							寄宿家庭精选
						</div>
						<div class="bot">
							<div class="clearfix">
								<span class="fl"></span>
								<p class="fl">10000+精选寄宿家庭，都是在当地有较高收入的优质家庭</p>
							</div>
							<div class="clearfix">
								<span class="fl"></span>
								<p class="fl">根据学生需求至少提供2-3个家庭供选择</p>
							</div>
							<div class="clearfix">
								<span class="fl"></span>
								<p class="fl">免费更换寄宿家庭，并且保证调换住家的时效性</p>
							</div>
						</div>
						<a href="/fmfml/0-1.html" target="_blank">提前预约寄宿家庭</a>
					</div>
					<div class="box box2 fl">
						<div class="img">
							海外无忧管家
						</div>
						<div class="bot">
							<div class="clearfix">
								<span class="fl"></span>
								<p class="fl">及时解决学生留学期间学习、生活问题</p>
							</div>
							<div class="clearfix">
								<span class="fl"></span>
								<p class="fl">把控服务质量，不定期组织实地探访，了解学生实际情况反馈家长</p>
							</div>
							<div class="clearfix">
								<span class="fl"></span>
								<p class="fl">24H紧急情况处理，随时保持联系进行处理</p>
							</div>
						</div>
						<a href="/page/overseashome.html" target="_blank">预约贴心无忧管家</a>
					</div>
					<div class="box box3 fl">
						<div class="img">
							出国衔接课程
						</div>
						<div class="bot">
							<div class="clearfix">
								<span class="fl"></span>
								<p class="fl">美国本土多年资深教学在职教师授课</p>
							</div>
							<div class="clearfix">
								<span class="fl"></span>
								<p class="fl">课程设计丰富，并拥有美国原版教材</p>
							</div>
							<div class="clearfix">
								<span class="fl"></span>
								<p class="fl">小班制授课，老师对学生关注度高，让学生快速适应中美学习差异</p>
							</div>
						</div>
						<a href="/page/goclass.html" target="_blank">获取彬彬原版教材</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 彬彬助力无数学子获得Offer -->
		<div class="getOffer njBox gWidth1170">
			<!-- title -->
			<div class="title">
				<h3>彬彬助力无数学子获得Offer</h3>
				<span></span>
			</div>
			<!-- content -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide clearfix">
						<div class="box fl">
							<img src="/static/home/img/page/9_12/anli1.png" class="tou" alt="">
							<div class="fr">
								<h4>顺利转学</h4>
								<p>在美触犯校规，18小时顺利转学</p>
								<a href="javascript:;" onclick="go()" class="fr">案例详情&gt;</a>
							</div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/9_12/anli2.png" class="tou" alt="">
							<div class="fr">
								<h4>执着申请</h4>
								<p>申请三次被列入waiting list，辗转逆袭</p>
								<a href="javascript:;" onclick="go()" class="fr">案例详情&gt;</a>
							</div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/9_12/anli3.png" class="tou" alt="">
							<div class="fr">
								<h4>梦圆蓝带</h4>
								<p>一年精心规划准备，成功申请圣玛丽学院</p>
								<a href="javascript:;" onclick="go()" class="fr">案例详情&gt;</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination" style="display: none;"></div>
		</div>
		
		<!-- 彬彬教育致力让每一个学生牵手世界名校 -->
		<div id="mydiv" class="njBox" style="height: 695px;">
			<div class="box gWidth1170 clearfix">
				<!-- title -->
				<div class="title">
					<h3>彬彬教育致力让每一个学生牵手世界名校</h3>
					<span></span>
				</div>
				<!-- content -->
				<div class="content gWidth1170">
					<div class="fl">
						<ul>
							<li class="li1">
								<h3>6位1体</h3>
								<p>业内首创“6位1体”服务模式；服务客户满意度高达100%</p>
							</li>
							<li class="li2">
								<h3>广资源</h3>
								<p>1000+校园独家代理；实地考察 真实可靠</p>
							</li>
							<li class="li3">
								<h3>多重认证</h3>
								<p>留学行业质量认证标准机构、国内十佳品牌诚信<br />留学机构、CSIET评审认证留学机构</p>
							</li>
						</ul>
					</div>
					<div class="dq">
						<div>
						</div>
					</div>
					<div class="fr">
						<ul>
							<li class="li1 clearfix">
								<h3>全覆盖</h3>
								<p class="fr">600+海外同专业导师覆盖全美TOP100名校<br />让学生提前了解校园生活并提供全程对应辅导</p>
							</li>
							<li class="li2 clearfix">
								<h3>大数据</h3>
								<p class="fr" style="width: 330px;">120000+超大申请数据库；科学手段狂揽offer</p>
							</li>
							<li class="li3 clearfix">
								<h3>两个“1”</h3>
								<p class="fr">国内独1拥有海外监管服务中心留学机构<br />国内独1拥有海外院校开发资质的留学机构</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 底部 -->
		{include file="common/common_bottom"/}
		<script type="text/javascript">
			var t = document.documentElement.scrollTop || document.body.scrollTop;
			var scroll = true;
			if(t>=100){
				$('.abcBannav').css({'display': 'none'});
				$('.topNav').css({'position': 'static'});
			}
			var spanWidth = 100 / $('.bannerNav span').length;
			var spanW = spanWidth.toFixed(1) + '%';
			$('.bannerNav span').css({'width': spanW});
			// bannerNav 滚动浮动
			var t = document.documentElement.scrollTop || document.body.scrollTop;
			$gkLength = $('.njBox').length;
			var nav = $('.bannerNav').offset().top;
			window.onscroll = function () {
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if(top>=nav){
					$('.bannerNav').css({'position': 'fixed', 'top': '0', 'z-index': '9999', 'background-color': 'rgba(0,0,0,0.8)'});
				}else if(top<=$('.hBack').offset().top){
					$('.bannerNav').css({'position': 'absolute', 'top':'','bottom': '0', 'background-color': 'rgba(0,0,0,0.4)'});
				}
				for( var i=0; i<$gkLength; i++ ){
					if( i == $gkLength - 1 ){
						if( top>=$('.njBox').eq(i).offset().top ){
							$('.bannerNav span').removeClass('active');
							$('.bannerNav span').eq(i).addClass('active');
						}
						return;
					}
					if( top>=$('.njBox').eq(i).offset().top && top<$('.njBox').eq(i+1).offset().top ){
						$('.bannerNav span').removeClass('active');
						$('.bannerNav span').eq(i).addClass('active');
					}
				}
			}
			// 
			$('.bannerNav span').on('click', function () {
				var index = $('.bannerNav span').index($(this));
				var offsetTop = $('.njBox').eq(index).offset().top;
				$('body, html').stop().animate({scrollTop: offsetTop}, 1500);
			})
			// 
			$('.Doubt .content .contBottom .ll .border .problem p:last-child').css({'margin-bottom': '0'});
			// 
			$('.Resources .content .conTitle span:first-child').css({'border-right': '1px solid #BBB9B9'});
			$('.Resources .content .conTitle span').click(function () {
				var index = $('.Resources .content .conTitle span').index($(this));
				$(this).addClass('active').siblings('span').removeClass('active');
				$('.Resources .x_content .v').eq(index).stop().fadeIn().siblings('.v').css({'display': 'none'});
				if( index == 1 ){
					$('.Resources>div>p').html('作为业内唯一自己开发学校的留学机构，彬彬留学直接与海外院校合作，是众多美国中学的独家代理。');
					$('.Resources .content>a').html('了解更多优质学校');
				}else{
					$('.Resources>div>p').html('彬彬定期会引进校长团赴华来为学生面试，我们的学生享有优先录取、破格录取权。');
					$('.Resources .content>a').html('了解近期招生官来访计划');
				}
			})
			// 
			$('.Resources .x_content .v .box:nth-child(4n)').css({'margin-right': '0'});
			// 
			$('.Resources .x_content .v').eq(0).css({'display': 'block'});
			$('.Resources .x_content .v .box').on('click', function () {
				var videoSrc = $(this).children('.hover').attr('data-videoSrc');
				$('.tc_video').children('.video').children('video').attr('src', videoSrc);
				$('.tc_video').stop().fadeIn();
			})
			$('.tc_video .video img').click(function () {
				$('.tc_video').stop().fadeOut();
				$('.tc_video .video video').removeAttr('src');
			})
			// 
			$('.Recommend .content ul li span:nth-child(3n)').css({'border-right': 'none'});
			$('.Recommend .content ul li:last-child').css({'border-bottom': 'none'});
			// 
			$('.programme .content .box:last-child').css({'margin-right': '0'});
			// 彬彬后期监管服务css兼容性考虑
			$('.swiper-container3 .swiper-slide:nth-child(odd) .content .sj').css({
				'position': 'absolute',
				'left': '50%',
				'bottom': '-10px',
				'margin-left': '-10px',
				'border-top': '10px solid #2558B1',
				'border-left': '10px solid transparent',
				'border-right': '10px solid transparent',
				'transition': 'all .3s'
			})
			$('.swiper-container3 .swiper-slide:nth-child(odd) .content .sj2').css({
				'position': 'absolute',
				'left': '50%',
				'bottom': '-9px',
				'margin-left': '-10px',
				'border-top': '10px solid #FFFFFF',
				'border-left': '10px solid transparent',
				'border-right': '10px solid transparent',
				'transition': 'all .3s'
			})
			$('.swiper-container3 .swiper-slide:nth-child(2n) .content .sj').css({
				'position': 'absolute',
				'left': '50%',
				'top': '-10px',
				'margin-left': '-10px',
				'border-bottom': '10px solid #2558B1',
				'border-left': '10px solid transparent',
				'border-right': '10px solid transparent',
				'transition': 'all .3s'
			})
			$('.swiper-container3 .swiper-slide:nth-child(2n) .content .sj2').css({
				'position': 'absolute',
				'left': '50%',
				'top': '-9px',
				'margin-left': '-10px',
				'border-bottom': '10px solid #FFFFFF',
				'border-left': '10px solid transparent',
				'border-right': '10px solid transparent',
				'transition': 'all .3s',
			})
			$('.swiper-container3  .swiper-slide:nth-child(odd) .dot').css({
				'bottom': '-42px'
			})
			$('.swiper-container3 .swiper-slide:nth-child(2n) .dot').css({
				'top': '-42px'
			})
			$('.swiper-container3  .swiper-slide:nth-child(2n)').css({
				'padding-top': '176px'
			})
			// 彬彬后期监管服务js swiper配置
			var mySwiper3 = new Swiper('.swiper-container3',{
				slidesPerView : 6.7,
				offsetSlidesAfter : 2,
			});
			
			$('.leftBtn').click(function () {
				mySwiper3.swipePrev();
			});
			$('.rightBtn').click(function () {
				mySwiper3.swipeNext();
			});
			
			$('.Cost .content .box .boxBox').hover(function (){
				$(this).children('.div1').css({'display': 'none'});
				$(this).children('.div2').css({'display': 'inline-block'});
				$(this).css({'background-color': 'rgba(0,0,0,0.5)'});
			}, function () {
				$(this).children('.div1').css({'display': 'inline-block'});
				$(this).children('.div2').css({'display': 'none'});
				$(this).css({'background-color': 'rgba(0,0,0,0.3)'});
			})
			// 
			var mySwiper = new Swiper('.swiper-container',{
				pagination : '.pagination',
				paginationClickable : true
			});
			$('.getOffer .swiper-container .box:last-child').css({'margin-right': '0'});
			$('.getOffer .pagination span:last-child').css({'margin-right': '0'});
			// 
			// 
			window.onload = function() {
				//配置
				var config = {
					vx: 4,	//小球x轴速度,正为右，负为左
					vy: 4,	//小球y轴速度
					height: 2,	//小球高宽，其实为正方形，所以不宜太大
					width: 2,
					count: 200,		//点个数
					color: "228,228,228", 	//点颜色
					stroke: "228,228,228", 		//线条颜色
					dist: 30000, 	//点吸附距离
					e_dist: 20000, 	//鼠标吸附加速距离
					max_conn: 10 	//点到点最大连接数
				}
			
				//调用
				CanvasParticle(config);
			}
			$(window).scroll(function () {
				if( $(window).scrollTop() + 700 >= $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'right'});	 
				}
				
				if( $(window).scrollTop() + 700 < $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'left'});	 
				}
			})
			var t = document.documentElement.scrollTop || document.body.scrollTop;
			var scroll = true;
			if(t>=100){
				$('.topNav').css({'position': 'static'});
			}
			
			rVal($('.Doubt .content .contBottom .rForm input'));
			rVal($('.Doubt .content .contBottom .rForm textarea'));
			function rVal(Rinput) {
				var rformVal;
				Rinput.focus(function () {
					if( $(this).attr('placeholder') ){
						rformVal = $(this).attr('placeholder');
					}
					$(this).removeAttr('placeholder');
				})
				Rinput.blur(function () {
					if( rformVal ){
						$(this).attr('placeholder',rformVal);
					}
				})
			}
			// 验证手机号
			function isPhoneNo(phone) { 
				var pattern = /^1[34578]\d{9}$/; 
				return pattern.test(phone); 
			}
			$('.Doubt .content .contBottom .rForm button').on('click', function () {
				var Name = $('.Doubt .content .contBottom .rForm input.name').val();
				var Phone = $('.Doubt .content .contBottom .rForm input.phone').val();
				var Question = $('.Doubt .content .contBottom .rForm textarea').val();
				var url = window.location.href;
				var path_source = document.referrer;
				if( Name == '' || Phone == '' || Question == '' ){
					alert('选项内容不能为空！');
					return;
				}
				// 判断手机号是否合法
				if( !isPhoneNo(Phone) ){
					alert('请您输入正确的号码');
					return;
				}
				$.ajax({
					'url': '/home/form/addform',
					'dataType': 'json',
					'type': 'post',
					'data': {
						name: Name,
						phone: Phone,
						question: Question ,
						urlsite: url,
						path_source:path_source,
						page_title: $('title').eq(0).html(),
					},
					success: function (res) {
						alert(res.datas);
						$('.Doubt .content .contBottom .rForm input.name').val('');
						$('.Doubt .content .contBottom .rForm input.phone').val('');
						$('.Doubt .content .contBottom .rForm textarea').val('');
					}
				})
			})
		</script>
		<!-- 高中表单 -->
		{include file="common/common_highSchool"/}
	</body>
</html>
