{include file="common/common_head"/}
		<!-- 当前网页样式 -->
		<link rel="stylesheet" href="/static/home/css/page/middle_school.css">
		
	</head>
	<body>
		<!-- 导航 -->
		{include file="common/common_navhead"/}
		
		<!-- banner -->
		<div class="topBanner">
			<div class="gWidth1170">
				<div class="box">
					<h1>美国初中留学攻略</h1>
					<p>彬彬导师为您出谋划策  助您圆梦海外名校</p>
					<a href="javascript:;" onclick="go()">我要留学</a>
				</div>
			</div>
		</div>
		<!-- bannerNav -->
		<div class="bannerNav">
			<div class="gWidth1170 clearfix">
				<span class="active">适合人群</span>
				<span>申请方案</span>
				<span>申请流程</span>
				<span>留学费用</span>
				<span>面试TIPS</span>
				<span>名校推荐</span>
				<span>背景提升</span>
				<span>海外服务</span>
				<span>彬彬优势</span>
			</div>
		</div>
		<div class="hnav" style="height: 60px; display: none;"></div>
		
		<!-- 哪些学生适合到美国读初中？ -->
		<div class="what qb_index gWidth1170">
			<!-- title -->
			<div class="title clearfix">
				<span class="spanl"><em></em></span>
				<h3>哪些学生适合到美国读初中?</h3>
				<span class="spanr"><em></em></span>
			</div>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<div class="poa1">性格开朗，适应能力强</div>
					<div class="poa2">
						<h4>性格开朗，适应能力强</h4>
						<p>性格开朗的学生更容易适应新环境，能够快速融入到美国初中的学习、生活中，并能快速交到好朋友，健康并快乐的在美国成长。</p>
						<a href="javascript:;" onclick="go()">免费评估适应力</a>
					</div>
				</div>
				<div class="box box2 fl">
					<div class="poa1">创造力强，有个性</div>
					<div class="poa2">
						<h4>创造力强，有个性</h4>
						<p>创造力强的孩子有点调皮，有喜好、有想法，在国内可能不够优秀，但在美国会被认为是非常有潜力的，易获得自信并在喜欢的领域中创造非凡成就。</p>
						<a href="javascript:;" onclick="go()">科学匹配最佳中学</a>
					</div>
				</div>
				<div class="box box3 fl">
					<div class="poa1">英语好，口语赞</div>
					<div class="poa2">
						<h4>英语好，口语赞</h4>
						<p>沟通是美国留学重要前提，去美国读中学需要具备良好的英语沟通能力，才能快速适应美国学习及生活。</p>
						<a href="javascript:;" onclick="go()">快速提升英语能力</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 美国初中申请方案 -->
		<div class="sq_fangan qb_index">
			<div class="gWidth1170">
				<!-- title -->
				<div class="title clearfix">
					<span class="spanl"><em></em></span>
					<h3>美国初中申请方案</h3>
					<span class="spanr"><em></em></span>
				</div>
				<!-- content -->
				<div class="content clearfix">
					<div class="box fl">
						<h4>小学六年级</h4>
						<span></span>
						<b>可申请美国6/7年级</b>
						<p>（相当于中国6年级/初一）</p>
						<p>提供小托福，建议提供SSAT成绩</p>
					</div>
					<div class="box fl">
						<h4>初一在读</h4>
						<span></span>
						<b>可申请美国7/8年级</b>
						<p>（相当于中国初一/初二）</p>
						<p>提供小托福，建议提供SSAT成绩</p>
					</div>
					<div class="box fl">
						<h4>初二在读</h4>
						<span></span>
						<b>可申请美国8/9年级</b>
						<p>（相当于中国初二/初三）</p>
						<p>提供小托福，建议提供SSAT成绩</p>
					</div>
				</div>
				<a href="javascript:;" onclick="go()">免费定制专属留学方案</a>
			</div>
		</div>
		
		<!-- 美国初中申请流程 -->
		<div class="sq_liucheng qb_index gWidth1170">
			<!-- title -->
			<div class="title clearfix">
				<span class="spanl"><em></em></span>
				<h3>美国初中申请流程</h3>
				<span class="spanr"><em></em></span>
			</div>
			<!-- content -->
			<div class="content clearfix">
				<div class="fl">
					<h4>美国初中申请材料</h4>
					<span></span>
					<ul>
						<li>成绩单</li>
						<li>推荐信</li>
						<li>标准化考试成绩</li>
						<li>学校申请表</li>
						<li>学校申请费</li>
						<li>银行存款证明</li>
						<li>其他有利于申请的文件</li>
					</ul>
					<a href="javascript:;" onclick="go()">需要准备哪些考试</a>
				</div>
				<div class="fr">
					<div class="tone clearfix">
						<span>留学咨询</span><img src="/static/home/img/page/7_8/jiantou3.png" alt="">
						<span>确定方案</span><img src="/static/home/img/page/7_8/jiantou3.png" alt="">
						<span>提交申请</span><img src="/static/home/img/page/7_8/jiantou3.png" alt="">
						<span>面试</span>
					</div>
					<div class="ttwo clearfix">
						<b>锁定4-10所目标学校，根据学校要求准备语言考试、标准化考试</b><img src="/static/home/img/page/7_8/jiantou2.png" alt="">
					</div>
					<div class="tthree clearfix">
						<span class="fr">获得offer</span><img class="fr" src="/static/home/img/page/7_8/jiantou1.png" alt="">
						<span class="fr">签证办理</span><img class="fr" src="/static/home/img/page/7_8/jiantou1.png" alt="">
						<span class="fr">行前指导</span><img class="fr" src="/static/home/img/page/7_8/jiantou1.png" alt="">
						<span class="fr">入学</span>
					</div>
					<a href="javascript:;" onclick="go()">咨询申请详情</a>
				</div>
			</div>
		</div>
		
		<!-- 美国初中留学费用 -->
		<div class="Cost gWidth1170 qb_index">
			<!-- title -->
			<div class="title clearfix">
				<span class="spanl"><em></em></span>
				<h3>美国初中留学费用</h3>
				<span class="spanr"><em></em></span>
			</div>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<div class="boxBox">
						<div class="div1">
							<h4>学费</h4>
							<p>走读、寄宿</p>
							<img src="/static/home/img/page/9_12/anniu.png" alt="">
						</div>
						<div class="div2">
							<p style="width: 270px;">走读中学：每年约45,000-75,000美元<br />寄宿中学：每年约45,000-80,000美元</p>
							<a href="javascript:;" onclick="go()">咨询具体费用</a>
						</div>
					</div>
				</div>
				<div class="box box2 fl">
					<div class="boxBox">
						<div class="div1">
							<h4>生活费</h4>
							<p>住宿、交通</p>
							<img src="/static/home/img/page/9_12/anniu.png" alt="">
						</div>
						<div class="div2">
							<p>一般每年约2万美元，纽约、波士顿、旧金山等大城市生活费用会相对高一些。（地区不同生活费用有所不同）</p>
							<a href="javascript:;" onclick="go()">咨询具体费用</a>
						</div>
					</div>
				</div>
				<div class="box box3 fl">
					<div class="boxBox">
						<div class="div1">
							<h4>其它费用</h4>
							<p>医疗、课本、活动</p>
							<img src="/static/home/img/page/9_12/anniu.png" alt="">
						</div>
						<div class="div2">
							<p>医疗费每年约500-1000美元；书本费每年约500-800美元；课外活动费用每年约300-1000美元。（具体费用根据学校而定）</p>
							<a href="javascript:;" onclick="go()">咨询具体费用</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 美国初中招生官推荐面试TIPS -->
		<div class="tips qb_index">
			<div class="gWidth1170">
				<!-- title -->
				<div class="title clearfix">
					<span class="spanl"><em></em></span>
					<h3>美国初中招生官推荐面试TIPS</h3>
					<span class="spanr"><em></em></span>
				</div>
				<!-- content -->
				<div class="content clearfix">
					<div class="fl">
						<h4>掌握面试技巧</h4>
						<div class="clearfix">
							<div class="box fl">
								<img src="/static/home/img/page/7_8/750aff9edd84d6bacd2664bd9b7c5e9.png" alt="了解学校的教学理念和教学特点" title="了解学校的教学理念和教学特点">
								<p>了解学校的教学理念和教学特点</p>
							</div>
							<div class="box fl">
								<img src="/static/home/img/page/7_8/171209.png" alt="突出自己最大的优势" title="突出自己最大的优势">
								<p>突出自己最大的优势</p>
							</div>
							<div class="box fl">
								<img src="/static/home/img/page/7_8/22781388045053.png" alt="表达个人的自信和坦率" title="表达个人的自信和坦率">
								<p>表达个人的自信和坦率</p>
							</div>
							<div class="box fl">
								<img src="/static/home/img/page/7_8/3946b2435db44089bce45a48576c5300_th.png" alt="需要注意的细节和礼节" title="需要注意的细节和礼节">
								<p>需要注意的细节和礼节</p>
							</div>
						</div>
						<a href="javascript:;" onclick="go()">掌握更多技巧</a>
					</div>
					<div class="fr">
						<h4>面试常见问题</h4>
						<ul>
							<li>
								<a href="javascript:;" onclick="go()"><span></span>你最近关注的事件</a><a href="javascript:;" onclick="go()"><span></span>你最喜欢的书</a>
							</li>
							<li>
								<a href="javascript:;" onclick="go()"><span></span>你的爱好</a><a href="javascript:;" onclick="go()"><span></span>你喜欢我们学校什么东西</a>
							</li>
							<li>
								<a href="javascript:;" onclick="go()"><span></span>你的目标</a><a href="javascript:;" onclick="go()"><span></span>你最喜欢以及最不喜欢的课程</a>
							</li>
							<li>
								<a href="javascript:;" onclick="go()"><span></span>谁是你的模范</a><a href="javascript:;" onclick="go()"><span></span>你为什么非常适合这个学校</a>
							</li>
							<li class="li2">
								<a href="javascript:;" onclick="go()"><span></span>你曾经和某位老师或者其他学生有过冲突吗</a>
							</li>
							<li class="li2">
								<a href="javascript:;" onclick="go()"><span></span>你的教育中最重要的部分是什么</a>
							</li>
						</ul>
						<a href="javascript:;" onclick="go()">更多面试问题</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 美国初中名校推荐 -->
		<div class="mingxiao_tuijian qb_index gWidth1170">
			<!-- title -->
			<div class="title clearfix">
				<span class="spanl"><em></em></span>
				<h3>美国初中名校推荐</h3>
				<span class="spanr"><em></em></span>
			</div>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<img src="/static/home/img/page/7_8/school1.png" alt="卡迪根山中学" title="卡迪根山中学">
					<div class="poa">
						<h4>卡迪根山中学</h4>
						<p>Cardigan Mountain School</p>
						<ul>
							<li>学校位置：Canaan/NH</li>
							<li>建校时间：1945</li>
							<li>班级人数：13</li>
							<li>师生比率：1:4</li>
						</ul>
						<a href="javascript:;" onclick="go()">申请详情</a>
					</div>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/7_8/school2.png" alt="鹰溪中学" title="鹰溪中学">
					<div class="poa">
						<h4>鹰溪中学</h4>
						<p>Eaglebrook School</p>
						<ul>
							<li>学校位置：Deerfield/MA</li>
							<li>建校时间：1922</li>
							<li>班级人数：10</li>
							<li>师生比率：1:5</li>
						</ul>
						<a href="javascript:;" onclick="go()">申请详情</a>
					</div>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/7_8/school3.png" alt="菲尔中学" title="菲尔中学">
					<div class="poa">
						<h4>菲尔中学</h4>
						<p>The Fay School</p>
						<ul>
							<li>学校位置：Southborough/MA</li>
							<li>建校时间：1866</li>
							<li>班级人数：12</li>
							<li>师生比率：1:8</li>
						</ul>
						<a href="javascript:;" onclick="go()">申请详情</a>
					</div>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/7_8/school4.png" alt="印第安山中学" title="印第安山中学">
					<div class="poa">
						<h4>印第安山中学</h4>
						<p>Indian Mountain School</p>
						<ul>
							<li>学校位置：Lakeville/CT</li>
							<li>建校时间：1922</li>
							<li>班级人数：10</li>
							<li>师生比率：1:4</li>
						</ul>
						<a href="javascript:;" onclick="go()">申请详情</a>
					</div>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/7_8/school5.png" alt="希尔赛德中学" title="希尔赛德中学">
					<div class="poa">
						<h4>希尔赛德中学</h4>
						<p>Hillside School</p>
						<ul>
							<li>学校位置：Marlborough/MA</li>
							<li>建校时间：1901</li>
							<li>班级人数：10</li>
							<li>师生比率：1:7</li>
						</ul>
						<a href="javascript:;" onclick="go()">申请详情</a>
					</div>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/7_8/school6.png" alt="北郡中学" title="北郡中学">
					<div class="poa">
						<h4>北郡中学</h4>
						<p>North Country School</p>
						<ul>
							<li>学校位置：Lake Placid/NY</li>
							<li>建校时间：1938</li>
							<li>班级人数：12</li>
							<li>师生比率：1:3</li>
						</ul>
						<a href="javascript:;" onclick="go()">申请详情</a>
					</div>
				</div>
			</div>
			<a href="javascript:;" onclick="go()">查看更多名校推荐</a>
		</div>
		
		<!-- 参加背景提升课程 提高美国名校录取几率 -->
		<div class="qb_index bjts_kc gWidth1170">
			<!-- title -->
			<div class="title clearfix">
				<span class="spanl"><em></em></span>
				<h3>参加背景提升课程 提高美国名校录取几率</h3>
				<span class="spanr"><em></em></span>
			</div>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<div class="img">插班</div>
					<div class="c">
						<p>插班是指中国学生利用不同国家学校放假和开学的时间差，赴国外走进当地的学校，进行短期学习，深度体验国外的课堂，感受多元文化。</p>
						<a href="javascript:;" onclick="go()">规划专属方案</a>	
					</div>
				</div>
				<div class="box fl">
					<div class="img img2">访校</div>
					<div class="c">
						<p>深度走访美国精英学校，体验美国特色课程，全面了解美国文化，埋下梦想的种子，提升跨文化交流的能力。</p>
						<a href="javascript:;" onclick="go()">点击开启访校之旅</a>	
					</div>
				</div>
				<div class="box fl">
					<div class="img img3">夏令营</div>
					<div class="c">
						<p>夏令营可以带领孩子们全真体验世界著名学府，拓宽国际视野，丰富人生阅历，增强主动性，培养个性以及国际化、多元化的文化理念和思维习惯。</p>
						<a href="javascript:;" onclick="go()">私人订制路线</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 彬彬海外独家特色服务 -->
		<div class="tese_fuwu qb_index">
			<div class="gWidth1170">
				<div class="title clearfix">
					<span class="spanl"><em></em></span>
					<h3>彬彬海外独家特色服务</h3>
					<span class="spanr"><em></em></span>
				</div>
				<div class="content clearfix">
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu1.png" alt="寄宿家庭安置全服务" title="寄宿家庭安置全服务">
							<span>寄宿家庭安置全服务</span>
						</div>
						<p>提供寄宿家庭选择；十个月食宿费用；上、下学交通；国际学生监护；免费更换寄宿家庭</p>
						<a href="/fmfml/0-1.html" target="_blank">提前预约寄宿家庭</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu2.png" alt="住宿管理" title="住宿管理">
							<span>住宿管理</span>
						</div>
						<p>7*24紧急情况协助；匹配服务团队随时沟通；协助处理就医问题；定期家访、校访；生活矛盾处理</p>
						<a href="/page/overseashome.html" target="_blank">预约贴心无忧管家</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu3.png" alt="学业跟踪" title="学业跟踪">
							<span>学业跟踪</span>
						</div>
						<p>校规培训及介绍；成绩跟踪及反馈；选课及学习指导；升学规划；转学申请</p>
						<a href="javascript:;" onclick="go()">预约辅导老师</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu4.png" alt="留学课堂" title="留学课堂">
							<span>留学课堂</span>
						</div>
						<p>背景提升；美国风俗文化授课；名校学长传授留学经验；美国生活指导；定期组织课外活动</p>
						<a href="javascript:;" onclick="go()">定制个性化成长方案</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu5.png" alt="行前指导" title="行前指导">
							<span>行前指导</span>
						</div>
						<p>机票购买指导；行前行李准备；出入境指导；安全培训；选课、校服、疫苗体检等指导</p>
						<a href="javascript:;" onclick="go()">知己知彼，出行无忧</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu6.png" alt="其他支持服务" title="其他支持服务">
							<span>其他支持服务</span>
						</div>
						<p>ISWP心理支持服务；协助解决突发事件；法务支持；租房/买房；移民</p>
						<a href="javascript:;" onclick="go()">更多服务了解</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 彬彬教育致力让每一个学生牵手世界名校 -->
		<div id="mydiv" class="qb_index" style="height: 695px;">
			<div class="box gWidth1170 clearfix">
				<!-- title -->
				<div class="title clearfix">
					<span class="spanl"><em></em></span>
					<h3>彬彬教育致力让每一个学生牵手世界名校</h3>
					<span class="spanr"><em></em></span>
				</div>
				<!-- content -->
				<div class="content gWidth1170">
					<div class="fl">
						<ul>
							<li class="li1">
								<h3>6位1体</h3>
								<p>业内首创“6位1体”服务模式；服务客户满意度高达100%</p>
							</li>
							<li class="li2">
								<h3>广资源</h3>
								<p>1000+校园独家代理；实地考察 真实可靠</p>
							</li>
							<li class="li3">
								<h3>多重认证</h3>
								<p>留学行业质量认证标准机构、国内十佳品牌诚信<br />留学机构、CSIET评审认证留学机构</p>
							</li>
						</ul>
					</div>
					<div class="dq">
						<div>
						</div>
					</div>
					<div class="fr">
						<ul>
							<li class="li1 clearfix">
								<h3>全覆盖</h3>
								<p class="fr">600+海外同专业导师覆盖全美TOP100名校<br />让学生提前了解校园生活并提供全程对应辅导</p>
							</li>
							<li class="li2 clearfix">
								<h3>大数据</h3>
								<p class="fr" style="width: 330px;">120000+超大申请数据库；科学手段狂揽offer</p>
							</li>
							<li class="li3 clearfix">
								<h3>两个“1”</h3>
								<p class="fr">国内独1拥有海外监管服务中心留学机构<br />国内独1拥有海外院校开发资质的留学机构</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 底部 -->
		{include file="common/common_bottom"/}
		<script type="text/javascript">
			var t = document.documentElement.scrollTop || document.body.scrollTop;
			var scroll = true;
			if(t>=100){
				$('.abcBannav').css({'display': 'none'});
				$('.topNav').css({'position': 'static'});
			}
			var nav = $('.bannerNav').offset().top;
			$gkLength = $('.qb_index').length;
			window.onscroll = function () {
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if(top>=nav){
					$('.bannerNav').css({'position': 'fixed', 'top': '0', 'z-index': '9999'});
					$('.hnav').css({'display': 'block'});
				}else if(top<=$('.what').offset().top){
					$('.bannerNav').css({'position': 'static', 'top':''});
					$('.hnav').css({'display': 'none'});
				}
				for( var i=0; i<$gkLength; i++ ){
					console.log(1);
					if( i == $gkLength - 1 ){
						if( top>=$('.qb_index').eq(i).offset().top ){
							$('.bannerNav span').removeClass('active');
							$('.bannerNav span').eq(i).addClass('active');
						}
						return;
					}
					if( top>=$('.qb_index').eq(i).offset().top - 200 && top<$('.qb_index').eq(i+1).offset().top ){
						$('.bannerNav span').removeClass('active');
						$('.bannerNav span').eq(i).addClass('active');
					}
				}
			}
			// 
			$('.bannerNav span').on('click', function () {
				var index = $('.bannerNav span').index($(this));
				var offsetTop = $('.qb_index').eq(index).offset().top;
				if( $('.bannerNav').css('position') !== 'fixde' ){
					$('body, html').stop().animate({scrollTop: offsetTop - 60}, 1500);
				}else{
					$('body, html').stop().animate({scrollTop: offsetTop}, 1500);
				}
			})
			// 
			$('.bannerNav span:last-child').css({'border-right': 'none'});
			//
			$('.what .content .box:last-child').css({'margin-right': '0'});
			$('.what .content .box').hover(function () {
				$(this).children('.poa1').stop().fadeOut();
				$(this).children('.poa2').stop().fadeIn();
			}, function () {
				$(this).children('.poa2').stop().fadeOut();
				$(this).children('.poa1').stop().fadeIn();				
			})
			// 
			$('.sq_fangan .box:last-child').css({'margin-right': '0'});
			// 
			$('.Cost .content .box .boxBox').hover(function (){
				$(this).children('.div1').css({'display': 'none'});
				$(this).children('.div2').css({'display': 'inline-block'});
				$(this).css({'background-color': 'rgba(3,32,58,0.5)'});
			}, function () {
				$(this).children('.div1').css({'display': 'inline-block'});
				$(this).children('.div2').css({'display': 'none'});
				$(this).css({'background-color': 'rgba(3,32,58,0.3)'});
			})
			// 
			$('.tips .content>div.fl .box:nth-child(2n)').css({'margin-right': '0'});
			// 
			$('.tips .content>div.fr ul li:last-child').css({'border-bottom': 'none'});
			// 
			$('.mingxiao_tuijian .content .box').hover(function () {
				$(this).children('.poa').stop().animate({'height': '286px'}, 500);
			}, function () {
				$(this).children('.poa').stop().animate({'height': '105px'}, 500);
			})
			$('.mingxiao_tuijian .content .box:nth-child(3n)').css({'margin-right': '0'});
			// 
			$('.bjts_kc .content .box:last-child').css({'margin-right': '0'});
			$('.tese_fuwu .content .box:nth-child(3n)').css({'margin-right': '0'});
			// 
			window.onload = function() {
				//配置
				var config = {
					vx: 4,	//小球x轴速度,正为右，负为左
					vy: 4,	//小球y轴速度
					height: 2,	//小球高宽，其实为正方形，所以不宜太大
					width: 2,
					count: 200,		//点个数
					color: "228,228,228", 	//点颜色
					stroke: "228,228,228", 		//线条颜色
					dist: 30000, 	//点吸附距离
					e_dist: 20000, 	//鼠标吸附加速距离
					max_conn: 10 	//点到点最大连接数
				}
			
				//调用
				CanvasParticle(config);
			}
			
			$(window).scroll(function () {
				if( $(window).scrollTop() + 700 >= $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'right'});	 
				}
				
				if( $(window).scrollTop() + 700 < $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'left'});	 
				}
			})
			// 
			var textHtml = [
				'咨询彬彬留学专家制定留学方案、学习规划',
				'锁定4-10所目标学校，根据学校要求准备语言考试、标准化考试',
				'准备申请材料并提交申请',
				'彬彬教育留学专家进行面试辅导，准备面试',
				'跟踪申请状态，直到获得offer后，确定入读学校',
				'准备办理留学签证I-20',
				'进行彬彬教育行前指导培训',
				'顺利出国，完成美国初中留学课程'
			]
			$('.sq_liucheng .content>div.fr>div span').eq(0).addClass('active');
			$('.sq_liucheng .content>div.fr>div span').hover(function () {
				var index = $('.sq_liucheng .content>div.fr>div span').index($(this));
				$('.sq_liucheng .content>div.fr>div b').html(textHtml[index]);
				$('.sq_liucheng .content>div.fr>div span').removeClass('active');
				$(this).addClass('active');
			})
		</script>

		<!-- 高中表单 -->
		{include file="common/common_highSchool"/}
	</body>
</html>
