{include file="common/common_head"/}
		<!-- 当前网页样式 -->
		<link rel="stylesheet" href="/static/home/css/page/overseashome.css">
	</head>
	<body>
		<!-- 导航 -->
		{include file="common/common_navhead"/}

		<!-- banenr -->
		<div class="banner">
			<a href="javascript:;" onclick="go()">免费服务热线：400-900-9770</a>
			<span></span>
		</div>
		
		<!-- 数字 -->
		<div class="num">
			<div class="gWidth1170 clearfix">
				<div class="box box1">
					<h3><span id="span1">13</span>年</h3>
					<p>专注美国低龄留学</p>
				</div>
				<div class="box box2">
					<h3><span id="span2">1000</span>+</h3>
					<p>海外监管服务导师</p>
				</div>
				<div class="box box3">
					<h3><span id="span3">20000</span>+</h3>
					<p>成功服务留美学生</p>
				</div>
				<div class="box box4">
					<h3><span id="span4">1000</span>+</h3>
					<p>美国高中独家代理</p>
				</div>
				<div class="box box5">
					<h3><span id="span5">10000</span>+</h3>
					<p>美国合作寄宿家庭</p>
				</div>
			</div>
		</div>
		
		<!-- 留学路上的疑虑 -->
		<div class="yilv gWidth1170">
			<h3>留学路上的疑虑<span></span></h3>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<img src="/static/home/img/page/haiwai_jianguan/tu1.jpg" alt="海外求学" title="海外求学">
					<div class="boxBottom">
						<p><a href="javascript:;" onclick="go()"><span></span>对学校不满意可以转学吗？</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>学习跟不上怎么办？</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>对宿舍/寄宿家庭不满意能换吗？</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>怎么更快的融入美国生活？</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>打算申请本科需要怎么准备？</a></p>
					</div>
					<span>海外求学</span>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/haiwai_jianguan/tu2.png" alt="家长的疑惑" title="家长的疑惑">
					<div class="boxBottom">
						<p><a href="javascript:;" onclick="go()"><span></span>怎么了解孩子在美学习生活状态？</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>孩子在美的人身安全谁来保障？</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>学校对孩子的反馈家长怎么了解？</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>家长应该跟谁沟通孩子的状况？</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>谁可以辅导孩子的学习？</a></p>
					</div>
					<span>家长的疑惑</span>
				</div>
				<div class="box fl">
					<img src="/static/home/img/page/haiwai_jianguan/tu2.jpg" alt="行前准备" title="行前准备">
					<div class="boxBottom">
						<p><a href="javascript:;" onclick="go()"><span></span>都需要带哪些行李</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>出入境需要办理什么手续？</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>去留学需要带多少钱？</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>学校附近治安怎么样？</a></p>
						<p><a href="javascript:;" onclick="go()"><span></span>怎么解决住宿问题？</a></p>
					</div>
					<span>行前准备</span>
				</div>
			</div>
			<a href="javascript:;" onclick="go()">提出您的顾虑</a>
		</div>
		
		<!-- 所有的顾虑都有了完美的解决方案 -->
		<div class="jiejue_fangan">
			<div class="gWidth1170">
				<h3>所有的顾虑都有了完美的解决方案<span></span></h3>
				<div class="content clearfix">
					<div class="box fl">
						<img src="/static/home/img/page/haiwai_jianguan/icon1.png" alt="">
						<h4>一站式贴心服务产品</h4>
						<p>从留学申请服务，到离境入美指导，帮助学生成功去美国留学。</p>
					</div>
					<div class="box fl">
						<img src="/static/home/img/page/haiwai_jianguan/icon2.png" alt="">
						<h4>定期的留学状态反馈</h4>
						<p>定期将学生的最新动态反馈给家长，帮助家长了解学生在美的学习进程。</p>
					</div>
					<div class="box fl">
						<img src="/static/home/img/page/haiwai_jianguan/icon3.png" alt="">
						<h4>每年的定期实地探访</h4>
						<p>1000余名海外服务老师，定期实地探访，了解学生学习情况，协调学生生活情况。</p>
					</div>
					<div class="box fl">
						<img src="/static/home/img/page/haiwai_jianguan/icon4.png" alt="">
						<h4>后续海外监管服务体系</h4>
						<p>全年无休，24H紧急处理学生突发状况，解决留学后续需求，做到真正的无忧留学。</p>
					</div>
				</div>
				<a href="javascript:;" onclick="go()">一键获取您的解决方案</a>
				<span></span>
			</div>
		</div>
		
		<!-- 彬彬海外独家特色服务 -->
		<div class="tese_fuwu">
			<div class="gWidth1170">
				<h3>彬彬海外独家特色服务<span></span></h3>
				<div class="content clearfix">
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu1.png" alt="寄宿家庭安置全服务" title="寄宿家庭安置全服务">
							<span>寄宿家庭安置全服务</span>
						</div>
						<p>提供寄宿家庭选择；十个月食宿费用；上、下学交通；国际学生监护；免费寄宿家庭更换</p>
						<a href="/fmfml/0-1.html" target="_blank">提前预约寄宿家庭</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu2.png" alt="住宿管理" title="住宿管理">
							<span>住宿管理</span>
						</div>
						<p>7*24紧急情况协助；匹配服务团队随时沟通；协助处理出现、就医等；定期家访、校访；生活矛盾处理</p>
						<a href="javascript:;" onclick="go()">预约贴心无忧管家</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu3.png" alt="学业跟踪" title="学业跟踪">
							<span>学业跟踪</span>
						</div>
						<p>校规培训及介绍；成绩跟踪及反馈；选课及学习指导；升学规划；转学申请</p>
						<a href="javascript:;" onclick="go()">预约辅导老师</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu4.png" alt="留学课堂" title="留学课堂">
							<span>留学课堂</span>
						</div>
						<p>背景提升；美国风俗文化授课；名校学长传授留学经验；美国生活指导；定期组织课外活动</p>
						<a href="javascript:;" onclick="go()">定制个性化成长方案</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu5.png" alt="行前指导" title="行前指导">
							<span>行前指导</span>
						</div>
						<p>机票购买指导；行前行李准备；出入境指导；安全培训；选课、校服、疫苗体检等指导</p>
						<a href="javascript:;" onclick="go()">知己知彼，出行无忧</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu6.png" alt="其他支持服务" title="其他支持服务">
							<span>其他支持服务</span>
						</div>
						<p>ISWP心理支持服务；协助解决突发事件；法务支持；租房/买房；移民</p>
						<a href="javascript:;" onclick="go()">更多服务了解</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 海外监管服务团队 -->
		<div class="fuwu_team gWidth1170">
			<div class="title">
				<h3>海外监管服务团队</h3>
				<p>彬彬教育为了给学生提供更好的服务，在国内和海外都设有后期监管团队，专人专岗24H在线，实时处理学生出现的任何问题。</p>
				<span></span>
			</div>
			<!-- 选项 -->
			<div class="fw_xuanxiang clearfix">
				<span class="active">学业支持</span>
				<span id="center">院校开发和家庭招募</span>
				<span>生活指导</span>
			</div>
			<div class="boxc">
				<img src="/static/home/img/page/LowAge/学业支持.jpg" class="back" alt="Lisa" title="Lisa">
				<div class="hidden">
					<h3>Lisa</h3>
						<span></span>
						<p>Lisa老师是哥伦比亚大学教育学硕士。她已经在美国生活十余年，深刻理解美国高等教育体系。了解东部文化生活，热爱教育事业，对美国K-12教育体系具有独到见解。</p>
						<a href="javascript:;" onclick="go()">向TA咨询</a>
					</div>
					<img src="/static/home/img/page/zoudugaozhong/bofang.jpg" data-videosrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/121de3685285890786332136502/4FuplOp9nt4A.mp4" class="bf" alt="">
			</div>
			<div class="boxc">
				<img src="/static/home/img/page/LowAge/院校开发和家庭招募.jpg" class="back" alt="Angela Gong" title="Angela Gong">
				<div class="hidden">
					<h3>Angela Gong</h3>
						<span></span>
						<p>普渡大学大学传播学学士。主要负责美国东北部地区院校开发和家庭招募工作，每年与多家优质学校建立合作关系，对招募家庭标准把控也非常严格。</p>
						<a href="javascript:;" onclick="go()">向TA咨询</a>
					</div>
					<img src="/static/home/img/page/zoudugaozhong/bofang.jpg" data-videosrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/deb0aa565285890786664841640/An90AkRbSoYA.mp4" class="bf" alt="">
			</div>
			<div class="boxc">
				<img src="/static/home/img/page/LowAge/生活指导.jpg" class="back" alt="Vicky" title="Vicky">
				<div class="hidden">
					<h3>Vicky</h3>
						<span></span>
						<p>Vicky毕业于德州大学奥斯汀分校。Vicky老师非常擅长沟通，从业三年，针对留学生初到美国的抗拒心理有自己的解决办法，深受留学生喜爱。</p>
						<a href="javascript:;" onclick="go()">向TA咨询</a>
					</div>
					<img src="/static/home/img/page/zoudugaozhong/bofang.jpg" data-videosrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/121cd42f5285890786332134781/zshGuWryQv8A.mp4" class="bf" alt="">
			</div>
			<a href="javascript:;" onclick="go()">了解项目详情</a>
		</div>
		
		<!-- 弹出的视频 -->
		<div class="tc_video">
			<div class="video">
				<video src="" autoplay="autoplay" controls="controls">
					您的浏览器不支持video标签
				</video>
				<img src="/static/home/img/page/LowAge/video_gb.png" alt="">
			</div>
		</div>
		
		<!-- 因为彬彬，所以无忧 -->
		<!-- <div class="wuyou">
			<div class="gWidth1170">
				<h3>因为彬彬，所以无忧<span></span></h3>
				<div class="clearfix content">
					<img src="" class="fl" alt="客户反馈">
					<div class="fr clearfix">
						<div class="box fl active">
							<img src="/static/home/img/page/haiwai_jianguan/1.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/haiwai_jianguan/2.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/haiwai_jianguan/3.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/haiwai_jianguan/4.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/haiwai_jianguan/5.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/haiwai_jianguan/6.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/haiwai_jianguan/7.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/haiwai_jianguan/8.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/haiwai_jianguan/9.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/haiwai_jianguan/10.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/haiwai_jianguan/11.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
						<div class="box fl">
							<img src="/static/home/img/page/haiwai_jianguan/12.jpg" alt="客户反馈">
							<div class="hidden"></div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		
		<!-- 我们的荣誉 -->
		<div class="rongyu gWidth1170">
			<h3>我们的荣誉<span></span></h3>
			<!-- content -->
			<div class="content clearfix">
				<img src="/static/home/img/page/haiwai_jianguan/51.jpg" class="fl" alt="ITEP英语水平测试中国大陆官方考试中心" title="ITEP英语水平测试中国大陆官方考试中心">
				<img src="/static/home/img/page/haiwai_jianguan/52.jpg" class="fl" alt="北京留学服务行业协会" title="北京留学服务行业协会">
				<img src="/static/home/img/page/haiwai_jianguan/53.jpg" class="fl" alt="海外监管机构认证" title="海外监管机构认证">
				<img src="/static/home/img/page/haiwai_jianguan/54.jpg" class="fl" alt="中国留学咨询师认证机构" title="中国留学咨询师认证机构">
			</div>
		</div>
		
		<!-- 彬彬教育致力于让每个学生牵手世界名校 -->
		<div id="mydiv" style="height: 695px; background: url(/static/home/img/page/haiwai_jianguan/back.jpg) no-repeat center 50%;">
			<div class="box gWidth1170 clearfix">
				<h3>彬彬教育致力于让每个学生牵手世界名校<span></span></h3>
				<!-- content -->
				<div class="content gWidth1170">
					<div class="fl">
						<ul>
							<li class="li1">
								<h3>6位1体</h3>
								<p>业内首创“6位1体”服务模式；服务客户满意度高达100%</p>
							</li>
							<li class="li2">
								<h3>广资源</h3>
								<p>1000+校园独家代理；实地考察 真实可靠</p>
							</li>
							<li class="li3">
								<h3>多重认证</h3>
								<p>留学行业质量认证标准机构、国内十佳品牌诚信<br />留学机构、CSIET评审认证留学机构</p>
							</li>
						</ul>
					</div>
					<div class="dq">
						<div>
						</div>
					</div>
					<div class="fr">
						<ul>
							<li class="li1 clearfix">
								<h3>全覆盖</h3>
								<p class="fr">600+海外同专业导师覆盖全美TOP100名校<br />让学生提前了解校园生活并提供全程对应辅导</p>
							</li>
							<li class="li2 clearfix">
								<h3>大数据</h3>
								<p class="fr" style="width: 330px;">120000+超大申请数据库；科学手段狂揽offer</p>
							</li>
							<li class="li3 clearfix">
								<h3>两个“1”</h3>
								<p class="fr">国内独1拥有海外监管服务中心留学机构<br />国内独1拥有海外院校开发资质的留学机构</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 底部 -->
		{include file="common/common_bottom"/}
		<script type="text/javascript">
			// 增长数字的动画
			var options = {
			  useEasing: true, 
			  useGrouping: true, 
			  separator: '', 
			  decimal: '.', 
			};
			
			var num1 = new CountUp("span1", 0, 13, 0, 2.5, options);
			var num2 = new CountUp("span2", 0, 1000, 0, 2.5, options);
			var num3 = new CountUp("span3", 0, 20000, 0, 2.5, options);
			var num4 = new CountUp("span4", 0, 1000, 0, 2.5, options);
			var num5 = new CountUp("span5", 0, 10000, 0, 2.5, options);
			
			num1.start();
			num2.start();
			num3.start();
			num4.start();
			num5.start();
			
			$(window).scroll(function () {
				if( $(window).scrollTop() >= $('.yilv').offset().top ){
					num1.reset();
					num2.reset();
					num3.reset();
					num4.reset();
					num5.reset();
				}else{
					num1.start();
					num2.start();
					num3.start();
					num4.start();
					num5.start();
				}
			})
			
			$('.yilv .content .box:last-child').css({'margin-right': '0'});
			
			$('.jiejue_fangan .box:last-child').css({'margin-right': '0'});

			$('.tese_fuwu .content .box:nth-child(3n)').css({'margin-right': '0'});
			
			$('.fuwu_team .fw_xuanxiang span').click(function () {
				var index = $('.fuwu_team .fw_xuanxiang span').index($(this));
				$(this).attr('class','active').siblings('span').removeAttr('class');
				$('.boxc').eq(index).stop().fadeIn().siblings('.boxc').css({'display': 'none'});
			})
			
			$('.boxc').eq(0).css({'display': 'block'});
			$('.bf').click(function () {
				var src = $(this).attr('data-videoSrc');
				$('.tc_video').children('.video').children('video').attr('src', src);
				$('.tc_video').fadeIn();
			})
			
			$('.tc_video .video img').on('click', function () {
				$('.tc_video').fadeOut();
				$(this).siblings('video').removeAttr('src');
			})	
			
			$('.wuyou .content>div.fr .box:nth-child(6n)').css({'margin-right':'0'});
			
			$('.wuyou .content>img.fl').attr('src', $('.wuyou .content>div.fr .box').eq(0).children('img').attr('src'));
			$('.wuyou .content>div.fr .box').click(function () {
				$(this).addClass('active').siblings('.box').removeClass('active');
				var src = $(this).children('img').attr('src');
				$('.wuyou .content>img.fl').attr('src', src);
			})
			
			$('.rongyu .content img:nth-child(4n)').css({'margin-right': '0'});
			$(window).scroll(function () {
				if( $(window).scrollTop() + 700 >= $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'right'});	 
				}
				
				if( $(window).scrollTop() + 700 < $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'left'});	 
				}
			})
		</script>
		
	</body>
</html>
