{include file="common/common_head"/}
		<!-- 当前网页样式 -->
		<link rel="stylesheet" href="/static/home/css/page/science.css">
	</head>
	<body>
		<!-- 导航 -->
		{include file="common/common_navhead"/}
		
		<!-- banner -->
		<div class="banner">
			<div class="gWidth1170">
				<h1>美国研究生理科热门专业申请指南</h1>
				<em>专业解析&nbsp;&nbsp;用专业影响人生</em>
				<a href="javascript:;" onclick="go()">点击匹配你的心仪专业</a>
			</div>
		</div>
		
		<!-- nav -->
		<div class="bannerNav">
			<div class="gWidth1170 clearfix">
				<span class="active">录取捷报</span>
				<span>热门专业</span>
				<span>申请难点</span>
				<span>提高竞争力</span>
				<span>申请规划</span>
				<span>成功案例</span>
				<span>软性背景提升</span>
				<span>服务模式</span>
				<span>导师服务团队</span>
				<span>彬彬优势</span>
			</div>
		</div>
		<div class="navHidden"></div>
		
		<!-- 彬彬理科专业录取捷报 -->
		<div class="luquJiebao lk_index">
			<div class="gWidth1170">
				<h3 class="title">彬彬理科专业录取捷报</h3>
				<!-- content -->
				<div class="content">
					<div class="contentTop clearfix">
						<div class="box fl">
							<h4><span id="span1">100</span>%</h4>
							<em></em>
							<p>常春藤盟校申请覆盖</p>
						</div>
						<div class="box box2 fl">
							<h4><span id="span2">2000</span>+</h4>
							<em></em>
							<p>美国TOP50名校录取</p>
						</div>
						<div class="box box3 fl">
							<h4><span id="span3">99</span>%</h4>
							<em></em>
							<p>获得心仪学校offer</p>
						</div>
						<div class="box box4 fl">
							<h4><span id="span4">2.8</span>亿</h4>
							<em></em>
							<p>申请奖学金总额</p>
						</div>
					</div>
					<div class="contentBottom clearfix">
						<div class="box fl">
							<h5>加州理工学院  计算机录取</h5>
							<p class="name">姓名：J同学</p>
							<p>本科：北京外国语大学 计算机专业</p>
							<p>GPA：3.7</p>
							<p>GRE：332</p>
							<a href="javascript:;" onclick="go()">详情&gt;</a>
						</div>
						<div class="box fl">
							<h5>哥伦比亚大学 心理学录取</h5>
							<p class="name">姓名：H同学</p>
							<p>本科：波士顿大学 心理学专业</p>
							<p>GPA：3.07</p>
							<p>GRE：311</p>
							<a href="javascript:;" onclick="go()">详情&gt;</a>
						</div>
						<div class="box fl">
							<h5>约翰霍普金斯大学 统计学专业</h5>
							<p class="name">姓名：Y同学</p>
							<p>本科：埃默里大学 统计学专业</p>
							<p>GPA：3.1</p>
							<p>GRE：320</p>
							<a href="javascript:;" onclick="go()">详情&gt;</a>
						</div>
						<div class="box fl">
							<h5>加州理工学院  化学录取</h5>
							<p class="name">姓名：G同学</p>
							<p>本科：雪城大学  化学专业</p>
							<p>GPA：3.4</p>
							<p>GRE：319</p>
							<a href="javascript:;" onclick="go()">详情&gt;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 美国研究生理科热门专业推荐 -->
		<div class="zhuanyeTuijian lk_index gWidth1170">
			<h3 class="title">美国研究生理科热门专业推荐</h3>
			<!-- content -->
			<div class="content">
				<div class="contentXx clearfix">
					<div class="Xx fl active">物理专业<span></span></div>
					<div class="Xx fl">化学专业<span></span></div>
					<div class="Xx fl">数学专业<span></span></div>
					<div class="Xx fl">生物科学专业<span></span></div>
					<div class="Xx fl">统计学专业<span></span></div>
					<div class="Xx fl">计算机专业<span></span></div>
					<div class="Xx fl">心理学专业<span></span></div>
				</div>
				<div class="xbottom">
					<div class="xbottom_box clearfix">
						<div class="btop clearfix">
							<div class="img fl">
								<img src="/static/home/img/page/yanJs_like/wuli.jpg" alt="物理专业介绍" title="物理专业介绍">
								<div class="hidden1">物理专业介绍</div>
								<div class="hidden">
									<div>
										<h4>物理专业介绍</h4>
										<p>物理学主要研究自然规律和能量与物质之间的关系，通过数学公式来解释理论并做出推测，其覆盖范围小至粒子原子的运动形式，大到天体行星和宇宙的奥秘。基本原理是一种对自然规律和世间事物的理解与总结，许多人将物理学当做学习和就职其他领域的跳板。</p>
										<a href="javascript:;" onclick="go()">马上申请</a>
									</div>
								</div>
							</div>
							<div class="fr">
								<div>
									<h5><span></span>背景要求</h5>
									<p>需具备物理、工程等专业本科背景。</p>
									<a href="javascript:;" onclick="go()">了解详情&gt;</a>
								</div>
								<div>
									<h5><span></span>就业方向</h5>
									<p>可以留在大学当教授或者进入研究机构从事科研工作。对于很多物理Ph.D.，特别是国外学位的同学来说，也有不少人选择进入公司的研发部门。</p>
								</div>
								<div>
									<h5><span></span>就业薪资</h5>
									<p>初期平均起薪约$50,803，中期的平均薪资将达到$90,575-$113,000不等。</p>
								</div>
								<a href="javascript:;" onclick="go()">了解申请难点</a>
							</div>
						</div>
						<div class="bbot clearfix">
							<h3>名校推荐</h3>
							<div class="b clearfix">
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/mashengligongdaxue.png" alt="麻省理工学院" title="麻省理工学院">
									<p>麻省理工学院</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/pulisidundaxue.jpg" alt="普林斯顿大学" title="普林斯顿大学">
									<p>普林斯顿大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/hafodaxue.jpg" alt="哈佛大学" title="哈佛大学">
									<p>哈佛大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_shangke/sitanfudaxue.png" alt="斯坦福大学" title="斯坦福大学">
									<p>斯坦福大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/jiazhouligong.png" alt="加州理工大学" title="加州理工大学">
									<p>加州理工大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/kangnaierdaxue.png" alt="康奈尔大学" title="康奈尔大学">
									<p>康奈尔大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
							</div>
						</div>
						<a href="javascript:;" onclick="go()">2019美国研究生物理专业最新排名</a>
					</div>
					<div class="xbottom_box clearfix">
						<div class="btop clearfix">
							<div class="img fl">
								<img src="/static/home/img/page/yanJs_like/huaxue.jpg" alt="化学专业介绍" title="化学专业介绍">
								<div class="hidden1">化学专业介绍</div>
								<div class="hidden">
									<div>
										<h4>化学专业介绍</h4>
										<p>化学是一门研究物质的性质、组成、结构以及变化规律的基础自然科学。研究的对象涉及物质之间的相互关系，或物质和能量之间的关联。</p>
										<a href="javascript:;" onclick="go()">马上申请</a>
									</div>
								</div>
							</div>
							<div class="fr">
								<div>
									<h5><span></span>背景要求</h5>
									<p>需具备化学专业的学位，或与化学相关专业的学位，如药学、生物、医学、化学工程，材料科学与工程等专业；非化学及其相关专业的本科学位，需具备相关的前提课程和研究背景。</p>
									<a href="javascript:;" onclick="go()">了解详情&gt;</a>
								</div>
								<div>
									<h5><span></span>就业方向</h5>
									<p>化学类专业毕业生可以在科研机构或者一些组织的科研部门工作，例如化学工程、医疗保健或其他相关行业等。</p>
								</div>
								<div>
									<h5><span></span>就业薪资</h5>
									<p>平均年薪约$59,870。</p>
								</div>
								<a href="javascript:;" onclick="go()">了解申请难点</a>
							</div>
						</div>
						<div class="bbot clearfix">
							<h3>名校推荐</h3>
							<div class="b clearfix">
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/mashengligongdaxue.png" alt="麻省理工学院" title="麻省理工学院">
									<p>麻省理工学院</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/mixiegendaxue.png" alt="密歇根安娜堡分校" title="密歇根安娜堡分校">
									<p>密歇根安娜堡分校</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/jiazhoudaxuebokelifenxiao.jpg" alt="加州大学伯克利分校" title="加州大学伯克利分校">
									<p>加州大学伯克利分校</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_shangke/sitanfudaxue.png" alt="斯坦福大学" title="斯坦福大学">
									<p>斯坦福大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/jiazhouligong.png" alt="加州理工大学" title="加州理工大学">
									<p>加州理工大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/xibeidaxue.png" alt="西北大学" title="西北大学">
									<p>西北大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
							</div>
						</div>
						<a href="javascript:;" onclick="go()">2019美国研究生化学专业最新排名</a>
					</div>
					<div class="xbottom_box clearfix">
						<div class="btop clearfix">
							<div class="img fl">
								<img src="/static/home/img/page/yanJs_like/shuxue.jpg" alt="数学专业介绍" title="数学专业介绍">
								<div class="hidden1">数学专业介绍</div>
								<div class="hidden">
									<div>
										<h4>数学专业介绍</h4>
										<p>数学是研究数量、结构、变化以及空间模型等概念的一门学科。透过抽象化和逻辑推理的使用，由计数、计算、量度和对物体形状及运动的观察中产生。数学的基本要素是：逻辑和直观、分析和推理、共性和个性。</p>
										<a href="javascript:;" onclick="go()">马上申请</a>
									</div>
								</div>
							</div>
							<div class="fr">
								<div>
									<h5><span></span>背景要求</h5>
									<p>数学专业需要学生具备较强的探索，推测，逻辑推理能力。</p>
									<a href="javascript:;" onclick="go()">了解详情&gt;</a>
								</div>
								<div>
									<h5><span></span>就业方向</h5>
									<p>毕业后收入较高、工作相关度高、提升较快的专业主要集中在计算机、金融、信息安全、软件工程等相关行业领域。而数学专业毕业生大多从事相关行业的技术岗位，如精算师、银行、证券业工作、程序员、数据分析师等。</p>
								</div>
								<div>
									<h5><span></span>就业薪资</h5>
									<p>平均年薪在$60,000-$110,000之间。</p>
								</div>
								<a href="javascript:;" onclick="go()">了解申请难点</a>
							</div>
						</div>
						<div class="bbot clearfix">
							<h3>名校推荐</h3>
							<div class="b clearfix">
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/mashengligongdaxue.png" alt="麻省理工学院" title="麻省理工学院">
									<p>麻省理工学院</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/pulisidundaxue.jpg" alt="普林斯顿大学" title="普林斯顿大学">
									<p>普林斯顿大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/jiazhoudaxuebokelifenxiao.jpg" alt="加州大学伯克利分校" title="加州大学伯克利分校">
									<p>加州大学伯克利分校</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_shangke/sitanfudaxue.png" alt="斯坦福大学" title="斯坦福大学">
									<p>斯坦福大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/zhijiagedaxue.jpg" alt="芝加哥大学" title="芝加哥大学">
									<p>芝加哥大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/gelunbiyadaxue.png" alt="哥伦比亚大学" title="哥伦比亚大学">
									<p>哥伦比亚大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
							</div>
						</div>
						<a href="javascript:;" onclick="go()">2019美国研究生数学专业最新排名</a>
					</div>
					<div class="xbottom_box clearfix">
						<div class="btop clearfix">
							<div class="img fl">
								<img src="/static/home/img/page/yanJs_like/shengwukexue.jpg" alt="生物科学专业介绍" title="生物科学专业介绍">
								<div class="hidden1">生物科学专业介绍</div>
								<div class="hidden">
									<div>
										<h4>生物科学专业介绍</h4>
										<p>生物科学专业是自然科学的一大门类，是系统的阐述与自然生命特性有关的重大课题的科学。生命科学由经验主义出发，广泛研究生命的所有方面，包括生命起源、演化、分布、构造、发育、功能、行为、与环境的互动关系，以及生物分类学等。</p>
										<a href="javascript:;" onclick="go()">马上申请</a>
									</div>
								</div>
							</div>
							<div class="fr">
								<div>
									<h5><span></span>背景要求</h5>
									<p>对数学要求较高，比如：微积分、微分方程、线性代数等；要有物理和工程的背景；有机化学、无机化学等化学背景；生物或生命科学相关课程；计算机背景。</p>
									<a href="javascript:;" onclick="go()">了解详情&gt;</a>
								</div>
								<div>
									<h5><span></span>就业方向</h5>
									<p>生物科学专业毕业的学生可以进入高等院校、科研单位从事基础研究或者进入企业从事应用研究、高新技术开发或企业管理。</p>
								</div>
								<div>
									<h5><span></span>就业薪资</h5>
									<p>初期平均年薪在$43,916左右，中期薪资水平可达$165,210左右。</p>
								</div>
								<a href="javascript:;" onclick="go()">了解申请难点</a>
							</div>
						</div>
						<div class="bbot clearfix">
							<h3>名校推荐</h3>
							<div class="b clearfix">
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/mashengligongdaxue.png" alt="麻省理工学院" title="麻省理工学院">
									<p>麻省理工学院</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/hafodaxue.jpg" alt="哈佛大学" title="哈佛大学">
									<p>哈佛大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/jiazhoudaxuebokelifenxiao.jpg" alt="加州大学伯克利分校" title="加州大学伯克利分校">
									<p>加州大学伯克利分校</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_shangke/sitanfudaxue.png" alt="斯坦福大学" title="斯坦福大学">
									<p>斯坦福大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/jiazhouligong.png" alt="加州理工大学" title="加州理工大学">
									<p>加州理工大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/yuehanhuopujinsidaxue.png" alt="约翰·霍普金斯大学" title="约翰·霍普金斯大学">
									<p>约翰·霍普金斯大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
							</div>
						</div>
						<a href="javascript:;" onclick="go()">2019美国研究生生物科学专业最新排名</a>
					</div>
					<div class="xbottom_box clearfix">
						<div class="btop clearfix">
							<div class="img fl">
								<img src="/static/home/img/page/yanJs_like/tongjixue.jpg" alt="统计学专业介绍" title="统计学专业介绍">
								<div class="hidden1">统计学专业介绍</div>
								<div class="hidden">
									<div>
										<h4>统计学专业介绍</h4>
										<p>统计学主要利用概率论建立教学模型，收集所观察系统的数据，进行量化的分析、总结，并进而进行推断和预测，为相关决策提供依据和参考。 它以数学作为基本工具，但又比数学更有实际用途。</p>
										<a href="javascript:;" onclick="go()">马上申请</a>
									</div>
								</div>
							</div>
							<div class="fr">
								<div>
									<h5><span></span>背景要求</h5>
									<p>需要具备：数学、物理、化学、计算机的基础知识。</p>
									<a href="javascript:;" onclick="go()">了解详情&gt;</a>
								</div>
								<div>
									<h5><span></span>就业方向</h5>
									<p>统计人员就业领域非常广泛，包括制造业，制药业，保险业，政府机构，咨询公司，农业研究。还有精算科学领域，统计程序，运筹学，以及数学分析领域。</p>
								</div>
								<div>
									<h5><span></span>就业薪资</h5>
									<p>平均年薪约$75,000。</p>
								</div>
								<a href="javascript:;" onclick="go()">了解申请难点</a>
							</div>
						</div>
						<div class="bbot clearfix">
							<h3>名校推荐</h3>
							<div class="b clearfix">
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/huashengdundaxue.jpg" alt="华盛顿大学" title="华盛顿大学">
									<p>华盛顿大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/hafodaxue.jpg" alt="哈佛大学" title="哈佛大学">
									<p>哈佛大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/jiazhoudaxuebokelifenxiao.jpg" alt="加州大学伯克利分校" title="加州大学伯克利分校">
									<p>加州大学伯克利分校</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_shangke/sitanfudaxue.png" alt="斯坦福大学" title="斯坦福大学">
									<p>斯坦福大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/zhijiagedaxue.jpg" alt="芝加哥大学" title="芝加哥大学">
									<p>芝加哥大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/yuehanhuopujinsidaxue.png" alt="约翰·霍普金斯大学" title="约翰·霍普金斯大学">
									<p>约翰·霍普金斯大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
							</div>
						</div>
						<a href="javascript:;" onclick="go()">2019美国研究生统计学专业最新排名</a>
					</div>
					<div class="xbottom_box clearfix">
						<div class="btop clearfix">
							<div class="img fl">
								<img src="/static/home/img/page/yanJs_like/jisuanji.jpg" alt="计算机专业介绍" title="计算机专业介绍">
								<div class="hidden1">计算机专业介绍</div>
								<div class="hidden">
									<div>
										<h4>计算机专业介绍</h4>
										<p>计算机是系统性研究信息与计算的理论基础以及它们在计算机系统中如何实现与应用的实用技术的学科。它通常被形容为对那些创造、描述以及转换信息的算法处理的系统研究。</p>
										<a href="javascript:;" onclick="go()">马上申请</a>
									</div>
								</div>
							</div>
							<div class="fr">
								<div>
									<h5><span></span>背景要求</h5>
									<p>需要具有高质量的计算机方面工作经验、实习经验，或者在学校内参加过编程项目，有丰富的研究参与经历。</p>
									<a href="javascript:;" onclick="go()">了解详情&gt;</a>
								</div>
								<div>
									<h5><span></span>就业方向</h5>
									<p>高级程序员，系统分析人员，网络管理者，数据库经理，软件开发人员，金融分析人员。</p>
								</div>
								<div>
									<h5><span></span>就业薪资</h5>
									<p>平均年薪在$109,000-$161,520之间。</p>
								</div>
								<a href="javascript:;" onclick="go()">了解申请难点</a>
							</div>
						</div>
						<div class="bbot clearfix">
							<h3>名校推荐</h3>
							<div class="b clearfix">
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/mashengligongdaxue.png" alt="麻省理工学院" title="麻省理工学院">
									<p>麻省理工学院</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/kanaijimeilongdaxue.jpg" alt="卡耐基梅隆大学" title="卡耐基梅隆大学">
									<p>卡耐基梅隆大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/jiazhoudaxueluoshanjifenxiao.jpg" alt="加州大学伯克利分校" title="加州大学伯克利分校">
									<p>加州大学伯克利分校</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/yilinuoyidaxue.png" alt="伊利诺伊大学香槟分校" title="伊利诺伊大学香槟分校">
									<p>伊利诺伊大学香槟分校</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_shangke/sitanfudaxue.png" alt="斯坦福大学" title="斯坦福大学">
									<p>斯坦福大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/kangnaierdaxue.png" alt="康奈尔大学" title="康奈尔大学">
									<p>康奈尔大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
							</div>
						</div>
						<a href="javascript:;" onclick="go()">2019美国研究生计算机专业最新排名</a>
					</div>
					<div class="xbottom_box clearfix">
						<div class="btop clearfix">
							<div class="img fl">
								<img src="/static/home/img/page/yanJs_like/xinlixue.jpg" alt="心理学专业介绍" title="心理学专业介绍">
								<div class="hidden1">心理学专业介绍</div>
								<div class="hidden">
									<div>
										<h4>心理学专业介绍</h4>
										<p>心理学是一个极需要理科思维的学科，统计基础是必须的，各种理论的推导都是建立在严密的逻辑推理的基础上。心理学是一个涉及面非常广的学科，主要集中在临床心理学、社会心理学、咨询心理学、教育心理学。</p>
										<a href="javascript:;" onclick="go()">马上申请</a>
									</div>
								</div>
							</div>
							<div class="fr">
								<div>
									<h5><span></span>背景要求</h5>
									<p>具备统计、数学、生物、计算机背景的申请者更有竞争力。</p>
									<a href="javascript:;" onclick="go()">了解详情&gt;</a>
								</div>
								<div>
									<h5><span></span>就业方向</h5>
									<p>除了治疗抑郁症等心理疾病，心理学人才在工商业、教育等行业中开始受到重用，以及市场营销部门、人力资源管理部门和专业心理咨询师。</p>
								</div>
								<div>
									<h5><span></span>就业薪资</h5>
									<p>平均年薪在$30,000-$150,000不等。</p>
								</div>
								<a href="javascript:;" onclick="go()">了解申请难点</a>
							</div>
						</div>
						<div class="bbot clearfix">
							<h3>名校推荐</h3>
							<div class="b clearfix">
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/jiazhoudaxueluoshanjifenxiao.jpg" alt="加州大学洛杉矶分校" title="加州大学洛杉矶分校">
									<p>加州大学洛杉矶分校</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/mixiegendaxue.png" alt="密歇根安娜堡分校" title="密歇根安娜堡分校">
									<p>密歇根安娜堡分校</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/jiazhoudaxuebokelifenxiao.jpg" alt="加州大学伯克利分校" title="加州大学伯克利分校">
									<p>加州大学伯克利分校</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_shangke/sitanfudaxue.png" alt="斯坦福大学" title="斯坦福大学">
									<p>斯坦福大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/binxifanayadaxue.jpg" alt="宾夕法尼亚大学" title="宾夕法尼亚大学">
									<p>宾夕法尼亚大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
								<div class="box fl">
									<img src="/static/home/img/page/yanJs_like/hafodaxue.jpg" alt="哈佛大学" title="哈佛大学">
									<p>哈佛大学</p>
									<a href="javascript:;" onclick="go()">马上申请&gt;&gt;</a>
								</div>
							</div>
						</div>
						<a href="javascript:;" onclick="go()">2019美国研究生心理学专业最新排名</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 美国研究生申请难点众多 彬彬教育帮你一一击破 -->
		<div class="jipo lk_index">
			<div class="gWidth1170">
				<h3 class="title">美国研究生申请难点众多 彬彬教育帮你一一击破</h3>
				<div class="content clearfix">
					<div class="fl">
						<div class="poa">
							<span></span>
							<h4>申请难点</h4>
							<span></span>
						</div>
						<span class="sj1"></span>
						<span class="sj2"></span>
						<ul>
							<li>国内学生无法直接获取意向院校的一手信息，只能通过官网或其他网站获取浅显的信息。国内学生缺乏与海外院校及导师沟通的技巧和经验，加上二三线城市信息资源不那么丰富，导致学生和家长无法获取最直接的信息。</li>
							<li>因中美文化不同，国内申请者无法站在申请院校的角度深刻理解录取要求。尤其因为英语非母语，往往会导致面试和文书无法体现个人能力和素质。</li>
							<li>国内申请生习惯于套用模板，或全权委托部分中介公司递交，导致申请材料雷同，影响最终录取。</li>
							<li>多数海外院校及专业依据自身特点，有自己的审核录取标准，国内学生过于模板化，导致影响录取。</li>
						</ul>
					</div>
					<div class="fr">
						<div class="poa">
							<span></span>
							<h4>彬彬击破</h4>
							<span></span>
						</div>
						<span class="sj1"></span>
						<span class="sj2"></span>
						<ul>
							<li>彬彬教育独有海外同专业导师团队，覆盖全美50州、TOP 100名校各专业，打破信息不对称，让学生及时掌握第一手信息，并为学生提供专业建议和职业发展规划。</li>
							<li>彬彬教育拥有海外精英教师团队，纯英语教学环境，一对一辅导，量身定制课程，帮助学生迅速提升语言口语能力，为美国研究生留学申请做好充分准备。</li>
							<li>名校外籍导师作为彬彬教育的核心团队，成员均来自美国TOP 20名校，修读专业为语言学、教育学等文科专业，对学生文书写作要点及注意事项具有丰富的经验和理解。拒绝模板化，为学生申请名校增光添彩。</li>
							<li>彬彬教育独有强大的教育资源和背景提升项目库，在提升硬性条件的同时，针对申请院校喜好，选择录取概率最大和最能体现学生水平的背景提升项目，让学生脱离流水线般的申请模式，拥有最个性化的个人简历！</li>
						</ul>
					</div>
					<ul>
						<li>信息不对称</li>
						<li>语言文化差异</li>
						<li>文书模板化</li>
						<li>审核标准多样化</li>
					</ul>
				</div>
				<a href="javascript:;" onclick="go()">名校录取率逐年降低 联系彬彬提高申请率</a>
			</div>
		</div>
		
		<!-- 如何提高自身竞争力 -->
		<div class="jingZl lk_index gWidth1170">
			<h3 class="title">如何提高自身竞争力</h3>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<div class="back"></div>
					<div class="text">
						<h4>· 提升GPA、GRE+TOEFL ·</h4>
						<p>GPA是最能直接体现学习能力和对专业知识把握能力的因素，GRE和TOEFL这两项标准化考试，随着考试次数限制的放宽，近年来申请人的G/T成绩也水涨船高。</p>
						<a href="javascript:;" onclick="go()">如何提高成绩</a>
					</div>
				</div>
				<div class="box fl">
					<div class="back"></div>
					<div class="text">
						<h4>· 夯实科研基础 ·</h4>
						<p>招生官更愿意招收在某些领域有过科研经历、甚至取得过一定成就，发表过高质量论文的学生，以便学生被录取后能够快速融入团队，参与研究课题。</p>
						<a href="javascript:;" onclick="go()">参加科研项目</a>
					</div>
				</div>
				<div class="box fl">
					<div class="back"></div>
					<div class="text">
						<h4>· 专业匹配度 ·</h4>
						<p>根据自身科研项目经历的优势来选择适合学校的硕士项目和方向，将会是今后在申请竞争中获得成功重要的因素之一。尽早选择自己感兴趣的领域，提前规划自己的科研方向，提升科研、实习方面的背景。</p>
						<a href="javascript:;" onclick="go()">专业申请指导</a>
					</div>
				</div>
				<div class="box fl">
					<div class="back"></div>
					<div class="text">
						<h4>· 维护良好的人际关系 ·</h4>
						<p>拓展人脉是提升自己竞争力必须注重的。好的师生关系以及和学长学姐的顺畅沟通，无论在科研背景的提成过程中，或者是选校申请、寻找推荐人等阶段，都会为申请人带来更多的机会。</p>
						<a href="javascript:;" onclick="go()">与学姐/学长沟通</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 美国研究生理科申请规划 -->
		<div class="likeGuihua lk_index">
			<div class="gWidth1170">
				<h3 class="title">美国研究生理科申请规划</h3>
				<!-- content -->
				<div class="content">
					<div class="cTop clearfix">
						<div class="box fl">
							<div class="img">
								<h4>大一学生</h4>
								<p>您需要准备</p>
							</div>
							<ul>
								<li><em></em>GPA</li>
								<li><em></em>英语基础学习</li>
								<li><em></em>课外活动积累</li>
							</ul>
							<a href="javascript:;" onclick="go()">我有疑问&gt;&gt;</a>
						</div>
						<img src="/static/home/img/page/yanJs_like/right.png" class="fl" alt="">
						<div class="box fl">
							<div class="img" style="background-image: url(/static/home/img/page/yanJs_like/daer.jpg);">
								<h4>大二学生</h4>
								<p>您需要准备</p>
							</div>
							<ul style="padding-left: 56px;">
								<li><em></em>GPA</li>
								<li><em></em>专业核心课程积累</li>
								<li><em></em>TOEFL备考</li>
								<li><em></em>初步了解美国院校、专业</li>
								<li><em></em>暑假可尝试初级科研、实习</li>
							</ul>
							<a href="javascript:;" onclick="go()">我有疑问&gt;&gt;</a>
						</div>
						<img src="/static/home/img/page/yanJs_like/right.png" class="fl" alt="">
						<div class="box fl">
							<div class="img" style="background-image: url(/static/home/img/page/yanJs_like/dasan.jpg);">
								<h4>大三学生</h4>
								<p>您需要准备</p>
							</div>
							<ul style="padding-left: 40px;">
								<li><em></em>GPA</li>
								<li><em></em>专业核心课程积累</li>
								<li><em></em>TOEFL/GRE备考冲刺</li>
								<li><em></em>明确申请院校、申请专业目标</li>
								<li><em></em>寒暑假展开高质量科研实习项目</li>
							</ul>
							<a href="javascript:;" onclick="go()">我有疑问&gt;&gt;</a>
						</div>
					</div>
					<div class="concc clearfix">
						<img src="/static/home/img/page/yanJs_like/bottom.png" class="fr" alt="">
					</div>
					<div class="cBottom">
						<div class="img">
							<h4 style="padding: 0;line-height: 84px;">大四学生</h4>
						</div>
						<div class="bBB">
							<div class="bBBtop clearfix">
								<h4 class="fl">您需要准备</h4>
								<div class="fl">
									<div class="tttt">
										<span style="margin-right: 112px;">9月-10月</span>
										<span style="margin-right: 66px;">11月-12月</span>
										<span style="margin-right: 50px;">次年1月-2月</span>
										<span style="margin-right: 79px;">3月-4月</span>
										<span style="margin-right: 51px;">5月-6月</span>
										<span style="margin-right: 86px;">7月</span>
										<span>8月</span>
									</div>
									<div class="bbbb clearfix">
										<ul class="fl" style="width: 93px;margin-right: 96px;">
											<li>存款证明</li>
											<li>成绩单</li>
											<li>联系推荐人</li>
										</ul>
										<ul class="fl" style="width: 103px;margin-right: 51px;">
											<li>托福/GRE刷分</li>
										</ul>
										<ul class="fl" style="width: 101px;margin-right: 51px;">
											<li>面试/套磁</li>
											<li>等待申请结果</li>
										</ul>
										<ul class="fl" style="width: 95px;margin-right: 50px;">
											<li>录取</li>
											<li>确定就读学校和专业</li>
										</ul>
										<ul class="fl" style="width: 42px;margin-right: 75px;">
											<li>签证</li>
											<li>体检</li>
										</ul>
										<ul class="fl" style="width: 65px;margin-right: 50px;">
											<li>行前准备</li>
											<li>订机票</li>
										</ul>
										<ul class="fl">
											<li>赴美入学</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="bBBbottom clearfix">
								<h4 class="fl">彬彬教育帮您</h4>
								<div class="fl">
									<ul class="fl" style="width: 139px;margin-right: 50px;">
										<li>选校</li>
										<li>文书亮点挖掘构思</li>
										<li>推荐信选择</li>
										<li>联系学校、初步套磁</li>
									</ul>
									<ul class="fl" style="width: 103px;margin-right: 51px;">
										<li>文书搞定</li>
										<li>(初稿、修改、润色、定稿)</li>
										<li>网申完成</li>
									</ul>
									<ul class="fl" style="width: 101px;margin-right: 52px;">
										<li>面试/套磁辅导</li>
										<li>补递材料</li>
										<li>跟进申请状态</li>
										<li>跟踪申请结果</li>
									</ul>
									<ul class="fl" style="width: 94px;margin-right: 50px;">
										<li>选校分析</li>
										<li>定金</li>
										<li>I-20表格申请</li>
									</ul>
									<ul class="fl" style="width: 65px;margin-right: 52px;">
										<li>指导签证</li>
										<li>指导体检</li>
									</ul>
									<ul class="fl">
										<li>行前指导</li>
									</ul>
								</div>
							</div>
							<a href="javascript:;" onclick="go()">我有疑问&gt;&gt;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 学长/学姐说申请 -->
		<div class="shuo_sq lk_index gWidth1170">
			<h3 class="title">学长/学姐说申请</h3>
			<!-- content -->
			<div class="content clearfix">
				<div class="box fl">
					<h4>L同学</h4>
					<div>
						<p><b>本科：</b>211院校</p>
						<p><b>录取：</b>卡耐基梅隆大学</p>
					</div>
					<div>
						<h3>关于申请TA说：</h3>
						<p>在大三下期，我和彬彬导师确定了方向，因为彬彬的陪伴，我在申请方面很有自信，出色的标化，完美的文书，精英的背景，不论哪一条道路，都会致胜，最终也获得了卡耐基梅隆大学的offer，彬彬让我真正的走向她之前不可想象的辉煌之路。</p>
					</div>
					<div class="anniu">
						<a href="javascript:;" onclick="go()" class="a1">向TA咨询</a>
						<a href="/success/111.html" target="_blank" class="a2">查看详情</a>
					</div>
				</div>
				<div class="box fl">
					<h4>W同学</h4>
					<div>
						<p><b>本科：</b>上海交通大学</p>
						<p><b>录取：</b>华盛顿大学圣路易斯分校</p>
					</div>
					<div>
						<h3>关于申请TA说：</h3>
						<p>华大圣路易斯分校CS专业是非常抢手的热门专业，我申请的时候时间已经非常紧张了，我也没有很多的精力再去准备，在软性背景提上，彬彬教育帮我申请UCLA的CSST暑研项目，边准备变科研实习，然后补充材料，最后也是顺利的完成申请。</p>
					</div>
					<div class="anniu">
						<a href="javascript:;" onclick="go()" class="a1">向TA咨询</a>
						<a href="/success/57.html" target="_blank" class="a2">查看详情</a>
					</div>
				</div>
				<div class="box fl">
					<h4>M同学</h4>
					<div>
						<p><b>本科：</b>北京邮电大学</p>
						<p><b>录取：</b>纽约大学</p>
					</div>
					<div>
						<h3>关于申请TA说：</h3>
						<p>我的托福成绩较低，且GRE还没开始备考，因此彬彬导师建议我将主要精力放在语言考试上，争取在申请开始前考出理想的GT分数。由于我当时正在实习，准备时间相对比较紧张，无法同时兼顾GRE和托福，申请之路还是非常艰难的。</p>
					</div>
					<div class="anniu">
						<a href="javascript:;" onclick="go()" class="a1">向TA咨询</a>
						<a href="/success/27.html" target="_blank" class="a2">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 背景提升，打造专属软实力 -->
		<div class="bjts lk_index">
			<div class="gWidth1170">
				<h3 class="title">背景提升，打造专属软实力</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="box fl">
						<a href="/mxky/225.html" class="hidden1" target="_blank">麻省理工学院数学统计专业科研</a>
					</div>
					<div class="box box2 fl">
						<a href="/mxky/275.html" class="hidden1" target="_blank">麻省理工学院量子光学物理项目</a>
					</div>
					<div class="box box3 fl">
						<a href="/mxky/263.html" class="hidden1" target="_blank">卡耐基梅隆大学 计算机专业项目</a>
					</div>
					<div class="box box4 fl">
						<a href="/mxky/252.html" class="hidden1" target="_blank">哈佛大学生物医学科研</a>
					</div>
					<div class="box box5 fl">
						<a href="/mqsx/293.html" class="hidden1" target="_blank">微软 Microsoft</a>
					</div>
					<div class="box box6 fl">
						<a href="/mqsx/265.html" class="hidden1" target="_blank">德勤公司</a>
					</div>
				</div>
				<div class="anniu">
					<a href="javascript:;" onclick="go()" class="a1">快速匹配适合自己的项目</a>
					<a href="/page/polymerization.html" target="_blank" class="a2">查看更多</a>
				</div>
			</div>
		</div>
		
		<!-- 彬彬服务模式 -->
		<div class="fwms lk_index gWidth1170">
			<h3 class="title">彬彬服务模式</h3>
			<!-- contnet -->
			<div class="content clearfix">
				<div class="bigBox">
					<div class="box"><p>行业首创<br />【六位一体】<br />辅导模式</p></div>
					<span class="yuan1"></span>
					<span class="yuan2"></span>
					<span class="yuan3"></span>
					<span class="yuan4"></span>
					<span class="yuan5"></span>
					<span class="yuan6"></span>
					<div class="text1 text">
						<h3>全程咨询导师</h3>
						<p>全程申请规划、申请时间进度把控</p>
					</div>
					<div class="text2 text">
						<h3>资深流程导师</h3>
						<p>网申填写辅导、成绩认证辅导、语言成绩寄送辅导、<br />申请材料准备辅导</p>
					</div>
					<div class="text3 text">
						<h3>名校外籍导师</h3>
						<p>文书母语润色、词汇句法优化、素材结构建议</p>
					</div>
					<div class="text4 text">
						<h3>专家督导导师</h3>
						<p>跟踪学生申请进度、定期跟踪学生的申请体验、审核学生申请方案</p>
					</div>
					<div class="text5 text">
						<h3>全能主导申请师</h3>
						<p>全程申请规划、申请时间进度把控、选校定位、推荐人<br />筛选、简历咨询、文书咨询、面试辅导</p>
					</div>
					<div class="text6 text">
						<h3>海外同专业导师</h3>
						<p>职业规划咨询、选校选专业咨询建议、文书素材把关、<br />模拟面试</p>
					</div>
				</div>
			</div>
		</div>
				
		<!-- 强大的国内外导师团队 -->
		<div class="daoshi_team lk_index">
			{include file="common/common_daoshi"/}
		</div>
				
		<!-- 彬彬教育致力让每一个学生牵手世界名校 -->
		<div id="mydiv" class="lk_index" style="height: 695px;">
			<div class="box gWidth1170 clearfix">
				<!-- title -->
				<h3 class="title">彬彬教育致力让每一个学生牵手世界名校</h3>
				<!-- content -->
				<div class="content gWidth1170">
					<div class="fl">
						<ul>
							<li class="li1">
								<h3>6位1体</h3>
								<p>业内首创“6位1体”服务模式<br />服务客户满意度高达100%</p>
							</li>
							<li class="li2">
								<h3>广资源</h3>
								<p>1000+校园独家代理；实地考察 真实可靠</p>
							</li>
							<li class="li3">
								<h3>多重认证</h3>
								<p>留学行业质量认证标准机构；国内十佳品牌诚信<br />留学机构；CSIET评审认证留学机构</p>
							</li>
						</ul>
					</div>
					<div class="dq">
						<div>
						</div>
					</div>
					<div class="fr">
						<ul>
							<li class="li1 clearfix">
								<h3>全覆盖</h3>
								<p class="fr">600+海外同专业导师覆盖全美TOP100名校<br />让学生提前了解校园生活并提供全程对应辅导</p>
							</li>
							<li class="li2 clearfix">
								<h3>大数据</h3>
								<p class="fr" style="width: 330px;">120000+超大申请数据库；科学手段狂揽offer</p>
							</li>
							<li class="li3 clearfix">
								<h3>两个“1”</h3>
								<p class="fr">国内独1拥有海外监管服务中心留学机构<br />国内独1拥有海外院校开发资质的留学机构</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		{include file="common/common_bottom"/}
		<script type="text/javascript">
			var t = document.documentElement.scrollTop || document.body.scrollTop;
			var scroll = true;
			if(t>=100){
				$('.topNav').css({'position': 'static'});
				$('.abcBannav').css({'display': 'none'});
			}
			
			var nav = $('.bannerNav').offset().top;
			$gkLength = $('.lk_index').length;
			window.onscroll = function () {
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if(top>=nav){
					$('.bannerNav').css({'position': 'fixed', 'top': '0', 'z-index': '9999'});
					$('.navHidden').css({'display': 'block'});
				}else if(top<=$('.luquJiebao').offset().top){
					$('.bannerNav').css({'position': 'static', 'top':''});
					$('.navHidden').css({'display': 'none'});
				}
				for( var i=0; i<$gkLength; i++ ){
					if( i == $gkLength - 1 ){
						if( top>=$('.lk_index').eq(i).offset().top ){
							$('.bannerNav span').removeClass('active');
							$('.bannerNav span').eq(i).addClass('active');
						}
						return;
					}
					if( top>=$('.lk_index').eq(i).offset().top && top<$('.lk_index').eq(i+1).offset().top ){
						$('.bannerNav span').removeClass('active');
						$('.bannerNav span').eq(i).addClass('active');
					}
				}
				
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if( !scroll ){
					return;
				}
				if( top >= 100 ){
					if( $('.topNav').css('position') == 'relative' ){
						$('.abcBannav').css({'display': 'none'});
						$('.topNav').css({'position': 'static'});
					}
				}else if(top == 0) {
					$('.abcBannav').css({'display': 'none'});
					$('.topNav').css({'position': 'relative'});
				}
			}
			$('.bannerNav span').on('click', function () {
				var index = $('.bannerNav span').index($(this));
				var offsetTop = $('.lk_index').eq(index).offset().top;
				$('body, html').stop().animate({scrollTop: offsetTop + 0}, 1500);
			})
			// 
			$('.bannerNav div span:last-child').css({'margin-right': '0'});
			// 
			$('.luquJiebao .content .contentBottom .box:last-child').css({'margin-right': '0'});
			// 增长数字的动画
			var options = {
			  useEasing: true, 
			  useGrouping: true, 
			  separator: '', 
			  decimal: '.', 
			};
			var num1 = new CountUp("span1", 0, 100, 0, 2.5, options);
			var num2 = new CountUp("span2", 0, 2000, 0, 2.5, options);
			var num3 = new CountUp("span3", 0, 99, 0, 2.5, options);
			var num4 = new CountUp("span4", 0, 2, 0, 2.5, options);
			num1.start();
			num2.start();
			num3.start();
			num4.start();
			// 
			$('.zhuanyeTuijian .content .contentXx .Xx:last-child').css({'margin-right': '0'});
			var XuanX = $('.zhuanyeTuijian .content .contentXx .Xx');
			$('.xbottom_box').eq(0).css({'display': 'block'});
			XuanX.on('click', function () {
				var index = XuanX.index($(this));
				$(this).addClass('active').siblings('.Xx').removeClass('active');
				$('.xbottom_box').eq(index).stop().fadeIn().siblings('.xbottom_box').fadeOut();
			})
			// 
			$('.zhuanyeTuijian .content .xbottom .xbottom_box .bbot .b .box:last-child').css({'margin-right': '0'});
			// 
			var p = $('.zhuanyeTuijian .content .xbottom .xbottom_box .bbot .b .box p');
			for(var i=0; i<p.length; i++){
				if( p.eq(i).children('br').length !== 0 ){
					p.eq(i).css({'margin-bottom': '3px'})
					p.eq(i).siblings('img').css({'margin-bottom': '8px'});
				}
			}
			// 
			$('.zhuanyeTuijian .content .xbottom .xbottom_box .btop .img').hover(function () {
				$(this).children('.hidden1').stop().fadeOut();
				$(this).children('.hidden').stop().fadeIn();
			}, function () {
				$(this).children('.hidden').stop().fadeOut();
				$(this).children('.hidden1').stop().fadeIn();
			})
			//
			$('.jingZl .content .box:nth-child(2n)').css({'margin-right': '0'});
			$('.jingZl .content .box').hover(function () {
				$(this).addClass('hover');
			}, function () {
				$(this).removeClass('hover');
			})
			// 
			$('.shuo_sq .content .box:last-child').css({'margin-right': '0'});
			// 
			$('.bjts .content .box:nth-child(3n)').css({'margin-right': '0'});
			// 
			window.onload = function() {
				//配置
				var config = {
					vx: 4,	//小球x轴速度,正为右，负为左
					vy: 4,	//小球y轴速度
					height: 2,	//小球高宽，其实为正方形，所以不宜太大
					width: 2,
					count: 200,		//点个数
					color: "228,228,228", 	//点颜色
					stroke: "228,228,228", 		//线条颜色
					dist: 30000, 	//点吸附距离
					e_dist: 20000, 	//鼠标吸附加速距离
					max_conn: 10 	//点到点最大连接数
				}
				//调用
				CanvasParticle(config);
			}
			//
			$(window).scroll(function () {
				if( $(window).scrollTop() + 700 >= $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'right'});	 
				}
				
				if( $(window).scrollTop() + 700 < $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'left'});	 
				}
			})
			// 选项卡选项
			$('.daoshi_team .count>div.t a').eq(0).attr('class', 'active fl');
			$('.daoshi_team .count .b .bBox').eq(0).css({'display': 'block'});
			$('.daoshi_team .count>div.t a').on('click', function () {
				var index = $('.daoshi_team .count>div.t a').index($(this));
				$(this).attr('class', 'fl active').siblings('a').attr('class', 'fl');
				$('.daoshi_team .count .b .bBox').eq(index).css({'display': 'block'}).siblings('.bBox').css({'display': 'none'});
			})
			$('.rightb>div.fl').on('mouseenter', function () {
				$(this).children('.hidden').stop().fadeIn();
				$(this).children('.hiddenTitle').stop().fadeOut();
			})
			$('.rightb>div.fl').on('mouseleave', function () {
				$(this).children('.hidden').stop().fadeOut();
				$(this).children('.hiddenTitle').stop().fadeIn();
			})
			// 
			$(window).scroll(function () {
				if( $(window).scrollTop() + 700 >= $('.luquJiebao').offset().top && $(window).scrollTop() < $('.zhuanyeTuijian').offset().top ){
					num1.start();
					num2.start();
					num3.start();
					num4.start();
				}else if ( $(window).scrollTop() < $('.luquJiebao').offset().top || $(window).scrollTop() >= $('.zhuanyeTuijian').offset().top ) {
					num1.reset();
					num2.reset();
					num3.reset();
					num4.reset();
				}
			})
		</script>

		<!-- 研究生表单 -->
		{include file="common/common_graduate"/}
		
	</body>
</html>
