{include file="common/common_head"/}
		<!-- 当前网页样式 -->
		<link rel="stylesheet" href="/static/home/css/page/seniorsqgl.css">
		<style type="text/css">
			.banner h1{
				font-size: 68px;
				line-height: 88px;
				padding-top: 117px;
				padding-bottom: 6px;
				padding-left: 43px;
				text-shadow:0px 3px 4px rgba(0,0,0,0.50);
				color: #FFFFFF;
				text-align: left;
				letter-spacing: 2px;
			}
		</style>
	</head>
	<body>
		<!-- 导航 -->
		{include file="common/common_navhead"/}
		<!-- banner -->
		<div class="banner">
			<div class="gWidth1170 clearfix">
				<h1>美国高中申请全攻略</h1>
				<a href="javascript:;" onclick="go()" class="a1">点击了解留学方案</a>
				<a href="javascript:;" onclick="go()" class="a2">咨询热线：400-900-9770</a>
			</div>
		</div>
		
		<!-- 低龄留学的优势 -->
		<div class="youshi gWidth1170">
			<!-- title -->
			<h3 class="title">低龄留学的<em>优势</em></h3>
			<!-- content -->
			<div class="content clearfix">
				<div class="fl">
					<div class="biaoti">
						<span></span>
						<h4>美国中学</h4>
						<span></span>
					</div>
					<span class="sj1"></span>
					<span class="sj2"></span>
					<img src="/static/home/img/page/gaozhong_sq/zhang.png" class="zhang" alt="">
					<ul class="fr">
						<li class="clearfix">
							<div class="fr">
								<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
							</div>
							<span class="fr">优质教育资源平均分布</span>
						</li>
						<li class="clearfix">
							<div class="fr">
								<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
							</div>
							<span class="fr">普遍为选课制和学分制</span>
						</li>
						<li class="clearfix">
							<div class="fr">
								<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
							</div>
							<span class="fr">小班授课，圆桌式教学</span>
						</li>
						<li class="clearfix">
							<div class="fr">
								<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
							</div>
							<span class="fr">纯英文语言环境，快速提升英语水平</span>
						</li>
						<li class="clearfix">
							<div class="fr">
								<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
							</div>
							<span class="fr">美国名师推荐信，升入名校几率高</span>
						</li>
					</ul>
				</div>
				<div class="fr">
					<div class="biaoti">
						<span></span>
						<h4>国内中学</h4>
						<span></span>
					</div>
					<span class="sj1"></span>
					<span class="sj2"></span>
					<ul>
						<li class="clearfix">
							<div class="fl">
								<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
							</div>
							<span class="fl">优质教育资源集中在大城市</span>
						</li>
						<li class="clearfix">
							<div class="fl">
								<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
							</div>
							<span class="fl">只分文科和理科</span>
						</li>
						<li class="clearfix">
							<div class="fl">
								<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
							</div>
							<span class="fl">填鸭式授课，学生活跃度低</span>
						</li>
						<li class="clearfix">
							<div class="fl">
								<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
							</div>
							<span class="fl">缺少英文环境，英语口语薄弱</span>
						</li>
						<li class="clearfix">
							<div class="fl">
								<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
							</div>
							<span class="fl">无升学规划，选校全凭分数</span>
						</li>
					</ul>
				</div>
				<ul>
					<li>教育资源</li>
					<li>课堂体系</li>
					<li>教学特点</li>
					<li>语言环境</li>
					<li>升学状况</li>
				</ul>
			</div>
			<a href="javascript:;" onclick="go()">马上申请美国高中</a>
		</div>
		
		<!-- 美国高中申请条件 -->
		<div class="sq_tiaojian">
			<div class="gWidth1170">
				<h3 class="title">美国高中<em>申请条件</em></h3>
				<div class="content clearfix">
					<div class="box fl">
						<div class="clearfix tBox">
							<div class="fl">
								<div><img src="/static/home/img/page/9_12/icon1.png" alt=""></div>
							</div>
							<h3 class="fl">硬件条件</h3>
						</div>
						<h5><span></span>美国精品中学</h5>
						<p>GPA成绩；  SLEP成绩；  资金证明；  面试</p>
						<h5><span></span>美国普通中学</h5>
						<p>GPA成绩；  TOEFL；  SSAT美国中学入学考试；  资金证明；面试</p>
						<em><b>彬彬留学专家提醒：</b>申请的年级越高，对成绩的要求也会略高些，主要体现在托福、SSAT、面试及在校成绩等方面。</em>
						<a href="javascript:;" onclick="go()">如何提高个人成绩</a>
					</div>
					<div class="box fr">
						<div class="clearfix tBox">
							<div class="fl">
								<div><img src="/static/home/img/page/9_12/icon2.png" alt=""></div>
							</div>
							<h3 class="fl">软件条件</h3>
						</div>
						<h5><span></span>课外活动</h5>
						<p>学校的社团活动； 志愿者活动； 国际化背景； 学生研究、发明等</p>
						<h5><span></span>奖励荣誉</h5>
						<p>数学、奥数、科学竞赛； 辩论赛、英语演讲比赛、模拟联合国等</p>
						<h5><span></span>特长兴趣爱好</h5>
						<p>文艺活动：钢琴、绘画等； 体育活动：篮球、游泳等</p>
						<h5><span></span>社会实践</h5>
						<a href="javascript:;" onclick="go()">如何快速提高软件条件</a>
					</div>
				</div>
			</div>
			<!-- 美国高中申请材料 -->
			<div class="haiwaizy gWidth1170">
				<h3 class="title">美国高中<em>申请材料</em></h3>
				<div class="content clearfix">
					<div class="box1 fl">
						<img src="/static/home/img/page/gaozhong_sq/gerenjianjie.png" alt="">
						<p>个人简介</p>
					</div>
					<div class="box1 fl">
						<img src="/static/home/img/page/gaozhong_sq/zhengming.png" alt="">
						<p>在读证明</p>
					</div>
					<div class="box1 fl">
						<img src="/static/home/img/page/gaozhong_sq/chengjidan.png" alt="">
						<p>近三年成绩单</p>
					</div>
					<div class="box1 fl">
						<img src="/static/home/img/page/gaozhong_sq/shenqingbiao-.png" alt="">
						<p>学校申请表</p>
					</div>
					<div class="box1 fl">
						<img src="/static/home/img/page/gaozhong_sq/xiexin.png" alt="">
						<p>推荐信</p>
					</div>
					<div class="box1 fl">
						<img src="/static/home/img/page/gaozhong_sq/huzhao.png" alt="">
						<p>护照复印件</p>
					</div>
					<div class="box1 fl">
						<img src="/static/home/img/page/gaozhong_sq/tubiaozhizuomoban.png" alt="">
						<p>英语标准化考试成绩单</p>
					</div>
					<div class="box1 fl">
						<img src="/static/home/img/page/gaozhong_sq/zijin.png" alt="">
						<p>资金证明</p>
					</div>
				</div>
				<a href="javascript:;" onclick="go()">免费领取材料清单</a>
			</div>
		</div>
		
		<!-- 彬彬教育优质海外资源 -->
		<div class="ziyuan gWidth1170">
			<h3 class="title">彬彬教育<em>优质海外资源</em></h3>
			<!-- content -->
			<div class="content">
				<!-- 选项标题 -->
				<div class="x_title clearfix">
					<a class="active">招生官寄语抢先看</a>
					<span>|</span>
					<a>优质学校先睹为快</a>
				</div>
				<!-- 选项content -->
				<div class="x_content">
					<p>彬彬定期会引进校长团赴华来为学生面试，我们的学生享有优先录取、破格录取权。</p>
					<div class="v clearfix">
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/a487e1b85285890786208055696/gw05EfSv3aAA.mp4">
								<img src="/static/home/img/page/LowAge/zhaosheng/白山中学.jpg" alt="白山中学" title="白山中学" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>白山中学</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/a488e8ce5285890786208057243/RfOvMDpvXuIA.mp4">
								<img src="/static/home/img/page/LowAge/zhaosheng/北林招生官.jpg" alt="北林中学" title="北林中学" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>北林中学</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/a4adc3d45285890786208078930/1tWDZbskLW8A.mp4">
								<img src="/static/home/img/page/LowAge/zhaosheng/弗雷斯诺招生官.jpg" alt="弗雷斯诺基督学校" title="弗雷斯诺基督学校" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>弗雷斯诺基督学校</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/a696594f5285890786208118921/m9EpcTedLo4A.mp4">
								<img src="/static/home/img/page/LowAge/zhaosheng/红木基督中学.jpg" alt="红木基督学校" title="红木基督学校" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>红木基督学校</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/a8ea4bd05285890786208216257/GBjSdwR0dpQA.mp4">
								<img src="/static/home/img/page/LowAge/zhaosheng/胡沙克中学.jpg" alt="胡沙克中学" title="胡沙克中学" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>胡沙克中学</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/ab897ff55285890786208359362/wX9qYOoS3uwA.mp4">
								<img src="/static/home/img/page/LowAge/zhaosheng/吉尔福伊.jpg" alt="吉尔福德伊尔中学" title="吉尔福德伊尔中学" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>吉尔福德伊尔中学</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/ad7fc66c5285890786208401239/1qdST6rfcg4A.mp4">
								<img src="/static/home/img/page/LowAge/zhaosheng/考文垂招生官.jpg" alt="考文垂基督学校" title="考文垂基督学校" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>考文垂基督学校</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/ab99f3565285890786208366365/Mm7uM7DiSaYA.mp4">
								<img src="/static/home/img/page/LowAge/zhaosheng/玛丽安娜中学.jpg" alt="玛丽安娜中学" title="玛丽安娜中学" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
			 				<span>玛丽安娜中学</span>
						</div>
					</div>
					<a href="javascript:;" onclick="go()">了解近期校长来访计划</a>
				</div>
				<div class="x_content">
					<p>彬彬留学直接与海外院校合作，是众多美国中学的独家代理。</p>
					<div class="v clearfix">
						<div class="fl box">
							<div class="hover" data-videoSrc="/static/home/img/page/video/93cad5b3d087e50d4ee657006cde0e9c.mp4">
								<img src="/static/home/img/page/LowAge/白山中学.jpg" alt="伯特利教会学校" title="伯特利教会学校" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>伯特利教会学校</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/b95ff8745285890786208931905/UUnn6fvsXOAA.mp4">
								<img src="/static/home/img/page/LowAge/hzjdxx.jpg" alt="海岸基督学校" title="海岸基督学校" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>海岸基督学校</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/b92bcb4c5285890786208905410/kxlzKZyhKYIA.mp4">
								<img src="/static/home/img/page/LowAge/hrtxsslxx.jpg" alt="海瑞特橡树私立学校" title="海瑞特橡树私立学校" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>海瑞特橡树私立学校</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/b9974a575285890786208963552/gA5EsEQWqUwA.mp4">
								<img src="/static/home/img/page/LowAge/hmdzx.jpg" alt="哈姆登霍尔中学" title="哈姆登霍尔中学" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>哈姆登霍尔中学</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/ad8291125285890786208406537/RqbmXgWjHnYA.mp4">
								<img src="/static/home/img/page/LowAge/胡沙克高中.jpg" alt="胡沙克中学" title="胡沙克中学" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>胡沙克中学</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/f1b642b25285890786209081951/hAuFC8cJoFMA.mp4">
								<img src="/static/home/img/page/LowAge/kwc.jpg" alt="考文垂基督学校" title="考文垂基督学校" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>考文垂基督学校</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/b4dcfc345285890786208757008/nIz0bp5qXmkA.mp4">
								<img src="/static/home/img/page/LowAge/蒙特利海湾学院.jpg" alt="蒙特利海湾学院" title="蒙特利海湾学院" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>蒙特利海湾学院</span>
						</div>
						<div class="fl box">
							<div class="hover" data-videoSrc="http://1256778600.vod2.myqcloud.com/8b1ff72cvodcq1256778600/ae0034ba5285890786208474927/1pjcMZtVzAIA.mp4">
								<img src="/static/home/img/page/LowAge/韦伯中学.jpg" alt="韦伯中学" title="韦伯中学" />
								<img src="/static/home/img/page/LowAge/baofang@2x.png" class="bf" alt="">
							</div>
							<span>韦伯中学</span>
						</div>
					</div>
					<a href="javascript:;" onclick="go()">了解更多优质学校</a>
				</div>
			</div>
		</div>
		<!-- 弹出的视频 -->
		<div class="tc_video">
			<div class="video">
				<video src="" autoplay="autoplay" controls="controls">
					您的浏览器不支持video标签
				</video>
				<img src="/static/home/img/page/LowAge/video_gb.png" alt="">
			</div>
		</div>
		
		<!-- 四类美国高中任你选 -->
		<div class="renNixuan">
			<div class="gWidth1170">
				<h3 class="title">四类<em>美国高中任你选</em></h3>
				<div class="content clearfix">
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/gaozhong_sq/145419x0883a8ja5xa19xi.png" class="fl" alt="走读高中" title="走读高中">
						</div>
						<div class="fl">
							<h4>走读高中</h4>
							<p>走读高中国际生一般入住学校周边的寄宿家庭。这类学校因不提供宿舍，主要以本地生为主，不会出现中国学生扎堆的情况。走读学校的学生与当地寄宿家庭接触频繁，能够更快使学生融入美国社会，且教学质量无可挑剔，学校选择性多。</p>
						</div>
						<a href="javascript:;" onclick="go()">申请条件</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/gaozhong_sq/13.png" class="fl" alt="寄宿高中" title="寄宿高中">
						</div>
						<div class="fl">
							<h4>寄宿高中</h4>
							<p>美国私立寄宿高中是指私立的、有提供学生住宿的学校。最大特色是小班授课，以及多元化的学习科目与课外活动，安全性高，美国的很多寄宿制高中以其严格的录取标准和高质量的教学水平闻名于世。</p>
						</div>
						<a href="javascript:;" onclick="go()">申请条件</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/gaozhong_sq/DSC_0001.png" class="fl" alt="蓝带高中" title="蓝带高中">
						</div>
						<div class="fl">
							<h4>蓝带高中</h4>
							<p>“蓝带”是美国政府通过对于学校9大指标进行综合评估，给予中小学校的至高荣誉，被誉为“教育界的奥斯卡”。仅有3.9%的美国中小学校获得过此荣誉。此类学校通常录取标准高，学习风气浓厚，教学质量高，进入常春藤类名校的比例也高。</p>
						</div>
						<a href="javascript:;" onclick="go()">申请条件</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/gaozhong_sq/WeChat-Image_20170913093645.png" class="fl" alt="艺术高中" title="艺术高中">
						</div>
						<div class="fl">
							<h4>艺术高中</h4>
							<p>美国艺术高中非常注重艺术训练，提供专门的艺术课程，为未来准备进入艺术学院的学生打下了良好的基础。在高中阶段的艺术课程中有音乐、舞蹈、戏剧以及平面设计、建筑设计等，这些学校在培养艺术特长的同时，也着重培养孩子的文化课程。</p>
						</div>
						<a href="javascript:;" onclick="go()">申请条件</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 有彬彬 留学更省心 -->
		<div class="shengxin gWidth1170">
			<h3 class="title">有彬彬 留学更<em>省心</em></h3>
			<div class="content clearfix">
				<div class="box fl">
					<div class="img">我们能为您做什么</div>
					<div class="bot">
						<ul>
							<li>制定留学计划，搜集标准化考试复习材料，提升语言成绩，进行家庭资金规划；</li>
							<li>锁定目标院校，了解院校申请要求； 考试辅导，考试注册；</li>
							<li>文书写作及背景材料润色； 递交申请，完善材料；</li>
							<li>确认申请结果，收获录取offer；  准备签证材料+面试辅导；</li>
							<li>安排海外寄宿家庭和监护团队；</li>
							<li>缴纳费用；安排体检；预定机票；</li>
							<li>美国接机安排；留学生行前指导。</li>
						</ul>
					</div>
				</div>
				<div class="box fr box2">
					<div class="img">学生和家长只需要做以下事情</div>
					<div class="bot">
						<ul>
							<li>提供存款证明、护照页、成绩单等纸质材料；</li>
							<li>配合参加标化考试；</li>
							<li>积极参加美高面试。</li>
						</ul>
					</div>
				</div>
			</div>
			<a href="javascript:;" onclick="go()">了解更多服务详情</a>
		</div>
		
		<!-- 美国高中申请流程 -->
		<div class="sq_lc gWidth1170">
			<h3 class="title">美国高中<em>申请流程</em></h3>
			<!-- content -->
			<div class="content clearfix">
				<div class="fl">
					<div class="tone clearfix">
						<span><p>3-5月<br />留学规划</p></span><img src="/static/home/img/page/gaozhong_sq/liucheng1.png" alt="">
						<span><p>6月<br />选校</p></span><img src="/static/home/img/page/gaozhong_sq/liucheng1.png" alt="">
						<span><p>7-8月<br />考试培训</p></span><img src="/static/home/img/page/gaozhong_sq/liucheng1.png" alt="">
						<span><p>9月<br />参加考试</p></span><img src="/static/home/img/page/gaozhong_sq/liucheng1.png" alt="">
						<span><p>10月<br />申请材料</p></span>
					</div>
					<div class="ttwo clearfix">
						<b>制定留学计划，搜集标准化考试复习材料，加强英语学习，进行家庭资金规划</b><img src="/static/home/img/page/gaozhong_sq/liucheng2.png" alt="">
					</div>
					<div class="tthree clearfix">
						<span class="fr"><p>11月<br />参加考试</p></span><img class="fr" src="/static/home/img/page/gaozhong_sq/liucheng3.png" alt="">
						<span class="fr"><p>12月<br />寄送成绩</p></span><img class="fr" src="/static/home/img/page/gaozhong_sq/liucheng3.png" alt="">
						<span class="fr"><p>次年1-2月<br />提交申请</p></span><img class="fr" src="/static/home/img/page/gaozhong_sq/liucheng3.png" alt="">
						<span class="fr"><p>次年3月<br />收获offer</p></span><img class="fr" src="/static/home/img/page/gaozhong_sq/liucheng3.png" alt="">
						<span class="fr"><p>次年4月<br />准备入学</p></span>
					</div>
				</div>
				<div class="fr">
					<ul>
						<li><a href="javascript:;" onclick="go()">2019年美国中学申请流程</a></li>
						<li><a href="javascript:;" onclick="go()">美国中学的推荐信怎么写?</a></li>
						<li><a href="javascript:;" onclick="go()">美国中学申请的四大误区</a></li>
						<li><a href="javascript:;" onclick="go()">申请被放入wait list名单怎么办?</a></li>
						<li><a href="javascript:;" onclick="go()" class="anniu">更多疑问立即咨询</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- 彬彬海外独家特色服务 -->
		<div class="ts_fw">
			<div class="gWidth1170">
				<h3 class="title">彬彬海外<em>独家特色服务</em></h3>
				<div class="content clearfix">
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu1.png" alt="寄宿家庭安置全服务" title="寄宿家庭安置全服务">
							<span>寄宿家庭安置全服务</span>
						</div>
						<p>提供寄宿家庭选择；十个月食宿费用；上、下学交通；国际学生监护；免费更换寄宿家庭</p>
						<a href="/fmfml/0-1.html" target="_blank">提前预约寄宿家庭</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu2.png" alt="住宿管理" title="住宿管理">
							<span>住宿管理</span>
						</div>
						<p>7*24紧急情况协助；匹配服务团队随时沟通；协助处理就医问题；定期家访、校访；生活矛盾处理</p>
						<a href="/page/overseashome.html" target="_blank">预约贴心无忧管家</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu3.png" alt="学业跟踪" title="学业跟踪">
							<span>学业跟踪</span>
						</div>
						<p>校规培训及介绍；成绩跟踪及反馈；选课及学习指导；升学规划；转学申请</p>
						<a href="javascript:;" onclick="go()">预约辅导老师</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu4.png" alt="留学课堂" title="留学课堂">
							<span>留学课堂</span>
						</div>
						<p>背景提升；美国风俗文化授课；名校学长传授留学经验；美国生活指导；定期组织课外活动</p>
						<a href="javascript:;" onclick="go()">定制个性化成长方案</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu5.png" alt="行前指导" title="行前指导">
							<span>行前指导</span>
						</div>
						<p>机票购买指导；行前行李准备；出入境指导；安全培训；选课、校服、疫苗体检等指导</p>
						<a href="javascript:;" onclick="go()">知己知彼，出行无忧</a>
					</div>
					<div class="box fl">
						<div class="img">
							<img src="/static/home/img/page/haiwai_jianguan/fuwu6.png" alt="其他支持服务" title="其他支持服务">
							<span>其他支持服务</span>
						</div>
						<p>ISWP心理支持服务；协助解决突发事件；法务支持；租房/买房；移民</p>
						<a href="javascript:;" onclick="go()">更多服务了解</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 彬彬教育致力让每一个学生牵手世界名校 -->
		<div id="mydiv" style="height: 695px;">
			<div class="box gWidth1170 clearfix">
				<!-- title -->
				<h3 class="title">彬彬教育致力让每一个学生<em>牵手世界名校</em></h3>
				<!-- content -->
				<div class="content gWidth1170">
					<div class="fl">
						<ul>
							<li class="li1">
								<h3>6位1体</h3>
								<p>业内首创“6位1体”服务模式；服务客户满意度高达100%</p>
							</li>
							<li class="li2">
								<h3>广资源</h3>
								<p>留学行业质量认证标准机构、国内十佳品牌诚信留学机构、CSIET评审认证留学机构</p>
							</li>
							<li class="li3">
								<h3>多重认证</h3>
								<p>留学行业质量认证标准机构、国内十佳品牌诚信<br />留学机构、CSIET评审认证留学机构</p>
							</li>
						</ul>
					</div>
					<div class="dq">
						<div>
						</div>
					</div>
					<div class="fr">
						<ul>
							<li class="li1 clearfix">
								<h3>全覆盖</h3>
								<p class="fr">600+海外同专业导师覆盖全美TOP100名校<br />让学生提前了解校园生活并提供全程对应辅导</p>
							</li>
							<li class="li2 clearfix">
								<h3>大数据</h3>
								<p class="fr" style="width: 341px;">120000+超大申请数据库；科学手段狂揽offer</p>
							</li>
							<li class="li3 clearfix">
								<h3>两个“1”</h3>
								<p class="fr">国内独1拥有海外监管服务中心留学机构<br />国内独1拥有海外院校开发资质的留学机构</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		{include file="common/common_bottom"/}
		<script type="text/javascript">
			$('.haiwaizy .content .box1:last-child').css({'margin-right': '0'});
			//
			$('.ziyuan .x_title a').eq(0).attr('class', 'active');
			$('.ziyuan .x_content').eq(0).css({'display': 'block'});
			$('.ziyuan .x_title a').on('click', function () {
				var index = $('.ziyuan .x_title a').index($(this));
				$(this).attr('class', 'active').siblings('a').removeAttr('class');
				$('.ziyuan .x_content').eq(index).css({'display': 'block'}).siblings('.x_content').css({'display': 'none'});
			})
			//
			$('.ziyuan .x_content .v .box:nth-child(4n)').css({'margin-right': '0'});
			
			$('.ziyuan .x_content .v .box').on('click', function () {
				var videoSrc = $(this).children('.hover').attr('data-videoSrc');
				$('.tc_video').children('.video').children('video').attr('src', videoSrc);
				$('.tc_video').fadeIn();
			})
			$('.tc_video .video img').on('click', function () {
				$('.tc_video').fadeOut();
				$(this).siblings('video').removeAttr('src');
			})
			// 
			$('.renNixuan .content .box:nth-child(2n)').css({'margin-right': '0'});
			// 
			$('.ts_fw .content .box:nth-child(3n)').css({'margin-right': '0'});
			// 
			window.onload = function() {
				//配置
				var config = {
					vx: 4,	//小球x轴速度,正为右，负为左
					vy: 4,	//小球y轴速度
					height: 2,	//小球高宽，其实为正方形，所以不宜太大
					width: 2,
					count: 200,		//点个数
					color: "228,228,228", 	//点颜色
					stroke: "228,228,228", 		//线条颜色
					dist: 30000, 	//点吸附距离
					e_dist: 20000, 	//鼠标吸附加速距离
					max_conn: 10 	//点到点最大连接数
				}
			
				//调用
				CanvasParticle(config);
			}
			
			//
			$(window).scroll(function () {
				if( $(window).scrollTop() + 700 >= $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'right'});	 
				}
				
				if( $(window).scrollTop() + 700 < $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'left'});	 
				}
			})
			// 
			var textHtml = [
				'制定留学计划，搜集标准化考试复习材料，加强英语学习，进行家庭资金规划',
				'根据自身情况，锁定4-10所目标院校，了解院校申请要求,注册TOEFL考试',
				'参加TOEFL/ITEP等考试培训，索取学校申请资料',
				'注册SSAT，参加TOEFL考试，取得TOEFL分数后确定申请的学校',
				'索取各院校申请表格，填写申请材料',
				'参加SSAT考试，冲刺高分',
				'寄送成绩单，缴纳申请费，进行面试',
				'跟踪申请，确定院校在2月1日前收到所有申请资料，等待结果',
				'拿到学校录取通知，申请签证',
				'签订入学合同，开始行前准备，踏上美好留学生活！',
			];
			$('.sq_lc .content span').eq(0).addClass('active');
			$('.sq_lc .content span').hover(function () {
				var index = $('.sq_lc .content span').index($(this));
				$('.ttwo b').text(textHtml[index]);
				$('.sq_lc .content span').removeClass('active');
				$('.sq_lc .content span').eq(index).addClass('active');
			})
			
		</script>
		
	</body>
	<!-- 高中表单 -->
	{include file="common/common_highSchool"/}

</html>
