{include file="common/common_head"/}
		<!-- 当前网页样式 -->
		<link rel="stylesheet" href="/static/home/css/page/slate.css">
	</head>
	<body>
		<!-- 导航 -->
		{include file="common/common_navhead"/}
		
		<!-- banner -->
		<div class="banner">
			<div class="gWidth1170">
				<h1>iTEP-SLATE考试</h1>
				<h2>更简单的美国高中留学语言测试</h2>
				<h3>彬彬带你一路通关</h3>
				<a href="javascript:;" onclick="go()"><em></em>报名参加SLATE考试</a>
			</div>
		</div>
		
		<!-- bannerNav -->
		<div class="bannerNav">
			<div class="gWidth1170">
				<span class="active">SLATE介绍</span>
				<span>SLATE优势</span>
				<span>彬彬优势</span>
				<span>考试内容</span>
				<span>名校推荐</span>
				<span>考试级别</span>
				<span>考试流程</span>
			</div>
		</div>
		<div class="navHidden"></div>
		
		<!-- SLATE考试介绍 -->
		<div class="gWidth1170 p_index kaoshi_jieshao">
			<h3 class="title">SLATE考试介绍</h3>
			<!-- content -->
			<div class="content clearfix">
				<img src="/static/home/img/slate/jieshao.jpg" class="fl" alt="">
				<div class="fr">
					<p>SLATE（Secondary Level Assessment Test of English缩写）是英语水平评估测试，由美国专门从事在线英语语言能力测试评估权威机构波士顿教育服务公司提供。其目的是考核英语为第二语言的学习者的英语熟练程度。SLATE考试专门针对到美国或其他英语高中和学院留学的初高中年龄段的学生，美国75%的中学接受SLATE成绩做为外籍学生入学与分班的参考。提供SLATE成绩的学生，学校通常不需要学生再提供TOEFL成绩。</p>
					<a href="javascript:;" onclick="go()" class="fr">了解更多&gt;&gt;</a>
				</div>
			</div>
		</div>
		
		<!-- SLATE考试独特优势 -->
		<div class="dute_youshi p_index">
			<div class="gWidth1170">
				<h3 class="title">SLATE考试独特优势</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="box fl">
						<div class="hidden">
							<h3>方便实惠 ，高效快捷</h3>
							<span></span>
							<p>SLATE考试网络预约灵活方便，能够做到随约随考，1-3天就能拿成绩，90分钟考试涵盖了听、说、读、写和语法，价格实惠，考试轻松没有压力，可以多次考试，选择自己理想的成绩电邮给校方。</p>
						</div>
					</div>
					<div class="box box2 fl">
						<div class="hidden">
							<h3>发展迅猛 ，潜力巨大</h3>
							<span></span>
							<p>相比其他语言测试系统，全新的SLATE考试以其全新的理念，高效、权威、方便、通过率高的优势发展迅猛、潜力巨大。近年，在SLATE考试进入中国大陆以后，认可SLATE考试成绩的院校和国家在迅速增加。</p>
						</div>
					</div>
					<div class="box box3 fl">
						<div class="hidden">
							<h3>转变观念 ，分步到位</h3>
							<span></span>
							<p>托福、雅思成绩不理想，可以挑选并考察认可SLATE考试成绩的美国院校，迅速通过SLATE考试，将成绩电邮给校方。被校方正式录取后，再利用其与美国名校之间学分互认这一特点，经过两年的学习，进入更高层次的大学就读。</p>
						</div>
					</div>
					<div class="box box4 fl">
						<div class="hidden">
							<h3>安全踏实 ，签证率高</h3>
							<span></span>
							<p>考生通过SLATE考试取得美国初中，高中和大学的正式录取通知书，相比只拿到某大学语言课程的录取，或语言课程加大学录取的所谓“双录取”，更能证明语言能力没有问题，签证官也会认为这样的学生更安全、更稳定，自然更容易获得签证。</p>
						</div>
					</div>
				</div>
				<a href="javascript:;" onclick="go()">SLATE考试能否替代托福？</a>
			</div>
		</div>
		
		<!-- 选择彬彬SLATE考试 -->
		<div class="slate_kaoshi p_index">
			<div class="gWidth1170">
				<h3 class="title">选择彬彬SLATE考试</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="box fl">
						<h3>优势1</h3>
						<span></span>
						<h4>权威</h4>
						<p>iTEP官方指定考点</p>
					</div>
					<div class="box box2 fl">
						<h3>优势2</h3>
						<span></span>
						<h4>方便</h4>
						<p>彬彬在北京有2家考点，学生无须预约，可随时参加考试</p>
					</div>
					<div class="box box3 fl">
						<h3>优势3</h3>
						<span></span>
						<h4>快捷</h4>
						<p>2小时出分，并提供专业性"复盘"方案</p>
					</div>
				</div>
				<a href="javascript:;" onclick="go()">随报随考，名额有限</a>
			</div>
		</div>
		
		<!-- SLATE考试内容 -->
		<div class="kaoshi_neirong p_index">
			<div class="gWidth1170">
				<h3 class="title">SLATE考试内容</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="box fl">
						<div class="div1">
							<div>
								<h3>听力</h3>
								<span>考试时间：20min</span>
							</div>
						</div>
						<div class="div2">
							<div>
								<p>1.四个包含有2到3个句子的初中级难度的简短对话交流，每个对话后附带1个多项选择题。<br />2.一段2到3分钟长度中级难度的对话交流，附带4个多项选择题。 <br />3.一段4分钟长度大学水平难度的讲演，附带6个多项选择题。</p>
							</div>
						</div>
					</div>
					<div class="box box2 fl">
						<div class="div1">
							<div>
								<h3>语法</h3>
								<span>考试时间：10min</span>
							</div>
						</div>
						<div class="div2">
							<div>
								<p>包含有25个多项选择题，每项考题主要用来测试考生对英语文法结构要点的熟悉掌握程度。本测试部分内容由简入难，包括由初级到高级难度不等的词汇量，考题主要有两种样式类型，每类考题在屏幕上都会有例子进行阐述。</p>
							</div>
						</div>
					</div>
					<div class="box box3 fl">
						<div class="div1">
							<div>
								<h3>阅读</h3>
								<span>考试时间：20min</span>
							</div>
						</div>
						<div class="div2">
							<div>
								<p>1.两段低中级的约50字短文和对应的单选题；<br />2.一篇250个单词左右长度的中级难度短文，附带4个多项选择题；<br />3.一篇450个单词左右长度的大学水平难度的论文，附带6个多项选择题。</p>
							</div>
						</div>
					</div>
					<div class="box box4 fl">
						<div class="div1">
							<div>
								<h3>写作</h3>
								<span>考试时间：25min</span>
							</div>
						</div>
						<div class="div2">
							<div>
								<p>1.按照指导要求，考生需要就考题中所提供的题目写一篇论文（时间：5分钟；长度：50-75个单词）<br />2.考生需要就考题中提供的写作题目表达自己的观点，并对自己表达的观点进行正面阐述（时间：20分钟；长度：175-225个单词）。</p>
							</div>
						</div>
					</div>
					<div class="box box5 fl">
						<div class="div1">
							<div>
								<h3>口语</h3>
								<span>考试时间：5min</span>
							</div>
						</div>
						<div class="div2">
							<div>
								<p>1.考生会同时听到并看到一个简短的中低难度的问题，考生有30秒的准备时间，然后进行45秒钟的口语回答；<br />2.考生会听到一段简短的对某一问题正反两方面的论述考生然后会被要求就此论述来阐述自己的观点</p>
							</div>
						</div>
					</div>
					<div class="box box6 fl">
						<div class="div1">
							<div>
								<h3>Tips</h3>
								<!-- <span>考试时间：10min</span> -->
							</div>
						</div>
						<div class="div2">
							<div>
								<p style="font-size: 12px;">SLATE考试的阅读、听力和语法部分都是由电脑进行自动评分，考生会得到一个指数分值和与之相对应的等级（0-6）。写作和口语部分是由英语为母语的专家按照标准评分量规打分。考试的任一部分权重比例分配相当，在多项选择部分，对猜选或错选的答案不扣分。正式的分数报告会以图表格式向考生展示分数信息。以图像模式显示的技能概括，尤其能够通过考生的测评，为考生的英文五项技能的优势和不足做逐一的展示。</p>
							</div>
						</div>
					</div>
				</div>
				<a href="javascript:;" onclick="go()">如何提高SLATE考试成绩</a>
			</div>
			<div class="neirong_poa clearfix">
				<div class="gWidth1170 clearfix">
					<img src="/static/home/img/slate/logo.png" alt="">
					<div class="fr">
						<p>彬彬依据SLATE官方考试指南，根据各项语言考试特点，结合彬彬教育对语言考试的深入研究，为学员匹配相应的针对性练习和训练，训练强度大，帮助学员短期内快速提高语言成绩。</p>
						<a href="javascript:;" onclick="go()">点击获取专属提分计划</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 接受SLATE考试成绩的学校 -->
		<div class="jieshou_xuexiao gWidth1170 p_index">
			<h3 class="title">接受SLATE考试成绩的学校</h3>
			<!-- content -->
			<div class="content">
				<div class="table1">
					<table>
						<tr><th>学校中文名称</th><th>学校英文名称</th><th>学校等级</th><th>所在地区</th><th>SLATE录取要求</th></tr>
					</table>
				</div>
				<div class="table2">
					<table>
						<tr><td>汉姆顿学校</td><td>Hamden Hall Country Day School</td><td>A+</td><td>CT</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>罗格斯中学</td><td>Rutgers Preparatory School</td><td>A+</td><td>NJ</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>兰尼学院</td><td>Ranney School</td><td>A+</td><td>NJ</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>劳伦斯伍德米尔学院</td><td>Lawrence Woodmere Academy</td><td>A+</td><td>NY</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>哈利学校</td><td>The Harley School</td><td>A+</td><td>NY</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>斯泰顿岛学校</td><td>Staten Island Academy</td><td>A+</td><td>NY</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>沃星汉姆学校</td><td>Walsingham Academy</td><td>A+</td><td>VA</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>文森特学院</td><td>Vincentian Academy</td><td>A+</td><td>PA</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>桑德河学校</td><td>Saddle River Day School</td><td>A+</td><td>NJ</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>格莱内尔学校</td><td>Glenelg Country School</td><td>A+</td><td>MD</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>库埃里兰中学</td><td>The Quarry Lane School</td><td>A+</td><td>CA</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>韦罗特主教高中</td><td>Bishop Verot Catholic High School</td><td>A+</td><td>FL</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>圣维克特高中</td><td>Saint Viator High School</td><td>A+</td><td>IL</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>福莫斯学院</td><td>Falmouth Academy</td><td>A+</td><td>MA</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>主教林奇高中</td><td>Bishop Lynch High School</td><td>A+</td><td>TX</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>贝拉明预备学校</td><td>Bellarmine Preparatory School</td><td>A+</td><td>WA</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>惠灵顿学校</td><td>The Wellington School</td><td>A+</td><td>OH</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>布里梅尔学校</td><td>Brimmer & May School</td><td>A+</td><td>MA</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>主教多德高中</td><td>Bishop O'Dowd High School</td><td>A+</td><td>CA</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
						<tr><td>哈里森堡学院</td><td>Harrisburg Academy</td><td>A+</td><td>PA</td><td><a href="javascript:;" onclick="go()">点击了解</a></td></tr>
					</table>
				</div>
			</div>
			<a href="javascript:;" onclick="go()">更多学校点击了解</a>
		</div>
		
		<!-- SLATE考试级别 -->
		<div class="kaoshi_jibie p_index">
			<div class="gWidth1170">
				<h3 class="title">SLATE考试级别</h3>
				<!-- content -->
				<div class="content clearfix">
					<div class="fl">
						<h3>SLATE考试级别</h3>
						<ul>
							<li><span>Level 0</span><em><i>初学者</i>（Beginning）</em></li>
							<li><span>Level 1</span><em><i>初级</i>（Elementary）</em></li>
							<li><span>Level 2</span><em><i>中级以下</i>（Low-Intermediate）</em></li>
							<li><span>Level 3</span><em><i>中级</i>（Intermediate）</em></li>
							<li><span>Level 4</span><em><i>中级以上</i>（High-Intermediate）</em></li>
							<li><span>Level 5</span><em><i>高级以下</i>（Low-Advanced）</em></li>
							<li><span>Level 6</span><em><i>高级</i>（Advanced）</em></li>
						</ul>
					</div>
					<div class="fr">
						<h3>SLATE-SLEP-TOEFL Jr.成绩对比表</h3>
						<img src="/static/home/img/slate/dengji.jpg" alt="">
					</div>
				</div>
				<div class="anniu">
					<a href="/informationsts/1060.html" target="_blank">如何提高Slate写作能力</a>
					<a href="javascript:;" class="a1" onclick="go()">点击获取提分计划</a>
				</div>
			</div>
		</div>
		
		<!-- SLATE考试流程 -->
		<div class="kaoshi_liucheng gWidth1170 p_index">
			<h3 class="title">SLATE考试流程</h3>
			<div class="slateOne">
				<h4><em>1</em>SLATE考试准备</h4>
				<div class="contentOne">
					<div>
						<p><b>考试时长：</b>每位应考者参加考试的时间总长度在90分钟。同时，监考师应额外预留出10分钟的时间用来给考生做考前指导及做考生问题答疑。</p>
						<p><b>考试构成：</b>本考试包含一个简短的“准备工作”部分和考试正题部分。</p>
						<p><b>准备工作部分 – 考生在考试前要完成以下部分的准备工作：</b></p>
						<p>■ <b>考生登陆：</b>要求考生输入考试用户号码和密码。</p>
						<p>■ <b>注册：</b>要求考生完成注册表格的填写。考生填写注册表格时考生的姓名和国籍的第一个字母要大写，如果考生没有相关信息可填写“N/A”。</p>
						<p>■ <b>耳机：</b>当屏幕显示有戴耳机人物的照片时，指导考生戴上耳机。</p>
						<p>■ <b>音频检测：</b>听音频录音示范时，允许考生对佩带耳机的音量大小进行调节。</p>
						<p>■ <b>录音设备：</b>安装一个小型软件设备用来对考生在口语考试部分的回答录音。</p>
						<p>■ <b>录音检测：</b>允许考生收录一小段自己的口语录音，并同考生确认是否能够清楚的听到该段录音。</p>
						<p>■ <b>限时工具：</b>向考生解释在整个考试过程中会使用定时机制。</p>
					</div>
				</div>
			</div>
			<div class="slateTwo">
				<h4><em>2</em>SLATE考试流程</h4>
				<p>考生必须至少提前于开考时间10-20分钟到场，迟到的考生不予退款或安排重考，考前监考老师辅导考生进行考生登陆、考生注册、耳麦调试、录音检测等考试准备工作</p>
				<div class="contentTwo clearfix">
					<div class="box fl">
						<div class="div1">
							<h3>考试递交方式</h3>
							<img src="/static/home/img/slate/xiangxia.png" alt="">
						</div>
						<div class="hidden">
							<p>整个考试是通过网络递交的，因此必须要在经过授权的iTEP考试中心的安全环境中进行管理。阅读、听力和语法项目部分，考生只需要就每一问题的答案进行四选一即可（阅读部分会有一些问题要求考生使用鼠标对所选项目进行拖动或进行点击插入一个新项目）。写作部分要求考生使用键盘录入正文到考题指定区域。考生可在电脑上通过耳机/耳麦听到口语部分的例子。</p>
						</div>
					</div>
					<div class="box box2 fl">
						<div class="div1">
							<h3>转换界面</h3>
							<img src="/static/home/img/slate/xiangxia.png" alt="">
						</div>
						<div class="hidden">
							<p>考生在完成阅读、听力、语法和写作任一部分后，都会看到在屏幕上显示有“下一项开始的测试是……”的界面。这些“转换界面”在不同测试部分转换时给考生15秒钟的休息，同时告之考生已经完成的测试部分和还未测试的部分。在最后的口语部分测试完成后，考生会看到一个“考试完成”界面，这个界面告诉考生等候监考官的进一部指令。</p>
						</div>
					</div>
					<div class="box box3 fl">
						<div class="div1">
							<h3>成绩发放</h3>
							<img src="/static/home/img/slate/xiangxia.png" alt="">
						</div>
						<div class="hidden">
							<p>通常情况下，考生可在考试结束后2-3个工作日内向iTEP考点查询成绩。考生的成绩单由ITEP考点负责发送。考试的阅读、听力和语法部分都是由电脑进行自动评分，考生会得到一个指数。分值和与之相对应的等级（0-6）。写作和口语部分是由英语为母语的专家按照标准的评分量规打分。正式的分数报告会以图表格式向考生展示分数信息。以图像模式显示的技能概括，能够清晰的展示学生的语言能力。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="slateThree">
				<h4><em>3</em>SLATE考试注意事项</h4>
				<div class="contentTherr clearfix">
					<div class="fl">
						<img src="/static/home/img/slate/logo2.png" alt="">
						<a href="javascript:;" onclick="go()">马上参加SLATE考试</a>
					</div>
					<div class="fr">
						<p style="margin-top: 20px;">所有考试中心都是通过互联网在iTEP认证的考试中心进行。阅读，听力，和语法部分是选择题； 写作部分，考生直接输入字段指定区域；口语部分，利用和计算机连接的麦克风记录讲的部分。每个部分都有时间限制，如果考生完成一段后还有剩余的时间，可以提前进入下一节。</p>
						<p><b>每一节都有固定的时间，如果考生提前完成本节，可以用剩下的时间审查以前的部分，也可以提前进行下一节，如下：</b></p>
						<p><b>阅读和语法：</b>考生可以用额外的时间来审查和修改任何答案。</p>
						<p><b>听力：</b>听力选择只有一次，不能进行审查。</p>
						<p><b>写作：</b>有一部分固定的时间限制，但考生可提前到下一段时间到期之前。</p>
						<p><b>说：</b>说出的内容不能被修改，每个考试部分的截面都有一个设定的时间显示。</p>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- 底部 -->
		{include file="common/common_bottom"/}
		
		<script type="text/javascript">
			var t = document.documentElement.scrollTop || document.body.scrollTop;
			var scroll = true;
			if(t>=100){
				$('.abcBannav').css({'display': 'none'});
				$('.topNav').css({'position': 'static'});
			}
			// 
			var nav = $('.bannerNav').offset().top;
			$gkLength = $('.p_index').length;
			window.onscroll = function () {
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if(top>=nav){
					$('.bannerNav').css({'position': 'fixed', 'top': '0', 'z-index': '9999'});
					$('.navHidden').css({'display': 'block'});
				}else if(top<=$('.p_index').eq(0).offset().top){
					$('.bannerNav').css({'position': 'static', 'top':''});
					$('.navHidden').css({'display': 'none'});
				}
				for( var i=0; i<$gkLength; i++ ){
					if( i == $gkLength - 1 ){
						if( top>=$('.p_index').eq(i).offset().top ){
							$('.bannerNav span').removeClass('active');
							$('.bannerNav span').eq(i).addClass('active');
						}
						return;
					}
					if( top>=$('.p_index').eq(i).offset().top - 200 && top<$('.p_index').eq(i+1).offset().top - 200 ){
						$('.bannerNav span').removeClass('active');
						$('.bannerNav span').eq(i).addClass('active');
					}
				}
			}
			$('.bannerNav span').on('click', function () {
				var index = $('.bannerNav span').index($(this));
				var offsetTop = $('.p_index').eq(index).offset().top;
				$('body, html').stop().animate({scrollTop: offsetTop}, 1500);
			})
			$('.bannerNav span:last-child').css({'margin-right': '0'});
			// 
			$('.dute_youshi .content .box').hover(function () {
				$(this).children('.hidden').stop().animate({'height': '311px'});
				$(this).children('.hidden').children('h3').stop().animate({'padding-top': '29px'});
			}, function () {
				$(this).children('.hidden').stop().animate({'height': '50px'});
				$(this).children('.hidden').children('h3').stop().animate({'padding-top': '13px'});
			})
			// 
			$('.kaoshi_neirong .box').hover(function () {
				$(this).children('.div1').stop().fadeOut();
				$(this).children('.div2').stop().fadeIn();
			}, function () {
				$(this).children('.div2').stop().fadeOut();
				$(this).children('.div1').stop().fadeIn();				
			})
			// 
			var tableOne = $('.jieshou_xuexiao .content .table1');
			var tableIndex = $('.jieshou_xuexiao .content .table2');
			tdWidth(tableOne, true);
			tdWidth(tableIndex, false);
			function tdWidth (father, isTitle) {
				for ( var i=0; i<father.length; i++) {
					var fatherTr = father[i].getElementsByTagName('tr');
					for ( var k=0; k<fatherTr.length; k++ ) {
						fatherTr[k].children[0].style.width = '273px';
						fatherTr[k].children[1].style.width = '389px';
						fatherTr[k].children[2].style.width = '163px';
						fatherTr[k].children[3].style.width = '163px';
						if(isTitle){
							fatherTr[k].children[4].style.width = '176px';
						}else{
							fatherTr[k].children[4].style.width = '159px';
						}
					}
				}
			}
			// 
			$('.kaoshi_liucheng .slateTwo .contentTwo .box').hover(function () {
				$(this).children('.div1').stop().fadeOut();
				$(this).children('.hidden').stop().fadeIn();
			}, function () {
				$(this).children('.hidden').stop().fadeOut();
				$(this).children('.div1').stop().fadeIn();
			})
		</script>
		
	</body>
</html>
