<!DOCTYPE html>
<html lang="en">
	<head>
		<base target="_blank" />
		<meta charset="utf-8">
		<title>美国留学_专注美国留学的高端留学机构_彬彬教育</title>
		<link rel="s<>hortcut icon" href="/static/home/img/favicon.ico">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/home/css/page/dream/usa_tg_yh.css" />
		<link rel="stylesheet" type="text/css" href="/static/home/css/page/yingxiao3/share.css" />
		<link href="/static/home/css/page/dream/footer_edu.css" rel="stylesheet" type="text/css" />
	</head>
	<body>

		<style type="text/css">
			/* topNav */
			.topNav {
				width: 100%;
				height: 99px;
				background-color: #fff;
				position: relative;
				z-index: 999999;
				box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
			}

			.topNavBox {
				width: 1536px;
				margin-left: auto;
				margin-right: auto;
				position: static;
			}

			.topNav .topNavBox>a>img {
				width: 187px;
				margin-top: 27px;
				margin-right: 32px;
			}

			.topNav .nav {
				position: static;
			}

			.topNav .nav>div.fl {
				position: static;
			}

			.topNav .nav>div.fl>a {
				float: left;
				line-height: 96px;
				margin: 0 12px;
				font-size: 16px;
				color: #000000;
				font-weight: 400;
			}

			.topNav .nav>div.fl:hover>a {
				color: #FF5B5A;
				border-bottom: 3px solid #FF7062;
			}

			.topNav .nav>div.fl a.active {
				border-bottom: 3px solid #FF7062;
			}

			.topNav .nav>div.fl .box {
				width: 100%;
				background-color: #FFFFFF;
				background-color: rgba(255, 255, 255, 0.9);
				left: 0;
				top: 99px;
				position: absolute;
				display: none;
				padding-bottom: 32px;
				z-index: 999;
			}

			.topNav .nav>div.fl .box>div {
				width: 1040px;
				margin-left: auto;
				margin-right: auto;
			}

			.topNav .nav>div.fl .box>div h3 {
				font-size: 15px;
				color: #FF5B5A;
				margin-top: 22px;
				margin-bottom: 10px;
			}

			.topNav .nav>div.fl .box>div>div a {
				font-size: 15px;
				color: #333333;
				width: 140px;
				display: inline-block;
			}

			.topNav .nav>div.fl .box>div>div a:hover {
				color: #FF5B5A;
			}

			.topNavBox .ss {
				border-left: 2px solid #333333;
				padding-left: 15px;
				margin-top: 37px;
			}

			.topNavBox .ss h3 {
				display: inline-block;
				height: 22px;
				cursor: pointer;
				margin-right: 40px;
			}

			.topNavBox .ss h3 img {
				width: 21px;
				height: 22px;
			}

			.topNavBox .ss .input {
				height: 30px;
				border: 1px solid #FF7062;
				border-radius: 4px;
				line-height: 30px;
				font-size: 13px;
				display: none;
				margin-right: 17px;
			}

			.topNavBox .ss .input input {
				float: left;
				height: 30px;
				text-indent: 15px;
			}

			.topNavBox .ss .input button {
				width: 41px;
				height: 30px;
				background-color: #FF7062;
				border-radius: 0 4px 4px 0;
				float: left;
				position: relative;
			}

			.topNavBox .ss .input button img {
				width: 18px;
				height: 19px;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -9.5px;
				margin-left: -9px;
			}

			.topNav .phoneR {
				line-height: 99px;
				font-size: 0;
				color: #222222;
				font-weight: bold;
			}

			.topNav .phoneR>img {
				width: 52px;
				height: 52px;
				margin-right: 12px;
				vertical-align: middle;
				cursor: pointer;
			}

			.topNav .phoneR span {
				font-size: 24px;
				vertical-align: middle;
				overflow: hidden;
				display: inline-block;
				white-space: nowrap;
			}

			/* 媒体查询 判定在小屏幕下改变顶部导航样式 */
			@media screen and (max-width: 1440px) {
				.topNavBox {
					width: 1345px;
					margin-right: auto;
					margin-left: auto;
				}

				.topNav .topNavBox>a>img {
					width: 164px;
				}

				.topNav .nav>div.fl>a {
					font-size: 14px;
					margin: 0 11px;
				}

				.topNav .phoneR>img {
					width: 50px;
					height: 50px;
				}

				.topNav .phoneR span {
					font-size: 22px;
				}

				.topNavBox .ss .input input {
					width: 150px;
				}
			}
		</style>

		<!-- topNav -->
		<div class="topNav clearfix">
			<!-- 导航版心部分 -->
			<div class="topNavBox clearfix">
				<a href="/" class="fl"><img src="/static/home/img/home/logoding.png" alt="美国留学_专业的美国留学服务中介机构_彬彬教育" title="美国留学_专业的美国留学服务中介机构_彬彬教育"></a>
				<div class="nav fl">
					<div class="fl">
						<a href="/" class="active">首页</a>
					</div>
					<div class="fl">
						<a href="/middle/" target="_blank">美国中学</a>
						<div class="box">
							<div>
								<h3>我要申请</h3>
								<div><a href="/page/attnd_high.html" target="_blank">走读高中</a><a href="/page/lodging.html" target="_blank">寄宿高中</a><a
									 href="/page/art_high.html" target="_blank">艺术高中</a><a href="/page/blue_ribbon.html" target="_blank">蓝带高中</a></div>
								<h3>规划攻略</h3>
								<div><a href="/page/seniorsqgl.html" target="_blank">申请攻略</a><a href="/page/interview.html" target="_blank">面试流程</a><a
									 href="/page/seniorsort.html" target="_blank">院校排名</a><a href="/page/seniorcompass.html" target="_blank">选校指南</a><a
									 href="/page/seniormoney.html" target="_blank">留学费用</a></div>
								<h3>我要就读</h3>
								<div><a href="/page/middle_school.html" target="_blank">初中</a><a href="/page/high_school.html" target="_blank">高中</a></div>
							</div>
						</div>
					</div>
					<div class="fl">
						<a href="/college/" target="_blank">美国本科</a>
						<div class="box">
							<div>
								<h3>我要申请</h3>
								<div><a href="/page/comprehensive.html" target="_blank">综合类大学</a><a href="/page/sciences.html" target="_blank">文理学院</a><a
									 href="/page/community.html" target="_blank">社区大学</a></div>
								<h3>规划攻略</h3>
								<div><a href="/page/collegesqgl.html" target="_blank">申请攻略</a><a href="/page/collegecompass.html" target="_blank">选校指南</a><a
									 href="/page/collegemajor.html" target="_blank">专业介绍</a><a href="/page/university_ranking.html" target="_blank">院校排名</a><a
									 href="/page/collegejxj.html" target="_blank">奖学金</a><a href="/page/collegemoney.html" target="_blank">留学费用</a></div>
								<h3>我要就读</h3>
								<div><a href="/page/helicopter.html" target="_blank">本科直申</a><a href="/page/transfer.html" target="_blank">本科转学</a></div>
							</div>
						</div>
					</div>
					<div class="fl">
						<a href="/graduate/" target="_blank">美国研究生</a>
						<div class="box">
							<div>
								<h3>我要申请</h3>
								<div><a href="/page/engineering.html" target="_blank">工科</a><a href="/page/commerce.html" target="_blank">商科</a><a
									 href="/page/science.html" target="_blank">理科</a><a href="/page/liberal_arts.html" target="_blank">文科</a><a
									 href="/page/postgraduate_art.html" target="_blank">艺术</a></div>
								<h3>规划攻略</h3>
								<div><a href="/article/3-65-1.html" target="_blank">申请规划</a><a href="/article/3-199-1.html" target="_blank">奖学金</a><a
									 href="/article/3-198-1.html" target="_blank">文书写作</a><a href="/article/3-101-1.html" target="_blank">留学费用</a><a
									 href="/article/3-203-1.html" target="_blank">院校排名</a></div>
							</div>
						</div>
					</div>
					<div class="fl">
						<a href="/page/polymerization.html" target="_blank">背景提升</a>
					</div>
					<div class="fl">
						<a href="/page/overseashome.html" target="_blank">海外服务</a>
						<div class="box">
							<div>
								<h3>海外服务</h3>
								<div><a href="/page/overseashome.html" target="_blank">海外监管服务</a><a href="/fmfml/0-1.html" target="_blank">寄宿家庭精选</a><a
									 href="/page/goclass.html" target="_blank">出国衔接课程</a></div>
							</div>
						</div>
					</div>
					<div class="fl">
						<a href="/tutor/special/" target="_blank">服务团队</a>
					</div>
					<!-- <div class="fl">
							<a href="">院校库</a>
						</div> -->
					<div class="fl">
						<a href="/article/0-204-1.html" target="_blank">成功故事</a>
					</div>
					<div class="fl">
						<a href="/activity/0-0-1.html" target="_blank">活动讲座</a>
					</div>
					<div class="fl">
						<a href="/page/testprep.html" target="_blank">出国考试</a>
						<div class="box">
							<div>
								<h3>出国考试</h3>
								<div><a href="/page/testprep.html" target="_blank">标化考试</a><a href="/page/slate.html" target="_blank">Slate考试</a></div>
							</div>
						</div>
					</div>
					<div class="fl">
						<a href="/article/0-0-1.html" target="_blank">留学资讯</a>
					</div>
				</div>
				<!-- <div class="fl ss">
					<h3><img src="/static/home/img/home/sousuo.png" alt=""></h3>
					<div class="fl input">
						<form action="{:url('search/index')}" method="get" id="form1">
							<input type="text" id="keywords" name="keywords" autocomplete="off" value="" placeholder="搜索感兴趣的内容">
							<button><img src="/static/home/img/home/search.png" alt=""></button>
						</form>
					</div>
				</div> -->
				<div class="phoneR fr" style="cursor:pointer;" onclick="go()">
					<img src="/static/home/img/home/xzixun.png" alt="">
					<span>400 900 9770</span>
				</div>
			</div>
		</div>
		<div class="abcBannav"></div>
		<style type="text/css">
			.abcBannav {
				width: 100%;
				height: 99px;
				display: none;
			}
		</style>

		<a onclick="go()" title="成就你的美国名校梦想">
			<div class="top_banner"></div>
		</a>
		<div class="wrap">
			<div class="bg bg1">
				<div class="main1">
					<div class="main_box">
						<ul class="list1">
							<li class="item item1">
								<h3>美国留学</h3>
								<p>
									高等教育质量全球第一<br />
									中国留学生首选目的地<br />
									保排名、保录取，任你选
								</p>
								<div class="tab1">
									<div class="tab_box">
										<a onclick="go()">
											<ul>
												<li>美研商科申请</li>
												<li>美研理工科申请</li>
												<li>美研文科申请</li>
												<li>美研艺术申请</li>
												<li>美国本科申请</li>
												<li>美国高中申请</li>
											</ul>
										</a>
									</div>
									<a onclick="go()" class="btn">了解申请方案</a>
								</div>
							</li>
							<li class="item item2">
								<h3>出国考试</h3>
								<p>
									助你提分<br />
									低分烦恼的终结者<br />
									小班教学、1对1辅导，传福音
								</p>
								<div class="tab1">
									<div class="tab_box">
										<a onclick="go()">
											<ul>
												<li>SLATE/SLEP</li>
												<li>TOEFL/IELTS</li>
												<li>SSAT</li>
												<li>SAT/ACT</li>
												<li>AP/IB</li>
												<li>GRE/GMAT</li>
											</ul>
										</a>
									</div>
									<a onclick="go()" class="btn">了解提分方案</a>
								</div>
							</li>
							<li class="item item3">
								<h3>社会实践</h3>
								<p>
									让你出彩<br />
									活动背景提升的途径<br />
									针对性项目，有效提升
								</p>
								<div class="tab1">
									<div class="tab_box">
										<a onclick="go()">
											<ul>
												<li>名企实习</li>
												<li>国际义工</li>
												<li>名校科研</li>
												<li>学术竞赛</li>
												<li>夏校暑研</li>
												<li>论文辅导</li>
											</ul>
										</a>
									</div>
									<a onclick="go()" class="btn">了解活动项目</a>
								</div>
							</li>
							<li class="item item4">
								<h3>海外服务</h3>
								<p>
									伴你留学<br />
									海外生活的无忧管家<br />
									学习、生活有困难，都解决
								</p>
								<div class="tab1">
									<div class="tab_box">
										<a onclick="go()">
											<ul>
												<li>寄宿家庭</li>
												<li>海外租房</li>
												<li>新生指导</li>
												<li>学业辅导</li>
												<li>升学规划</li>
												<li>实习就业</li>
											</ul>
										</a>
									</div>
									<a onclick="go()" class="btn">了解服务项目</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="bot_txt">
						<p class="p1">考试成绩+活动背景=美国名校offer</p>
						<p class="p2">美国名校offer+海外服务=美国留学无忧</p>
					</div>
				</div>
			</div>
			<div class="bg_top">
				<div class="list_show">
					<div class="div1">
						<h3><i class="icon_img"></i>选择申请方案：</h3>
						<p>
							<strong>研究生：</strong><span><a onclick="go()">博士申请 TOP30/TOP50申请 <br /> 商科申请 理工科申请 文科/艺术申请</a></span></p>
						<p><strong>本 &ensp; 科：</strong><span><a onclick="go()">本科新生申请 本科转学申请<br /> 文理学院申请 双录取申请</a></span></p>
						<p><strong>高 &ensp; 中：</strong><span><a onclick="go()">私立高中申请</a></span></p>
					</div>
					<div class="div2">
						<h3><i class="icon_img"></i>查看资讯信息：</h3>
						<a onclick="go()">
							<ul>
								<li>留学趋势</li>
								<li>签证政策</li>
								<li>留学考试</li>
								<li>专业介绍</li>
								<li>院校介绍 </li>
								<li>大学排名</li>
								<li>留学费用</li>
								<li>套磁 </li>
								<li style="width: 112px;text-indent: 34px;">文书 </li>
								<li>网申 </li>
								<li style="width: 97px;text-indent: 34px;">面试</li>
								<li>奖学金</li>
							</ul>
						</a>
					</div>
					<div class="div3">
						<h3><i class="icon_img"></i>海外学子精彩分享：</h3>
						<a onclick="go()">
							<ul>
								<li>学子微讲座分享</li>
								<li>学子直播课分享</li>
								<li>职场达人分享 </li>
								<li>国外院校调查 </li>
								<li>国外专业分析 </li>
								<li>留学生活攻略</li>
								<li>新生选课指导</li>
								<li>课程&论文辅导 </li>
							</ul>
						</a>
						<a class="btn2" onclick="go()">获取最近活动预告</a>
					</div>
				</div>
			</div>
			<div class="bg bg2">
				<div class="main2">
					<div class="top_title">
						<img class="tab_title" src="/static/home/img/page/dream/txt1.png" height="45" width="654" alt="" />
						<div class="main2_box">
							<ul>
								<li>
									<img src="/static/home/img/page/dream/pic1.png" height="183" width="363" alt="" />
									<p>在2017至2018之间，美国高等学校（colleges and
										universities）留学人数达到1094792人，相比2016至2017年的美国留学生人数增长了1.48%，占美国总学生人数5.5%，而中国已经连续9年成为赴美留学生最多的生源国。</p>
									<a onclick="go()">获取留学数据详情</a>
								</li>
								<li>
									<img src="/static/home/img/page/dream/pic2.png" height="183" width="357" alt="" />
									<p>中国在美留学生就读非STEM专业学生多于就读STEM专业学生，商业与管理为首选，就读工程学和数学/计算机科学的学生紧随其后。</p>
									<a onclick="go()">了解STEM专业</a>
								</li>
								<li>
									<img src="/static/home/img/page/dream/pic3.jpg" height="183" width="352" alt="" />
									<p>对于在美国国际学生中占比最高的中国学生而言，获得美国名校的录取几率更是远远低于整体录取率，几乎可以说是百里挑一。</p>
									<a onclick="go()">咨询名校录取条件</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bg bg5">
				<div class="main5">
					<div class="top_title">
						<img class="tab_title" src="/static/home/img/page/dream/txt4.png" height="39" width="574" alt="" />
						<div class="main5_box">
							<ul>
								<li class="li1">
									<a class="a1" onclick="go()">了解走读高中详情</a>
									<a class="a2" onclick="go()">了解寄宿高中详情</a>
								</li>
								<li class="li2">
									<a onclick="go()">获取美国高中申请条件</a>
								</li>
								<li class="li3">
									<a class="a1" onclick="go()">咨询美国高中留学费用</a><br />
									<a class="a2" onclick="go()">了解意向高中留学费用</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bg bg4">
				<div class="main4">
					<div class="top_title">
						<img class="tab_title" src="/static/home/img/page/dream/txt3.png" height="39" width="576" alt="" />
						<div class="main4_box">
							<ul>
								<li class="li1">
									<a class="a1" onclick="go()">咨询综合类大学排名</a>
									<a class="a2" onclick="go()">咨询文理学院排名</a>
									<a class="a3" onclick="go()">咨询艺术学院排名</a>
									<a class="a4" onclick="go()">咨询热门地区社区学院名单</a>
								</li>
								<li class="li2">
									<a onclick="go()">获取TOP30/TOP50申请条件</a>
								</li>
								<li class="li3">
									<a class="a1" onclick="go()">咨询私立大学学费</a><br />
									<a class="a2" onclick="go()">咨询公立大学学费</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="bg_box">
				<img class="btn_title" src="/static/home/img/page/dream/btn0_03.png" height="66" width="396" alt="" />
				<a onclick="go()" style="display: block; text-align: center;"><img src="/static/home/img/page/dream/pic5_1.png" height="192" width="1102" alt="" /></a>
				<a onclick="go()" style="display: block; text-align: center;"><img src="/static/home/img/page/dream/pic5_2.jpg" height="177" width="1102" alt="" /></a>
				<div class="btn_box">
					<a onclick="go()">了解热门专业就业前景</a>
					<a class="mr_ml" onclick="go()">获取热门专业排名</a>
					<a onclick="go()">咨询热门专业申请难度</a>
				</div>
			</div>

			<div class="bg bg3">
				<div class="main3">
					<div class="top_title">
						<img class="tab_title" src="/static/home/img/page/dream/txt2.png" height="39" width="661" alt="" />
						<div class="main3_box">
							<ul>
								<li class="li1">
									<a onclick="go()">了解热门专业名单</a>
								</li>
								<li class="li2">
									<a onclick="go()">获取TOP30/TOP50申请条件</a>
								</li>
								<li class="li3">
									<a class="a1" onclick="go()">咨询私立大学学费</a><br />
									<a class="a2" onclick="go()">咨询公立大学学费</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="bg bg6">
				<div class="main6">
					<div class="top_title">
						<img class="tab_title" src="/static/home/img/page/dream/txt5.png" height="39" width="694" alt="" />
						<img src="/static/home/img/page/dream/pic8_13.png" height="400" width="908" alt="" />
					</div>
					<div class="btn_box">
						<a onclick="go()">更多学长学姐offer信息点击查看</a>
						<a onclick="go()">获取彬彬教育美国TOP50更多数据</a>
					</div>
				</div>
			</div>
			<div class="bg bg8">
				<div class="main8">
					<div class="top_title">
						<img class="tab_title" src="/static/home/img/page/dream/txt7.png" height="40" width="774" alt="" />
						<img class="btn_title" src="/static/home/img/page/dream/btn1_03.png" height="67" width="396" alt="" />
						<div class="liuyou">
							<a onclick="go()">
								<ul>
									<li class="color1">
										<h3>全程透明</h3>
										<p>服务全过程透明可控</p>
									</li>
									<li class="color2">
										<h3>服务优质</h3>
										<p>六位一体服务，全程陪伴留学之旅</p>
									</li>
									<li class="color3">
										<h3>开启留学4.0时代</h3>
										<p>优劣势背景分析，针对性提升背景</p>
									</li>
									<li class="color4">
										<h3>offer成果傲人</h3>
										<p>校友遍及美国五十州顶级名校</p>
									</li>
									<li class="color5">
										<h3>品牌承诺</h3>
										<p>连续13年业内口碑名列前茅</p>
									</li>
									<li class="color6">
										<h3>口碑保障</h3>
										<p>用户感谢信、锦旗不计其数</p>
									</li>
								</ul>
							</a>
						</div>
					</div>
				</div>
				<!-- 彬彬教育致力让每一个学生牵手世界名校 -->
				<div id="mydiv" class="lk_index" style="height: 630px; position: relative;">
					<div class="box gWidth1170 clearfix" style="width: 1170px;margin-left: auto;margin-right: auto;">
						<!-- title -->
						<img class="tab_title" src="/static/home/img/page/dream/bb.png" height="40" width="1070" style="margin: 0 auto;margin-top: 30px;padding-bottom: 10px;"
						 alt="" />
						<!-- content -->
						<img src="/static/home/img/page/dream/content.png" alt="">
					</div>
				</div>

				<div class="bg_box3">
					<img class="btn_title" src="/static/home/img/page/dream/btn3_03.png" height="67" width="397" alt="" />
					<div class="show_list">
						<img src="/static/home/img/page/dream/pic9_17.png" alt="" />
						<img src="/static/home/img/page/dream/pic9_19.png" alt="" />
						<img src="/static/home/img/page/dream/pic9_21.png" alt="" />
						<img src="/static/home/img/page/dream/pic9_23.png" alt="" />
					</div>
					<div class="bg_title" style="margin-top:30px;"><a onclick="go()">了解彬彬教育更多荣誉</a></div>
				</div>
				<div class="bg_box4">
					<img class="btn_title" src="/static/home/img/page/dream/btn4_03.png" height="66" width="460" alt="" />
					<p class="text_title">13年专注于美国留学，倡导“背景提升+直申”，开启了留学4.0时代</p>
					<img style="display: block;" src="/static/home/img/page/dream/pic9_33.jpg" height="269" width="1105" alt="" />
					<img style="display: block;" src="/static/home/img/page/dream/pic9_36.jpg" height="303" width="1104" alt="" />
				</div>
			</div>
			<div class="bg bg9">
				<div class="main9">
					<a onclick="go()">现在开启我的美国名校留学之旅</a>
				</div>
			</div>
		</div>
		<!--footer-->
		<div id="foot">
			<b></b>
			<div class="under_con">
				<p>北京市朝阳区呼家楼京广中心商务楼10层<br />
					<span>电话：400-900-9770</span>
					<br>
					<span>彬彬国际教育咨询（北京）有限公司版权所有 beliwin.com 彬彬留学京公网安备 京公网安备 11010502034288号</span></p>
			</div>
			<p>Beliwin Company @ 2016 . Privacy Polocy 京ICP备16012183号</p>

		</div>

		<script type="text/javascript">
			function go() {
				var height = 540;
				var width = 688;
				var top = Math.round((window.screen.height - height) / 2);
				var left = Math.round((window.screen.width - width) / 2);
				window.open(
					"http://uclient.yunque360.com/frame.html?company_id=ca455t16093i&id=dft35023157&lng=cn&r=&rf1=http%3A//m.beliwin&rf2=.com/&p=http%3A//m.beliwin.com/page/collegeseniormoney.html&cid=1535016066310391295601&sid=c9b247e1cad84b46a6831b00506930d1",
					"newwindow", "height=" + height + ", width=" + width + ", top=" + top + ", left= " + left +
					", toolbar =no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
			}
		</script>

		<!-- 云雀客服 -->
		<script>
			(function(scope, globalName, ApiAddress) {
				window[globalName] = window[globalName] || function(company_id) {
					(window[globalName].company_id = window[globalName].company_id || company_id);
				};
				var ele = document.createElement("script");
				ele.src = ApiAddress + "?v=" + new Date().getUTCDate();
				document.getElementsByTagName("body")[0].appendChild(ele);
			})(window, "_YUNQUE", "//dist.yunque360.com/bundle.js");
			_YUNQUE("ca455t16093i");
		</script>

		<script type="text/javascript">
			$('.topNavBox .ss .input button').click(function() {
				var keywords = $("#keywords").val();
				if (keywords == '') {
					alert('请输入搜索内容~');
					return false;
				}
			})
		</script>

		<script type="text/javascript">
			// document.onselectstart = function(){
			//     event.returnValue = false;
			// }

			// topJS
			// 导航鼠标上移效果
			$('.topNavBox .nav>div').on('mouseenter', function() {
				// $(this).children('.box').css({'display': 'block'});
				$(this).children('.box').stop().slideDown();
			})
			$('.topNavBox .nav>div').on('mouseleave', function() {
				// $(this).children('.box').css({'display': 'none'});
				$(this).children('.box').stop().slideUp();
			})

			// 搜索框显示隐藏样式
			$('.topNavBox .ss h3').on('mouseenter', function() {
				$('.phoneR span').animate({
					'width': '0'
				}, 400, function() {
					$('.ss .input').fadeIn(400);
					$('.ss .input input').focus();
				});
				$(this).fadeOut(400);
			})
			$('.topNavBox .ss .input input').on('blur', function() {
				if ($(this).val() != '') {
					return;
				}
				$('.ss .input').fadeOut(400, function() {
					$('.topNavBox .ss h3').fadeIn(400);
					$('.phoneR span').animate({
						'width': '162.5px'
					}, 400)
				});
			})

			// topNav滚动
			var t = document.documentElement.scrollTop || document.body.scrollTop;
			var scroll = true;
			if (t >= 100) {
				$('.topNav').css({
					'position': 'fixed',
					'top': '-99px',
					'background-color': 'rgba(255,255,255,0.98)'
				});
				$('.topNav').animate({
					'top': '0'
				});
				$('.abcBannav').css({
					'display': 'block'
				});
			}
			window.onscroll = function() {
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if (!scroll) {
					return;
				}
				if (top >= 100) {
					if ($('.topNav').css('position') == 'relative') {
						scroll = false;
						$('.topNav').css({
							'position': 'fixed',
							'top': '-99px',
							'background-color': 'rgba(255,255,255,0.98)'
						});
						$('.abcBannav').css({
							'display': 'block'
						});
						$('.topNav').animate({
							'top': '0'
						}, function() {
							scroll = true;
						});
					}
				} else if (top == 0) {
					$('.topNav').css({
						'position': 'relative'
					});
					$('.abcBannav').css({
						'display': 'none'
					});
				}
			}
		</script>

		<!-- 铂金 -->
		<script type="text/javascript">
			window._pt_lt = new Date().getTime();
			window._pt_sp_2 = [];
			_pt_sp_2.push('setAccount,259adec7');
			var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			(function() {
				var atag = document.createElement('script');
				atag.type = 'text/javascript';
				atag.async = true;
				atag.src = _protocol + 'js.ptengine.cn/259adec7.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(atag, s);
			})();
		</script>


		<!-- 百度 -->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?01e274a68687048b409421c6d427bdd1";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
		
		{include file="common/common_yingxiao"/}
		{include file="common/common_yingxiao2"/}
		

</html>
