<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>美国留学_专注美国留学的高端留学机构_彬彬教育</title>
		<link rel="stylesheet" type="text/css" href="/static/home/css/page/yingxiao4/yingxiao_zhc_lx.css" />
		<link rel="stylesheet" type="text/css" href="/static/home/css/page/yingxiao4/animate.min.css">
		<link rel="stylesheet" type="text/css" href="/static/home/css/page/yingxiao4/share.css" />
		<link href="/static/home/css/page/yingxiao4/footer_edu.css" rel="stylesheet" type="text/css" />
		<!-- <base target="_blank"> -->
	</head>

	<body>
		
		<style type="text/css">
			/* topNav */
			.topNav {
				width: 100%;
				height: 99px;
				background-color: #fff;
				position: relative;
				z-index: 999999;
				box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
			}
		
			.topNavBox {
				width: 1536px;
				margin-left: auto;
				margin-right: auto;
				position: static;
			}
		
			.topNav .topNavBox>a>img {
				width: 187px;
				margin-top: 27px;
				margin-right: 32px;
			}
		
			.topNav .nav {
				position: static;
			}
		
			.topNav .nav>div.fl {
				position: static;
			}
		
			.topNav .nav>div.fl>a {
				float: left;
				line-height: 96px;
				margin: 0 12px;
				font-size: 16px;
				color: #000000;
				font-weight: 400;
			}
		
			.topNav .nav>div.fl:hover>a {
				color: #FF5B5A;
				border-bottom: 3px solid #FF7062;
			}
		
			.topNav .nav>div.fl a.active {
				border-bottom: 3px solid #FF7062;
			}
		
			.topNav .nav>div.fl .box {
				width: 100%;
				background-color: #FFFFFF;
				background-color: rgba(255, 255, 255, 0.9);
				left: 0;
				top: 99px;
				position: absolute;
				display: none;
				padding-bottom: 32px;
				z-index: 999;
			}
		
			.topNav .nav>div.fl .box>div {
				width: 1040px;
				margin-left: auto;
				margin-right: auto;
			}
		
			.topNav .nav>div.fl .box>div h3 {
				font-size: 15px;
				color: #FF5B5A;
				margin-top: 22px;
				margin-bottom: 10px;
			}
		
			.topNav .nav>div.fl .box>div>div a {
				font-size: 15px;
				color: #333333;
				width: 140px;
				display: inline-block;
			}
		
			.topNav .nav>div.fl .box>div>div a:hover {
				color: #FF5B5A;
			}
		
			.topNavBox .ss {
				border-left: 2px solid #333333;
				padding-left: 15px;
				margin-top: 37px;
			}
		
			.topNavBox .ss h3 {
				display: inline-block;
				height: 22px;
				cursor: pointer;
				margin-right: 40px;
			}
		
			.topNavBox .ss h3 img {
				width: 21px;
				height: 22px;
			}
		
			.topNavBox .ss .input {
				height: 30px;
				border: 1px solid #FF7062;
				border-radius: 4px;
				line-height: 30px;
				font-size: 13px;
				display: none;
				margin-right: 17px;
			}
		
			.topNavBox .ss .input input {
				float: left;
				height: 30px;
				text-indent: 15px;
			}
		
			.topNavBox .ss .input button {
				width: 41px;
				height: 30px;
				background-color: #FF7062;
				border-radius: 0 4px 4px 0;
				float: left;
				position: relative;
			}
		
			.topNavBox .ss .input button img {
				width: 18px;
				height: 19px;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -9.5px;
				margin-left: -9px;
			}
		
			.topNav .phoneR {
				line-height: 99px;
				font-size: 0;
				color: #222222;
				font-weight: bold;
			}
		
			.topNav .phoneR>img {
				width: 52px;
				height: 52px;
				margin-right: 12px;
				vertical-align: middle;
				cursor: pointer;
			}
		
			.topNav .phoneR span {
				font-size: 24px;
				vertical-align: middle;
				overflow: hidden;
				display: inline-block;
				white-space: nowrap;
			}
		
			/* 媒体查询 判定在小屏幕下改变顶部导航样式 */
			@media screen and (max-width: 1440px) {
				.topNavBox {
					width: 1345px;
					margin-right: auto;
					margin-left: auto;
				}
		
				.topNav .topNavBox>a>img {
					width: 164px;
				}
		
				.topNav .nav>div.fl>a {
					font-size: 14px;
					margin: 0 11px;
				}
		
				.topNav .phoneR>img {
					width: 50px;
					height: 50px;
				}
		
				.topNav .phoneR span {
					font-size: 22px;
				}
		
				.topNavBox .ss .input input {
					width: 150px;
				}
			}
		</style>
		
		<!-- topNav -->
		<div class="topNav clearfix">
			<!-- 导航版心部分 -->
			<div class="topNavBox clearfix">
				<a href="/" class="fl"><img src="/static/home/img/home/logoding.png" alt="美国留学_专业的美国留学服务中介机构_彬彬教育" title="美国留学_专业的美国留学服务中介机构_彬彬教育"></a>
				<div class="nav fl">
					<div class="fl">
						<a href="/" class="active">首页</a>
					</div>
					<div class="fl">
						<a href="/middle/" target="_blank">美国中学</a>
						<div class="box">
							<div>
								<h3>我要申请</h3>
								<div><a href="/page/attnd_high.html" target="_blank">走读高中</a><a href="/page/lodging.html" target="_blank">寄宿高中</a><a
									 href="/page/art_high.html" target="_blank">艺术高中</a><a href="/page/blue_ribbon.html" target="_blank">蓝带高中</a></div>
								<h3>规划攻略</h3>
								<div><a href="/page/seniorsqgl.html" target="_blank">申请攻略</a><a href="/page/interview.html" target="_blank">面试流程</a><a
									 href="/page/seniorsort.html" target="_blank">院校排名</a><a href="/page/seniorcompass.html" target="_blank">选校指南</a><a
									 href="/page/seniormoney.html" target="_blank">留学费用</a></div>
								<h3>我要就读</h3>
								<div><a href="/page/middle_school.html" target="_blank">初中</a><a href="/page/high_school.html" target="_blank">高中</a></div>
							</div>
						</div>
					</div>
					<div class="fl">
						<a href="/college/" target="_blank">美国本科</a>
						<div class="box">
							<div>
								<h3>我要申请</h3>
								<div><a href="/page/comprehensive.html" target="_blank">综合类大学</a><a href="/page/sciences.html" target="_blank">文理学院</a><a
									 href="/page/community.html" target="_blank">社区大学</a></div>
								<h3>规划攻略</h3>
								<div><a href="/page/collegesqgl.html" target="_blank">申请攻略</a><a href="/page/collegecompass.html" target="_blank">选校指南</a><a
									 href="/page/collegemajor.html" target="_blank">专业介绍</a><a href="/page/university_ranking.html" target="_blank">院校排名</a><a
									 href="/page/collegejxj.html" target="_blank">奖学金</a><a href="/page/collegemoney.html" target="_blank">留学费用</a></div>
								<h3>我要就读</h3>
								<div><a href="/page/helicopter.html" target="_blank">本科直申</a><a href="/page/transfer.html" target="_blank">本科转学</a></div>
							</div>
						</div>
					</div>
					<div class="fl">
						<a href="/graduate/" target="_blank">美国研究生</a>
						<div class="box">
							<div>
								<h3>我要申请</h3>
								<div><a href="/page/engineering.html" target="_blank">工科</a><a href="/page/commerce.html" target="_blank">商科</a><a
									 href="/page/science.html" target="_blank">理科</a><a href="/page/liberal_arts.html" target="_blank">文科</a><a
									 href="/page/postgraduate_art.html" target="_blank">艺术</a></div>
								<h3>规划攻略</h3>
								<div><a href="/article/3-65-1.html" target="_blank">申请规划</a><a href="/article/3-199-1.html" target="_blank">奖学金</a><a
									 href="/article/3-198-1.html" target="_blank">文书写作</a><a href="/article/3-101-1.html" target="_blank">留学费用</a><a
									 href="/article/3-203-1.html" target="_blank">院校排名</a></div>
							</div>
						</div>
					</div>
					<div class="fl">
						<a href="/page/polymerization.html" target="_blank">背景提升</a>
					</div>
					<div class="fl">
						<a href="/page/overseashome.html" target="_blank">海外服务</a>
						<div class="box">
							<div>
								<h3>海外服务</h3>
								<div><a href="/page/overseashome.html" target="_blank">海外监管服务</a><a href="/fmfml/0-1.html" target="_blank">寄宿家庭精选</a><a
									 href="/page/goclass.html" target="_blank">出国衔接课程</a></div>
							</div>
						</div>
					</div>
					<div class="fl">
						<a href="/tutor/special/" target="_blank">服务团队</a>
					</div>
					<!-- <div class="fl">
							<a href="">院校库</a>
						</div> -->
					<div class="fl">
						<a href="/article/0-204-1.html" target="_blank">成功故事</a>
					</div>
					<div class="fl">
						<a href="/activity/0-0-1.html" target="_blank">活动讲座</a>
					</div>
					<div class="fl">
						<a href="/page/testprep.html" target="_blank">出国考试</a>
						<div class="box">
							<div>
								<h3>出国考试</h3>
								<div><a href="/page/testprep.html" target="_blank">标化考试</a><a href="/page/slate.html" target="_blank">Slate考试</a></div>
							</div>
						</div>
					</div>
					<div class="fl">
						<a href="/article/0-0-1.html" target="_blank">留学资讯</a>
					</div>
				</div>
				<!-- <div class="fl ss">
					<h3><img src="/static/home/img/home/sousuo.png" alt=""></h3>
					<div class="fl input">
						<form action="{:url('search/index')}" method="get" id="form1">
							<input type="text" id="keywords" name="keywords" autocomplete="off" value="" placeholder="搜索感兴趣的内容">
							<button><img src="/static/home/img/home/search.png" alt=""></button>
						</form>
					</div>
				</div> -->
				<div class="phoneR fr" style="cursor:pointer;" onclick="go()">
					<img src="/static/home/img/home/xzixun.png" alt="">
					<span>400 900 9770</span>
				</div>
			</div>
		</div>
		<div class="abcBannav"></div>
		<style type="text/css">
			.abcBannav {
				width: 100%;
				height: 99px;
				display: none;
			}
		</style>
		
		
		<!--banner-->
		<div class="banner" style="margin-top: 1px;">
			<div class="content">
				<!-- 文字部分 -->
				<div class="font_banner">
					<img class="animated fadeInDownBig" src="/static/home/img/page/yingxiao4/font_banner.png" height="312" width="635" />
				</div>
				<!-- 按钮链接 -->
				<div class="blank">
					<a onclick="go()" target="_self" class="btn1">我要咨询></a>
					<a onclick="go()" target="_self" class="btn2">找名师通道></a>
				</div>
				<!-- 右侧导航 -->
				<div class="right_nav">
					<div class="top">
						<p>留学须知</p>
						<span><a onclick="go()" target="_self">美国留学政策</a></span>
						<span class="r"><a onclick="go()" target="_self">美国院校招生</a></span>
						<span><a onclick="go()" target="_self">美国签证政策</a></span>
						<span class="r"><a onclick="go()" target="_self">美国院校动态</a></span>
						<span><a onclick="go()" target="_self">美国院校位置</a></span>
						<span class="r"><a onclick="go()" target="_self">院校含金量</a></span>
					</div>
					<div class="center">
						<p>出国考试须知</p>
						<span><a onclick="go()" target="_self">考试动态</a></span>
						<span><a onclick="go()" target="_self">报名时间</a></span>
						<span class="r"><a onclick="go()" target="_self">考点</a></span>
						<span><a onclick="go()" target="_self">报名费用</a></span>
						<span><a onclick="go()" target="_self">报名流程</a></span>
					</div>
					<div class="bottom">
						<p>常见问题</p>
						<span><a onclick="go()" target="_self">出国留学有年龄限制吗？</a></span>
						<span><a onclick="go()" target="_self">出国留学费用不够怎么办？</a></span>
						<!-- <span><a onclick="go()" target="_self">哪个国家留学划算？</a></span> -->
						<span><a onclick="go()" target="_self">哪个大学好就业？</a></span>
						<span><a onclick="go()" target="_self">多久可以毕业？</a></span>
						<span><a onclick="go()" target="_self">哪个学历含金量高？</a></span>
						<span><a onclick="go()" target="_self">到国外怎么生活？</a></span>
						<span><a onclick="go()" target="_self">护照丢了怎么办？</a></span>
						<span><a onclick="go()" target="_self">可以申请到奖学金吗？</a></span>
						<span><a onclick="go()" target="_self">考试分数有哪些要求？</a></span>
					</div>
				</div>
			</div>

		</div>
		<!-- banner结束 -->
		<!-- 小横条 -->
		<div class="hengtiao">
			<div class="content">
				<div class="left">
					<p>选择申请方案：</p>
					<div class="span">
						<span class="s1">
							<b>研究生：</b>
							<a onclick="go()" target="_self">博士申请</a>
							<a onclick="go()" target="_self">名校硕士申请</a>
							<br />
							<b>&nbsp;</b>
							<a onclick="go()" target="_self">商科申请</a>
							<a onclick="go()" target="_self">理工科申请</a>
							<a onclick="go()" target="_self">文科/艺术申请</a>
						</span>
						<span class="s2">
							<b>本科：</b>
							<a onclick="go()" target="_self">本科新生申请</a>
							<a onclick="go()" target="_self">本科转学申请</a>
						</span>
						<span class="s2">
							<b>高中：</b>
							<a onclick="go()" target="_self">高中申请</a>
						</span>
						<a onclick="go()" target="_self"><b>更多>></b></a>
					</div>
				</div>
				<div class="center">
					<p>查看资讯信息：</p>
					<div class="span">
						<a onclick="go()" target="_self" class="jing">留学趋势</a>
						<a onclick="go()" target="_self" class="new">申请条件</a>
						<a onclick="go()" target="_self">留学考试</a>
						<a onclick="go()" target="_self" class="huo">热门专业</a>
						<a onclick="go()" target="_self" class="huo">热门院校</a>
						<a onclick="go()" target="_self" class="new">大学排名</a>
						<a onclick="go()" target="_self" class="huo">留学费用</a>
						<a onclick="go()" target="_self">文书材料</a>
						<br />
						<a onclick="go()" target="_self"><b>更多>></b></a>
					</div>
				</div>
				<div class="right">
					<p>海外学子精彩分享：</p>
					<div class="span">
						<a onclick="go()" target="_self" class="huo">微讲座分享</a>
						<a onclick="go()" target="_self" class="huo">直播课分享</a>
						<a onclick="go()" target="_self">现场讲座分享</a>
						<a onclick="go()" target="_self" class="dsb">获取最近活动预告＞</a>
					</div>
				</div>
			</div>
		</div>
		<!-- 第一部分 -->
		<!-- 出国留学不怕从零开始，就怕从不开始 -->
		<div class="main main1">
			<div class="content">
				<div class="til">出国留学不怕从零开始，就怕从不开始</div>
				<div class="pz">针对不同基础人群，我们制定个性化出国留学方案。</div>

				<div class="qiguai">
					<div class="p1">我真的可以出国留学吗？我现在：</div>
					<div class="p2">我还想申请世界名校</div>
					<div class="qiguai1">
						<span>
							<a onclick="go()" target="_self">初一</a>
							<a onclick="go()" target="_self">初二</a>
							<a onclick="go()" target="_self">初三</a>
							<a onclick="go()" target="_self">高一</a>
							<a onclick="go()" target="_self">高二</a>
							<a onclick="go()" target="_self">高三</a>
						</span>
						<table border="1">
							<tr>
								<th colspan="2"><a onclick="go()" target="_self">获取高中留学申请方案</a></th>
							</tr>
							<tr>
								<td><a onclick="go()" target="_self">公立高中</a></td>
								<td><a onclick="go()" target="_self">私立高中</a></td>
							</tr>
						</table>
					</div>
					<div class="qiguai2">
						<span>
							<a onclick="go()" target="_self">高一</a>
							<a onclick="go()" target="_self">高二</a>
							<a onclick="go()" target="_self">高三</a>
							<a onclick="go()" target="_self">大一</a>
							<a onclick="go()" target="_self">大二</a>
							<a onclick="go()" target="_self">大三</a>
						</span>
						<table border="1">
							<tr>
								<th colspan="2"><a onclick="go()" target="_self">获取本科留学申请方案</a></th>
							</tr>
							<tr>
								<td><a onclick="go()" target="_self">本科转学</a></td>
								<td><a onclick="go()" target="_self">双录取</a></td>
							</tr>
							<tr>
								<td><a onclick="go()" target="_self">预科</a></td>
								<td><a onclick="go()" target="_self">语言学校</a></td>
							</tr>
						</table>
					</div>
					<div class="qiguai3">
						<span>
							<a onclick="go()" target="_self">大一</a>
							<a onclick="go()" target="_self">大二</a>
							<a onclick="go()" target="_self">大三</a>
							<a onclick="go()" target="_self">大四</a>
							<a onclick="go()" target="_self">本科毕业</a>
							<a onclick="go()" target="_self">专科毕业</a>
						</span>
						<table border="1">
							<tr>
								<th colspan="3"><a onclick="go()" target="_self">获取研究生留学申请方案</a></th>
							</tr>
							<tr>
								<td width="100"><a onclick="go()" target="_self">商科</a></td>
								<td width="100"><a onclick="go()" target="_self">理工科</a></td>
								<td width="100"><a onclick="go()" target="_self">文科艺术</a></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="bottom">
					<a class="left" onclick="go()" target="_self">美国TOP50</a>
					<a class="right" onclick="go()" target="_self">硕博直读/奖学金申请</a>
				</div>
			</div>
		</div>
		<!-- 牵手世界名校，不再是梦想 -->
		<div class="main main2">
			<div class="content">
				<div class="til">牵手世界名校，不再是梦想</div>
				<ul class="school">
					<li>
						<img src="/static/home/img/page/yingxiao4/xh1.jpg" alt="" />
						<p>普林斯顿大学</p>
						<span>2018年录取数：3枚<br />往年录取数：32枚</span>
						<a onclick="go()" target="_self">咨询我与普林斯顿的距离</a>
					</li>
					<li>
						<img src="/static/home/img/page/yingxiao4/xh2.jpg" alt="" />
						<p>哈佛大学</p>
						<span>2018年录取数：2枚<br />往年录取数：38枚</span>
						<a onclick="go()" target="_self">咨询我与哈佛的距离</a>
					</li>
					<li>
						<img src="/static/home/img/page/yingxiao4/xh3.jpg" alt="" />
						<p>芝加哥大学</p>
						<span>2018年录取数：8枚<br />往年录取数：46枚</span>
						<a onclick="go()" target="_self">咨询我与芝大的距离</a>
					</li>
					<li>
						<img src="/static/home/img/page/yingxiao4/xh4.jpg" alt="" />
						<p>耶鲁大学</p>
						<span>2018年录取数：6枚<br />往年录取数：27枚</span>
						<a onclick="go()" target="_self">咨询我与耶鲁的距离</a>
					</li>
					<li>
						<img src="/static/home/img/page/yingxiao4/xh5.jpg" alt="" />
						<p>哥伦比亚大学</p>
						<span>2018年录取数：12枚<br />往年录取数：68枚</span>
						<a onclick="go()" target="_self">咨询我与哥大的距离</a>
					</li>
					<li>
						<img src="/static/home/img/page/yingxiao4/xh6.jpg" alt="" />
						<p>麻省理工学院</p>
						<span>2018年录取数：3枚<br />往年录取数：34枚</span>
						<a onclick="go()" target="_self">咨询我与麻省的距离</a>
					</li>
					<li>
						<img src="/static/home/img/page/yingxiao4/xh7.jpg" alt="" />
						<p>斯坦福大学</p>
						<span>2018年录取数：6枚<br />往年录取数：52枚</span>
						<a onclick="go()" target="_self">咨询我与斯坦福的距离</a>
					</li>
					<li>
						<img src="/static/home/img/page/yingxiao4/xh8.jpg" alt="" />
						<p>宾夕法尼亚大学</p>
						<span>2018年录取数：5枚<br />往年录取数：97枚</span>
						<a onclick="go()" target="_self">咨询我与宾大的距离</a>
					</li>
					<li>
						<img src="/static/home/img/page/yingxiao4/xh9.jpg" alt="" />
						<p>杜克大学</p>
						<span>2018年录取数：11枚<br />往年录取数：83枚</span>
						<a onclick="go()" target="_self">咨询我与杜克的距离</a>
					</li>
					<li>
						<img src="/static/home/img/page/yingxiao4/xh10.jpg" alt="" />
						<p>约翰霍普金斯大学</p>
						<span>2018年录取数：9枚<br />往年录取数：126枚</span>
						<a onclick="go()" target="_self">咨询我与JHU的距离</a>
					</li>
				</ul>
				<div class="pz">注：以上数据来源于彬彬教育案例系统，截止2019年4月23日统计。往年offer录取数表示2014--2019年统计。</div>
				<div class="bottom">
					<a class="left" onclick="go()" target="_self">更多世界顶尖名校申请条件咨询</a>
					<a class="right" onclick="go()" target="_self">成绩不好想读名校怎么办？</a>
				</div>
			</div>
		</div>
		<!-- 出国留学金牌专业，就业无压力 -->
		<div class="main main3">
			<div class="content">
				<div class="til">出国留学金牌专业，就业无压力</div>
				<ul class="kemu">
					<li class="li1">
						<p>商科</p>
						<ul class="km_mx">
							<li><a onclick="go()" target="_self">金融</a></li>
							<li><a onclick="go()" target="_self">会计</a></li>
							<li><a onclick="go()" target="_self">人力资源</a></li>
							<li><a onclick="go()" target="_self">市场营销</a></li>
							<li><a onclick="go()" target="_self">酒店管理</a></li>
							<li><a onclick="go()" target="_self">商业分析</a></li>
						</ul>
						<a onclick="go()" target="_self">点击查看更多专业</a>
					</li>
					<li class="li2">
						<p>理工科</p>
						<ul class="km_mx">
							<li><a onclick="go()" target="_self">电子电气工程</a></li>
							<li><a onclick="go()" target="_self">计算机科学</a></li>
							<li><a onclick="go()" target="_self">土木工程</a></li>
							<li><a onclick="go()" target="_self">机械工程</a></li>
							<li><a onclick="go()" target="_self">食品科学</a></li>
							<li><a onclick="go()" target="_self">环境工程</a></li>
						</ul>
						<a onclick="go()" target="_self">点击查看更多专业</a>
					</li>
					<li class="li3">
						<p>文科</p>
						<ul class="km_mx">
							<li><a onclick="go()" target="_self">TESOL</a></li>
							<li><a onclick="go()" target="_self">会计</a></li>
							<li><a onclick="go()" target="_self">法律</a></li>
							<li><a onclick="go()" target="_self">教育</a></li>
							<li><a onclick="go()" target="_self">社会工作</a></li>
							<li><a onclick="go()" target="_self">传播学</a></li>
						</ul>
						<a onclick="go()" target="_self">点击查看更多专业</a>
					</li>
					<li class="li4">
						<p>艺术</p>
						<ul class="km_mx">
							<li><a onclick="go()" target="_self">城市规划</a></li>
							<li><a onclick="go()" target="_self">建筑学</a></li>
							<li><a onclick="go()" target="_self">园林景观</a></li>
							<li><a onclick="go()" target="_self">平面设计</a></li>
							<li><a onclick="go()" target="_self">动漫</a></li>
							<li><a onclick="go()" target="_self">工业设计</a></li>
						</ul>
						<a onclick="go()" target="_self">点击查看更多专业</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 还在担心美国留学费用吗，这些留学性价高的国家可以选！ -->
		<div class="main main4">
			<div class="content">
				<div class="til">还在担心美国留学费用吗？</div>
				<ul class="contry">
					<li class="li1">
						<div class="h_con">美国高中留学费用</div>
						<div class="c_con">
							<div>
								<span>走读中学：$ 45,000-$ 75,000/年<br />寄宿中学：$ 45,000-$ 80,000/年</span>
								<a onclick="go()" target="_self">点击咨询名师</a>
							</div>
						</div>
					</li>
					<li class="li2">
						<div class="h_con">美国本科留学费用</div>
						<div class="c_con">
							<div>
								<span>私立大学：约$ 25,000-$ 45,000/年<br />公立大学：约$ 15,000-$ 30,000/年</span>
								<a onclick="go()" target="_self">点击咨询名师</a>
							</div>
						</div>
					</li>
					<li class="li3">
						<div class="h_con">美国研究生留学费用</div>
						<div class="c_con">
							<div>
								<span>商科：$ 60,000-$ 90,000/年<br />理工：$ 15,000-$ 60,000/年<br />文艺：$ 15,000-$ 75,000/年</span>
								<a onclick="go()" target="_self">点击咨询名师</a>
							</div>
						</div>
					</li>
					<li class="li4" style="height: 572px;">
						<div class="h_con">美国留学各地区生活费</div>
						<div class="c_con">
							<div>
								<span><b>一级城市：</b>纽约、洛杉矶、芝加哥、华盛顿首府等城市<br /><b>生活费：</b>约 $1000-2000/月<br /><b>二级城市：</b>匹兹堡、西雅图、达拉斯、亚特兰大等城市<br /><b>生活费：</b>约 $800-1000/月<br /><b>三级城市：</b>南部、中西部、东南部州、德州、康州等地区<br /><b>生活费：</b>约 $600-800/月<br /><b>四级城市：</b>俄克拉荷马州、密苏里州、路易斯安那州等地区<br /><b>生活费：</b>约$450-600/月</span>
								<a onclick="go()" style="text-align: center;" target="_self">如何节省留学费用</a>
							</div>
						</div>
					</li>
					<li class="li5" style="height: 572px;">
						<div class="h_con">美国大学奖学金类型</div>
						<div class="c_con">
							<p>择优奖学金</p>
							<span>学校根据学生学习成绩优良程度而颁给学生</span>
						</div>
						<div class="c_con">
							<p>需求奖学金</p>
							<span>根据学生家庭情况来决定是否能获得奖学金以及数额</span>
						</div>
						<div class="c_con">
							<p>全奖</p>
							<span>一般是学校拨款不需要学生花钱</span>
						</div>
						<div class="c_con">
							<p>学费减免</p>
							<span>学校可能视学生情况全免或者减掉一定的学费</span>
						</div>
						<div class="c_con">
							<p>助教/助研</p>
							<span>助教奖学金由学院发放；助研奖学金由导师或所在系发放</span>
						</div>
						<a onclick="go()" target="_self">奖学金申请技巧</a>
					</li>
					<li class="li6" style="height: 572px;">
						<i></i>
						<p>经济差，没余钱</p>
						<span>在这里一切担心都是多余的！</span>
					</li>
				</ul>
				<a class="abs" onclick="go()" target="_self">立即咨询彬彬教育，为你提供省钱妙招</a>
			</div>
		</div>
		<!-- 出国留学，关注大学排名还是专业排名？  -->
		<div class="main main5">
			<div class="content">
				<div class="til">出国留学，关注大学排名还是专业排名？ </div>
				<div class="p1">如果让自己尽可能地<b>被知名大公司雇用</b>是你留学的主要原因，那么最好把重点放在大学排名上！</div>
				<div class="p2">如果您要上大学成为您所在领域的专家，开始您的成为学术或正在研究职业特定课程的旅程，<br />则<b>专业排名</b>是您最好的选择！</div>
				<ul class="ul1">
					<li class="li1">
						<p>美国大学综合排名</p>
						<a onclick="go()" target="_self">点击查看</a>
					</li>
					<li class="li2">
						<p>美国文理学院排名</p>
						<a onclick="go()" target="_self">点击查看</a>
					</li>
					<li class="li3">
						<p>美国社区大学排名</p>
						<a onclick="go()" target="_self">点击查看</a>
					</li>
					<li class="li4">
						<p>性价比大学排名</p>
						<a onclick="go()" target="_self">点击查看</a>
					</li>
					<li class="li5">
						<p>就业率院校排名</p>
						<a onclick="go()" target="_self">点击查看</a>
					</li>
				</ul>
				<ul class="ul2">
					<li class="li1"><a onclick="go()" target="_self">美国商科专业排名</a></li>
					<li class="li2"><a onclick="go()" target="_self">美国理科专业排名</a></li>
					<li class="li3"><a onclick="go()" target="_self">美国工科专业排名</a></li>
					<li class="li4"><a onclick="go()" target="_self">美国艺术专业排名</a></li>
					<li class="li5"><a onclick="go()" target="_self">美国文科专业排名</a></li>
				</ul>
			</div>
		</div>
		<!-- 彬彬教育帮你轻松步入世界名校大门 -->
		<div class="main main6">
			<div class="content">
				<div class="til">彬彬教育帮你轻松步入世界名校大门</div>
				<!-- 选择彬彬教育6个理由 -->
				<div class="main61">
					<div class="tils">选择彬彬教育6个理由</div>
					<ul class="ul61">
						<a onclick="go()" target="_self">
							<li class="li1">
								<p>全程透明</p>
								<span>服务全过程透明可控</span>
							</li>
							<li class="li2">
								<p>服务优质</p>
								<span>六位一体导师服务，全程陪伴留学之旅</span>
							</li>
							<li class="li3">
								<p>开启留学4.0时代</p>
								<span>优劣势背景分析，针对性提升背景</span>
							</li>
							<li class="li4">
								<p>offer成果傲人</p>
								<span>校友遍及美国50州顶尖名校</span>
							</li>
							<li class="li5">
								<p>品牌好</p>
								<span>连续13年业内口碑突出</span>
							</li>
							<li class="li6">
								<p>口碑好</p>
								<span>客户感谢信、锦旗不计其数</span>
							</li>
						</a>
					</ul>
				</div>
				<!-- 卓越导师专属服务 -->
				<!-- <div class="main62">
					<div class="tils">卓越导师专属服务</div>
					<div class="pz">专业咨询团队，我们的咨询顾问具有多年<b>海外留学经验，平均从业经验5年</b>！</div>
					<ul class="ul62">
						<a onclick="go()" target="_self">
							<li class="li1">
								<img src="/static/home/img/page/yingxiao4/tuandui1.jpg" height="294" width="552" alt="" />
							</li>
							<li class="li2">
								<img src="/static/home/img/page/yingxiao4/tuandui2.jpg" height="294" width="552" alt="" />
							</li>
						</a>
					</ul>
					<div class="bottom">
						<a onclick="go()" target="_self">立即咨询</a>
					</div>
				</div> -->
				<!-- 服务流程再次升级 -->
				<div class="main63">
					<div class="tils">服务流程再次升级</div>
					<a onclick="go()" target="_self">
						<ul class="ul63">
							<li class="left li1 hover">
								<p>头脑风暴</p>
								<i>1</i>
							</li>
							<li class="left li2">
								<p>考试辅导</p>
								<i>2</i>
							</li>
							<li class="left li3">
								<p>职业规划</p>
								<i>3</i>
							</li>
							<li class="left li4">
								<p>专业课题</p>
								<i>4</i>
							</li>
							<li class="left li5">
								<p>学校教授<br />选择</p>
								<i>5</i>
							</li>
							<li class="left li6">
								<p>申请准备<br />授课指导</p>
								<i>6</i>
							</li>
							<li class="right li7">
								<p>行前指导</p>
								<i>7</i>
							</li>
							<li class="right li8">
								<p>签证准备</p>
								<i>8</i>
							</li>
							<li class="right li9">
								<p>等待结果<br />确认院校</p>
								<i>9</i>
							</li>
							<li class="right li10">
								<p>学校申请<br />材料寄送</p>
								<i>10</i>
							</li>
							<li class="right li11">
								<p>套磁面试<br />辅导</p>
								<i>11</i>
							</li>
							<li class="right li12">
								<p>个性定制<br />文书创作</p>
								<i>12</i>
							</li>
						</ul>
					</a>
				</div>
				<!-- 服务质量全程把控 -->
				<div class="main64">
					<div class="tils">服务质量全程把控</div>
					<div class="main641">
						<div class="left">
							<p>导师服务体系</p>
							<span>项目化管理 全程监督<br />层层节点把控</span>
						</div>
						<ul class="right">
							<li>
								<p>留学咨询顾问</p>
								<span>背景评估 制定整体解决方案</span>
								<a onclick="go()" target="_self">立即咨询</a>
							</li>
							<li>
								<p>名校规划导师</p>
								<span>职业规划与选校</span>
								<a onclick="go()" target="_self">立即咨询</a>
							</li>
							<li>
								<p>课程规划顾问</p>
								<span>规划教学方案 高效备考</span>
								<a onclick="go()" target="_self">立即咨询</a>
							</li>
							<li>
								<p>考试规划师</p>
								<span>高分辅导流程实施</span>
								<a onclick="go()" target="_self">立即咨询</a>
							</li>
							<li>
								<p>助教老师</p>
								<span>学练管全程把控</span>
								<a onclick="go()" target="_self">立即咨询</a>
							</li>
							<li>
								<p>社会实践咨询顾问</p>
								<span>助力提升软件背景</span>
								<a onclick="go()" target="_self">立即咨询</a>
							</li>
							<li>
								<p>社会实践规划师</p>
								<span>背景提升与规划</span>
								<a onclick="go()" target="_self">立即咨询</a>
							</li>
							<li>
								<p>申请规划导师</p>
								<span>申请方案规划与指导</span>
								<a onclick="go()" target="_self">立即咨询</a>
							</li>
							<li>
								<p>海外留学生服务师</p>
								<span>出行安置与国外适应保障</span>
								<a onclick="go()" target="_self">立即咨询</a>
							</li>
						</ul>
					</div>

				</div>
				<!-- 留学申请数量大幅提升，申请结果更加安心 -->
				<div class="main65">
					<div class="tils long">留学申请数量大幅提升，申请结果更加安心</div>
					<ul class="ul65">
						<a onclick="go()" target="_self">
							<li class="li1">
								<img src="/static/home/img/page/yingxiao4/rongyu1.png" alt="" />
							</li>
							<li>
								<img src="/static/home/img/page/yingxiao4/rongyu2.png" alt="" />
							</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
		<!-- <div id="box"></div> -->
		
		<!--footer-->
		<div id="foot">
			<b></b>
			<div class="under_con">
				<p>北京市朝阳区呼家楼京广中心商务楼10层<br />
					<span>电话：400-900-9770</span>
					<br>
					<span>彬彬国际教育咨询（北京）有限公司版权所有 beliwin.com 彬彬留学京公网安备 京公网安备 11010502034288号</span></p>
			</div>
			<p>Beliwin Company @ 2016 . Privacy Polocy 京ICP备16012183号</p>
		
		</div>
		
		
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		
		<script type="text/javascript">
			function go() {
				var height = 540;
				var width = 688;
				var top = Math.round((window.screen.height - height) / 2);
				var left = Math.round((window.screen.width - width) / 2);
				window.open(
					"http://uclient.yunque360.com/frame.html?company_id=ca455t16093i&id=dft35023157&lng=cn&r=&rf1=http%3A//m.beliwin&rf2=.com/&p=http%3A//m.beliwin.com/page/collegeseniormoney.html&cid=1535016066310391295601&sid=c9b247e1cad84b46a6831b00506930d1",
					"newwindow", "height=" + height + ", width=" + width + ", top=" + top + ", left= " + left +
					", toolbar =no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
			}
		</script>
		
		<!-- 云雀客服 -->
		<script>
			(function(scope, globalName, ApiAddress) {
				window[globalName] = window[globalName] || function(company_id) {
					(window[globalName].company_id = window[globalName].company_id || company_id);
				};
				var ele = document.createElement("script");
				ele.src = ApiAddress + "?v=" + new Date().getUTCDate();
				document.getElementsByTagName("body")[0].appendChild(ele);
			})(window, "_YUNQUE", "//dist.yunque360.com/bundle.js");
			_YUNQUE("ca455t16093i");
		</script>
		
		<script type="text/javascript">
			$('.topNavBox .ss .input button').click(function() {
				var keywords = $("#keywords").val();
				if (keywords == '') {
					alert('请输入搜索内容~');
					return false;
				}
			})
		</script>
		
		<script type="text/javascript">
			// document.onselectstart = function(){
			//     event.returnValue = false;
			// }
		
			// topJS
			// 导航鼠标上移效果
			$('.topNavBox .nav>div').on('mouseenter', function() {
				// $(this).children('.box').css({'display': 'block'});
				$(this).children('.box').stop().slideDown();
			})
			$('.topNavBox .nav>div').on('mouseleave', function() {
				// $(this).children('.box').css({'display': 'none'});
				$(this).children('.box').stop().slideUp();
			})
		
			// 搜索框显示隐藏样式
			$('.topNavBox .ss h3').on('mouseenter', function() {
				$('.phoneR span').animate({
					'width': '0'
				}, 400, function() {
					$('.ss .input').fadeIn(400);
					$('.ss .input input').focus();
				});
				$(this).fadeOut(400);
			})
			$('.topNavBox .ss .input input').on('blur', function() {
				if ($(this).val() != '') {
					return;
				}
				$('.ss .input').fadeOut(400, function() {
					$('.topNavBox .ss h3').fadeIn(400);
					$('.phoneR span').animate({
						'width': '162.5px'
					}, 400)
				});
			})
		
			// topNav滚动
			var t = document.documentElement.scrollTop || document.body.scrollTop;
			var scroll = true;
			if (t >= 100) {
				$('.topNav').css({
					'position': 'fixed',
					'top': '-99px',
					'background-color': 'rgba(255,255,255,0.98)'
				});
				$('.topNav').animate({
					'top': '0'
				});
				$('.abcBannav').css({
					'display': 'block'
				});
			}
			window.onscroll = function() {
				var top = document.documentElement.scrollTop || document.body.scrollTop;
				if (!scroll) {
					return;
				}
				if (top >= 100) {
					if ($('.topNav').css('position') == 'relative') {
						scroll = false;
						$('.topNav').css({
							'position': 'fixed',
							'top': '-99px',
							'background-color': 'rgba(255,255,255,0.98)'
						});
						$('.abcBannav').css({
							'display': 'block'
						});
						$('.topNav').animate({
							'top': '0'
						}, function() {
							scroll = true;
						});
					}
				} else if (top == 0) {
					$('.topNav').css({
						'position': 'relative'
					});
					$('.abcBannav').css({
						'display': 'none'
					});
				}
			}
		</script>


		<!-- 铂金 -->
		<script type="text/javascript">
			window._pt_lt = new Date().getTime();
			window._pt_sp_2 = [];
			_pt_sp_2.push('setAccount,259adec7');
			var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			(function() {
				var atag = document.createElement('script');
				atag.type = 'text/javascript';
				atag.async = true;
				atag.src = _protocol + 'js.ptengine.cn/259adec7.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(atag, s);
			})();
		</script>
		
		
		<!-- 百度 -->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?01e274a68687048b409421c6d427bdd1";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
{include file="common/common_yingxiao"/}
		{include file="common/common_yingxiao2"/}
	</body>
</html>
