{include file="common/common_head"/}
	<!-- 当前网页样式 -->
	<link rel="stylesheet" href="/static/home/css/ws/us.css">
	<body>
		<!-- 公共导航 -->
		{include file="common/common_navhead"/}
		<!-- 公共导航 -->

		<!-- banner -->
		<div class="banner">
			<h1>专注 专业</h1>
			<h2>连续13年只做美国留学申请</h2>
		</div>
		
		<!-- 公司简介 -->
		<div class="jj gWidth1170">
			<h3 class="title">公司简介</h3>
			<p>彬彬教育隶属于彬彬国际教育咨询（北京）有限公司，总部位于北京和洛杉矶，团队中的所有咨询导师均具备丰富的学术科研经验或者相关行业的从业经历。彬彬教育致力于成为“最以客户为中心”的国际教育公司。2006年在洛杉矶成立，2008年全新改版进入中国，通过用最前沿的理念、最有效的培训手段和最有高度的责任心，为中国学生提供最具学术性和创造性的留学申请咨询服务，帮助有抱负的中国年轻人在国际舞台上获得成功。彬彬教育每年帮助上百位学子圆梦哈佛大学、麻省理工学院、斯坦福大学、耶鲁大学等世界名校。</p>
			<p>彬彬教育为学生提供高中、本科及研究生出国考试辅导，背景提升，学业规划，职业规划，活动规划，留学申请，海外监管、寄宿家庭安置、游学和海外后续服务在内的一站式国际教育交流服务。经过13年的辛勤耕耘，彬彬教育的业务范围已经遍布全国各主要城市，并且在美国设有16家境外服务中心，与上千所美国院校建立了长期稳定的合作关系。同时，为保障每一位学子都能留学成功，彬彬教育创立行业内唯一的“6位1体”百人辅导团队，全程把控留学进程。</p>
			<p>另有海内外一线教师组成的考试培训名师团队，专门负责标准化考试培训工作，重点提升准留学生们的标化考试成绩，助力准留学生顺利获得心仪学校的offer。当学生们踏上留学之路，彬彬教育利用海外监管团队完整的寄宿家庭数据库，为各阶段留学生提供海外寄宿生活和寄宿家庭选择，提供全面的海外监管服务。让留学生能够尽快克服因环境变化和文化差异带来的不适，顺利适应海外生活。</p>
			<div class="img clearfix">
				<img src="/static/home/img/ws/tu1.jpg" class="fl" alt="公司简介">
				<img src="/static/home/img/ws/tu2.jpg" class="fl" alt="公司简介">
				<img src="/static/home/img/ws/tu3.jpg" class="fl" alt="公司简介">
			</div>
		</div>
		
		<!-- 企业文化 -->
		<div class="qywh">
			<div class="gWidth1170">
				<h3 class="title">企业文化</h3>
				<div class="clearfix content">
					<div class="box fl">
						<h3>使命</h3>
						<p>以服务和科技创新，引领国际教育发展</p>
					</div>
					<div class="box fl">
						<h3>服务观</h3>
						<p>以客户为中心，客户的口碑是我们的自尊心</p>
					</div>
					<div class="box fl">
						<h3>团队观</h3>
						<p>居安思危、处危思进、追求卓越、自强不息</p>
					</div>
					<div class="box fl">
						<h3>人才观</h3>
						<p>尊重人才，尊重知识，尊重能力，更尊重成绩；人人是人才，每个人都有机会成就自我，先有为后有位</p>
					</div>
					<div class="box fl">
						<h3>效率观</h3>
						<p>有效沟通，高效执行，协同共享是彬彬的执行三要素</p>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 彬彬教育致力让每一个学生牵手世界名校 -->
		<div id="mydiv" style="height: 695px;">
			<div class="box gWidth1170 clearfix">
				<!-- title -->
				<h3 class="title">彬彬教育致力让每一个学生牵手世界名校</h3>
				<!-- content -->
				<div class="content gWidth1170">
					<div class="fl">
						<ul>
							<li class="li1">
								<h3>6位1体</h3>
								<p>业内首创“6位1体”服务模式<br />服务客户满意度高达100%</p>
							</li>
							<li class="li2">
								<h3>广资源</h3>
								<p>1000+校园独家代理；实地考察 真实可靠</p>
							</li>
							<li class="li3">
								<h3>多重认证</h3>
								<p>留学行业质量认证标准机构；国内十佳品牌诚信<br />留学机构；CSIET评审认证留学机构</p>
							</li>
						</ul>
					</div>
					<div class="dq">
						<div>
						</div>
					</div>
					<div class="fr">
						<ul>
							<li class="li1 clearfix">
								<h3>全覆盖</h3>
								<p class="fr">600+海外同专业导师覆盖全美TOP100名校<br />让学生提前了解校园生活并提供全程对应辅导</p>
							</li>
							<li class="li2 clearfix">
								<h3>大数据</h3>
								<p class="fr" style="width: 330px;">120000+超大申请数据库；科学手段狂揽offer</p>
							</li>
							<li class="li3 clearfix">
								<h3>两个“1”</h3>
								<p class="fr">国内独1拥有海外监管服务中心留学机构<br />国内独1拥有海外院校开发资质的留学机构</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 辅导流程 -->
		<div class="fdlc">
			<div class="gWidth1170">
				<h3 class="title">辅导流程</h3>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide clearfix">
							<div class="box fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>规划辅导项目启动</h3>
								<span></span>
								<p>学生信息收集、发送申请信息收集表、规划主导师匹配</p>
							</div>
							<div class="box box2 fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>学生咨询访谈会议</h3>
								<span></span>
								<p>组建微信咨询申请沟通群、发送会议准备邮件、收集学生问题</p>
							</div>
							<div class="box box3 fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>专属背景提升报告</h3>
								<span></span>
								<p>明确当前的优劣势和规划要点、标准考试选择和安排、课外活动建议、先修课程选择、专业方向咨询</p>
							</div>
							<div class="box box4 fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>计划方案执行</h3>
								<span></span>
								<p>申请进度月度主题咨询汇报、根据学生情况灵活调整方案细节、鉴别并筛选学期中各类活动机会、线上线下答疑沟通、实习科研等申请材料准备</p>
							</div>
						</div>
						<div class="swiper-slide clearfix">
							<div class="box box5 fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>成果反馈</h3>
								<span></span>
								<p>汇总学生各项经历、为学生申请季开展打好坚实基础</p>
							</div>
							<div class="box box6 fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>申请季辅导开始</h3>
								<span></span>
								<p>交接学生资料、主导师班主任加入申请智囊团、确定目标细分专业方向</p>
							</div>
							<div class="box box7 fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>选校辅导</h3>
								<span></span>
								<p>开放选校项目数据库和Offer、突出了解学生选校偏好申请优势、介绍学校项目特色和难易程度、分梯度和层次提供建议学校</p>
							</div>
							<div class="box box8 fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>简历推荐信制作</h3>
								<span></span>
								<p>挖掘个人经历、确定写作提纲、逐字逐句修改、外籍导师语言润色</p>
							</div>
						</div>
						<div class="swiper-slide clearfix">
							<div class="box box9 fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>核心文书指导</h3>
								<span></span>
								<p>挖掘个性化细节、选择特色切入视角、搭建文书提纲、专业导师专业度把控、外籍导师语言润色</p>
							</div>
							<div class="box box10 fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>网申、成绩认证等流程辅导</h3>
								<span></span>
								<p>网申、成绩认证等流程辅导</p>
							</div>
							<div class="box box11 fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>面试辅导</h3>
								<span></span>
								<p>开放历年来常见面试题目、分享导师面试经验、计时模拟面试</p>
							</div>
							<div class="box box12 fl">
								<div class="boxImg">
									<div><span></span></div>
								</div>
								<h3>飞跃重洋</h3>
								<span></span>
								<p>创建青年留学社区、指导签证机票等行前准备、代理租房缴纳学费购买保险攻略</p>
							</div>
						</div>
					</div>
				</div>
				<div class="pagination"></div>
			</div>
		</div>
		
		<!-- 细致入微的导师服务体验 -->
		<div class="fwty gWidth1170">
			<h3 class="title">细致入微的导师服务体验</h3>
			<div class="content clearfix">
				<div class="box fl">
					<div class="h1">
						<div>
							<h3>申请季陪伴智囊团</h3>
							<img src="/static/home/img/ws/xiangxia.png" alt="">
						</div>
					</div>
					<div class="h2">
						<p>主申请导师、班主任、咨询导师、学科导师“6位1体”所有导师为留学生均在群里可随时联系。工作日当天提供24小时回答学生问题答疑服务，学生和家长有任何问题，如遇紧急事宜可拨打电话紧急联系。老导师们都会在最短时间内解决，尽会尽可能提供一切必要的方式和与学生和家长保持联系畅通。</p>
					</div>
				</div>
				<div class="box box2 fl">
					<div class="h1">
						<div>
							<h3>科学的时间安排和计划</h3>
							<img src="/static/home/img/ws/xiangxia.png" alt="">
						</div>
					</div>
					<div class="h2">
						<p>凡事预则立，不预则废。导师们会在服务开始后跟同学制定科学的时间规划，安排好咨询的进度。并且会根据学生的成长变化，与时俱进，调整计划，让学生能够提早规避掉很多申请过程当中的陷阱，让学生不再因为错过时间点而遗憾。</p>
					</div>
				</div>
				<div class="box box3 fl">
					<div class="h1">
						<div>
							<h3>密切的沟通交流</h3>
							<img src="/static/home/img/ws/xiangxia.png" alt="">
						</div>
					</div>
					<div class="h2">
						<p>在规划期间，主申请导师会每月跟学生沟通并更新计划，彬彬教育的老师们会主要以解决问题为最终目标，为同学们学术活动规划中大大小小的问题提供专业和富有启发性的答案。在申请季期间，主申请导师和班主任也会保持和学生的实时联系，充分开发学生的现有经历和潜能，保证申请进度有条不紊，扎扎实实地应对申请季的挑战。同时在线沟通的方式可以为国内的学生匹配到在国外专业领域学习工作的专业导师，为国内的学生分享申请的经验。</p>
					</div>
				</div>
				<div class="box box4 fl">
					<div class="h1">
						<div>
							<h3>无死角的规划辅导</h3>
							<img src="/static/home/img/ws/xiangxia.png" alt="">
						</div>
					</div>
					<div class="h2">
						<p>在申请过程当中，许多背景规划、活动推荐都需要结合专业本身来确定，不同的专业有其独特的规划方案，彬彬教育通过引入专业导师，来为学生提供专业度方面的把关，避免了一些传统模式实际操作中，学生负责给自己规划，顾问负责给学生加油的倒挂现象。同时在文书辅导过程中，针对专业度强的文书，部分传统机构往往无法在文书写作方面给予学生提升和帮助，甚至套用模版。而彬彬教育则针对这个行业和学生的痛点，通过专业导师的辅导为学生提供全方位的服务。 </p>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 全球体验中心 -->
		<div class="experience">
			<div class="experienceBox gWidth1170">
				<!-- title -->
				<h3 class="title">全球体验中心</h3>
				<!-- count -->
				<!-- 选项卡选项 -->
				<div class="tabBar clearfix">
					<span class="fl active">北京</span>
					<span class="fl">芝加哥</span>
					<span class="fl">华盛顿</span>
					<span class="fl">西雅图</span>
					<span class="fl">波士顿</span>
					<span class="fl">纽约</span>
					<span class="fl">旧金山</span>
					<span class="fl">洛杉矶</span>
				</div>
				<!-- 选项卡内容 -->
				<div class="tabCount clearfix">
					<div class="fl">
						<h3>北京服务中心（总部）</h3>
						<p>24小时服务热线:400-900-9770</p>
						<p>24小时服务箱:beijing@beliwin.com.cn</p>
						<p>公司地址:北京市朝阳区呼家楼京广中心商务楼10层</p>
						<a href="javascript:;" onclick="go()">联系我们</a>
					</div>
					<img src="/static/home/img/ws/beij1.png" class="fl" alt="北京服务中心">
					<img src="/static/home/img/ws/beij2.png" class="fl" alt="北京服务中心">
					<img src="/static/home/img/ws/beij3.png" class="fl" alt="北京服务中心">
				</div>
				<div class="tabCount clearfix">
					<div class="fl">
						<h3>芝加哥服务中心</h3>
						<p>24小时服务箱:chicago@beliwin.com.cn</p>
						<p>芝加哥服务中心服务范围覆盖伊利诺伊州的26个城市。</p>
						<a href="javascript:;" onclick="go()">联系我们</a>
					</div>
					<img src="/static/home/img/ws/zjg1.png" class="fl" alt="芝加哥服务中心">
					<img src="/static/home/img/ws/zjg2.png" class="fl" alt="芝加哥服务中心">
					<img src="/static/home/img/ws/zjg3.png" class="fl" alt="芝加哥服务中心">
				</div>
				<div class="tabCount clearfix">
					<div class="fl">
						<h3>华盛顿服务中心</h3>
						<p>24小时服务箱:washington@beliwin.com.cn</p>
						<p>华盛顿服务中心服务范围覆盖华盛顿哥伦比亚特区各地。</p>
						<a href="javascript:;" onclick="go()">联系我们</a>
					</div>
					<img src="/static/home/img/ws/hsd1.png" class="fl" alt="华盛顿服务中心">
					<img src="/static/home/img/ws/hsd2.png" class="fl" alt="华盛顿服务中心">
					<img src="/static/home/img/ws/hsd3.png" class="fl" alt="华盛顿服务中心">
				</div>
				<div class="tabCount clearfix">
					<div class="fl">
						<h3>西雅图服务中心</h3>
						<p>24小时服务箱:seattle@beliwin.com.cn</p>
						<p>西雅图服务中心服务范围覆盖华盛顿州的8个城市。</p>
						<a href="javascript:;" onclick="go()">联系我们</a>
					</div>
					<img src="/static/home/img/ws/xyt1.png" class="fl" alt="西雅图服务中心">
					<img src="/static/home/img/ws/xyt2.png" class="fl" alt="西雅图服务中心">
					<img src="/static/home/img/ws/xyt3.png" class="fl" alt="西雅图服务中心">
				</div>
				<div class="tabCount clearfix">
					<div class="fl">
						<h3>波士顿服务中心</h3>
						<p>24小时服务箱:boston@beliwin.com.cn</p>
						<p>波士顿服务中心服务范围覆盖马萨诸塞州的19个城市。</p>
						<a href="javascript:;" onclick="go()">联系我们</a>
					</div>
					<img src="/static/home/img/ws/bsd1.png" class="fl" alt="波士顿服务中心">
					<img src="/static/home/img/ws/bsd2.png" class="fl" alt="波士顿服务中心">
					<img src="/static/home/img/ws/bsd3.png" class="fl" alt="波士顿服务中心">
				</div>
				<div class="tabCount clearfix">
					<div class="fl">
						<h3>纽约服务中心</h3>
						<p>24小时服务箱:newyork@beliwin.com.cn</p>
						<p>纽约服务中心服务范围覆盖纽约州的23个城市。</p>
						<a href="javascript:;" onclick="go()">联系我们</a>
					</div>
					<img src="/static/home/img/ws/ny1.png" class="fl" alt="纽约服务中心">
					<img src="/static/home/img/ws/ny2.png" class="fl" alt="纽约服务中心">
					<img src="/static/home/img/ws/ny3.png" class="fl" alt="纽约服务中心">
				</div>
				<div class="tabCount clearfix">
					<div class="fl">
						<h3>旧金山服务中心</h3>
						<p>24小时服务箱:sanfrancisco@beliwin.com.cn</p>
						<p>旧金山服务中心服务范围覆盖加利福尼亚州的28个城市。</p>
						<a href="javascript:;" onclick="go()">联系我们</a>
					</div>
					<img src="/static/home/img/ws/jjs1.png" class="fl" alt="旧金山服务中心">
					<img src="/static/home/img/ws/jjs2.png" class="fl" alt="旧金山服务中心">
					<img src="/static/home/img/ws/jjs3.png" class="fl" alt="旧金山服务中心">
				</div>
				<div class="tabCount clearfix">
					<div class="fl">
						<h3>洛杉矶服务中心</h3>
						<p>24小时服务箱:losangeles@beliwin.com.cn</p>
						<p>洛杉矶服务中心服务范围覆盖加利福尼亚州的36个城市。</p>
						<a href="javascript:;" onclick="go()">联系我们</a>
					</div>
					<img src="/static/home/img/ws/lsj1.png" class="fl" alt="洛杉矶服务中心">
					<img src="/static/home/img/ws/lsj2.png" class="fl" alt="洛杉矶服务中心">
					<img src="/static/home/img/ws/lsj3.png" class="fl" alt="洛杉矶服务中心">
				</div>
			</div>
		</div>

		<!-- 我们的荣誉 -->
		<div class="rongyu gWidth1170">
			<h3 class="title">我们的荣誉</h3>
			<!-- content -->
			<div class="content clearfix">
				<img src="/static/home/img/page/haiwai_jianguan/51.jpg" class="fl" alt="2012年度诚信留学服务机构" title="2012年度诚信留学服务机构">
				<img src="/static/home/img/page/haiwai_jianguan/52.jpg" class="fl" alt="年度诚信机构奖" title="年度诚信机构奖">
				<img src="/static/home/img/page/haiwai_jianguan/53.jpg" class="fl" alt="出国留学服务行业十佳诚信机构" title="出国留学服务行业十佳诚信机构">
				<img src="/static/home/img/page/haiwai_jianguan/54.jpg" class="fl" alt="国际青年交流计划监管机构认证" title="国际青年交流计划监管机构认证">
				<img src="/static/home/img/page/haiwai_jianguan/55.jpg" class="fl" alt="建国100周年最具影响力留学服务机构" title="建国100周年最具影响力留学服务机构">
				<img src="/static/home/img/page/haiwai_jianguan/56.jpg" class="fl" alt="年度品质服务奖" title="年度品质服务奖">
				<img src="/static/home/img/page/haiwai_jianguan/57.jpg" class="fl" alt="中国十佳品牌诚信留学机构" title="中国十佳品牌诚信留学机构">
				<img src="/static/home/img/page/haiwai_jianguan/58.jpg" class="fl" alt="诚信签约单位" title="诚信签约单位">
			</div>
		</div>
		
		<!-- 联系我们 -->
		<div class="us">
			<div class="usBox gWidth1170">
				<!-- title -->
				<h3 class="title">联系我们</h3>
				<!-- count -->
				<div class="fl" id="container"></div> 
				<div class="fl">
					<h4>彬彬教育</h4>
					<p>官方网站：www.beliwin.com</p>
					<p>移动网站：m.beliwin.com</p>
					<p>企业热线：400-900-9770</p>
					<p>地址：北京市朝阳区呼家楼京广商务中心1006</p>
					<div class="img clearfix">
						<div class="fl">
							<img src="/static/home/img/ws/gongzhonghao.jpg" alt="">
							<p>微信公众号</p>
						</div>
						<div class="fl">
							<img src="/static/home/img/home/845167097512794061.png" alt="">
							<p>微信小助手</p>
						</div>
						<div class="fl">
							<img src="/static/home/img/ws/zhihu.jpg" alt="">
							<p>知乎</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<!-- 粒子链接 -->
		<script type="text/javascript" src="/static/home/js/ws/canvas-particle.js"></script>
		<script type="text/javascript">
			$('.jj .img img:last-child').css({'margin-right': '0'});
			//
			$(window).scroll(function () {
				if( $(window).scrollTop() + 700 >= $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'right'});	 
				}
				
				if( $(window).scrollTop() + 700 < $('#mydiv').offset().top ){
					$('#mydiv .box .dq>div').css({'background-position-x': 'left'});	 
				}
			})
			// 
			window.onload = function() {
				//配置
				var config = {
					vx: 4,	//小球x轴速度,正为右，负为左
					vy: 4,	//小球y轴速度
					height: 2,	//小球高宽，其实为正方形，所以不宜太大
					width: 2,
					count: 200,		//点个数
					color: "228,228,228", 	//点颜色
					stroke: "228,228,228", 		//线条颜色
					dist: 30000, 	//点吸附距离
					e_dist: 20000, 	//鼠标吸附加速距离
					max_conn: 10 	//点到点最大连接数
				}
				//调用
				CanvasParticle(config);
			}
			var mySwiper = new Swiper('.swiper-container',{
				pagination : '.pagination',
				paginationClickable :true,
			})
			$('.fdlc .swiper-container .swiper-slide .box:nth-child(4n)').css({'margin-right': '0'});
			// 
			$('.fwty .content .box').hover(function () {
				$(this).children('.h1').stop().fadeOut();
				$(this).children('.h2').stop().fadeIn();
			}, function () {
				$(this).children('.h2').stop().fadeOut();
				$(this).children('.h1').stop().fadeIn();				
			})
		</script>
		<!-- 百度地图引入api -->
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZZUlLAFpznScTSKtXGkI78E5IvTGwnIA"></script>
		<script type="text/javascript">
			// 百度地图
			var map = new BMap.Map("container");
			var point = new BMap.Point(116.467347, 39.926407);
			map.centerAndZoom(point, 15);
			map.addControl(new BMap.NavigationControl());
			var marker = new BMap.Marker(point);  // 创建标注
			map.addOverlay(marker);              // 将标注添加到地图中
			var sContent = "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>彬彬国际教育咨询（北京）有限公司</h4>" + 
				"<img style='float:right;margin:4px' id='imgDemo' src='/static/home/img/ws/binbin.jpg' width='139' height='104' title='彬彬国际教育咨询（北京）有限公司'/>" + 
				"<p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>彬彬教育集团以“贴心的留学服务、舒心的留学体验”为宗旨，致力于向国际教育产业上下游延伸。<br /><br />彬彬教育位于京广商户中心1006，<br />我们欢迎您的到访。</p>" + 
				"</div>";
			var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
			marker.addEventListener("click", function(){          
			   this.openInfoWindow(infoWindow);
			   //图片加载完毕重绘infowindow
			   document.getElementById('imgDemo').onload = function (){
				   infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
			   }
			});
			// 全球体验中心 tabBar
			$('.tabCount').eq(0).css('display', 'block');
			$('.tabBar span').on('mouseover', function () {
				var index = $('.tabBar span').index($(this));
				$(this).attr('class', 'fl active').siblings('.tabBar span').attr('class', 'fl');
				$('.tabCount').eq(index).css('display', 'block').siblings('.tabCount').css('display', 'none');
			})
			$('.rongyu .content img:nth-child(4n)').css({'margin-right': '0'});
		</script>
		<!-- 公共底部 -->
		{include file="common/common_bottom"/}
		<!-- 公共底部 -->
	</body>
</html>