{include file="common/common_head"/}
		<!-- 当前网页样式 -->
		<link rel="stylesheet" href="/static/home/css/search/index.css">
	</head>
	
	<style type="text/css">
		
		body{
			background-color: #F9FAFC;
		}
		em{
			color: red;
		}
	</style>
	
	<body>
		
		<!-- 导航 -->
		{include file="common/common_navhead"/}
		<!-- 面包屑导航 -->
		<div class="search_nav gWidth1170">
			<a href="">首页</a><span>&gt;</span><a href="">标签：<em><?=$_GET['keywords']?></em></a><span>大约有<?php echo round($count / 100) * 100;?>条数据</span>
		</div>
		
		<style type="text/css">
			#notData{font-size: 22px;width: 100%;text-align: center;margin: 50px 0;color: #FF7062;display: none;}
		</style>
		
		<!-- content -->
		<div class="search_content clearfix gWidth1170">
			<!-- FL -->
			<div class="fl">
				<div class="search_list clearfix">
					<div id="notData">没有查询到数据~</div>
					{volist name="docs" id="val"}
						<div class="box clearfix">
							<img src="<?php echo $val->pic;?>" class="fl" alt="">
							<div class="fr">
								<h3>
									<a href="/<?php echo $article_list[$val->type]['rewrite']?>/<?php echo $val->pid?>.html" target="_blank">
									<?php
										$subject = $search->highlight($val->subject);
										echo $subject;
									?>
									</a>
									<p>  </p>
									</h3>
								<span><?php echo date('Y-m-d',$val->chrono); ?></span>
								<p class="qfr"><?php echo $val->message; ?></p>
							</div>
						</div>
					{/volist}
				</div>
				<!-- 分页 -->
				<div class="page fr" id="page">
					<div class="fl">
						<div class="fl" id="prev">上一页</div>
						<ul id="div" class="fl">
							<!-- <li class="fl active"><a>1</a></li>
							<li class="fl"><a>2</a></li>
							<li class="fl"><a>3</a></li>
							<li class="fl"><span>...</span></li>
							<li class="fl"><a>230</a></li>
							<li class="fl"><a>231</a></li> -->
						</ul>
						<div class="fl" id="next">下一页</div>
					</div>
					<div class="fl">
						<span>跳转：<input id="go" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">页</span><button id="goButton">确定</button>
					</div>
				</div>
			</div>
		
			<!-- 表单&&热门推荐 -->
			<div class="fr hotAndForm">
				<!-- 定制方案 -->
				<div class="fa">
					<h3>免费定制个性化申请方案</h3>
					<span></span>
					<input type="text" placeholder="姓名:">
					<input type="text" placeholder="电话:">
					<select name="" id="">
						<option value="">申请阶段:</option>
					</select>
					<textarea placeholder="留言"></textarea>
					<button>免费评估</button>
				</div>
				<!-- 热门活动讲座 -->
				<div class="huodong_jz">
					<h3>热门活动讲座</h3>
					<span></span>
					<div class="box clearfix">
						<img src="/static/home/img/search/tu2.png" class="fl" alt="">
						<div class="fr">
							<a href="">北卡罗莱纳大学教堂山分校</a>
							<p>12月25日19：30</p>
						</div>
					</div>
					<div class="box clearfix">
						<img src="/static/home/img/search/tu2.png" class="fl" alt="">
						<div class="fr">
							<a href="">北卡罗莱纳大学教堂山分校北卡罗莱纳大学教堂山分校北卡罗莱纳大学教堂山分校</a>
							<p>12月25日19：30</p>
						</div>
					</div>
				</div>
				<!-- 背景提升推荐 -->
				<div class="bjts_tuijian">
					<h3>背景提升推荐</h3>
					<span></span>
					<div class="box clearfix">
						<img src="/static/home/img/search/tu3.png" class="fl" alt="">
						<a href="" class="fl">美国投资基金实习项目美国投资基金实习项目美国投资基金实习项目</a>
					</div>
					<div class="box clearfix">
						<img src="/static/home/img/search/tu3.png" class="fl" alt="">
						<a href="" class="fl">美国投资基金实习项目美国投资基金实习项目美国投资基金实习项目</a>
					</div>
					<div class="box clearfix">
						<img src="/static/home/img/search/tu3.png" class="fl" alt="">
						<a href="" class="fl">美国投资基金实习项目美国投资基金实习项目美国投资基金实习项目</a>
					</div>
				</div>
				<!-- 热门标签 -->
				<div class="hot_bq">
					<h3>热门标签</h3>
					<span></span>
					<div class="box clearfix">
						<a href="" class="fl">美国高中留学</a>
						<a href="" class="fl">美国本科留学</a>
						<a href="" class="fl">美国研究生留学</a>
						<a href="" class="fl">美国高中面试</a>
						<a href="" class="fl">美国大学排名</a>
						<a href="" class="fl">美国本科留学费用</a>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			
			// 字数限制 第一个参数传入的为一个jquery对象， 第二个参数为要限制的字数
			function LimitNumber(txt,num) {
				var str = txt.text();
				str = str.substr(0,num) + '...' ;
				txt.text(str);
			}
			// 背景提升项目的字数限制调用
			var text = $('.qfr');
			for(var i=0; i<text.length; i++){
				LimitNumber(text.eq(i),85);
			}
			
		</script>
		
		<script type="text/javascript">
			
			
			window.onload = function () {
				var divBox = document.getElementById('div');
				var getData = window.location.search;
				//key(需要检错的键） url（传入的需要分割的url地址）
				function getSearchString(key,Url) {
					// 获取URL中?之后的字符
					var str = Url;
					str = str.substring(1,str.length);
					// 以&分隔字符串，获得类似name=xiaoli这样的元素数组
					var arr = str.split("&");
					var obj = new Object();
					// 将每一个数组元素以=分隔并赋给obj对象 
					for(var i = 0; i < arr.length; i++) {
						var tmp_arr = arr[i].split("=");
						obj[decodeURIComponent(tmp_arr[0])] = decodeURIComponent(tmp_arr[1]);
					}
					return obj[key];
				}
				// 如果进入页面的时候没有page 那么强行拼接一个page=1
				if( !getSearchString('page', getData) ){
					var correntUrl = window.location.href;
					window.location.href = correntUrl + '&page=1';
				}
				// 模拟已经从后台拿到分页总体数据
				var pageNum = "{$count}";
				// var pageNum = 888;
				if(pageNum == '' || pageNum == 0){
					var page = document.getElementById('page');
					var notData = document.getElementById('notData');
					page.style.display = 'none';
					notData.style.display = 'block';
					return false;
				}
				var activeNum = "{$num}";
				// var activeNum = 8;
				var pageLength = Math.ceil(pageNum / activeNum);
				// 跳转页码函数
				function goPage(num) {
					var Url = window.location.href;
					if(getSearchString('keywords', getData)){
						var tmp_arr = Url.split("&");
						tmp_arr[1] = tmp_arr[1].split("=");
						tmp_arr[1][1] = num;
						window.location.href = tmp_arr[0] + '&' + 'page=' + num; 
					}
				}
				var activePage = getSearchString('page', getData);
				if( activePage > pageLength ){
					alert('您输入的数值超过现有范围~');
					goPage(pageLength);
				}else if( activePage == 0 ){
					goPage(1);
				}
				if( pageLength <= 10 ){
					for( var i=0; i<pageLength; i++ ){
						divBox.innerHTML += '<li class="fl"><a>' + (i+1) + '</a></li>';
					}
				}else{
					if( activePage - 1 < 6 ){ // 如果当前页码减去1得到的值小于6 , 说明当前页面在第七页之前, 页面渲染显示 1,2,3,4,5,6,7,...,倒数第二,倒数第三
						for( var i=0; i<7; i++ ){
							divBox.innerHTML += '<li class="fl"><a>' + (i+1) + '</a></li>';
						}
						divBox.innerHTML += '<li class="fl"><span>...</span></li>';
						for(var i=1; i>=0; i--){
							divBox.innerHTML += '<li class="fl"><a>' + (pageLength-i) + '</a></li>';
						}
					}else if( activePage - 1 >=6 && activePage - 1 < pageLength - 6	 ){ // 如果当前页码减去1得到的值小于等于6且小于总页码-6 , 说明当前页面在第七页或第七页之后而且还不到最后七页之中, 页面渲染显示 1,2,...,当前-2,当前-1,当前,当前+1,当前+2,...,倒数第二,倒数第三
						for( var i=1; i<=2; i++ ){
							divBox.innerHTML += '<li class="fl"><a>' + (i) + '</a></li>';
						}
						divBox.innerHTML += '<li class="fl"><span>...</span></li>';
						divBox.innerHTML += '<li class="fl"><a>' + (Number(activePage) - 1) + '</a></li>';
						divBox.innerHTML += '<li class="fl"><a>'+ Number(activePage) +'</a></li>';
						divBox.innerHTML += '<li class="fl"><a>' + (Number(activePage) + 1) + '</a></li>';
						divBox.innerHTML += '<li class="fl"><span>...</span></li>';
						for(var i=1; i>=0; i--){
							divBox.innerHTML += '<li class="fl"><a>' + (pageLength-i) + '</a></li>';
						}
					}else if( activePage - 1 >= pageLength - 6 && activePage - 1 <= pageLength - 1 ){ // 如果当前页码-1大于等于总页面-6 且 不吃超过总页码-1说明在最后几页之中
						for( var i=1; i<=2; i++ ){
							divBox.innerHTML += '<li class="fl"><a>' + (i) + '</a></li>';
						}
						divBox.innerHTML += '<li class="fl"><span>...</span></li>';
						for(var i=6; i>=0; i--){
							divBox.innerHTML += '<li class="fl"><a>' + (pageLength-i) + '</a></li>';
						}
					}
				}
				// 获取所有分页按钮
				var pageA = divBox.getElementsByTagName('li');
				for( var i=0; i<pageA.length; i++ ){
					pageA[i].classList.remove("active");
					pageA[i].onclick = function (e) {
						if( this.innerText == '...' ){
							return false;
						}
						goPage(this.innerText);
					}
				}
				// 根据url参数来设置分页当前项
				for( var i=0; i<pageA.length; i++ ){
					if( Number(activePage) == Number(pageA[i].innerText) ){
						pageA[i].classList.add("active");
						break;
					}
				}
				// 上一页下一页
				var Prev = document.getElementById('prev');
				var Next = document.getElementById('next');
				if( activePage && activePage > 1 ){
					Prev.onclick = function () {
						goPage(activePage - 1);
					}
				}else{
					Prev.style.cursor = 'not-allowed';
				}
				if( activePage && activePage < pageLength ){
					Next.onclick = function () {
						goPage(Number(activePage) + 1);
					}
				}else{
					Next.style.cursor = 'not-allowed';
				}
				// 跳转页面
				var Go = document.getElementById('go');
				var goButton = document.getElementById('goButton');
				goButton.onclick = function () {
					if( Go.value == '' || Go.value == undefined ){
						alert('请输入您想要跳转的页码~');
						return;
					}
					if(Go.value == 0){
						goPage(1);
					}else{
						goPage(Go.value);
					}
					
				}
			}
			
		</script>
		
		
		<!-- 底部 -->
		{include file="common/common_bottom"/}
	</body>
</html>
