{include file="common/common_head"/}
		<!-- 当前网页样式 --> 
		<link rel="stylesheet" href="/static/home/css/apply/graduate_student.css">
		
		<!-- swiper -->
		<link rel="stylesheet" href="/static/home/css/public/swiper/idangerous.swiper.css" />
		<script src="/static/home/js/public/swiper/idangerous.swiper.min.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	
	<style>
		
		a{
			cursor:pointer;
		}
			.swiper-container .swiper-slide a{width: 100%;height: 100%;}
	</style>
	
	<body>
		<!-- 导航 -->
		{include file="common/common_navhead"/}
		<!-- top swiper -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{volist name="pics" id="val"}
					<div class="swiper-slide">
						<a href="{$val['url']}" style="background: url({$val['pic']}) no-repeat center center;background-size: cover;" {eq name="val.is_target" value="1" } target="_blank" {/eq} >
						</a>
					</div>
				{/volist}
			</div>
			<div class="pagination"></div>
		</div>
		
		<!-- 彬彬教育美国研究生申请 -->
		<div class="gWidth1170 YjsSq">
			<!-- title -->
			<div class="title">
				<h3>彬彬教育美国研究生申请</h3>
			</div>
			<!-- content -->
			<div class="content clearfix">
				<div class="fl div1">
					<h3><span id="span1">1000</span>+</h3>
					<p>常春藤院校全覆盖</p>
				</div>
				<div class="fl div2">
					<h3><span id="span2">300</span>+</h3>
					<p>TOP10名校录取人数</p>
				</div>
				<div class="fl div3">
					<h3><span id="span3">2000</span>+</h3>
					<p>TOP50名校录取人数</p>
				</div>
				<div class="fl div4">
					<h3><span id="span4">99.7</span>%</h3>
					<p>学生获得心仪学校Offer</p>
				</div>
				<div class="fl div5">
					<h3><span id="span5">53</span>%</h3>
					<p>Top10名校，彬彬教育占中国大陆录取名额53%</p>
				</div>
				<div class="fl div6">
					<h3><span id="span6">9.7</span>亿+</h3>
					<p>奖学金累计（RMB）</p>
				</div>
			</div>
		</div>
		
		<!-- 彬彬服务特色 -->
		<div class="Fwts">
			<div class="gWidth1170 box">
				<!-- title -->
				<div class="title">
					<h3>彬彬服务特色</h3>
					</div>
				<!-- content -->
				<div class="content clearfix">
					<div class="fl">
						<div class="t">
							<span class="img icon1"></span>
							<!-- <img src="/static/home/img/apply/graduate_student/icon1.png" alt=""> -->
						</div>
						<span></span>
						<p>业内强大的海外专业导师网络</p>
						<div class="hidden">
							<div class="p">
								<p>1.专业导师遍布美国名校</p>
								<p>2.覆盖多个热门和冷僻专业</p>
								<p>3.严格的招募和考核流程</p>
								<p>4.精准匹配学生相似专业背景</p>
							</div>
						</div>
					</div>
					<div class="fl">
						<div class="t">
							<span class="img icon2"></span>
							<!-- <img src="/static/home/img/apply/graduate_student/icon2.png" alt=""> -->
						</div>
						<span></span>
						<p>经验丰富的主申请导师团队</p>
						<div class="hidden">
							<div class="p">
								<p>1.全部5年以上的申请经验</p>
								<p>2.每位主申请导师累计辅导学生500+</p>
								<p>3.总计收获美国知名高校录取 Offer 10000+</p>
								<p>4.全程陪伴贴心指导</p>
							</div>
						</div>
					</div>
					<div class="fl">
						<div class="t">
							<span class="img icon3"></span>
							<!-- <img src="/static/home/img/apply/graduate_student/icon3.png" alt=""> -->
						</div>
						<span></span>
						<p>申请大数据库和背景提升资源库</p>
						<div class="hidden">
							<div class="p">
								<p>1.上千名校录取 Offer 案例数据库</p>
								<p>2.近千场线上线下公益专业讲座</p>
								<p>3.500强、独角兽、NGO等实习和课外活动资源库</p>
							</div>
						</div>
					</div>
					<div class="fl">
						<div class="t">
							<span class="img icon4"></span>
							<!-- <img src="/static/home/img/apply/graduate_student/icon4.png" alt=""> -->
						</div>
						<span></span>
						<p>资深外籍导师团队</p>
						<div class="hidden">
							<div class="p">
								<p>1.均毕业于美国名校，曾从事学校招生、教育等相关工作</p>
								<p>2.全部为 Native Speakers，均有数年文书写作辅导经历</p>
								<p>3.累计修改各类项目文书上万篇</p>
							</div>
						</div>
					</div>
					<div class="fl">
						<div class="t">
							<span class="img icon5"></span>
							<!-- <img src="/static/home/img/apply/graduate_student/icon5.png" alt=""> -->
						</div>
						<span></span>
						<p>以学生为中心的设计理念和全部可视化的服务流程</p>
						<div class="hidden">
							<div class="p">
								<p>1.学生满意度第一的理念，清晰的学生服务节点管理流程</p>
								<p>2.公开透明的网申系统</p>
								<p>3.高效及时的咨询反馈</p>
								<p>4.行业独有的督导体系</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 彬彬服务模式 -->
		<div id="mydiv" style="height: 695px;">
			<div class="box clearfix">
				<!-- title -->
				<div class="title">
					<h3>彬彬服务模式</h3>
					<p>独创六位一体服务模式 践行最专业化服务体系</p>
				</div>
				<!-- content -->
				<div class="content gWidth1170">
					<div class="fl">
						<ul>
							<li class="li1">
								<h3>全程咨询导师</h3>
								<p>全程申请规划、申请时间进度把控</p>
							</li>
							<li class="li2">
								<h3>全能主导师</h3>
								<p>选校定位、推荐人筛选、简历咨询、文书咨询、面试辅导</p>
							</li>
							<li class="li3">
								<h3>海外同专业导师</h3>
								<p>职业规划咨询、选校选专业咨询建议、文书素材把关、模拟面试</p>
							</li>
						</ul>
					</div>
					<div class="dq">
						<div>
							<h3><p>行业首创<br />【六位一体】<br />辅导模式</p></h3>
						</div>
					</div>
					<div class="fr">
						<ul>
							<li class="li1 clearfix">
								<h3>资深流程导师</h3>
								<p class="fr">网申填写辅导、成绩认证辅导、语言成绩寄送辅导、申请材料准备辅导</p>
							</li>
							<li class="li2 clearfix">
								<h3>名校外籍文笔导师</h3>
								<p class="fr">文书母语润色、词汇句法优化、素材结构建议</p>
							</li>
							<li class="li3 clearfix">
								<h3>专家督导导师</h3>
								<p class="fr">跟踪学生申请进度、定期跟踪学生的申请体验、审核学生申请方案</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 强大的国内外导师团队 -->
		<div class="daoshi_team">
			<div class="gWidth1170">
				<!-- title -->
				<div class="title">
					<h3>六位一体导师团队</h3>
					<p>独创六位一体服务模式，锤炼精锐留学专家，保障每位学子留学成功！</p>
				</div>
				<!-- count -->
				<div class="count">
					<!-- 选项 -->
					<div class="clearfix t">
						<div class="tbox">
							{volist name="list.type_list" id="vo"}
								{neq name="key" value="5"}
									<a class="fl">{$vo.tutor_type}</a><span class="fl">|</span>
								{else/}
									<a class="fl">{$vo.tutor_type}</a>
								{/neq}
							{/volist}
						</div>
					</div>
					<!-- 内容 -->
					<div class="clearfix b">
						{volist name="list.type_list" id="vo"}
							<div class="bBox clearfix">
								<div class="fl leftb">
									<h3>{$vo.tutor_type}</h3>
									<p>{$vo.english_title}</p>
									<span></span>
									<em>{$vo.describe}</em>
									<em>擅长：{$vo.adept}</em>
									<div class="bBtn clearfix">
										<a href="javascript:;" onclick="go()" class="fl">匹配专属导师</a>
										<a href="/tutor/special/" target="_blank" class="fl">查看更多导师</a>
									</div>
								</div>
								<div class="fr rightb">
									{volist name="vo.teacher_list" id="val"}
									<div class="fl">
										<img src="{$admin_path}{$val['thumbnail']}" alt="{$val['title']}" title="{$val['title']}">
										<div class="hiddenTitle">{$val['title']}</div>
										<div class="hidden">
											<h3>{$val['title']}</h3>
											<span></span>
											{notempty name="val.school"}
												<p>{$val['school']}</p>
											{/notempty}
											{notempty name="val.major"}
												<p>{$val['major']}</p>
											{/notempty}
											{notempty name="val.adept"}
												<p>{$val['adept']}</p>
											{/notempty}
											{notempty name="$vo['rewrite']"}
												<a href="/{$vo['rewrite']}/{$val['id']}.html" target="_blank">个人介绍</a>
											{else/}
												<a onclick="go()" target="_blank">与TA聊聊</a>
											{/notempty}
										</div>
									</div>
									{/volist}
								</div>
							</div>
						{/volist}
					</div>
				</div>
			</div>
		</div>
		
		<!-- 细致入微的导师服务体验 -->
		<div class="gWidth1170 fuwu_tiyan">
			<!-- title -->
			<div class="title">
				<h3>专业化精准导师服务体验</h3>
			</div>
			<!-- content -->
			<div class="content clearfix">
				<div class="fl tab_title">
					<div class="div1" id="active">
						<p>申请季陪<br />伴智囊团</p>
					</div>
					<div class="div2">
						<p>科学的时间<br />安排和计划</p>
					</div>
					<div class="div3">
						<p>密切的<br />沟通交流</p>
					</div>
					<div class="div4">
						<p>无死角的<br />规划辅导</p>
					</div>
				</div>
				<div class="fl tab_content">
					<div class="box1 clearfix">
						<p>“六位一体”所有导师为留学生提供24小时答疑服务，学生和家长有任何问题，导师们都会在最短时间内解决，尽一切必要的方式与学生和家长保持联系畅通。</p>
						<a href="javascript:;" onclick="go()">体验导师服务</a>
					</div>
					<div class="box1 clearfix">
						<p>凡事预则立，不预则废。导师们会在服务开始后跟同学制定科学的时间规划，安排好咨询的进度。并且会根据学生的成长变化，与时俱进，调整计划，让学生能够提早规避掉很多申请过程当中的陷阱，让学生不再因为错过时间点而遗憾。</p>
						<a href="javascript:;" onclick="go()">体验导师服务</a>
					</div>
					<div class="box1 clearfix">
						<p>在规划期间，主申请导师会每月跟学生沟通并更新计划，彬彬教育的老师们会主要以解决问题为最终目标，为同学们学术活动规划中大大小小的问题提供专业和富有启发性的答案。在申请季期间，主申请导师和班主任也会保持和学生的实时联系，充分开发学生的现有经历和潜能，保证申请进度有条不紊，扎扎实实地应对申请季的挑战。同时在线沟通的方式可以为国内的学生匹配到在国外专业领域学习工作的专业导师，为国内的学生分享申请的经验。</p>
						<a href="javascript:;" onclick="go()">体验导师服务</a>
					</div>
					<div class="box1 clearfix">
						<p>在申请过程当中，许多背景规划、活动推荐都需要结合专业本身来确定，不同的专业有其独特的规划方案，彬彬教育通过引入专业导师，来为学生提供专业度方面的把关，避免了一些传统模式实际操作中，学生负责给自己规划，顾问负责给学生加油的倒挂现象。同时在文书辅导过程中，针对专业度强的文书，部分传统机构往往无法在文书写作方面给予学生提升和帮助，甚至套用模版。而彬彬教育则针对这个行业和学生的痛点，通过专业导师的辅导为学生提供全方位的服务。</p>
						<a href="javascript:;" onclick="go()">体验导师服务</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 名校offer最新录取&&学长学姐传授名校申请经验 -->
		<div class="offerJy">
			<div class="gWidth1170">
				<!-- 名校offer最新录取 -->
				<div class="offerBox">
					<!-- title -->
					<div class="title">
						<h3>名校offer最新录取</h3>
						<p>上千名校录取offer，覆盖哈佛、普林斯顿、麻省理工、斯坦福、加州伯克利、UCLA等世界等级名校</p>
					</div>
					<!-- content -->
					<div class="content clearfix">
						{volist name="offer_list" id="val"}
							<div class="fl">
								<img class="fl" src="{$val.icon}" alt="{$val.title}" title="{$val.title}">
								<img src="{$val.pic}" class="img" alt="{$val.title}" title="{$val.title}">
								<div class="fr">
									<span><i>{$val.num}</i>枚</span>
									<em>{$val.title}</em>
								</div>
							</div>
						{/volist}
						
						<!-- <div class="fl">
							<img class="fl" src="/static/home/img/apply/graduate_student/logo1.png" alt="">
							<img src="/static/home/img/apply/graduate_student/yuanxiao1.png" class="img" alt="">
							<div class="fr">
								<span><i id="i2">18</i>枚</span>
								<em>普林斯顿大学</em>
							</div>
						</div>
						<div class="fl">
							<img class="fl" src="/static/home/img/apply/graduate_student/logo1.png" alt="">
							<img src="/static/home/img/apply/graduate_student/yuanxiao1.png" class="img" alt="">
							<div class="fr">
								<span><i id="i3">18</i>枚</span>
								<em>普林斯顿大学</em>
							</div>
						</div>
						<div class="fl">
							<img class="fl" src="/static/home/img/apply/graduate_student/logo1.png" alt="">
							<img src="/static/home/img/apply/graduate_student/yuanxiao1.png" class="img" alt="">
							<div class="fr">
								<span><i id="i4">18</i>枚</span>
								<em>普林斯顿大学</em>
							</div>
						</div>
						<div class="fl">
							<img class="fl" src="/static/home/img/apply/graduate_student/logo1.png" alt="">
							<img src="/static/home/img/apply/graduate_student/yuanxiao1.png" class="img" alt="">
							<div class="fr">
								<span><i id="i5">18</i>枚</span>
								<em>普林斯顿大学</em>
							</div>
						</div>
						<div class="fl">
							<img class="fl" src="/static/home/img/apply/graduate_student/logo1.png" alt="">
							<img src="/static/home/img/apply/graduate_student/yuanxiao1.png" class="img" alt="">
							<div class="fr">
								<span><i id="i6">18</i>枚</span>
								<em>普林斯顿大学</em>
							</div>
						</div>
						<div class="fl">
							<img class="fl" src="/static/home/img/apply/graduate_student/logo1.png" alt="">
							<img src="/static/home/img/apply/graduate_student/yuanxiao1.png" class="img" alt="">
							<div class="fr">
								<span><i id="i7">18</i>枚</span>
								<em>普林斯顿大学</em>
							</div>
						</div>
						<div class="fl">
							<img class="fl" src="/static/home/img/apply/graduate_student/logo1.png" alt="">
							<img src="/static/home/img/apply/graduate_student/yuanxiao1.png" class="img" alt="">
							<div class="fr">
								<span><i id="i8">18</i>枚</span>
								<em>普林斯顿大学</em>
							</div>
						</div> -->
					</div>
				</div>
			
				<!-- 学长学姐传授名校申请经验 -->
				<div class="Jybox">
					<!-- title -->
					<div class="title">
						<h3>学长学姐传授名校申请经验</h3>
						<p>上千名校录取offer，覆盖哈佛、普林斯顿、麻省理工、斯坦福、加州伯克利、UCLA等世界等级名校</p>
					</div>
					<!-- content -->
					<div class="content clearfix">
						<!-- 左选项 -->
						<div class="fl cleft">
							{volist name="initials_arr" id="val"}
							{eq name="key" value="0"}
								<h3 class="fl active">{$val}</h3>
							{else/}
								<h3 class="fl">{$val}</h3>
							{/eq}
							{/volist}
						</div>
						<!-- 右内容 -->

						{volist name="case_list" id="val"}
							<div class="fr cright">
								<h3 class="fl">{$val.initials}</h3>
								<div class="fl">
									<div class="t">
										<p>同学</p>
										<p><span>本科：{$val.school_name} </span><span>{$val.score}</span></p>
									</div>
									<div class="b">
										<h4>实习经历</h4>
										<span>
											<?=$val['experience']?>
										</span>
										<h4 style="margin-top: 10px;">录取院校</h4>
										<p>{$val.xx_name}<span>/</span>{$val.xx_major}<span>{notempty name="val.xx_degree"}/</span>{$val.xx_degree}</p>{/notempty}
										<p><img src="{$val.xx_offer}" alt="{$val.xx_name}录取通知书" title="{$val.xx_name}录取通知书"></p>
										<h4>案例简介</h4>
										<p class="anli_jianjie"><?=$val['case_introduction_small']?></p>
									</div>
								</div>
								<a href="/success/{$val.id}.html" target="_blank">详情&gt;&gt;</a>
							</div>
						{/volist}

						
						<!-- <div class="fr cright">
							<h3 class="fl"></h3>
							<div class="fl">
								<div class="t">
									<p>同学L</p>
									<p><span>本科：清华大学，英语</span><span>TOEFL： 108</span>GRE ：319</p>
								</div>
								<div class="b">
									<h4>实习经历</h4>
									<ul>
										<li>1. An Overview of PhD Student Elimination Systems in World-Class Universities with Instances of Linguistics Programs</li>
										<li>2. WeChat Emoticon “Smile” and Speech Communities</li>
										<li>3. IELTS Research Project with a Focus on Formulaic Language</li>
									</ul>
									<h4>录取院校</h4>
									<p>哥伦比亚大学<span>/</span>理论和应用语言学<span>/</span>Master</p>
									<img src="/static/home/img/apply/graduate_student/offer1.png" alt="">
									<p class="p">大一的时候我就早早下定了出国深造的决心，原因有二，其一是因为计算机专业的特殊性，其二是弥补我本科没能出国的遗憾。本科期间学的就是计算机，所以很看好这个专业。因此一开始就决定申请留学以及具体的方向。大一的时候我就早早下定了出国深造的决心，原因有二，其一是因为计算机专业的特殊性算机专业的特殊性算机专业的特殊性算机专业的特殊性算机专业的特殊性</p><a href="javascipt: false;">详情&gt;&gt;</a>
								</div>
							</div>
						</div>
						<div class="fr cright">
							<h3 class="fl"></h3>
							<div class="fl">
								<div class="t">
									<p>同学W</p>
									<p><span>本科：清华大学，英语</span><span>TOEFL： 108</span>GRE ：319</p>
								</div>
								<div class="b">
									<h4>实习经历</h4>
									<ul>
										<li>1. An Overview of PhD Student Elimination Systems in World-Class Universities with Instances of Linguistics Programs</li>
										<li>2. WeChat Emoticon “Smile” and Speech Communities</li>
										<li>3. IELTS Research Project with a Focus on Formulaic Language</li>
									</ul>
									<h4>录取院校</h4>
									<p>哥伦比亚大学<span>/</span>理论和应用语言学<span>/</span>Master</p>
									<img src="/static/home/img/apply/graduate_student/offer1.png" alt="">
									<p class="p">大一的时候我就早早下定了出国深造的决心，原因有二，其一是因为计算机专业的特殊性，其二是弥补我本科没能出国的遗憾。本科期间学的就是计算机，所以很看好这个专业。因此一开始就决定申请留学以及具体的方向。大一的时候我就早早下定了出国深造的决心，原因有二，其一是因为计算机专业的特殊性算机专业的特殊性算机专业的特殊性算机专业的特殊性算机专业的特殊性</p><a href="javascipt: false;">详情&gt;&gt;</a>
								</div>
							</div>
						</div>
						<div class="fr cright">
							<h3 class="fl"></h3>
							<div class="fl">
								<div class="t">
									<p>同学Z</p>
									<p><span>本科：清华大学，英语</span><span>TOEFL： 108</span>GRE ：319</p>
								</div>
								<div class="b">
									<h4>实习经历</h4>
									<ul>
										<li>1. An Overview of PhD Student Elimination Systems in World-Class Universities with Instances of Linguistics Programs</li>
										<li>2. WeChat Emoticon “Smile” and Speech Communities</li>
										<li>3. IELTS Research Project with a Focus on Formulaic Language</li>
									</ul>
									<h4>录取院校</h4>
									<p>哥伦比亚大学<span>/</span>理论和应用语言学<span>/</span>Master</p>
									<img src="/static/home/img/apply/graduate_student/offer1.png" alt="">
									<p class="p">大一的时候我就早早下定了出国深造的决心，原因有二，其一是因为计算机专业的特殊性，其二是弥补我本科没能出国的遗憾。本科期间学的就是计算机，所以很看好这个专业。因此一开始就决定申请留学以及具体的方向。大一的时候我就早早下定了出国深造的决心，原因有二，其一是因为计算机专业的特殊性算机专业的特殊性算机专业的特殊性算机专业的特殊性算机专业的特殊性</p><a href="javascipt: false;">详情&gt;&gt;</a>
								</div>
							</div>
						</div>
						<div class="fr cright">
							<h3 class="fl"></h3>
							<div class="fl">
								<div class="t">
									<p>同学G</p>
									<p><span>本科：清华大学，英语</span><span>TOEFL： 108</span>GRE ：319</p>
								</div>
								<div class="b">
									<h4>实习经历</h4>
									<ul>
										<li>1. An Overview of PhD Student Elimination Systems in World-Class Universities with Instances of Linguistics Programs</li>
										<li>2. WeChat Emoticon “Smile” and Speech Communities</li>
										<li>3. IELTS Research Project with a Focus on Formulaic Language</li>
									</ul>
									<h4>录取院校</h4>
									<p>哥伦比亚大学<span>/</span>理论和应用语言学<span>/</span>Master</p>
									<img src="/static/home/img/apply/graduate_student/offer1.png" alt="">
									<p class="p">大一的时候我就早早下定了出国深造的决心，原因有二，其一是因为计算机专业的特殊性，其二是弥补我本科没能出国的遗憾。本科期间学的就是计算机，所以很看好这个专业。因此一开始就决定申请留学以及具体的方向。大一的时候我就早早下定了出国深造的决心，原因有二，其一是因为计算机专业的特殊性算机专业的特殊性算机专业的特殊性算机专业的特殊性算机专业的特殊性</p><a href="javascipt: false;">详情&gt;&gt;</a>
								</div>
							</div>
						</div> -->
						<!-- <div class="fr cright">
							<h3 class="fl"></h3>
							<div class="fl">
								<div class="t">
									<p>同学Y</p>
									<p><span>本科：清华大学，英语</span><span>TOEFL： 108</span>GRE ：319</p>
								</div>
								<div class="b">
									<h4>实习经历</h4>
									<ul>
										<li>1. An Overview of PhD Student Elimination Systems in World-Class Universities with Instances of Linguistics Programs</li>
										<li>2. WeChat Emoticon “Smile” and Speech Communities</li>
										<li>3. IELTS Research Project with a Focus on Formulaic Language</li>
									</ul>
									<h4>录取院校</h4>
									<p>哥伦比亚大学<span>/</span>理论和应用语言学<span>/</span>Master</p>
									<img src="/static/home/img/apply/graduate_student/offer1.png" alt="">
									<p class="p">大一的时候我就早早下定了出国深造的决心，原因有二，其一是因为计算机专业的特殊性，其二是弥补我本科没能出国的遗憾。本科期间学的就是计算机，所以很看好这个专业。因此一开始就决定申请留学以及具体的方向。大一的时候我就早早下定了出国深造的决心，原因有二，其一是因为计算机专业的特殊性算机专业的特殊性算机专业的特殊性算机专业的特殊性算机专业的特殊性</p><a href="javascipt: false;">详情&gt;&gt;</a>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		
		<!-- offer弹出 -->
		<div class="offtt">
			<img src="" alt="">
			<span class="cha"></span>
		</div>
		
		<!-- 全维度高品质背景提升项目 -->
		<div class="bjts_xiangmu gWidth1170">
			<!-- title -->
			<div class="title">
				<h3>全维度高品质背景提升项目</h3>
				<p>500强、独角兽、NGO等实习和课外活动资源库可为学生申请打造独一无二的优势</p>
			</div>
			<!-- content -->
			<div class="content">
				<!-- 选项 -->
				<div class="clearfix t">
					<div class="tbox">
						{volist name="bj_list" id="val"}
							<?php
								if($key==0){
								?>
									<a class="fl active">{$val['pro_title']}</a><span class="fl">|</span>
								<?php	
								}else if($key==count($bj_list)-1){
								?>
									<a class="fl">{$val['pro_title']}</a>
								<?php
								}else{
								?>
									<a class="fl">{$val['pro_title']}</a><span class="fl">|</span>
								<?php
								}
							?>
						{/volist}
					</div>
				</div>
				<!-- 内容 -->
				
				{volist name="bj_list" id="val1" key="key1"}
						<div class="bcontent clearfix">
							<div class="fl">
								{volist name="val1.children.hot" id="val2" key="key2" offset="0" length='1'}

									{eq name="val2.is_hot" value="1"}
										<img src="{$val2['thumbnail']}" alt="{$val2['title']}" title="{$val2['title']}">
										<span class="hidden_a">{$val2['title']}</span>
										<div class="hidden_b">
											<div class="juzhong">
												<h3>{$val2['title']}</h3>
												<p class="qfr1">适合人群：{$val2['target_object']}</p>
												<a href="/{$val1['rewrite']}/{$val2['id']}.html" target="_blank">查看详情</a>
											</div>
										</div>
									{/eq}
									
								{/volist}
							</div>
							<div class="fr">
								{volist name="val1.children.cool" id="val2" key="key2" offset="0" length='4'}
										<div class="box fl">
											<img src="{$val2['thumbnail']}" alt="{$val2['title']}" title="{$val2['title']}">
											<span class="hidden_a">{$val2['title']}</span>
											<div class="hidden_b">
												<div class="juzhong">
													<h3>{$val2['title']}</h3>
													<p class="qfr">适合人群：{$val2['target_object']}</p>
													<a href="/{$val1['rewrite']}/{$val2['id']}.html" target="_blank">查看详情</a>
												</div>
											</div>
										</div>
								{/volist}
							</div>
							<a href="/project/0-{$val1['id']}-1.html" rel="nofollow" target="_blank" class="fr more">
								<span></span>
							</a>
						</div>
					{/volist}

			</div>
		</div>
		
		<!-- 活动讲座 新闻列表 -->
		<div class="news">
			<div class="box gWidth1170 clearfix">
				<!-- 讲座活动 -->
				<div class="fl bL">
					<h3><a href="/activity/3-0-1.html" target="_blank">讲座活动</a><a href="/activity/3-0-1.html" rel="nofollow" class="fr" target="_blank">MORE</a></h3>
					<div class="content">
						{volist name="activity_list" id="val"}
							<div class="clearfix">
								<div class="img fl"><img src="{$val['details_portrait']}" alt="{$val['title']}" title="{$val['title']}"></div>
								<div class="fl cLeft">
									<h4><a href="/{$val['rewrite']}/{$val['id']}.html">{$val['title']}</a></h4>
									<p>时间：{$val['lecture_time']}</p>
								</div>
								<?php
									if( time() >= strtotime(date('Y-m-d',$val['end_time']).' 23:59:59') ){
									?>
										<a class="yyz" href="javascript:;" onclick="go()"  style="background-color: #CCCCCC;">已结束</a>
									<?php
									}else{
									?>
										<a class="yyz" href="javascript:;" onclick="go()">预约中</a>
									<?php
									}
								?>
							</div>
						{/volist}
					</div>
				</div>
				<!-- 美国本科留学资讯 -->
				<div class="fl bR">
					<h3><a href="/article/3-0-1.html" target="_blank">美国研究生留学资讯</a><a href="/article/3-0-1.html" rel="nofollow" class="fr" target="_blank">MORE</a></h3>
					<div class="content1 clearfix">
						<ul class="fl">
							{volist name="article_type_list" id="val"}
								{eq name="key" value="0"}
									<li class="active">{$val['title']}</li>
								{else/}
									<li class="">{$val['title']}</li>
								{/eq}
							{/volist}
						</ul>
						{volist name="article_type_list" id="val1" key="key1"}
							<div class="fl">
								{volist name="val1.children" id="val2" key="key2"}
									<div>
										<h5><a href="/{$val1['rewrite']}/{$val2.id}.html" target="_blank">{$val2['title']}</a></h5>
										<p>{$val2['add_time']|date='Y-m-d'}</p>
									</div>
								{/volist}
							</div>
						{/volist}
					</div>
				</div>
			</div>
		</div>
		
		<!-- 研究生表单 -->
		{include file="common/common_graduate"/}
		
		<!-- 数字滚动插件 -->
		<script type="text/javascript" src="/static/home/js/public/countUp.min.js"></script>
		<!-- 粒子链接 -->
		<script type="text/javascript" src="/static/home/js/public/canvas-particle.js"></script>
		<!-- jquery-ui -->
		<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script> -->
		<!-- 当前网页js -->
		<script type="text/javascript" src="/static/home/js/apply/YanJs.js"></script>
		<!-- 底部 -->
		{include file="common/common_bottom"/}
	</body>
</html>
