
/* banner */
.banner{
	width: 100%;
	height: 532px;
	background: url(/static/home/img/page/benke_sqtj/banner.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	color: #FFFFFF;
}
.banner h1{
	font-size: 60px;
	line-height: 88px;
	font-weight: normal;
	text-shadow:0px 3px 4px rgba(0,0,0,0.72);
	padding-top: 137px;
	padding-bottom: 8px;
}
.banner h3{
	font-size: 48px;
	line-height: 62px;
	font-weight: normal;
	text-shadow:0px 3px 4px rgba(0,0,0,0.72);
	padding-bottom: 36px;
}
.banner .anniu{
	font-size: 0;
	text-align: center;
}
.banner .anniu a{
	width: 224px;
	height: 48px;
	border-radius: 3px;
	background-color: #D17F7F;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	display: inline-block;
	line-height: 48px;
	box-shadow:0px 2px 4px rgba(0,0,0,0.26);
}
.banner .anniu a.a1{
	background-color: #FFFFFF;
	color: #D17F7F;
	margin-left: 64px;
}
.banner a:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.banner a.a1:hover{
	background-color: #D17F7F;
	color: #FFFFFF;
}

/* bannerNav */
.bannerNav{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #E8E8E8;
	font-size: 0;
}
.bannerNav span{
	font-size: 16px;
	cursor:pointer;
	margin-right: 43px;
}
.bannerNav span:hover{
	color: #D17F7F;
}
.bannerNav span.active{
	color: #D17F7F;
	font-weight: bold;
}
.navHidden{
	width: 100%;
	height: 60px;
	display: none;
}

/* title */
h3.title{
	font-size: 38px;
	text-align: center;
	font-weight: normal;
	padding-top: 90px;
	padding-bottom: 60px;
}

/* 美国拥有全球数量最多和教学质量最高的大学 */
.zhilang_daxue .content .box{
	width: 368px;
	margin-right: 33px;
}
.zhilang_daxue .content .box .bTitle,.zhilang_daxue .content .box2 .bTitle{
	width: 100%;
	height: 65px;
	background-color: #D17F7F;
	font-size: 18px;
	line-height: 65px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}
.zhilang_daxue .content .box .bBox,.zhilang_daxue .content .box2 .bBox{
	width: 366px;
	height: 315px;
	border: 1px solid #E8C4C4;
	border-top: none;
}
.zhilang_daxue .content .box .bBox>div{
	font-size: 15px;
	margin-left: 25px;
	padding-top: 35px;
}
.zhilang_daxue .content .box .bBox>div span{
	display: inline-block;
	width: 70px;
	vertical-align: middle;
}
.zhilang_daxue .content .box .bBox>div em{
	width: 0px;
	height: 20px;
	background-color: #F8C1F8;
	vertical-align: middle;
	margin-right: 10px;
}
.zhilang_daxue .content .box .bBox>div.jnd em{
	/* width: 37px; */
	background-color: #FFCCCC;
}
.zhilang_daxue .content .box .bBox>div.yg em{
	/* width: 37px; */
	background-color: #FFCC99;
}
.zhilang_daxue .content .box .bBox>div.rb em{
	/* width: 106px; */
	background-color: #FFCC66;
}
.zhilang_daxue .content .box .bBox>div.mg em{
	/* width: 191px; */
	background-color: #66CCCC;
}

.zhilang_daxue .content .box2{
	width: 368px;
	margin-right: 33px;
}
.zhilang_daxue .content .box2 .bBox ul{
	width: 316px;
	padding-top: 20px;
	margin: 0 auto;
}
.zhilang_daxue .content .box2 .bBox ul li{
	font-size: 16px;
	line-height: 54px;
}
.zhilang_daxue .content{
	margin-bottom: 52px;
}
.zhilang_daxue>a,.tiaojian .a,.guihua>a,.liucheng_fuwu>div>a,.shenghuof_butong>a{
	width: 192px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: block;
	background-color: #D17F7F;
	border-radius: 3px;
	font-size: 16px;
	color: #FFFFFF;
	margin: 0 auto;
}
.zhilang_daxue>a:hover,.tiaojian .a:hover,.guihua>a:hover,.liucheng_fuwu>div>a:hover,.zhuanxue .content .box>a:hover,.zhuanxue .content .box2>a:hover,.shenghuof_butong>a:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.zhilang_daxue{
	padding-bottom: 80px;
}

/* 美国本科申请条件 */
.tiaojian{
	width: 100%;
	height: 966px;
	background: url(/static/home/img/page/benke_sqtj/beijing1.jpg) no-repeat center center;
	background-size: cover;
}
.tiaojian .content .ctitle{
	font-size: 0;
	text-align: center;
	margin-bottom: 32px;
}
.tiaojian .content .ctitle span{
	width: 190px;
	height: 38px;
	border: 1px solid #D17F7F;
	border-radius: 3px;
	color: #D17F7F;
	display: inline-block;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
	margin-right: 30px;
	cursor:pointer;
}
.tiaojian .content .ctitle span.active,.tiaojian .content .ctitle span:hover{
	background-color: #D17F7F;
	color: #FFFFFF;
}

.tiaojian .content .cbox{
	width: 100%;
	height: 532px;
	border: 1px solid #D17F7F;
	background-color: #FFFFFF;
	display: none;
}
.tiaojian .content .cbox .cboxtop{
	margin: 0 37px;
	padding-bottom: 27px;
	border-bottom: 1px dashed #A7A7A7;
	margin-bottom: 24px;
}
.tiaojian .content .cbox .cboxtop img{
	width: 183px;
	height: 183px;
	margin-top: 36px;
}
.tiaojian .content .cbox .cboxtop div{
	width: 857px;
	margin-top: 58px;
}
.tiaojian .content .cbox .cboxtop div h3{
	font-size: 20px;
	margin-bottom: 19px;
}
.tiaojian .content .cbox .cboxtop div p{
	font-size: 15px;
	line-height: 26px;
	margin-bottom: 20px;
}
.tiaojian .content .cbox .cboxtop div a{
	width: 110px;
	height: 32px;
	border: 1px solid #D17F7F;
	border-radius: 3px;
	font-size: 16px;
	color: #D17F7F;
	text-align: center;
	line-height: 32px;
}
.tiaojian .content .cbox .cboxtop div a:hover{
	color: #FFFFFF;
	background-color: #D17F7F;
}

.tiaojian .content .cbox .cboxbottom div.fl{
	margin-left: 37px;
}
.tiaojian .content .cbox .cboxbottom div.fl h3{
	font-size: 20px;
	margin-bottom: 32px;
}
.tiaojian .content .cbox .cboxbottom div.fl p{
	font-size: 15px;
	line-height: 22px;
	width: 465px;
	margin-bottom: 16px;
	position: relative;
}
.tiaojian .content .cbox .cboxbottom div.fl p a{
	position: absolute;
	font-size: 15px;
	color: #D17F7F;
	right: 0;
	bottom: 0;
}
.tiaojian .content .cbox .cboxbottom div.fl p a:hover{
	text-decoration: underline;
}
.tiaojian .content .cbox .cboxbottom div.fr{
	width: 502px;
}
.tiaojian .content .cbox .cboxbottom div.fr h3{
	margin-bottom: 32px;
}
.tiaojian .content .cbox .cboxbottom div.fr div .box,.tiaojian .content .cbox .cboxbottom div.fr div .box1{
	width: 33.33%;
	float: left;
	margin-bottom: 30px;
}
.tiaojian .content .cbox .cboxbottom div.fr div .box1{
	text-align: center;
	position: relative;
}

.tiaojian .content .cbox .cboxbottom div.fr div .box1 img{
	width: 87px;
	height: 87px;
	margin-bottom: 16px;
}
.tiaojian .content .cbox .cboxbottom div.fr div .box1 p{
	font-size: 16px;
}
.tiaojian .content .cbox .cboxbottom div.fr div .box img{
	width: 40px;
	height: 40px;
	vertical-align: middle;
}
.tiaojian .content .cbox .cboxbottom div.fr div .box span{
	font-size: 18px;
	vertical-align: middle;
	margin-left: 12px;
}
.tiaojian .content .cbox .cboxbottom div.fr a{
	font-size: 15px;
	color: #D17F7F;
	margin-right: 34px;
}
.tiaojian .content .cbox .cboxbottom div.fr .abox{
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 10px;
}
.tiaojian .content .cbox .cboxbottom div.fr a:hover{
	text-decoration: underline;
}
.tiaojian .content .cbox{
	margin-bottom: 52px;
}
.tiaojian .a{
	width: 248px;
	display: none;
}

/* 美国本科申请规划 */
.guihua{
	position: static;
}
.guihua .content{
	position: static;
	margin-bottom: 52px;
}
.guihua .content .box{
	width: 272px;
	height: 192px;
	background: url(/static/home/img/page/benke_sqtj/gh1.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	margin-right: 27px;
}
.guihua .content .box2{
	background-image: url(/static/home/img/page/benke_sqtj/gh2.jpg);
}
.guihua .content .box3{
	background-image: url(/static/home/img/page/benke_sqtj/gh3.jpg);
}
.guihua .content .box4{
	background-image: url(/static/home/img/page/benke_sqtj/gh4.jpg);
}
.guihua .content .box>.o{
	width: 100%;
	height: 100%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 0;
}
.guihua .content .box>.o h3{
	font-size: 32px;
	font-weight: normal;
	line-height: 192px;
}
.guihua .content .box>.o p{
	font-size: 24px;
}
.guihua .content .box .hidden{
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	display: none;
}
.guihua .content .box .hidden:before{
	content: '';
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.guihua .content .box .hidden p{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 24px;
	width: 200px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.guihua{
	padding-bottom: 80px;
}

/* 美国文理学院申请规划 */
.liucheng_fuwu{
	width: 100%;
	height: 625px;
	background-color: #F6F6F6;
	background-size: cover;
}
.liucheng_fuwu h3.title{
	padding-bottom: 11px;
}
.liucheng_fuwu>div>p{
	font-size: 16px;
	text-align: center;
	margin-bottom: 60px;
}
.liucheng_fuwu .content{
	height: 310px;
	position: relative;
}
.liucheng_fuwu .content .xian{
	width: 1050px;
	height: 1px;
	background-color: #BEBCBC;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -0.5px;
	left: 70px;
}
.liucheng_fuwu .content .xian p{
	font-size: 17px;
	color: #333333;
	position: absolute;
	display: none;
}
.liucheng_fuwu .content .xian span{
	width: 12px;
	height: 12px;
	display: block;
	background-color: #D17F7F;
	border-radius: 50%;
	position: absolute;
	left: -10px;
	top: 50%;
	margin-top: -5.5px;
	display: none;
	text-align: center;
}
.liucheng_fuwu .content .box{
	width: 156px;
	text-align: center;
	position: absolute;
	float: left;
	border-radius: 5px;
}
.liucheng_fuwu .content .box ul li{
	font-size: 14px;
}
.liucheng_fuwu .content .box ul li h3{
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 7px;
}
.liucheng_fuwu .content .box ul li p{
	width: 155px;
	font-size: 15px;
	margin: 0 auto;
}
.liucheng_fuwu .content .box>span{
	width: 0;
	height: 0;
	border-width: 7px;
	border-color: #E1E5F9 transparent transparent transparent;
	border-style: solid;
	position: absolute;
	bottom: -14px;
	left: 50%;
	margin-left: -7px;
}
.liucheng_fuwu .content{
	margin-bottom: 50px;
}

/* 美国本科转学 */
.zhuanxue h3.title{
	padding-bottom: 8px;
}
.zhuanxue>p{
	font-size: 16px;
	text-align: center;
	margin-bottom: 60px;
}

.zhuanxue .content .box,.zhuanxue .content .box2{
	width: 570px;
	height: 400px;
	background: url(/static/home/img/page/benke_sqtj/zx1.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}
.zhuanxue .content .box h3,.zhuanxue .content .box2 h3{
	font-size: 24px;
	text-align: center;
	padding-top: 41px;
	padding-bottom: 51px;
}
.zhuanxue .content .box>p{
	font-size: 16px;
	margin-bottom: 26px;
	margin-left: 96px;
}
.zhuanxue .content .box>p b{
	margin-right: 23px;
}
.zhuanxue .content .box>a,.zhuanxue .content .box2>a{
	width: 224px;
	height: 40px;
	border-radius: 3px;
	background-color: #D17F7F;
	text-align: center;
	line-height: 40px;
	color: #FFFFFF;
	position: absolute;
	bottom: 33px;
	left: 50%;
	margin-left: -112px;
}
.zhuanxue .content .box2{
	background-image: url(/static/home/img/page/benke_sqtj/zx2.jpg);
}
.zhuanxue .content .box2 h3{
	padding-bottom: 28px;
}
.zhuanxue .content .box2 ul{
	margin-left: 76px;
}
.zhuanxue .content .box2 ul li{
	margin-bottom: 5px;
}
.zhuanxue .content .box2 ul li i{
	width: 13px;
	height: 13px;
	display: inline-block;
	background: url(/static/home/img/page/benke_sqtj/gou.jpg) no-repeat center center;
	margin-top: 7px;
	margin-right: 6px;
}
.zhuanxue .content .box2 ul li span{
	width: 400px;
	display: inline-block;
	font-size: 15px;
	line-height: 28px;
}
.zhuanxue{
	padding-bottom: 80px;
}

/* 美国本科大学推荐 */
.daxue_tuijian{
	width: 100%;
	height: 1193px;
	background: url(/static/home/img/page/benke_sqtj/beijing4.jpg) no-repeat center center;
	background-size: cover;
}
.daxue_tuijian .content .tjTitle{
	font-size: 0;
	text-align: center;
	margin-bottom: 37px;
}
.daxue_tuijian .content .tjTitle span{
	width: 198px;
	height: 38px;
	border: 1px solid #D17F7F;
	border-radius: 3px;
	text-align: center;
	line-height: 38px;
	display: inline-block;
	font-size: 18px;
	color: #D17F7F;
	margin-right: 30px;
	cursor:pointer;
}
.daxue_tuijian .content .tjTitle span:hover,.daxue_tuijian .content .tjTitle span.active{
	color: #FFFFFF;
	background-color: #D17F7F;
}
.daxue_tuijian .content .box>p{
	text-align: center;
	font-size: 16px;
	margin-bottom: 31px;
}
.daxue_tuijian .content .box div .b{
	width: 262px;
	height: 338px;
	border: 1px solid #FFCFCF;
	background-color: #FFFFFF;
	text-align: center;
	margin-bottom: 23px;
	margin-right: 38px;
}
.daxue_tuijian .content .box div .b img{
	width: 106px;
	height: 106px;
	margin-top: 23px;
	margin-bottom: 15px;
}
.daxue_tuijian .content .box div.bbb1 .b p{
	text-align: center;
}
.daxue_tuijian .content .box div .b h3{
	font-size: 18px;
	margin-bottom: 7px;
}
.daxue_tuijian .content .box div .b span{
	display: block;
	font-size: 17px;
	margin-bottom: 8px;
}
.daxue_tuijian .content .box div .b p{
	width: 222px;
	margin: 0 auto;
	text-align: left;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 8px;
}
.daxue_tuijian .content .box div .b a{
	color: #D17F7F;
	float: right;
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.daxue_tuijian .content .box div .b a:hover{
	text-decoration: underline;
}
.daxue_tuijian .content .box div.anniu,.jingcai_anli .anniu,.feiyong_butong .anniu{
	font-size: 0;
	text-align: center;
	margin-top: 30px;
}
.daxue_tuijian .content .box div.anniu a,.jingcai_anli .anniu a,.feiyong_butong .anniu a{
	width: 248px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	background-color: #D17F7F;
	font-size: 16px;
	color: #FFFFFF;
	display: inline-block;
}
.daxue_tuijian .content .box div.anniu a.a1,.jingcai_anli .anniu a.a1,.feiyong_butong .anniu a.a1{
	margin-left: 60px;
	background-color: #FFFFFF;
	color: #D17F7F;
	box-shadow:0px 3px 6px rgba(0,0,0,0.23);
}
.daxue_tuijian .content .box div.anniu a:hover,.jingcai_anli .anniu a:hover,.feiyong_butong .anniu a:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.daxue_tuijian .content .box div.anniu a.a1:hover,.jingcai_anli .anniu a.a1:hover,.feiyong_butong .anniu a.a1:hover{
	background-color: #D17F7F;
	color: #FFFFFF;
}
.daxue_tuijian .content .box{
	display: none;
}
.daxue_tuijian .content .box2 span{
	margin-top: 30px;
}
/* 彬彬导师团队 */
.daoshi_team{
	width: 100%;
	height: 828px;
	background-size: cover;
	overflow: hidden;
}
.daoshi_team h3.title{
	padding-top: 79px;
}

.daoshi_team .count>div.t{
	font-size: 16px;
	margin-bottom: 28px;
	text-align: center;
}
.daoshi_team .count>div.t .tbox{
	display: inline-block;
}
.daoshi_team .count>div.t span{
	padding: 0 25px;
	color: #707070;
}
.daoshi_team .count>div.t a{
	color: #232426;
	padding-bottom: 10px;
}
.daoshi_team .count>div.t a:hover{
	color: #D17F7F;
}
.daoshi_team .count>div.t a.active{
	color: #D17F7F;
	border-bottom: 2px solid #D17F7F;
}

.daoshi_team .count>div.b .bBox{
	display: none;
}
.daoshi_team .count>div.b .leftb{
	margin-top: 50px;
}
.daoshi_team .count>div.b .leftb h3{
	font-size: 30px;
	color: #333333;
	font-weight: 400;
	margin-bottom: 6px;
}
.daoshi_team .count>div.b .leftb p{
	font-size: 24px;
	color: #333333;
	opacity: 0.6;
	filter:alpha(opacity=60);
	margin-bottom: 23px;
}
.daoshi_team .count>div.b .leftb span{
	width: 72px;
	height: 4px;
	background-color: #454545;
	opacity: 0.8;
	filter:alpha(opacity=80);
	display: block;
	margin-bottom: 32px;
}
.daoshi_team .count>div.b .leftb em{
	width: 367px;
	display: block;
	font-size: 15px;
	color: #333333;
	line-height: 24px;
	margin-bottom: 50px;
}
.daoshi_team .count>div.b .leftb div.bBtn a{
	width: 154px;
	height: 34px;
	border: 1px solid #333333;
	line-height: 34px;
	font-size: 16px;
	text-align: center;
	border-radius: 5px;
	margin-right: 28px;
}
.daoshi_team .count>div.b .leftb div.bBtn a:hover{
	color: #fff;
	border-color: #D17F7F;
	background-color: #D17F7F;
}

.daoshi_team .count>div.b .rightb{
	width: 716px;
}
.daoshi_team .count>div.b .rightb>div.fl{
	width: 220px;
	height: 232px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	box-shadow:0px 3px 6px rgba(0,0,0,0.16);
	margin-left: 18px;
	margin-bottom: 20px;
}
.daoshi_team .count>div.b .rightb>div.fl img{
	width: 100%;
	height: 100%;
}
.daoshi_team .count>div.b .rightb>div.fl .hidden{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
}
.daoshi_team .count>div.b .rightb>div.fl .hidden h3{
	font-size: 22px;
	color: #fff;
	font-weight: 400;
	margin-top: 31px;
	margin-bottom: 15px;
}
.daoshi_team .count>div.b .rightb>div.fl .hidden span{
	width: 40px;
	height: 1px;
	background-color: #fff;
	display: block;
	margin: 0 auto;
	margin-bottom: 21px;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.daoshi_team .count>div.b .rightb>div.fl .hidden p{
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 22px;
	width: 90%;
	margin: 0 auto;
}
.daoshi_team .count>div.b .rightb>div.fl .hidden a{
	font-size: 14px;
	color: #fff;
	width: 98px;
	height: 28px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 28px;
	border-radius: 5px;
	display: block;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -49px;
}
.daoshi_team .count>div.b .rightb>div.fl .hidden a:hover{
	color: #fff;
	border-color: #D17F7F;
	background-color: #D17F7F;
}
.daoshi_team .count>div.b .rightb>div.fl .hiddenTitle{
	width: 100%;
	height: 52px;
	background-color: rgba(0,0,0,0.46);
	text-align: center;
	line-height: 52px;
	font-size: 22px;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* 申请美国本科精彩案例 */
.jingcai_anli{
	width: 100%;
	height: 934px;
	background: url(/static/home/img/page/benke_sqtj/beijing3.jpg) no-repeat center center;
	background-size: cover;
}
.jingcai_anli .content .box{
	width: 358px;
	height: 310px;
	border: 1px solid #DCB8B8;
	background-color: #FFFFFF;
	position: relative;
	margin-right: 44px;
	margin-bottom: 36px;
}
.jingcai_anli .content .box1{
	height: 218px;
}
.jingcai_anli .content .box h3{
	font-size: 24px;
	text-align: center;
	color: #D17F7F;
	padding-top: 25px;
	padding-bottom: 20px;
}
.jingcai_anli .content .box p{
	width: 316px;
	margin: 0 auto;
	font-size: 15px;
	line-height: 24px;
}
.jingcai_anli .content .box h4{
	font-size: 16px;
	width: 316px;
	margin: 0 auto;
	margin-top: 12px;
}
.jingcai_anli .content .box span{
	width: 316px;
	display: block;
	margin: 0 auto;
	font-size: 15px;
	line-height: 24px;
	margin-top: 9px;
}
.jingcai_anli .content .box a{
	font-size: 15px;
	color: #D17F7F;
	position: absolute;
	right: 21px;
	bottom: 22px;
}
.jingcai_anli .content .box a:hover{
	text-decoration: underline;
}

/* 选择正确的背景提升 距离名校更近一步 */
.bjts{
	width: 100%;
	padding-bottom: 80px;
}
.bjts .box .title{
	padding-top: 80px;
	margin-bottom: 51px;
	text-align: center;
}
.bjts .box .title h3{
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 16px;
}
.bjts .box .title p{
	font-size: 14px;
	color: #858282;
}

.bjts .box .content>div.fl{
	width: 364px;
	height: 444px;
	position: relative;
}
.bjts .box .content>div.fl img{
	width: 100%;
	height: 100%;
}
.bjts .box .content>div.fl .hidden_a,.bjts .box .content>div.fr>.box .hidden_a{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.28);
	display: block;
	color: #fff;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 0;
	font-weight: bold;
}
.bjts .box .content>div.fl .hidden_a p,.bjts .box .content>div.fr>.box .hidden_a p{
	display: inline-block;
	vertical-align: middle;
}
.bjts .box .content>div.fl .hidden_a:after,.bjts .box .content>div.fr>.box .hidden_a:after{
	content: '';
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.bjts .box .content>div.fl .hidden_b,.bjts .box .content>div.fr>.box .hidden_b{
	width: 100%;
	height: 100%;
	background-color: rgba(9,9,9,0.4);
	position: absolute;
	top: 0;
	color: #fff;
	display: none;
}
.bjts .box .content>div.fl .hidden_b .juzhong,.bjts .box .content>div.fr>.box .hidden_b .juzhong{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}
.bjts .box .content>div.fl .hidden_b h3,.bjts .box .content>div.fr>.box .hidden_b h3{
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.bjts .box .content>div.fl .hidden_b p,.bjts .box .content>div.fr>.box .hidden_b p{
	font-size: 14px;
	width: 287px;
	line-height: 22px;
	margin: 0 auto;
	margin-bottom: 19px;
}
.bjts .box .content>div.fl .hidden_b a,.bjts .box .content>div.fr>.box .hidden_b a{
	width: 102px;
	height: 28px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	line-height: 28px;
	border-radius: 3px;
	margin: 0 auto;
	font-size: 14px;
}
.bjts .box .content>div.fl .hidden_b a:hover,.bjts .box .content>div.fr>.box .hidden_b a:hover{
	background-color: #D17F7F;
	border-color: #D17F7F;
}

.bjts .box .content>div.fr{
	width: 767px;
}
.bjts .box .content>div.fr>.box{
	width: 364px;
	height: 202px;
	margin-right: 39px;
	margin-bottom: 41px;
}
.bjts .box .content>div.fr>.box img{
	width: 100%;
	height: 100%;
}
.bjts .anniu{
	text-align: center;
	font-size: 0;
}
.bjts .anniu a{
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	background-color: #D17F7F;
	border-radius: 3px;
	font-size: 16px;
	color: #FFFFFF;
}
.bjts .anniu a.a1{
	background-color: #FFFFFF;
	color: #D17F7F;
	box-shadow:0px 2px 4px rgba(0,0,0,0.26);
	margin-left: 52px;
}
.bjts .anniu a:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.bjts .anniu a.a1:hover{
	background-color: #D17F7F;
	color: #FFFFFF;
}

/* 美国本科留学费用全解析 */
.feiyong_jiexi{
	width: 100%;
	height: 1151px;
	background: url(/static/home/img/page/benke_sqtj/beijing4.jpg) no-repeat center center;
	background-size: cover;
}

/* 美国不同类型大学费用不同 */
.feiyong_butong h3.title{
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 52px;
}

.feiyong_butong .content .box{
	width: 272px;
	height: 170px;
	background: url(/static/home/img/page/benke_sqtj/bf1.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	margin-right: 21px;
}
.feiyong_butong .content .box2{
	background-image: url(/static/home/img/page/benke_sqtj/bf2.jpg);
}
.feiyong_butong .content .box3{
	background-image: url(/static/home/img/page/benke_sqtj/bf3.jpg);
}
.feiyong_butong .content .box4{
	background-image: url(/static/home/img/page/benke_sqtj/bf4.jpg);
	margin-right: 0;
}
.feiyong_butong .content .box h3{
	font-size: 20px;
	padding-top: 41px;
	padding-bottom: 19px;
}
.feiyong_butong .content .box  p{
	font-size: 15px;
	line-height: 24px;
}

.feiyong_butong .anniu{
	margin-top: 52px;
}

/* 美国城市生活费用不同 */
.shenghuof_butong h3.title{
	padding-top: 112px;
	padding-bottom: 52px;
	font-size: 30px;
}
.shenghuof_butong .content .box{
	width: 270px;
	height: 210px;
	border: 1px solid #DCD7D7;
	background-color: #FFFFFF;
	border-radius: 5px;
	overflow: hidden;
	margin-right: 20px;
}
.shenghuof_butong .content .box .boxTop{
	width: 100%;
	height: 62px;
	background: url(/static/home/img/page/benke_sqtj/city1.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	line-height: 62px;
	font-size: 22px;
	color: #FFFFFF;
}
.shenghuof_butong .content .box2 .boxTop{
	background-image: url(/static/home/img/page/benke_sqtj/city2.jpg);
}
.shenghuof_butong .content .box3 .boxTop{
	background-image: url(/static/home/img/page/benke_sqtj/city3.jpg);
}
.shenghuof_butong .content .box4 .boxTop{
	background-image: url(/static/home/img/page/benke_sqtj/city4.jpg);
	margin-right: 0;
}
.shenghuof_butong .content .box>p{
	font-size: 15px;
	width: 235px;
	margin: 0 auto;
	line-height: 32px;
}
.shenghuof_butong .content{
	margin-bottom: 52px;
}

/* 彬彬教育致力让每一个学生牵手世界名校 */
#mydiv{
	width: 100%;
	position: relative;
}
#mydiv canvas{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
#mydiv .box{
	height: 100%;
}
#mydiv .box .content{
	position: relative;
}
#mydiv .box .content .dq{
	width: 375px;
	height: 364px;
	background: url(/static/home/img/page/benke_sqtj/d.png) no-repeat center center;
	background-size: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -27.5px;
	margin-left: -182px;
}
#mydiv .box .content .dq>div{
	width: 193px;
	height: 193px;
	border-radius: 50%;
	background: url(/static/home/img/page/7_8/a6e310318cc5a075e8e4a0a459119ad.png) no-repeat left center;
	background-size: cover;
	background-color: #281E1C;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -96.5px;
	margin-left: -96.5px;
	overflow: hidden;
	transition: all 3s;
}
#mydiv .box .content .dq>div img{
	height: 193px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;
}
#mydiv .box .content .dq>div h3{
	font-size: 26px;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	color: #fff;
	/* margin-top: -56.5px; */
}
#mydiv .box .content .dq>div h3 p{
	display: table-cell;
	vertical-align: middle;
}


#mydiv .box .content>div.fl li.li1{
	margin-bottom: 69px;
}
#mydiv .box .content>div.fl li.li1 p{
	width: 240px;
}
#mydiv .box .content>div.fl li.li2{
	margin-bottom: 47px;
}
#mydiv .box .content>div.fl li.li2 p{
	width: 336px;
}
#mydiv .box .content>div.fl li.li3 p{
	width: 432px;
}

#mydiv .box .content>div.fl h3,#mydiv .box .content>div.fr h3{
	font-size: 26px;
	color: #D17F7F;
	margin-bottom: 7px;
}
#mydiv .box .content>div.fl p,#mydiv .box .content>div.fr p{
	font-size: 16px;
	color: #0F0F0F;
}

#mydiv .box .content>div.fr{
	text-align: right;
}
#mydiv .box .content>div.fr li.li1 p{
	width: 320px;
}
#mydiv .box .content>div.fr li.li1{
	margin-bottom: 50px;
}
#mydiv .box .content>div.fr li.li2 p{
	width: 320px;
}
#mydiv .box .content>div.fr li.li2{
	margin-bottom: 47px;
}
#mydiv .box .content>div.fr li.li3 p{
	width: 368px;
}