/*canvas 粒子*/
		#mydiv {
			width: 100%;
			position: relative;
		}
		
		#mydiv .title {
			padding-top:70px;
			margin-bottom:60px;
			text-align:center;
			font-size:36px;
		}
		
		#mydiv canvas {
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}
		
		#mydiv .box {
			height: 100%;
		}
		
		#mydiv .box .content {
			position: relative;
		}
		
		#mydiv .box .content .dq {
			width: 375px;
			height: 364px;
			background: url(/static/home/img/page/zoudugaozhong/borders.png) no-repeat center center;
			background-size: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -27.5px;
			margin-left: -182px;
		}
		
		#mydiv .box .content .dq>div {
			width: 193px;
			height: 193px;
			border-radius: 50%;
			background: url(/static/home/img/page/7_8/a6e310318cc5a075e8e4a0a459119ad.png) no-repeat left center;
			background-size: cover;
			background-color: #281E1C;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -96.5px;
			margin-left: -96.5px;
			overflow: hidden;
			transition: all 3s;
		}
		
		#mydiv .box .content .dq>div img {
			height: 193px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 7;
		}
		
		#mydiv .box .content .dq>div h3 {
			font-size: 26px;
			display: table;
			width: 100%;
			height: 100%;
			text-align: center;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 9;
			color: #fff;
			/* margin-top: -56.5px; */
		}
		
		#mydiv .box .content .dq>div h3 p {
			display: table-cell;
			vertical-align: middle;
		}
		
		#mydiv .box .content>div.fl li.li1 {
			margin-bottom: 69px;
		}
		
		#mydiv .box .content>div.fl li.li1 p {
			width: 240px;
		}
		
		#mydiv .box .content>div.fl li.li2 {
			margin-bottom: 47px;
		}
		
		#mydiv .box .content>div.fl li.li2 p {
			width: 336px;
		}
		
		#mydiv .box .content>div.fl li.li3 p {
			width: 432px;
		}
		
		#mydiv .box .content>div.fl h3,
		#mydiv .box .content>div.fr h3 {
			font-size: 26px;
			color: rgba(127,149,209,1);
			margin-bottom: 7px;
		}
		
		#mydiv .box .content>div.fl p,
		#mydiv .box .content>div.fr p {
			font-size: 16px;
			color: #0F0F0F;
		}
		
		#mydiv .box .content>div.fr {
			text-align: right;
		}
		
		#mydiv .box .content>div.fr li.li1 p {
			width: 320px;
		}
		
		#mydiv .box .content>div.fr li.li1 {
			margin-bottom: 50px;
		}
		
		#mydiv .box .content>div.fr li.li2 p {
			width: 320px;
		}
		
		#mydiv .box .content>div.fr li.li2 {
			margin-bottom: 47px;
		}
		
		#mydiv .box .content>div.fr li.li3 p {
			width: 368px;
		}
		/*canvas 粒子*/
		
		
